<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:40:23
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.search-box-room {
  .search-form {
    .search-input {
      width: 150px;
    }
  }
}
.form-container-room {
  text-align: left;
  margin-bottom: 15px;
}
.container-table-room {
  min-height: 440px;
}
.pagination-container-room {
  margin-top: 20px;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="营销活动" title2="积分预定"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never" v-if="false">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="活动名称" prop="labelname">
                  <el-input
                    v-model="searchform.labelname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="活动状态" prop="type">
                  <el-select
                    v-model="searchform.type"
                    clearable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typelist"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="100" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  icon="el-icon-office-building"
                  @click="handleEditRoom(scope.$index, scope.row)"
                >房型管理</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="name" label="活动名称" width="100"></el-table-column>
            <el-table-column prop="price" label="房价名称" width="100"></el-table-column>
            <el-table-column prop="date" label="活动日期" width="104">
              <template slot-scope="scope">2019-08-18 至 2019-08-18</template>
            </el-table-column>
            <el-table-column prop="date1" label="可定日期" width="104">
              <template slot-scope="scope">2019-08-18 至 2019-08-18</template>
            </el-table-column>
            <el-table-column prop="labelname" label="优惠内容"></el-table-column>
            <el-table-column prop="labelname" label="支持渠道" width="70"></el-table-column>
            <el-table-column prop="enable" label="是否启用" width="70">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="enable1" label="活动状态" width="70">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '进行中' : scope.row.status === 2 ? '未开始' : '已结束'}}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="620px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="80px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="labelname">
              <el-input
                v-model="form.labelname"
                style="width:450px"
                placeholder="请输入"
                clearable
                maxlength="12"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房价名称" prop="labelname">
              <el-input
                v-model="form.labelname"
                style="width:450px"
                placeholder="请输入"
                clearable
                maxlength="12"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动日期" style="margin-bottom: 0" required>
              <el-form-item label-width="0px" prop="placeBeginDate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.placeBeginDate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px;">至</span>
              <el-form-item label-width="0px" prop="placeEndDate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.placeEndDate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预订日期" style="margin-bottom: 0" required>
              <el-form-item label-width="0px" prop="placeBeginDate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.placeBeginDate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px;">至</span>
              <el-form-item label-width="0px" prop="placeEndDate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.placeEndDate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="最多可预订房数" prop="labelname" label-width="122px">
              <el-input v-model="form.labelname" style="width:150px" placeholder="请输入" clearable></el-input>
              <span style="margin-left: 5px;">间</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="优惠内容" prop="status" style="margin-bottom: 5px;">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">房间基价</el-radio>
                <el-radio :label="2">房间门市价</el-radio>
                <el-radio :label="3">固定积分</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item
              prop="statusvalue"
              label-width="0px"
              v-show="form.status === 3"
              style="margin-bottom: 5px;"
            >
              <el-input v-model="form.statusvalue" style="width: 120px" placeholder="请输入" clearable></el-input>
              <span style="margin-left: 5px;">分</span>
            </el-form-item>
            <el-form-item label-width="0px">
              <span style="font-size: 12px;padding-left: 20px;color: #F56C6C">积分全额抵扣换算比例1:100</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="使用须知" prop="description">
              <el-input
                v-model="form.description"
                style="width:450px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="取消订单，积分是否返还" prop="status" label-width="180px">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="2">否</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="适用渠道" prop="checkList">
              <div style="width:450px">
                <el-checkbox-group v-model="form.checkList">
                  <el-checkbox
                    :label="item.id"
                    v-for="item in channelList"
                    :key="item.id"
                  >{{item.name}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="是否启用" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 房价码管理 -->
    <el-dialog
      title="房型管理"
      :visible.sync="roomvisible"
      width="900px"
      @close="closeDialogRoom('searchformroom')"
    >
      <div class="search-box-room">
        <el-form :model="searchformroom" ref="searchformroom" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店名称" prop="hotelid">
                <el-select
                  v-model="searchformroom.hotelid"
                  clearable
                  filterable
                  placeholder="请选择"
                  class="search-input"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="房型" prop="roomid">
                <el-select
                  v-model="searchformroom.roomid"
                  clearable
                  filterable
                  placeholder="请选择"
                  class="search-input"
                >
                  <el-option
                    v-for="item in roomstyleList"
                    :key="item.id"
                    :label="item.roomname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="房价码" prop="roomrateid">
                <el-select
                  v-model="searchformroom.roomrateid"
                  clearable
                  placeholder="请选择"
                  class="search-input"
                >
                  <el-option
                    v-for="item in roompriceList"
                    :key="item.id"
                    :label="item.ratename"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearchRoom">查询</el-button>
                <el-button type="info" @click="resetSearchRoom('searchformroom')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-container-room">
        <el-button type="primary" @click="handleAddRooms">批量添加</el-button>
      </div>
      <div class="container-table-room">
        <el-table
          :data="tableDataRoom"
          border
          ref="multipleTable"
          v-loading="loadingroom"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
          @selection-change="handleSelectionChange"
        >
          >
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="id" label="ID" width="60"></el-table-column>
          <el-table-column prop="labelname" label="房价名称" width="100"></el-table-column>
          <el-table-column prop="labelname" label="房型名称" width="100"></el-table-column>
          <el-table-column prop="labelname" label="参与酒店"></el-table-column>
          <el-table-column prop="labelname" label="支付方式" width="70"></el-table-column>
          <el-table-column label="操作" width="80" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-plus"
                @click="handleAddRoom(scope.$index, scope.row)"
              >添加</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container-room">
          <el-pagination
            background
            @size-change="changeLimitRoom"
            @current-change="handleCurrentChangeRoom"
            :current-page.sync="pageroom"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limitroom"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalroom"
          ></el-pagination>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import {
  positive_num_zero,
  positive_num,
  decimals_num,
  regphone
} from "@/utils/reg.js";
export default {
  data() {
    return {
      searchform: {
        labelname: "",
        type: ""
      },
      searchresult: {
        labelname: "",
        type: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typelist: [
        {
          id: 1,
          name: "进行中"
        },
        {
          id: 2,
          name: "未开始"
        },
        {
          id: 3,
          name: "已结束"
        }
      ],
      channelList: [
        {
          id: 1,
          name: "小程序"
        }
      ],
      form: {
        description: "",
        labelname: "",
        status: 1,
        type: 1,
        checkList: [1]
      },
      visible: false,
      rules: {
        labelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      actionType: 0,
      actionTypeName: "",
      roomvisible: false,
      searchformroom: {
        labelname: "",
        type: ""
      },
      searchresultroom: {
        labelname: "",
        type: ""
      },
      tableDataRoom: [],
      totalroom: 0,
      pageroom: 1,
      limitroom: 10,
      loadingroom: false,
      hotelList: [],
      roomstyleList: [],
      roompriceList: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    // this.gotData();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        labelname: this.searchresult.labelname,
        type: this.searchresult.type.toString(),
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/labelList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const params = {
            description: this.form.description,
            labelname: this.form.labelname,
            status: this.form.status,
            type: this.form.type
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("hotel/labeDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              description: data.description,
              labelname: data.labelname,
              status: data.status,
              type: data.type
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        description: "",
        labelname: "",
        status: 1,
        type: 1
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    //房型管理
    handleEditRoom(index, row) {
      this.roomvisible = true;
      this.gotDataRoom();
      this.gotHotelList();
      this.gotRoompriceList();
      this.gotRoomstyleList();
      setTimeout(() => {
        const rows = [{ id: 48 }, { id: 47 }];
        const data = this.tableDataRoom.filter((item, index) => {
          return item.id === 48;
        });
        data.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      }, 3000);
    },
    //查询
    handleSearchRoom() {
      this.pageroom = 1;
      this.searchresultroom = this.searchformroom;
      this.gotData();
    },
    //重置查询
    resetSearchRoom(formName) {
      this.$refs[formName].resetFields();
      this.searchresultroom = this.searchformroom;
      this.pageroom = 1;
      this.gotDataRoom();
    },
    // 分页导航
    handleCurrentChangeRoom(val) {
      this.pageroom = val;
      this.gotDataRoom();
    },
    //改变页数
    changeLimitRoom(val) {
      this.pageroom = 1;
      this.limitroom = val;
      this.gotDataRoom();
    },
    //列表数据
    gotDataRoom() {
      const params = {
        hotelid: this.searchresultroom.hotelid,
        roomid: this.searchresultroom.roomid,
        roomrateid: this.searchresultroom.roomrateid,
        pageNum: this.pageroom,
        pageSize: this.limitroom
      };
      this.loadingroom = true;
      this.$store
        .dispatch("hotel/labelList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableDataRoom = result.data.list;
            this.totalroom = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loadingroom = false;
        });
    },
    handleSelectionChange(val) {
      console.log(val);
    },
    // 新增
    handleAddRoom() {},
    // 批量新增
    handleAddRooms() {},
    closeDialogRoom(formName) {
      this.handleResetFields(formName);
    },
    //酒店下拉
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房型全部下拉
    gotRoomstyleList() {
      const params = {};
      this.$store
        .dispatch("hotel/roomstyleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roomstyleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房价码全部下拉
    gotRoompriceList() {
      const params = {};
      this.$store
        .dispatch("hotel/roompriceSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roompriceList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

