<!--
 * @Author: your name
 * @Date: 2020-12-09 14:25:01
 * @LastEditTime: 2021-01-05 09:45:30
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\serviceset\compontent\hotelservice.vue
-->

<template>
  <div>
    <el-dialog
      :close-on-click-modal="false"
      title="接车服务"
      :visible.sync="visible"
      width="1000px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="120px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="酒店名称"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                placeholder="请选择"
                style="width:600px"
                disabled
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="提前预定时间"
              prop="hours"
            >
              <el-select
                v-model="form.hours"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in timeList"
                  :key="item.value"
                  :label="item.name"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
         
          <el-col :span="24">
            <el-form-item
              label="接送地址"
              required
            >
              <ul>

                <li
                  class="form-li"
                  v-for="(item, index) in itemList"
                  :key="index"
                >
                  <div class="form-li-div">
                    <div>
                      <el-input
                        v-model="item.name"
                        style="width:600px"
                        placeholder="请输入"
                        clearable
                      ></el-input>
                    </div>
                    <div>
                      <span
                        class="span-icon el-icon-circle-plus-outline"
                        @click="handleItem(item, index, 1)"
                      ></span>
                      <span
                        class="span-icon el-icon-remove-outline"
                        @click="handleItem(item, index, 2)"
                      ></span>
                    </div>
                  </div>
                  <div class="form-li-title">接送具体地址:</div>
                  <div>
                    <el-input
                        v-model="item.address"
                        style="width:600px"
                        placeholder="请输入"
                        clearable
                        :rows="3"
                        resize="none"
                        type="textarea"
                      ></el-input>
                  </div>
                </li>
              </ul>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="默认回复模板"
              prop="replytemplateid"
            >
              <el-select
                v-model="form.replytemplateid"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in templateList"
                  :key="item.id"
                  :label="item.id+'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="服务流程"
              prop="processid"
            >
              <el-select
                v-model="form.processid"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in processList"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" placeholder="请输入" clearable  style="width:600px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="状态"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { positive_num } from "@/utils/reg";
export default {
  data() {
    return {
      form: {
        status: 1,
        hotelid: "",
        processid: "",
        replytemplateid: '',
        hours: "",
        sort: ""
      },
      rules: {
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        replytemplateid: [{ required: true, message: "不能为空", trigger: "change" }],
        processid: [{ required: true, message: "不能为空", trigger: "change" }],
        hours: [{ required: true, message: "不能为空", trigger: "change" }],
        sort: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      visible: false,
      rowData: {},
      hotelList: [],
      timeList: [
        {
          value: 0,
          name: '0小时'
        },
        {
          value: 1,
          name: '1小时'
        },
        {
          value: 2,
          name: '2小时'
        },
        {
          value: 12,
          name: '12小时'
        },
        {
          value: 24,
          name: '24小时'
        },
        {
          value: 48,
          name: '48小时'
        }
      ],
      templateList: [],
      itemList: [
        {
          name: "",
          address: "",
          id: "",
          templateid: ""
        },
      ],
      editsave: 1,
      processList: []
    };
  },
  props: {
    row: {
      type: Object,
      default: {},
    },
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo
    }),
  },
  created() {
    if (this.row) {
      this.gotHotelList();
      this.gotDetail();
    }
  },
  methods: {
    gotDetail() {
      this.visible = true;
      const params = {
        id: this.row.id,
      };
      //详情
      this.$store
        .dispatch("service/carServiceDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const replytemplateid = data.replytemplateid ? data.replytemplateid : ''
            const processid = data.processid ? data.processid : "";
            let itemList = data.pickupaddressDetailVoList ? data.pickupaddressDetailVoList : [];
             if (itemList.length === 0) {
              itemList.push({
                name: "",
                address: "",
                id: "",
                templateid: ""
              })
            }
            this.itemList = itemList;
            const hours = data.hours ? data.hours : '';
            this.form = {
              status: data.status,
              hotelid: data.hotelid,
              processid: processid,
              replytemplateid: replytemplateid,
              hours: hours,
              sort: data.sort
            };
            this.gotTemplateList();
            this.gotProcessList();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const hours = this.form.hours ? this.form.hours : 0;
          const index = this.itemList.findIndex((item) => {
            return item.name === '' || item.address === ''
          })
          if (index > -1) {
            this.$message.warning('接送地址不能为空')
            return
          }
          const params = {
            status: this.form.status,
            hotelid: this.form.hotelid,
            processid: this.form.processid,
            replytemplateid: this.form.replytemplateid,
            hours: hours,
            pickupaddressDetailVoList: this.itemList,
            sort: this.form.sort
          };
          this.handleEditSave(params);
        }
      });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/carServiceUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.editsave = 2
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
      // editsave 1 直接关闭 2 编辑修改关闭
      this.$emit("closeDialog", this.editsave);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        status: 1,
        hotelid: "",
        processid: "",
        replytemplateid: '',
        hours: "",
        sort: ""
      };
      this.itemList = [
        {
          name: "",
          address: "",
          id: "",
          templateid: ""
        }
      ];
    },
     //回复模板下拉
    gotTemplateList() {
      let hotelIdList = []
      hotelIdList.push(this.rowData.hotelid)
      const params = {
        hotelIdList: hotelIdList,
        type: 2
      };
      this.$store
        .dispatch("service/replypull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.templateList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 服务流程下拉
    gotProcessList() {
      const params = {
        id: this.rowData.hotelid
      };
      this.$store
        .dispatch("service/processPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.processList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleItem(value, index, type) {
      if (type === 1) {
        // 新增
        const data = {
          name: "",
          address: "",
          id: "",
          templateid: ""
        };
        this.itemList.push(data);
      } else {
        // 减少
        if (this.itemList.length <= 1) {
          return;
        }
        this.itemList.splice(index, 1);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.form-li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted red;
  &:last-child {
    border: none;
  }
}
.form-li-title {
  margin: 20px 0 10px;
  font-size: 12px;
}
.form-li-div {
  display: flex;
  align-items: center;
}
.span-icon {
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
</style>