<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-28 18:23:03
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->

<style lang="scss" scoped>
.form-li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted red;
  &:last-child {
    border: none;
  }
}
.form-li-div {
  display: flex;
  align-items: center;
}
.span-icon {
  font-size: 28px;
  margin-left: 20px;
  cursor: pointer;
}
</style>
<template>
  <div class="page-container">
    <div class="crumbs-title">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据筛选
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content-container">
      <div class="search-box">
        <el-form
          :model="searchform"
          ref="searchform"
          class="search-form"
          :inline="true"
        >
          <el-row>
            <el-col :span="24">
              <el-form-item
                label="酒店筛选"
                prop="hotelid"
              >
                <el-select
                  v-model="searchform.hotelid"
                  filterable
                  placeholder="请选择"
                  style="width: 200px"
                  clearable
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id +'-'+ item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button
                  type="primary"
                  @click="handleSearch"
                >查询</el-button>
                <el-button
                  type="info"
                  @click="resetSearch('searchform')"
                >重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>

      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button
            type="primary"
            @click="handleAdd"
          >新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="100"
              align="center"
            >
              <template slot-scope="scope">
                <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleEdit(scope.$index, scope.row)"
                  >编辑</el-button>
                </div>
                <div style="text-align: center">
                  <el-button
                    style="color: red"
                    type="text"
                    icon="el-icon-delete"
                    @click="handleDelete(scope.$index, scope.row)"
                  >删除</el-button>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="ID"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="name"
              label="流程名称"
              width="120"
            ></el-table-column>
            <el-table-column
              prop="hotelname"
              label="所属酒店"
            ></el-table-column>
            <el-table-column
              prop="createDate"
              label="创建时间"
            ></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
    >
      <el-form
        :rules="rules"
        :model="form"
        ref="form"
        :inline="true"
        label-width="120px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="酒店名称"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                placeholder="请选择"
                style="width:600px"
                @change="changeHotel"
                clearable
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="流程名称"
              prop="name"
            >
              <el-input
                clearable
                v-model="form.name"
                placeholder="请输入"
                style="width:600px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="流程节点"
              required
            >
              <ul>
                <li
                  class="form-li"
                  v-for="(item, index) in itemList"
                  :key="index"
                >
                  <div class="form-li-div">
                    <div>
                      <el-input
                        v-model="item.name"
                        style="width:150px"
                        placeholder="请输入节点名称"
                        clearable
                      ></el-input>
                    </div>
                    <div style="margin-left: 10px">
                      <el-input
                        v-model="item.gangweiName"
                        style="width:150px"
                        disabled
                        placeholder="选择岗位名称"
                      ></el-input>
                      <el-button
                        type="primary"
                        style="margin-left: 10px"
                        @click="selectDepartment(item, index)"
                        :disabled="!form.hotelid"
                      >岗位选择</el-button>
                    </div>
                    <div>
                      <span
                        class="span-icon el-icon-circle-plus-outline"
                        @click="handleItem(item, index, 1)"
                      ></span>
                      <span
                        class="span-icon el-icon-remove-outline"
                        @click="handleItem(item, index, 2)"
                      ></span>
                    </div>
                  </div>
                </li>
              </ul>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <el-dialog
      :close-on-click-modal="false"
      title="部门选择"
      :visible.sync="visibleflow"
      width="800px"
      @close="closeDialogFlow"
    >
      <el-form
        ref="flowform"
        :model="flowform"
        :inline="true"
        label-width="120px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="部门名称"
              prop="department"
            >

              <el-select
                :value="itemData.organName"
                placeholder="请选择"
                v-for="(itemData, index) in organList"
                :key="index"
                @change="(value) => gotOrganName2(value, index, itemData.data)"
                style="width: 130px;margin-right: 5px"
              >
                <el-option
                  v-for="item in itemData.data"
                  :key="item.id"
                  :label="item.organName"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="岗位名称"
              prop="postid"
            >
              <el-select
                v-model="flowform.postid"
                placeholder="请选择"
                style="width:600px"
                @change="changePost"
              >
                <el-option
                  v-for="item in flowList"
                  :key="item.id"
                  :label="item.postName"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visibleflow = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSaveFlow"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      searchform: {
        hotelid: "",
      },
      searchresult: {
        hotelid: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      rowData: {},
      hotelList: [],
      visible: false,
      form: {
        name: "",
        hotelid: "",
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      itemList: [
        {
          deptId: "",
          gangweiId: "",
          gangweiName: "",
          name: "",
          number: 1,
          serviceProcessId: ""
        },
      ],
      rowItemIndex: 0,
      visibleflow: false,
      flowform: {
        postid: "",
        postname: ""
      },
      flowList: [],
      organListFirst: [],
      organList: [
        // {
        //   id: "",
        //   organName: "",
        //   data: [{
        //     name: '',
        //     organName: ''
        //   }]
        // }
      ],
    };
  },
  components: {},
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    this.gotData();
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelid: this.searchresult.hotelid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId,
      };
      this.loading = true;
      this.$store
        .dispatch("service/processList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleItem(value, index, type) {
      if (type === 1) {
        // 新增
        const data = {
          deptId: "",
          gangweiId: "",
          gangweiName: "",
          name: "",
          number: index+1,
          serviceProcessId: ""
        };
        this.itemList.push(data);
      } else {
        // 减少
        if (this.itemList.length <= 1) {
          return;
        }
        this.itemList.splice(index, 1);
      }
    },
    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/processAdd", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.actionType = 2;
      this.actionTypeName = "编辑";
      this.visible = true;
      const params = {
        id: row.id
      }
       this.$store
        .dispatch("service/processDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data
            this.rowData = data;
            this.form = {
              name: data.name,
              hotelid: data.hotelid
            }
            let itemList = data.serviceProcessNodeVoList ? data.serviceProcessNodeVoList : [];
            if (itemList.length === 0) {
              itemList.push({
                deptId: "",
                gangweiId: "",
                gangweiName: "",
                name: "",
                number: 1,
                serviceProcessId: ""
              })
            }
            this.itemList = itemList;
            this.gotOrganName();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const issave = this.itemList.find((item) => item.gangweiId === '' ||  item.deptId === '' || item.name === '' )
          if (issave) {
            this.$message.warning('流程节点信息不完整')
            return
          }
          let params = {
            hotelid: this.form.hotelid,
            name: this.form.name,
            serviceProcessNodeVoList: []
          };
          if (this.actionType === 1) {
            this.itemList.map((item, index) => {
              item.number = index + 1
              delete item.serviceProcessId
            })
            params.serviceProcessNodeVoList = this.itemList
            this.handleAddSave(params);
          } else {
            this.itemList.map((item, index) => {
              item.number = index + 1
              item.serviceProcessId = this.rowData.id
            })
            params.serviceProcessNodeVoList = this.itemList;
            this.handleEditSave(params);
          }
        }
      });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/processEdit", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        hotelid: "",
        flowname: ""
      };
      this.rowData = {};
      this.organList = [];
      this.itemList = [
        {
          deptId: "",
          gangweiId: "",
          gangweiName: "",
          name: "",
          number: 1,
          serviceProcessId: ""
        }
      ]
    },
    handleDelete(index, row) {
      this.rowData = row;
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit();
        })
        .catch(() => {});
    },
    deleteSubmit() {
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/processDel", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    selectDepartment(item, index) {
      this.visibleflow = true;
      this.rowItemIndex = index;
    },
    changeHotel() {
      this.gotOrganName();
    },
    // 根据酒店ID查询二级组织
    gotOrganName() {
      const params = {
        id: this.form.hotelid
      };
      this.$store
        .dispatch("service/employeeSecond", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.organListFirst = data;
            const json = {
              id: "",
              organName: "",
              data: data,
            };
            this.organList.push(json);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 根据二级组织ID查询部门
    gotOrganName2(pid, index, dataList) {
      const params = {
        pid: pid,
      };
      this.$store
        .dispatch("service/employeeDept", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            let organList = this.organList;
            const item = dataList.filter((item) => item.id === pid);
            organList[index].id = item[0].id;
            organList[index].organName = item[0].organName;
            if (data.length > 0) {
              organList = organList.slice(0, index + 1);
              let json = {
                id: "",
                organName: "",
                data: data,
              };
              organList.push(json);
              this.organList = organList;
            } else {
              this.organList = organList;
              this.gotOrganName3(item[0].id);
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 根据部门id查询岗位
    gotOrganName3(id) {
      const params = {
        id: id
      };
      this.$store
        .dispatch("service/employeePost", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.flowList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    changePost(value) {
      const item = this.flowList.filter((item) => item.id === value);
      this.flowform.postname = item[0].postName;
    },
    handleSaveFlow() {
      if (this.flowform.postid === '' || this.flowform.postname  === '') {
        this.$message.warning('请选择岗位');
        return
      }
      this.visibleflow = false;
      const item = this.organList[this.organList.length - 1];
      const index = this.rowItemIndex;
      this.itemList[index].deptId = item.id;
      // this.itemList[index].deptname = item.organName;
      this.itemList[index].gangweiId = this.flowform.postid;
      this.itemList[index].gangweiName = this.flowform.postname;
    },
    closeDialogFlow() {
      this.organList = [];
      const json = {
        id: "",
        organName: "",
        data: this.organListFirst
      };
      this.organList.push(json);
      this.flowList= []
      this.flowform = {
        postid: '',
        postname: ''
      }
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  },
};
</script>

