<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-28 14:56:57
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->

<style lang="scss" scoped>
.form-li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted red;
  &:last-child {
    border: none;
  }
}
.form-li-div {
  display: flex;
  align-items: center;
}
.span-icon {
  font-size: 28px;
  margin-left: 20px;
  cursor: pointer;
}
</style>
<template>
  <div class="page-container">
    <div class="crumbs-title">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据筛选
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content-container">
      <div class="search-box">
        <el-form
          :model="searchform"
          ref="searchform"
          class="search-form"
          :inline="true"
        >
          <el-row>
            <el-col :span="24">
              <el-form-item
                label="酒店筛选"
                prop="hotelid"
              >
                <el-select
                  v-model="searchform.hotelid"
                  filterable
                  placeholder="请选择"
                  style="width: 200px"
                  clearable
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id +'-'+ item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button
                  type="primary"
                  @click="handleSearch"
                >查询</el-button>
                <el-button
                  type="info"
                  @click="resetSearch('searchform')"
                >重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>

      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="80"
              align="center"
            >
              <template slot-scope="scope">
                <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleEdit(scope.$index, scope.row)"
                  >编辑</el-button>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="ID"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="name"
              label="服务项目"
              width="120"
            ></el-table-column>
            <el-table-column
              prop="type"
              label="类别"
              width="80"
            >
              <template slot-scope="scope">{{parseInt(scope.row.type) === 1 ? '一级' : '二级' }}</template>
            </el-table-column>
            <el-table-column
              prop="sort"
              label="排序"
              width="100"
            ></el-table-column>
            <el-table-column
              prop="hotelname"
              label="所属酒店"
            ></el-table-column>
            <el-table-column
              prop="status"
              label="状态"
              width="80"
            >
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
             <el-table-column
              prop="status"
              label="是否展示"
               width="150"
            >
              <template slot-scope="scope">
                <el-switch
                  v-model="scope.row.isHide"
                  active-color="#13ce66"
                  inactive-color="#cccccc"
                  active-value="1"
                  @change="changeSwitch(scope.row)"
                  inactive-value="2">
                </el-switch>
                {{parseInt(scope.row.isHide) === 1 ? '显示' : '隐藏' }}
              </template>
            </el-table-column>
            <el-table-column
              prop="createDate"
              label="创建时间"
            ></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 酒店服务 -->
    <HotelService
      v-if="servicecode === 'hotel'"
      :row="rowData"
      @closeDialog="closeDialog"
    ></HotelService>
    <!-- 接送服务 -->
    <CarService
      v-if="servicecode === 'car'"
      :row="rowData"
      @closeDialog="closeDialog"
    ></CarService>
    <!-- 清扫服务 -->
    <SweepService
      v-if="servicecode === 'sweep'"
      :row="rowData"
      @closeDialog="closeDialog"
    ></SweepService>
    <!-- 物品租赁服务 -->
    <LeaseService
      v-if="servicecode === 'lease'"
      :row="rowData"
      @closeDialog="closeDialog"
    ></LeaseService>
    <!-- 一键wifi -->
    <WiFiService
      v-if="servicecode === 'wifi'"
      :row="rowData"
      @closeDialog="closeDialog"
    ></WiFiService>
    <!-- 商城 -->
    <StoreService
      v-if="servicecode === 'mall'"
      :row="rowData"
      @closeDialog="closeDialog"
    ></StoreService>
  </div>
</template>

<script>
import { mapState } from "vuex";
import HotelService from "./hotelservice.vue";
import CarService from "./carservice.vue";
import SweepService from "./sweepservice.vue";
import LeaseService from "./leaseservice.vue";
import WiFiService from "./wifiservice.vue";
import StoreService from "./storeservice.vue";
export default {
  data() {
    return {
      searchform: {
        hotelid: "",
      },
      searchresult: {
        hotelid: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      rowData: {},
      hotelList: [],
      servicecode: ""
    };
  },
  components: {
    HotelService,
    CarService,
    SweepService,
    LeaseService,
    WiFiService,
    StoreService,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    this.gotData();
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelid: this.searchresult.hotelid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId,
        type: "",
      };
      this.loading = true;
      this.$store
        .dispatch("service/serviceList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data.list;
            data.map((item) => {
              item.isHide = item.isHide ? item.isHide + '' : '2'
            })
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.rowData = row;
      this.servicecode = row.code;
    },
    // 关闭弹窗
    closeDialog(value) {
      this.servicecode = "";
      this.rowData = {};
      if (value === 2) {
        this.gotData();
      }
    },
    changeSwitch (row) {
      const params = {
        id: row.id,
        hide: parseInt(row.isHide)
      };
      this.$store
        .dispatch("service/serviceShow", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

