<!--
 * @Author: your name
 * @Date: 2020-12-09 14:25:01
 * @LastEditTime: 2020-12-18 14:48:59
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\serviceset\compontent\hotelservice.vue
-->

<template>
  <div>
    <el-dialog
      :close-on-click-modal="false"
      title="酒店服务"
      :visible.sync="visible"
      width="1000px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="110px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="酒店名称"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                placeholder="请选择"
                style="width:600px"
                disabled
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="服务标题"
              prop="title"
            >
              <el-input
                v-model="form.title"
                placeholder="请输入"
                style="width:600px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="服务说明"
              prop="describ"
            >
              <el-input
                v-model="form.describ"
                style="width:600px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="服务项"
              required
            >
              <ul>
                <li
                  class="form-li"
                  v-for="(item, index) in itemList"
                  :key="index"
                >
                 <div class="form-li-title">项目简称:</div>
                  <div class="form-li-div">
                    <div>
                      <el-input
                        v-model="item.name"
                        style="width:600px"
                        placeholder="请输入"
                        clearable
                        :rows="1"
                        resize="none"
                        type="textarea"
                      ></el-input>
                    </div>
                    <div>
                      <span
                        class="span-icon el-icon-circle-plus-outline"
                        @click="handleItem(item, index, 1)"
                      ></span>
                      <span
                        class="span-icon el-icon-remove-outline"
                        @click="handleItem(item, index, 2)"
                      ></span>
                    </div>
                  </div>
                  <div class="form-li-title">项目内容:</div>
                  <div class="form-li-div">
                    <div>
                      <el-input
                        v-model="item.desc"
                        style="width:600px"
                        placeholder="请输入"
                        clearable
                        :rows="3"
                        resize="none"
                        type="textarea"
                      ></el-input>
                    </div>
                  </div>
                  <div class="form-li-title">服务流程:</div>
                  <div>
                    <el-select
                      v-model="item.processid"
                      placeholder="请选择"
                      style="width:600px"
                    >
                      <el-option
                        v-for="process in processList"
                        :key="process.id"
                        :label="process.id +'-'+ process.name"
                        :value="process.id"
                      ></el-option>
                    </el-select>
                  </div>
                  <div class="form-li-title">客人回复要求:</div>
                  <div>
                    <el-radio-group v-model="item.replytextType">
                      <el-radio :label="1">单选框(时间)</el-radio>
                      <el-radio :label="2">日期控件</el-radio>
                      <el-radio :label="3">时间控件</el-radio>
                      <el-radio :label="4">日期时间控件</el-radio>
                      <el-radio :label="5">文本控件</el-radio>
                      <el-radio :label="6">单选框(是|否)</el-radio>
                      <el-radio :label="7">无</el-radio>
                    </el-radio-group>
                  </div>
                </li>
              </ul>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="默认回复模板"
              prop="replytemplateid"
            >
              <el-select
                v-model="form.replytemplateid"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in templateList"
                  :key="item.id"
                  :label="item.id+'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" placeholder="请输入" clearable  style="width:600px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="状态"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      form: {
        title: "",
        describ: "",
        status: 1,
        hotelid: "",
        sort: "",
        replytemplateid: ""
      },
      rules: {
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        replytemplateid: [{ required: true, message: "不能为空", trigger: "change" }],
        sort: [{ required: true, message: "不能为空", trigger: "blur" }],
        title: [{ required: true, message: "不能为空", trigger: "blur" }],
        // describ: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      visible: false,
      rowData: {},
      hotelList: [],
      itemList: [
        {
          replytextType: 1,
          name: "",
          id: "",
          processid: "",
          desc: ""
        }
      ],
      editsave: 1,
      processList: [],
      templateList: []
    };
  },
  props: {
    row: {
      type: Object,
      default: {},
    },
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    if (this.row) {
      this.gotHotelList();
      this.gotDetail();
    }
  },
  methods: {
    gotDetail() {
      this.visible = true;
      const params = {
        id: this.row.id,
      };
      //详情
      this.$store
        .dispatch("service/hotelServiceDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            let itemList = data.serviceTemplateItemList ? data.serviceTemplateItemList : [];
            if (itemList.length === 0) {
              itemList.push({
                replytextType: 1,
                name: "",
                id: "",
                processid: "",
                desc: ""
              })
            }
            this.itemList = itemList;
            this.form = {
              title: data.title,
              describ: data.describ,
              status: data.status,
              hotelid: data.hotelid,
              sort: data.sort,
              replytemplateid: data.replytemplateid
            };
            this.gotTemplateList()
            this.gotProcessList()
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //保存编辑或者新增内容
    handleSave(formName) {
     
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const itemList = this.itemList;
          const index = itemList.findIndex((item) => {
            return (item.name === '' || item.processid === '' || item.desc === '')
          })
          if (index > -1) {
            this.$message.warning('服务项内容不能为空')
            return
          }
          const params = {
            sort: this.form.sort,
            title: this.form.title,
            describ: this.form.describ,
            status: this.form.status,
            hotelid: this.form.hotelid,
            serviceTemplateItemList: itemList,
            replytemplateid: this.form.replytemplateid
          };
          this.handleEditSave(params);
        }
      });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/hotelServiceUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.editsave = 2;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
      // editsave 1 直接关闭 2 编辑修改关闭
      this.$emit("closeDialog", this.editsave);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        title: "",
        describ: "",
        status: 1,
        hotelid: "",
        sort: ""
      };
      this.itemList = [
        {
          replytextType: 1,
          name: "",
          id: "",
          processid: "",
          desc: ""
        },
      ];
    },
     //回复模板下拉
    gotTemplateList() {
      let hotelIdList = []
      hotelIdList.push(this.rowData.hotelid)
      const params = {
        hotelIdList: hotelIdList,
        type: 2
      };
      this.$store
        .dispatch("service/replypull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.templateList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleItem(value, index, type) {
      if (type === 1) {
        // 新增
        const data = {
          replytextType: 1,
          name: "",
          id: "",
          processid: "",
          desc: ""
        };
        this.itemList.push(data);
      } else {
        // 减少
        if (this.itemList.length <= 1) {
          return;
        }
        this.itemList.splice(index, 1);
      }
    },
    // 服务流程下拉
    gotProcessList() {
      const params = {
        id: this.rowData.hotelid
      };
      this.$store
        .dispatch("service/processPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.processList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.form-li {
  padding: 10px 10px 20px;
  margin-bottom: 30px;
  border: 1px dotted #ccc;
  border-radius: 8px;
}
.form-li-title {
  margin: 20px 0 10px;
  font-size: 12px;
  color:#66b1ff;
}
.form-li-div {
  display: flex;
  align-items: center;
}
.span-icon {
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
</style>