<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-19 17:21:47
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<template>
  <div class="page-container">
    <div class="content-container">
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>客房服务项目（必须提供）
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div> -->
        <div>
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <!-- <el-table-column
              label="操作"
              width="80"
              align="center"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column> -->
            <el-table-column
              prop="id"
              label="ID"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="code"
              label="服务编码"
            ></el-table-column>
            <el-table-column
              prop="name"
              label="服务项目"
            ></el-table-column>

            <el-table-column
              prop="url"
              label="跳转路径"
            ></el-table-column>

            <el-table-column
              prop="type"
              label="类型"
            >
              <template slot-scope="scope">{{
                parseInt(scope.row.type) === 1 ? "一级服务" : "二级服务"
              }}</template>
            </el-table-column>
          </el-table>
        </div>
      </el-card>
    </div>
    <div class="content-container">
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>客房服务项目（可选择提供的服务）
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div >
         <el-table
            :data="tableData2"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <!-- <el-table-column
              label="操作"
              width="80"
              align="center"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column> -->
            <el-table-column
              prop="id"
              label="ID"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="code"
              label="服务编码"
            ></el-table-column>
            <el-table-column
              prop="name"
              label="服务项目"
            ></el-table-column>

            <el-table-column
              prop="url"
              label="跳转路径"
            ></el-table-column>

            <el-table-column
              prop="type"
              label="类型"
            >
              <template slot-scope="scope">{{
                parseInt(scope.row.type) === 1 ? "一级服务" : "二级服务"
              }}</template>
            </el-table-column>
          </el-table>
        </div>
      </el-card>
    </div>
    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="房价码名称"
              prop="ratename"
            >
              <el-input
                v-model="form.ratename"
                clearable
                placeholder="请输入"
                style="width: 780px"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      tableData: [],
      tableData2: [],
      loading: false,
      form: {},
      rules: {},
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      typeList: [],
    };
  },
  components: {},
  computed: {},
  created() {
    this.gotData(1);
    this.gotData(2);
  },
  mounted() {},
  methods: {
    //列表数据
    gotData(type) {
      const params = {
        type: type,
      };
      this.loading = true;
      this.$store
        .dispatch("service/templateList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            if (type === 1) {
              this.tableData = result.data;
            } else {
              this.tableData2 = result.data;
            }
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },

    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id,
      };
      //详情
      this.$store
        .dispatch("hotel/hotelPriceDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {};
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {};
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("hotel/hotelPriceSave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("hotel/hotelPriceSave", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {};
    },
  },
};
</script>

