<!--
 * @Author: your name
 * @Date: 2020-12-09 14:25:01
 * @LastEditTime: 2020-12-21 14:28:04
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\serviceset\compontent\hotelservice.vue
-->

<template>
  <div>
    <el-dialog
      :close-on-click-modal="false"
      title="清扫服务"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="120px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="酒店名称"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                placeholder="请选择"
                style="width:600px"
                disabled
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="提前预定时间"
              prop="hours"
            >
              <el-select
                v-model="form.hours"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in timeList"
                  :key="item.value"
                  :label="item.name"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="时间范围选择"
              required
            >
              <div>
                <el-radio-group
                  v-model="radiovalue"
                  @change="handleRadio"
                >
                  <el-radio :label="1">间隔1小时</el-radio>
                  <el-radio :label="2">间隔2小时</el-radio>
                  <el-radio :label="3">间隔3小时</el-radio>
                  <el-radio :label="4">间隔4小时</el-radio>
                  <el-radio :label="5">其他</el-radio>
                </el-radio-group>
              </div>
              <div style="width:600px;margin-top: 20px">
                <el-checkbox-group
                  v-model="checkvalue"
                  v-if="radiovalue === 5"
                >
                  <el-checkbox
                    :label="item"
                    v-for="(item, index) in checkList"
                    :key="item"
                    style="width: 110px"
                  >
                    {{index === 0 ? '早上' : index === 1 ? '中午' : index === 2 ? "下午" : index === 3 ? "晚上" : ''}}({{item}}点)
                  </el-checkbox>
                </el-checkbox-group>
                <el-checkbox-group
                  v-model="checkvalue"
                  v-else
                >
                  <el-checkbox
                    :label="item"
                    v-for="item in checkList"
                    :key="item"
                    style="width: 80px"
                  >
                    {{item}}点
                  </el-checkbox>
                </el-checkbox-group>
              </div>

            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="默认回复模板"
              prop="replytemplateid"
            >
              <el-select
                v-model="form.replytemplateid"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in templateList"
                  :key="item.id"
                  :label="item.id + item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="服务流程"
              prop="processid"
            >
              <el-select
                v-model="form.processid"
                placeholder="请选择"
                style="width:600px"
              >
                <el-option
                  v-for="item in processList"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" placeholder="请输入" clearable  style="width:600px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="状态"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      form: {
        status: 1,
        hotelid: "",
        processid: "",
        replytemplateid: "",
        hours: "",
        sort: ""
      },
      rules: {
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        replytemplateid: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        processid: [{ required: true, message: "不能为空", trigger: "change" }],
        sort: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      visible: false,
      rowData: {},
      hotelList: [],
      timeList: [
        {
          value: 0,
          name: "0小时",
        },
        {
          value: 1,
          name: "1小时",
        },
        {
          value: 2,
          name: "2小时",
        },
        {
          value: 12,
          name: "12小时",
        },
        {
          value: 24,
          name: "24小时",
        },
        {
          value: 48,
          name: "48小时",
        },
      ],
      templateList: [],
      checkList: [],
      checkvalue: [],
      radiovalue: 1,
      editsave: 1,
      cleantimeVoList: [],
      processList: [],
      radiovalueSave: 1,
      checkvalueSave: []
    };
  },
  props: {
    row: {
      type: Object,
      default: {},
    },
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    if (this.row) {
      this.gotHotelList();
      this.gotDetail();
    }
  },
  methods: {
    gotDetail() {
      this.visible = true;
      const params = {
        id: this.row.id,
      };
      //详情
      this.$store
        .dispatch("service/cleanServiceDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const replytemplateid = data.replytemplateid
              ? data.replytemplateid
              : "";
            const processid = data.processid ? data.processid : '';
            const hours = data.hours ? data.hours : "";
            this.radiovalueSave = this.radiovalue = data.cleanTime ? data.cleanTime : 1;
            
            const cleantimeVoList = data.cleantimeVoList ? data.cleantimeVoList : [];
            // this.cleantimeVoList = cleantimeVoList
            let checkvalue = [];
            cleantimeVoList.map((item) => {
              checkvalue.push(item.timeRange)
            })
            this.checkvalueSave = this.checkvalue = checkvalue;
            this.handleRadio();
            this.form = {
              status: data.status,
              hotelid: data.hotelid,
              processid: processid,
              replytemplateid: replytemplateid,
              hours: hours,
              sort: data.sort
            };
            this.gotTemplateList()
            this.gotProcessList()
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const hours = this.form.hours ? this.form.hours : 0;
          if (this.checkvalue.length <= 0) {
            this.$message.warning("时间范围选择不能为空");
            return;
          }
          let cleantimeVoList = [];

          this.checkvalue.map((item) => {
            const value = {
              templateid: '',
              timeRange: item
            }
            cleantimeVoList.push(value)
          })
          const params = {
            status: this.form.status,
            hotelid: this.form.hotelid,
            processid: this.form.processid,
            replytemplateid: this.form.replytemplateid,
            hours: hours,
            cleantimeVoList: cleantimeVoList,
            cleanTime: this.radiovalue,
            sort: this.form.sort
          };
          this.handleEditSave(params);
        }
      });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/cleanServiceUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.editsave = 2;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
      // editsave 1 直接关闭 2 编辑修改关闭
      this.$emit("closeDialog", this.editsave);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        status: 1,
        hotelid: "",
        processid: "",
        replytemplateid: "",
        hours: "",
        sort: ""
      };
      this.checkList = [];
      this.checkvalue = [];
      this.radiovalue = 1;
      this.checkvalueSave = [];
      this.radiovalueSave = 1;
    },
      //回复模板下拉
    gotTemplateList() {
      let hotelIdList = []
      hotelIdList.push(this.rowData.hotelid)
      const params = {
        hotelIdList: hotelIdList,
        type: 2
      };
      this.$store
        .dispatch("service/replypull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.templateList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleTime(value) {
      const start = 6;
      const end = 22;
      let arr = [];
      let detal = start;
      while (detal < end) {
        const detalend = detal + value > end ? end : detal + value;
        arr.push(`${detal}-${detalend}`);
        detal = detalend;
      }
      return arr;
    },
    handleRadio(param) {      
     
      const value = parseInt(this.radiovalue);
      if (this.radiovalue < 5) {
        this.checkList = this.handleTime(value);
      } else {
        this.checkList = ["6-11", "11-13", "13-17", "17-22"];
      }
      if (param) {
        if (this.radiovalueSave === this.radiovalue) {
          this.checkvalue = this.checkvalueSave;
        } else {
          this.checkvalue = [];
        }
      }
    },
    // 服务流程下拉
    gotProcessList() {
      const params = {
        id: this.rowData.hotelid
      };
      this.$store
        .dispatch("service/processPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.processList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.form-li {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
  display: flex;
  align-items: center;
}
.form-li-div {
  margin-left: 20px;
}
.form-li-title {
}
</style>