<!--
 * @Author: your name
 * @Date: 2020-12-09 14:25:01
 * @LastEditTime: 2020-12-17 17:30:05
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\serviceset\compontent\hotelservice.vue
-->

<template>
  <div>
    <el-dialog
      :close-on-click-modal="false"
      title="一键WIFI服务"
      :visible.sync="visible"
      width="700px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="150px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="酒店名称"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                placeholder="请选择"
                style="width:500px"
                disabled
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="WIFI登陆地址"
              prop="wifiLoginurl"
            >
              <el-input
                v-model="form.wifiLoginurl"
                clearable
                placeholder="请输入"
                style="width:500px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="WIFI登陆账号"
              prop="wifiCount"
            >
              <el-input
                v-model="form.wifiCount"
                clearable
                placeholder="请输入"
                style="width:500px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="WIFI密码规则"
              prop="wifiPwd"
            >
              <el-input
                v-model="form.wifiPwd"
                clearable
                placeholder="请输入"
                style="width:500px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="状态"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { positive_num } from "@/utils/reg";
export default {
  data() {
    return {
      form: {
        hotelid: "",
        wifiCount: "",
        wifiLoginurl: "",
        wifiPwd: "",
        status: 1
      },
      rules: {
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        // wifiCount: [{ required: true, message: "不能为空", trigger: "blur" }],
        // wifiLoginurl: [{ required: true, message: "不能为空", trigger: "blur" }],
      },
      visible: false,
      rowData: {},
      hotelList: [],
      editsave: 1
    };
  },
  props: {
    row: {
      type: Object,
      default: {},
    },
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    if (this.row) {
      this.gotHotelList();
      this.gotDetail();
    }
  },
  methods: {
    gotDetail() {
      this.visible = true;
      const params = {
        id: this.row.id,
      };
      //详情
      this.$store
        .dispatch("service/wifiServiceDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              hotelid: data.hotelid,
              status: data.status,
              wifiCount: data.wifiCount,
              wifiLoginurl: data.wifiLoginurl,
              wifiPwd: data.wifiPwd
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            hotelid: this.form.hotelid,
            wifiCount: this.form.wifiCount,
            wifiLoginurl: this.form.wifiLoginurl,
            wifiPwd: this.form.wifiPwd,
            status: this.form.status
          };
          this.handleEditSave(params);
        }
      });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/wifiServiceUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.editsave = 2;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
      // editsave 1 直接关闭 2 编辑修改关闭
      this.$emit("closeDialog", this.editsave);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        hotelid: "",
        wifiCount: "",
        wifiLoginurl: "",
        wifiPwd: "",
        status: 1,
      };
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>