<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-11-24 14:34:11
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\hotel\index.vue
 -->
<style lang="scss">
#qrcode {
  position: absolute;
  top: -100000px;
  left: -100000px;
}
#qrcode-a {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="酒店基础管理" title2="基础信息"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店编码" prop="hotelcode">
                  <el-input
                    v-model="searchform.hotelcode"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="酒店名称" prop="id">
                  <el-select
                    v-model="searchform.id"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' +item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="130" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  icon="el-icon-download"
                  @click="productCode(scope.$index, scope.row)"
                >分销码</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="hotelcode" label="酒店编码"></el-table-column>
            <el-table-column prop="hotelname" label="酒店名称"></el-table-column>
            <el-table-column prop="brandname" label="品牌"></el-table-column>
            <el-table-column prop="type" label="酒店类型">
              <template slot-scope="scope">{{scope.row.type === 0 ? '自营' : '非自营' }}</template>
            </el-table-column>
            <el-table-column prop="star" label="星级">
              <template
                slot-scope="scope"
              >{{parseInt(scope.row.star) === 3 ? '三星/舒适' : parseInt(scope.row.star) === 4 ? '四星/高档' : parseInt(scope.row.star) === 5 ? '五星/豪华' : ''}}</template>
            </el-table-column>
            <el-table-column prop="enable" label="是否启用" width="80">
              <template slot-scope="scope">{{scope.row.enable === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="sort" label="优先级" width="70"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-tabs v-model="tabName" @tab-click="handleActiveClick">
        <el-tab-pane label="基本信息" name="1">
          <el-form
            ref="form"
            :model="form"
            :inline="true"
            :rules="rules"
            label-width="90px"
            class="operate-form-box"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店编码" prop="hotelcode">
                  <el-input
                    v-model="form.hotelcode"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="酒店名称" prop="hotelname">
                  <el-input
                    v-model="form.hotelname"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="酒店品牌" prop="brandid">
                  <el-select v-model="form.brandid" placeholder="请选择" class="form-ipt-width">
                    <el-option
                      v-for="item in brandList"
                      :key="item.id"
                      :label="item.id + '-' + item.brandname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="酒店星级" prop="star">
                  <el-select v-model="form.star" placeholder="请选择" class="form-ipt-width">
                    <el-option
                      v-for="item in starList"
                      :key="item.id"
                      :label="item.id + '-' + item.label"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="经营类型" prop="type">
                  <el-select v-model="form.type" placeholder="请选择" class="form-ipt-width">
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.label"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="客房总数" prop="roomcount">
                  <el-input
                    v-model="form.roomcount"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="优先级" prop="sort">
                  <el-input v-model="form.sort" clearable placeholder="输入" class="form-ipt-width"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="酒店地址" style="margin-bottom: 0" required>
                  <el-form-item prop="provinceid">
                    <el-select
                      v-model="form.provinceid"
                      placeholder="请选择"
                      class="form-ipt-width"
                      @change="changeProvince"
                    >
                      <el-option
                        v-for="item in provinceList"
                        :key="item.id"
                        :label="item.provincename"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="cityid">
                    <el-select
                      v-model="form.cityid"
                      placeholder="请选择"
                      class="form-ipt-width"
                      @change="changeCity"
                    >
                      <el-option
                        v-for="item in cityList"
                        :key="item.id"
                        :label="item.cityname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="districtid">
                    <el-select v-model="form.districtid" placeholder="请选择" class="form-ipt-width">
                      <el-option
                        v-for="item in districtList"
                        :key="item.id"
                        :label="item.districtname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="详细地址" prop="address">
                  <el-input
                    v-model="form.address"
                    style="width:740px"
                    placeholder="请输入"
                    clearable
                    :rows="3"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="经度" prop="lon">
                  <el-input v-model="form.lon" clearable placeholder="输入" class="form-ipt-width"></el-input>
                </el-form-item>
                <el-form-item label="维度" prop="lat">
                  <el-input v-model="form.lat" clearable placeholder="请输入" class="form-ipt-width"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="预定电话" prop="bookingtel">
                  <el-input
                    v-model="form.bookingtel"
                    clearable
                    placeholder="输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="前厅电话" prop="tel">
                  <el-input v-model="form.tel" clearable placeholder="请输入" class="form-ipt-width"></el-input>
                </el-form-item>
                <el-form-item label="传真电话" prop="fax">
                  <el-input v-model="form.fax" clearable placeholder="请输入" class="form-ipt-width"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="开业时间" prop="opendate">
                  <el-date-picker
                    size="mini"
                    v-model="form.opendate"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="请选择"
                    style="width: 180px"
                  ></el-date-picker>
                </el-form-item>
                <el-form-item label="装修时间" prop="renovationTime">
                  <el-date-picker
                    size="mini"
                    v-model="form.renovationTime"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="请选择"
                    style="width: 180px"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="状态" prop="enable">
                  <el-radio-group v-model="form.enable">
                    <el-radio :label="1">启用</el-radio>
                    <el-radio :label="0">不启用</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <div style="text-align: center; margin-top: 10px">
            <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
          </div>
        </el-tab-pane>
        <el-tab-pane label="图片信息" name="2" :disabled="actionType === 1">
          <ImagesList v-if="parseInt(tabName) === 2" :detailId="rowid"></ImagesList>
        </el-tab-pane>
        <el-tab-pane label="房型设施" name="3" :disabled="actionType === 1">
          <Facilities v-if="parseInt(tabName) === 3" :detailId="rowid"></Facilities>
        </el-tab-pane>
        <el-tab-pane label="标签信息" name="4" :disabled="actionType === 1">
          <Label v-if="parseInt(tabName) === 4" :detailId="rowid"></Label>
        </el-tab-pane>
        <el-tab-pane label="酒店介绍" name="5" :disabled="actionType === 1">
          <IntrToduction v-if="parseInt(tabName) === 5" :detailId="rowid"></IntrToduction>
        </el-tab-pane>
        <el-tab-pane label="酒店政策" name="6" :disabled="actionType === 1">
          <Tips v-if="parseInt(tabName) === 6" :detailId="rowid"></Tips>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>

    <el-dialog
      :close-on-click-modal="false"
      title="分销注册二维码"
      :visible.sync="codevisible"
      width="500px"
      @close="closeDialogCode"
    >

      <img src="" :alt="this.rowData.hotelname"  id="qrcode-a" >
      <div style="text-align: center; margin-top: 20px; color: red">鼠标右键可以下载</div>

      <!-- <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <a href="" id="qrcode-a" :title="this.rowData.hotelname">
            <el-button type="primary" size="mini">下 载</el-button>
          </a>
        </div>
      </span>-->
      
    </el-dialog>

    <div id="qrcode"></div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ImagesList from "./component/imageslist.vue";
import Facilities from "./component/facilities.vue";
import Label from "./component/label.vue";
import IntrToduction from "./component/introduction.vue";
import Tips from "./component/tips.vue";
import {
  positive_num,
  phone,
  telphone,
  longitude,
  latitude,
  positive_num_zero
} from "@/utils/reg.js";
export default {
  data() {
    const checkPhone = (rule, value, callback) => {
      if (!phone.test(value) && !telphone.test(value)) {
        callback(new Error("手机或者固话不合法"));
      } else {
        callback();
      }
    };
    const checkNum = (rule, value, callback) => {
      if (!positive_num_zero.test(value)) {
        callback(new Error("请输入非负整数"));
      } else {
        callback();
      }
    };
    // 维度
    const checkLongitude = (rule, value, callback) => {
      if (!longitude.test(value)) {
        callback(new Error("经度不合法"));
      } else {
        callback();
      }
    };
    // 经度
    const checkLatitude = (rule, value, callback) => {
      if (!latitude.test(value)) {
        callback(new Error("经度不合法"));
      } else {
        callback();
      }
    };
    return {
      searchform: {
        hotelcode: "",
        id: ""
      },
      searchresult: {
        hotelcode: "",
        id: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        hotelcode: "", //酒店编码
        hotelname: "", //酒店名称
        brandid: "", //酒店品牌
        star: "", //酒店星级
        type: "", //经营类型
        roomcount: "", //客房总数
        provinceid: "", //省级行政单位
        cityid: "", //城市
        districtid: "", //区
        address: "", //地址
        tel: "", //前厅电话
        bookingtel: "", //预订电话
        fax: "", //传真电话
        opendate: "", //开业时间
        renovationTime: "", //近期装修时间
        enable: 1, //启用
        lat: "", //维度
        lon: "", //经度
        sort: "" //优先级
      },
      rules: {
        hotelcode: [{ required: true, message: "不能为空", trigger: "blur" }],
        hotelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        brandid: [{ required: true, message: "不能为空", trigger: "blur" }],
        star: [{ required: true, message: "不能为空", trigger: "blur" }],
        type: [{ required: true, message: "不能为空", trigger: "blur" }],
        roomcount: [{ required: true, validator: checkNum, trigger: "blur" }],
        provinceid: [{ required: true, message: "不能为空", trigger: "blur" }],
        cityid: [{ required: true, message: "不能为空", trigger: "blur" }],
        // districtid: [{ required: true, message: "不能为空", trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }],
        tel: [{ required: true, validator: checkPhone, trigger: "blur" }],
        bookingtel: [
          { required: true, validator: checkPhone, trigger: "blur" }
        ],
        fax: [{ required: true, validator: checkPhone, trigger: "blur" }],
        // opendate: [{ required: true, message: "不能为空", trigger: "change" }],
        // renovationTime: [
        //   { required: true, message: "不能为空", trigger: "change" }
        // ],
        // lat: [{ required: true, validator: checkLatitude, trigger: "blur" }],
        // lon: [{ required: true, validator: checkLongitude, trigger: "blur" }],
        enable: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        sort: [{ required: true, validator: checkNum, trigger: "blur" }]
      },
      tabName: "1",
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      hotelList: [],
      brandList: [],
      provinceList: [],
      cityList: [],
      districtList: [],
      starList: [
        {
          id: 3,
          label: "三星/舒适"
        },
        {
          id: 4,
          label: "四星/高档"
        },
        {
          id: 5,
          label: "五星/豪华"
        }
      ],
      typeList: [
        {
          id: 0,
          label: "自营"
        },
        {
          id: 1,
          label: "非自营"
        }
      ],
      codevisible: false,
      qrcode: null,
      rowid: ''
    };
  },
  components: {
    vBreadcrumb,
    ImagesList,
    Facilities,
    Label,
    IntrToduction,
    Tips
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotData();
    this.gotHotelList();
    this.getProvince();
    this.getHotelBrand();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelcode: this.searchresult.hotelcode,
        id: this.searchresult.id,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/hotelList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleActiveClick() {},
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.rowid = row.id;
      //详情
      this.$store
        .dispatch("hotel/hotelDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const opendate = data.opendate ? data.opendate.split(" ")[0] : "";
            const renovationTime = data.renovationTime
              ? data.renovationTime.split(" ")[0]
              : "";
            this.form = {
              hotelcode: data.hotelcode, //酒店编码
              hotelname: data.hotelname, //酒店名称
              brandid: data.brandid, //酒店品牌
              star: data.star, //酒店星级
              type: data.type, //经营类型
              roomcount: data.roomcount, //客房总数
              provinceid: data.provinceid, //省级行政单位
              cityid: data.cityid, //城市
              districtid: data.districtid, //区
              address: data.address, //地址
              tel: data.tel, //前厅电话
              bookingtel: data.bookingtel, //预订电话
              fax: data.fax, //传真电话
              opendate: opendate, //开业时间
              renovationTime: renovationTime, //近期装修时间
              enable: data.enable, //启用
              lat: data.lat, //维度
              lon: data.lon, //经度
              sort: data.sort //优先级
            };
            this.getCity(data.provinceid);
            this.getDistrict(data.cityid);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let opendate = this.form.opendate
            ? this.form.opendate + " 00:00:00"
            : "";
          let renovationTime = this.form.renovationTime
            ? this.form.renovationTime + " 00:00:00"
            : "";
          const params = {
            hotelcode: this.form.hotelcode, //酒店编码
            hotelname: this.form.hotelname, //酒店名称
            brandid: this.form.brandid, //酒店品牌
            star: this.form.star, //酒店星级
            type: this.form.type, //经营类型
            roomcount: this.form.roomcount, //客房总数
            provinceid: this.form.provinceid, //省级行政单位
            cityid: this.form.cityid, //城市
            districtid: this.form.districtid, //区
            address: this.form.address, //地址
            tel: this.form.tel, //前厅电话
            bookingtel: this.form.bookingtel, //预订电话
            fax: this.form.fax, //传真电话
            opendate: opendate, //开业时间
            renovationTime: renovationTime, //近期装修时间
            enable: this.form.enable, //启用
            lat: this.form.lat, //维度
            lon: this.form.lon, //经度
            sort: this.form.sort //优先级
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/hotelSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.rowid = result.data.id;
            this.actionType = 2;
            this.tabName = "2";
            const row = {
              id: result.data.id
            }
            this.handleEdit(0, row)
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/hotelEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        hotelcode: "", //酒店编码
        hotelname: "", //酒店名称
        brandid: "", //酒店品牌
        star: "", //酒店星级
        type: "", //经营类型
        roomcount: "", //客房总数
        provinceid: "", //省级行政单位
        cityid: "", //城市
        districtid: "", //区
        address: "", //地址
        tel: "", //前厅电话
        bookingtel: "", //预订电话
        fax: "", //传真电话
        opendate: "", //开业时间
        renovationTime: "", //近期装修时间
        enable: 1, //启用
        lat: "", //维度
        lon: "", //经度
        sort: "" //优先级
      };
      this.tabName = "1";
    },
    //获取酒店品牌列表
    getHotelBrand() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelBrand", {
          data: params
        })
        .then(result => {
          if (result.code == 0) {
            this.brandList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //获取省级行政单位列表
    getProvince() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelAddressProvince", {
          data: params
        })
        .then(result => {
          if (result.code == 0) {
            this.provinceList = result.data;
          }
        });
    },
    changeProvince() {
      this.form.cityid = "";
      this.form.districtid = "";
      this.districtList = [];
      this.getCity(this.form.provinceid);
    },
    //根据省级行政单位获取城市
    getCity(val) {
      const params = { id: val };
      this.$store
        .dispatch("hotel/hotelAddressCity", {
          data: params
        })
        .then(result => {
          if (result.code == 0) {
            this.cityList = result.data;
          }
        });
    },
    changeCity() {
      this.form.districtid = "";
      this.getDistrict(this.form.cityid);
    },
    //根据省级行政单位获取城市
    getDistrict(val) {
      const params = { id: val };
      this.$store
        .dispatch("hotel/hotelAddressDistrict", {
          data: params
        })
        .then(result => {
          if (result.code == 0) {
            this.districtList = result.data;
          }
        });
    },
    productCode(index, row) {
      this.codevisible = true;
      this.rowData = row;
      const qrcodeNode = document.getElementById("qrcode");
      console.log(process.env.VUE_APP_SALE)
      if (this.qrcode) {
         console.log("二维码第二次")
        this.qrcode.clear();
        this.qrcode.makeCode(
          `${process.env.VUE_APP_SALE}/apply?id=${row.id}`
        );
      } else {
        console.log("二维码初次")
        this.qrcode = new QRCode(qrcodeNode, {
          text: `${process.env.VUE_APP_SALE}/apply?id=${row.id}`,
          width: 256,
          height: 256,
          colorDark: "#000000",
          colorLight: "#ffffff",
          correctLevel: QRCode.CorrectLevel.H
        });
      }
      qrcodeNode.childNodes[1].onload = () => {
        const href = qrcodeNode.childNodes[1].src
        document.getElementById('qrcode-a').setAttribute('src', href)
      }
    },
    closeDialogCode() {
      document.getElementById('qrcode-a').setAttribute('src', "")
    }
  }
};
</script>

