<!--
 * @Author: your name
 * @Date: 2019-11-29 09:11:56
 * @LastEditTime: 2020-06-23 15:38:18
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\components\Breadcrumb\index.vue
 -->
 <style lang="scss" scoped>
.search-box-room {
  .search-form {
    .search-input {
      width: 150px;
    }
  }
}
.form-container-room {
  text-align: left;
  margin-bottom: 15px;
}
.container-table-room {
  min-height: 440px;
}
.pagination-container-room {
  margin-top: 20px;
}
</style>
<template>
  <div>
    <!-- 房价码管理 -->
    <el-dialog
      title="房型管理"
      :visible.sync="roomvisible"
      width="1000px"
      @close="closeDialogRoom('searchformroom')"
    >
      <div class="search-box-room">
        <el-form :model="searchformroom" ref="searchformroom" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店名称" prop="hotelid">
                <el-select
                  v-model="searchformroom.hotelid"
                  clearable
                  filterable
                  placeholder="请选择"
                 style="width: 180px"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id+'-'+item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="房型" prop="roomid">
                <el-select
                  v-model="searchformroom.roomid"
                  clearable
                  filterable
                  placeholder="请选择"
                  class="search-input"
                  style="width: 180px"
                >
                  <el-option
                    v-for="item in roomstyleList"
                    :key="item.id"
                    :label="item.roomcode+'-'+item.roomname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- <el-form-item label="房价码" prop="roomrate">
                <el-select
                  v-model="searchformroom.roomrate"
                  clearable
                  filterable
                  placeholder="请选择"
                  class="search-input"
                >
                  <el-option
                    v-for="item in roomstyleList"
                    :key="item.id"
                    :label="item.roomcode+'-'+item.roomname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item> -->
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearchRoom">查询</el-button>
                <el-button type="info" @click="resetSearchRoom('searchformroom')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-container-room">
        <el-button type="danger" @click="handleDelRooms">批量删除</el-button>
        <el-button type="primary" @click="handleAddRooms">批量添加</el-button>
      </div>
      <div class="container-table-room">
        <el-table
          :data="tableDataRoom"
          border
          v-loading="loadingroom"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
          @selection-change="handleSelectionChange"
        >
          >
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="roomName" label="房型名称">
            <template
              slot-scope="scope"
            >
              <div>房型ID：{{scope.row.roomid}}</div>
              <div>房型名称：{{scope.row.roomName}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="rateName" label="房价名称">
             <template
              slot-scope="scope"
            >
              <div>房价码：{{scope.row.roomrate}}</div>
              <div>房价名称：{{scope.row.rateName}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="hotelName" label="参与酒店"></el-table-column>
          <el-table-column prop="beginDate" label="房价基价起止日期">
            <template
              slot-scope="scope"
            >{{scope.row.beginDate.split(' ')[0]}} 至 {{scope.row.endDate.split(' ')[0]}}</template>
          </el-table-column>
          <el-table-column prop="bookingtype" label="预定类型">
            <template
              slot-scope="scope"
            >{{scope.row.bookingtype === 1 ? '预付' : scope.row.bookingtype === 2 ? '现付' : ''}}</template>
          </el-table-column>
        </el-table>
        <div class="pagination-container-room">
          <el-pagination
            background
            @size-change="changeLimitRoom"
            @current-change="handleCurrentChangeRoom"
            :current-page.sync="pageroom"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limitroom"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalroom"
          ></el-pagination>
        </div>
      </div>
    </el-dialog>

    <!-- 批量新增 -->
    <el-dialog title="房型添加" :visible.sync="addvisible" width="1000px"  @close="closeDialog('searchform')">
      <div class="search-box-room">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="酒店名称" prop="hotelid">
                <el-select
                  v-model="searchform.hotelid"
                  clearable
                  filterable
                  placeholder="请选择"
                  style="width: 180px"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id + '-' + item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="房型" prop="roomid">
                <el-select
                  v-model="searchform.roomid"
                  clearable
                  filterable
                  placeholder="请选择"
                  style="width: 180px"
                >
                  <el-option
                    v-for="item in roomstyleList"
                    :key="item.id"
                    :label="item.roomcode +'-'+item.roomname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- <el-form-item label="房价码" prop="roomrate">
                <el-select
                  v-model="searchform.roomrate"
                  clearable
                  filterable
                  placeholder="请选择"
                  class="search-input"
                >
                  <el-option
                    v-for="item in roomstyleList"
                    :key="item.id"
                    :label="item.roomcode+'-'+item.roomname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item> -->
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-container-room">
        <el-button type="primary" @click="handleAdd">批量添加</el-button>
      </div>
      <div class="container-table-room">
        <el-table
          :data="tableData"
          border
          v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
          @selection-change="handleSelectionChangeAdd"
        >
          >
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="roomName" label="房型名称">
            <template
              slot-scope="scope"
            >
              <div>房型ID：{{scope.row.roomid}}</div>
              <div>房型名称：{{scope.row.roomName}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="rateName" label="房价名称">
             <template
              slot-scope="scope"
            >
              <div>房价码：{{scope.row.roomrate}}</div>
              <div>房价名称：{{scope.row.rateName}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="hotelName" label="参与酒店"></el-table-column>
          <el-table-column prop="beginDate" label="房价基价起止日期">
            <template
              slot-scope="scope"
            >{{scope.row.beginDate.split(' ')[0]}} 至 {{scope.row.endDate.split(' ')[0]}}</template>
          </el-table-column>
          <el-table-column prop="bookingtype" label="预定类型">
            <template
              slot-scope="scope"
            >{{scope.row.bookingtype === 1 ? '预付' : scope.row.bookingtype === 2 ? '现付' : ''}}</template>
          </el-table-column>
        </el-table>
        <div class="pagination-container-room">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 50, 100, 200]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
          ></el-pagination>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    visible: {
      default: false
    },
    activityid: {
      default: 0
    },
    activitytype: {
      default: 0
    }
  },
  data() {
    return {
      searchformroom: {
        roomrate: "",
        hotelid: "",
        roomid: ""
      },
      searchresultroom: {
        roomrate: "",
        hotelid: "",
        roomid: ""
      },
      roomvisible: false,
      tableDataRoom: [],
      totalroom: 0,
      pageroom: 1,
      limitroom: 10,
      loadingroom: false,
      hotelList: [],
      roomstyleList: [],
      retenameList: [],
      selectValue: [],
      searchform: {
        roomrate: "",
        hotelid: "",
        roomid: ""
      },
      searchresult: {
        roomrate: "",
        hotelid: "",
        roomid: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      addvisible: false,
      addSelectValue: []
    };
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotRoomstyleList();
    this.gotHotelList();
    // this.getroompriceSelect()
    this.$emit("closeVisible");
  },
  watch: {
    visible(val, oldVal) {
      if (val) {
        this.gotDataRoom();
      }
      this.roomvisible = val;
    }
  },
  methods: {
    //查询
    handleSearchRoom() {
      this.pageroom = 1;
      this.searchresultroom = this.searchformroom;
      this.gotDataRoom();
    },
    //重置查询
    resetSearchRoom(formName) {
      this.$refs[formName].resetFields();
      this.searchresultroom = this.searchformroom;
      this.pageroom = 1;
      this.gotDataRoom();
    },
    // 分页导航
    handleCurrentChangeRoom(val) {
      this.pageroom = val;
      this.gotDataRoom();
    },
    //改变页数
    changeLimitRoom(val) {
      this.pageroom = 1;
      this.limitroom = val;
      this.gotDataRoom();
    },
    //列表数据
    gotDataRoom() {
      const params = {
        hotelId: this.searchresultroom.hotelid,
        roomId: this.searchresultroom.roomid,
        rateName: '',
        pageNum: this.pageroom,
        pageSize: this.limitroom,
        activityid: this.activityid,
        activitytype: this.activitytype
      };
      this.loadingroom = true;
      this.$store
        .dispatch("market/activitydecreaseChose", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableDataRoom = result.data.list;
            this.totalroom = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loadingroom = false;
        });
    },
    handleSelectionChange(val) {
      // console.log(val);
      this.selectValue = val;
    },
    //批量删除
    handleDelRooms() {
      if (this.selectValue.length > 0) {
        let roomidList = [];
        this.selectValue.map((item) => {
          roomidList.push(item.id)
        })
        const params = {
          roomidList: roomidList,
          activityid: this.activityid,
          activitytype: this.activitytype
        };
        const loading = this.$loading({
          lock: true,
          text: "数据提交中...",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)"
        });
        this.$store
          .dispatch("market/activitydecreaseRemove", {
            data: params
          })
          .then(result => {
            loading.close();
            if (result.code === 0) {
              // this.$message.success(result.msg);
              this.$message.success("批量删除成功");
              this.gotDataRoom();
            } else if (result.code === 401) {
              this.$message.error(result.msg);
            } else {
              this.$message.error(result.msg);
            }
          });
      } else {
        this.$message.warning("请先择房型");
      }
    },
    closeDialogRoom(formName) {
      this.$refs[formName].resetFields();
      this.searchresultroom = this.searchformroom;
      this.$emit("closeVisible");
    },
    // 批量新增
    handleAddRooms() {
      this.addvisible = true;
      this.gotData();
    },
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelId: this.searchresult.hotelid,
        roomId: this.searchresult.roomid,
        rateName: '',
        pageNum: this.page,
        pageSize: this.limit,
        activityid: this.activityid,
        activitytype: this.activitytype
      };
      this.loading = true;
      this.$store
        .dispatch("market/activitydecreaseUnChose", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSelectionChangeAdd(val) {
      // console.log(val)
      this.addSelectValue = val;
    },
    //新增保存
    handleAdd() {
      if (this.addSelectValue.length > 0) {
        const params = {
          activityAddDtos: this.addSelectValue,
          activityid: this.activityid,
          activitytype: this.activitytype
        };
        const loading = this.$loading({
          lock: true,
          text: "数据提交中...",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)"
        });
        this.$store
          .dispatch("market/activitydecreaseRelation", {
            data: params
          })
          .then(result => {
            loading.close();
            if (result.code === 0) {
              // this.$message.success(result.msg);
              this.$message.success("批量新增成功");
              this.addvisible = false;
              this.gotDataRoom();
            } else if (result.code === 401) {
              this.addvisible = false;
              this.$message.error(result.msg);
            } else {
              this.$message.error(result.msg);
            }
          });
      } else {
        this.$message.warning("请先择房型");
      }
    },
    closeDialog (formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
    },
    //酒店下拉
    gotHotelList() {
     const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房型全部下拉
    gotRoomstyleList() {
      const params = {};
      this.$store
        .dispatch("hotel/roomstyleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roomstyleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //获取房价码下拉框
    getroompriceSelect() {
      this.$store.dispatch("hotel/roompriceSelect").then(result => {
        if (result.code === 0) {
          this.retenameList = result.data;
        } else {
          this.$message.error(result.msg);
        }
      });
    }
  }
};
</script>