<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-08-07 11:05:45
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="类目管理" title2="类目基础信息"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="180" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                >查看</el-button>
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row, 1)"
                >编辑</el-button>
                <el-button
                  style="color: red"
                  type="text"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.$index, scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="categoryname" label="类目名称"></el-table-column>
            <el-table-column prop="status" label="状态">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '启用' : scope.row.status === 0 ? '未启用' : ''}}</template>
            </el-table-column>
            <el-table-column prop="sort" label="排序"></el-table-column>
            <el-table-column prop="level" label="深度"></el-table-column>
            <el-table-column prop="parentid" label="父类目ID"></el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="500px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="110px"
        :rules="rules"
        :inline="true"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="类目名称" prop="categoryname">
              <el-input
                v-model="form.categoryname"
                clearable
                placeholder="请输入"
                style="width: 250px"
              ></el-input>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="上级分类" prop="parentid">
              <el-select
                v-model="form.parentid"
                clearable
                placeholder="请选择"
                style="width: 250px"
              >
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.id +'-'+item.categoryname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" clearable placeholder="请输入" style="width: 250px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <el-dialog title="子类目" :visible.sync="dialogTableVisible" width="900px">
      <el-table :data="childData" height="400">
        <el-table-column label="操作" width="180" align="center" fixed="left">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row, 2)"
            >编辑</el-button>
            <el-button
              style="color: red"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
        <el-table-column prop="id" label="ID" width="80"></el-table-column>
        <el-table-column prop="categoryname" label="类目名称"></el-table-column>
        <el-table-column prop="status" label="状态">
          <template
            slot-scope="scope"
          >{{scope.row.status === 1 ? '启用' : scope.row.status === 0 ? '未启用' : ''}}</template>
        </el-table-column>
        <el-table-column prop="sort" label="排序"></el-table-column>
        <el-table-column prop="level" label="深度"></el-table-column>
        <el-table-column prop="parentid" label="父类目ID"></el-table-column>
        <el-table-column prop="createDate" label="创建时间"></el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (!/^\d+$/.test(value)) {
        callback(new Error("请输入数字值"));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      form: {
        parentid: "",
        categoryname: "",
        status: 1,
        sort: "",
      },
      rules: {
        categoryname: [
          { required: true, message: "不能为空", trigger: "blur" },
        ],
        parentid: [{ required: true, message: "不能为空", trigger: "change" }],
        status: [{ required: true, message: "不能为空", trigger: "blur" }],
        sort: [{ required: true, validator: checkNum, trigger: "blur" }],
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      typeList: [],
      dialogTableVisible: false,
      childData: [],
      clicklevel: 1,
      rowid: 0
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {},
  created() {
    this.gotData();
    this.gotTypeList();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
      };
      this.loading = true;
      this.$store
        .dispatch("store/categoryList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
      this.gotTypeList();
    },
    //打开编辑窗口
    handleEdit(index, row, type) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      this.rowData = row;
      this.gotTypeList(type);
      this.form = {
        parentid: row.parentid,
        categoryname: row.categoryname,
        sort: row.sort,
        status: row.status
      };
    },

    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let params = {
            parentid: this.form.parentid,
            categoryname: this.form.categoryname,
            sort: this.form.sort,
            status: this.form.status
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/categorySave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/categoryUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.visible = false;
            this.$message.success("编辑成功");
            if (this.rowData.level === 2) {
              this.catData();
            } else {
              this.gotData();
            }
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        parentid: "",
        categoryname: "",
        status: 1,
        sort: "",
      };
      this.rowData = {};
    },
    handleCat(index, row) {
      this.rowid = row.id;
      this.dialogTableVisible = true;
      this.childData = [];
      this.catData();
    },
    catData() {
      const dataparams = {
        id: this.rowid,
      };
      this.$store
        .dispatch("store/categoryChild", {
          data: dataparams,
        })
        .then((result) => {
          if (result.code === 0) {
            this.childData = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleDelete(index, row) {
      this.rowData = row;
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit();
        })
        .catch(() => {});
    },
    deleteSubmit() {
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/categoryDelete", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            if (this.rowData.level === 2) {
              this.catData();
            } else {
              this.gotData();
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 顶级目录
    gotTypeList(type) {
      const dataparams = {};
      this.$store
        .dispatch("store/categoryPull", {
          data: dataparams,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data;
            if (type === 1) {
              // 一级编辑
              this.typeList = [{ categoryname: "顶级类目", id: 0 }];
            } else if (type === 2) {
              // 二级编辑
               this.typeList = data;
            } else {
              data.unshift({ categoryname: "顶级类目(新增父目录选择)", id: 0 });
              this.typeList = data;
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>

