<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:31:38
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 250px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="储值卡绑定"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="会员姓名" prop="truename">
                  <el-input
                    v-model="searchform.truename"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="储值卡号" prop="valueCardCode">
                  <el-input
                    v-model="searchform.valueCardCode"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handldeAdd">绑定</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="70" fixed="left" center>
              <template slot-scope="scope">
                <el-button
                  v-if="scope.row.binding === 0"
                  size="mini"
                  type="text"
                  icon="el-icon-delete"
                  style="color:red"
                  @click="handleDelete(scope.$index, scope.row)"
                >解绑</el-button>
                <span v-else>已解绑</span>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="truename" label="会员姓名"></el-table-column>
            <el-table-column prop="phone" label="会员手机号"></el-table-column>
            <el-table-column prop="valueCardCode" label="储值卡号"></el-table-column>
            <el-table-column prop="binding" label="绑定状态">
              <template slot-scope="scope">
                <span v-if="scope.row.binding === 0" style="color: #67C23A">已绑定</span>
                <span v-else-if="scope.row.binding === 1">已解绑</span>
              </template>
            </el-table-column>
            <el-table-column prop="bindname" label="绑定人"></el-table-column>
            <el-table-column prop="createDate" label="绑定时间"></el-table-column>
            <el-table-column prop="cancelname" label="解绑人"></el-table-column>
            <el-table-column prop="updateDate" label="解绑时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 绑卡 -->
    <el-dialog
      title="绑卡操作"
      :visible.sync="visible"
      :close-on-click-modal="false"
      width="800px"
      @close="closeDialog"
    >
      <el-form
        ref="form"
        :rules="rules"
        :model="form"
        :inline="true"
        class="operate-form-box"
        label-width="100px"
      >
        <el-row>
          <el-col>
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="form.phone" clearable placeholder="请输入" style="width: 520px"></el-input>
              <el-button
                type="primary"
                size="mini"
                @click="handleSearchPhone"
                style="margin-left: 15px"
              >查询</el-button>
            </el-form-item>
          </el-col>
          <el-col v-show="form.usercode">
            <el-form-item label="会员ID" prop="usercode">
              <el-input
                v-model="form.usercode"
                clearable
                placeholder="请输入"
                disabled
                style="width: 520px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="储值卡号" prop="valueCardCode">
              <el-input
                v-model="form.valueCardCode"
                clearable
                placeholder="请输入"
                style="width: 520px"
              ></el-input>
              <el-button
                type="primary"
                size="mini"
                @click="handleSendCode"
                style="margin-left: 15px"
              >短信发送</el-button>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="验证码" prop="code">
              <el-input v-model="form.code" clearable placeholder="请输入" style="width: 520px"></el-input>
              <el-button
                type="primary"
                size="mini"
                @click="handleCheckCode"
                style="margin-left: 15px"
              >校对验证码</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handldeAddSave('form')">绑定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    const checkAmount = (rule, value, callback) => {
      if (!/^\d+$/.test(value)) {
        callback(new Error("请输入数值不合法"));
      } else {
        callback();
      }
    };
    return {
      searchform: {
        truename: "",
        valueCardCode: ""
      },
      searchresult: {
        truename: "",
        valueCardCode: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        valueCardCode: "",
        usercode: "",
        truename: "",
        phone: "",
        code: ""
      },
      rules: {
        phone: [{ required: true, message: "不能为空", trigger: "blur" }],
        valueCardCode: { required: true, message: "不能为空", trigger: "blur" },
        code: { required: true, message: "不能为空", trigger: "blur" },
        usercode: { required: true, message: "不能为空", trigger: "blur" }
      },
      visible: false,
      rowData: {},
      ischeckcode: false
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        valueCardCode: this.searchresult.valueCardCode,
        truename: this.searchresult.truename
      };
      this.loading = true;
      //获取数据
      this.$store
        .dispatch("member/cardbindingList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handldeAdd() {
      this.visible = true;
    },
    handldeAddSave(formName) {
      if (this.ischeckcode) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            const loading = this.$loading({
              lock: true,
              text: "数据提交中...",
              spinner: "el-icon-loading",
              background: "rgba(0, 0, 0, 0.7)"
            });
            const params = {
              userid: this.form.usercode,
              valueCardCode: this.form.valueCardCode,
              binding: 0,
              creater: this.userinfo.userid
            };
            this.$store
              .dispatch("member/cardbindingBind", {
                data: params
              })
              .then(result => {
                loading.close();
                if (result.code === 0) {
                  this.$message.success("绑定成功");
                  this.visible = false;
                  this.gotData();
                } else if (result.code === 401) {
                  this.visible = false;
                  this.$message.error(result.msg);
                } else {
                  let msg = result.data
                    ? result.data.message
                    : result.msg;
                  this.$message.error(msg);
                }
              });
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      } else {
        this.$message.warning("请先进行校验验证码操作");
      }
    },
    // 获取用户信息
    handleSearchPhone() {
      if (!/^1[23456789]\d{9}$/.test(this.form.phone)) {
        this.$message.warning("手机号码不合法");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("member/depositRecordInfo", { data: this.form.phone })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            const data = result.data;
            if (data) {
              this.form = {
                ...this.form,
                usercode: data.usercode,
                truename: data.truename
              };
            }
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            let msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 发送验证码
    handleSendCode() {
      if (!this.form.valueCardCode) {
        this.$message.warning("储值卡号不能为空");
        return;
      }
      const dataparams = {
        valueCardCode: this.form.valueCardCode
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("member/cardbindingSendCode", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("验证码发送成功");
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            let msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 校验验证码
    handleCheckCode() {
      if (!/^\d+$/.test(this.form.code)) {
        this.$message.warning("请输入正确验证码");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("member/cardbindingCheckCode", { data: this.form.code })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.ischeckcode = true;
            this.$message.success("验证码校验成功");
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            let msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    handleSave() {},
    closeDialog() {},
    // 解绑
    handleDelete(index, row) {
      this.$confirm("确定要解绑此储值卡吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          const dataparams = {
            id: row.id,
            binding: 1,
            updater: this.userinfo.userid
          };
          const loading = this.$loading({
            lock: true,
            text: "数据提交中",
            spinner: "el-icon-loading",
            background: "rgba(0,0,0,0.7)"
          });
          this.$store
            .dispatch("member/cardbindingCancel", { data: dataparams })
            .then(result => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("解绑成功");
                this.gotData();
              } else if (result.code === 401) {
              } else {
                this.$message.error(result.msg);
              }
            });
        })
        .catch(() => {});
    },
    handleDateTime(start, end) {
      if (start && end) {
        return start.split(" ")[0] + "至" + end.split(" ")[0];
      }
      return "";
    }
  }
};
</script>
