<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-09 14:56:52
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\hotel\index.vue
 -->
<style lang="scss">
</style>
<template>
  <div class="page-container">
    <v-breadcrumb
      title="酒店基础管理"
      title2="品牌管理"
    ></v-breadcrumb>
    <div class="content-container">
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button
            type="primary"
            @click="handleAdd"
          >新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="80"
              align="center"
              fixed="left"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="ID"
              width="70"
            ></el-table-column>
            <el-table-column
              prop="brandname"
              label="品牌"
            ></el-table-column>
            <el-table-column
              prop="englishname"
              label="英文名"
            ></el-table-column>
            <el-table-column
              prop="brandlocation"
              label="品牌定位"
            ></el-table-column>
            <el-table-column
              prop="description"
              label="品牌宣言"
            ></el-table-column>
            <el-table-column
              prop="isDeleted"
              label="是否启用"
              width="90"
            >
              <template slot-scope="scope">{{scope.row.isDeleted === 0 ? '启用' : '未启用' }}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-tabs
        v-model="tabName"
        @tab-click="handleActiveClick"
      >
        <el-tab-pane
          label="基本信息"
          name="1"
        >
          <el-form
            ref="form"
            :model="form"
            :inline="true"
            :rules="rules"
            label-width="90px"
            class="operate-form-box"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item
                  label="品牌名称"
                  prop="brandname"
                >
                  <el-input
                    v-model="form.brandname"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item
                  label="英文名"
                  prop="englishname"
                >
                  <el-input
                    v-model="form.englishname"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item
                  label="品牌定位"
                  prop="brandlocation"
                >
                  <el-select
                    v-model="form.brandlocation"
                    placeholder="请选择"
                    class="form-ipt-width"
                  >
                    <el-option
                      v-for="item in brandList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.name"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="品牌宣言"
                  prop="description"
                >
                  <el-input
                    v-model="form.description"
                    style="width:740px"
                    placeholder="请输入"
                    clearable
                    :rows="3"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="品牌特色"
                  prop="feature"
                >
                  <el-input
                    v-model="form.feature"
                    style="width:740px"
                    placeholder="请输入"
                    clearable
                    :rows="3"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="状态"
                  prop="isDeleted"
                >
                  <el-radio-group v-model="form.isDeleted">
                    <el-radio :label="0">启用</el-radio>
                    <el-radio :label="1">不启用</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <div style="text-align: center; margin-top: 10px">
            <el-button
              type="primary"
              size="mini"
              @click="handleSave('form')"
            >确 定</el-button>
          </div>
        </el-tab-pane>
        <el-tab-pane
          label="图片信息"
          name="2"
          :disabled="actionType === 1"
        >
          <ImagesList
            v-if="parseInt(tabName) === 2"
            :detailId="rowid"
          ></ImagesList>
        </el-tab-pane>
        <el-tab-pane
          label="品牌介绍"
          name="3"
          :disabled="actionType === 1"
        >
          <IntrToduction
            v-if="parseInt(tabName) === 3"
            :detailId="rowid"
          ></IntrToduction>
        </el-tab-pane>
        <el-tab-pane
          label="代表酒店"
          name="4"
          :disabled="actionType === 1"
        >
          <Label
            v-if="parseInt(tabName) === 4"
            :detailId="rowid"
          ></Label>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ImagesList from "./component/imageslist.vue";
import Label from "./component/label.vue";
import IntrToduction from "./component/introduction.vue";

export default {
  data() {
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        brandlocation: "",
        brandname: "",
        description: "",
        englishname: "",
        feature: "",
        introduce: "",
        isDeleted: 0,
      },
      rules: {
        brandlocation: [
          { required: true, message: "不能为空", trigger: "blur" },
        ],
        brandname: [{ required: true, message: "不能为空", trigger: "blur" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }],
        englishname: [{ required: true, message: "不能为空", trigger: "blur" }],
        feature: [{ required: true, message: "不能为空", trigger: "blur" }],
        introduce: [{ required: true, message: "不能为空", trigger: "blur" }],
        isDeleted: [{ required: true, message: "不能为空", trigger: "blur" }],
      },
      tabName: "1",
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      hotelList: [],
      brandList: [
        { name: "高端商旅", id: 1 },
        { name: "城市精品", id: 2 },
        { name: "主题度假", id: 3 },
      ],
      provinceList: [],
      cityList: [],
      districtList: [],
      starList: [
        {
          id: 3,
          label: "三星/舒适",
        },
        {
          id: 4,
          label: "四星/高档",
        },
        {
          id: 5,
          label: "五星/豪华",
        },
      ],
      typeList: [
        {
          id: 0,
          label: "自营",
        },
        {
          id: 1,
          label: "非自营",
        },
      ],
      rowid: "",
    };
  },
  components: {
    vBreadcrumb,
    ImagesList,
    Label,
    IntrToduction,
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/brandList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleActiveClick() {},
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id,
      };
      this.rowid = row.id;
      //详情
      this.$store
        .dispatch("hotel/brandDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              brandlocation: data.brandlocation,
              brandname: data.brandname,
              description: data.description,
              englishname: data.englishname,
              feature: data.feature,
              introduce: data.introduce,
              isDeleted: data.isDeleted,
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            brandlocation: this.form.brandlocation,
            brandname: this.form.brandname,
            description: this.form.description,
            englishname: this.form.englishname,
            feature: this.form.feature,
            introduce: this.form.introduce,
            isDeleted: this.form.isDeleted,
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("hotel/brandSave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.rowid = result.data.id;
            this.actionType = 2;
            this.tabName = "2";
            const row = {
              id: result.data.id,
            };
            this.handleEdit(0, row);
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("hotel/brandUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        brandlocation: "",
        brandname: "",
        description: "",
        englishname: "",
        feature: "",
        introduce: "",
        isDeleted: 0,
      };
      this.tabName = "1";
    },
  },
};
</script>

