<template>
  <div class="login-wrap">
    <div class="ms-login">
      <div class="ms-title">远洲中台系统</div>
      <div class="login2-ms-content">
        <div class="login-btn">
          <div :class="['login-btn-text', {'login-btn-textactive': type === 2}]">{{logintext}}</div>
          <el-button type="primary" @click="submitForm" :style="{'visibility': type === 2 ? 'visible' : 'hidden'}">密码登录</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { systemno } from '@/config/systemid'
export default {
  data() {
    return {
      result: {},
      logintext: "自动登录中...",
      type: 1
    };
  },
  created() {
    console.log(process.env.VUE_APP_SYSTEMNO);
    const sessionid = this.getQueryString('sessionid');
    // console.log(sessionid)
    if (sessionid) {
      this.handleCheck(sessionid);
    }
  },
  methods: {
    submitForm() {
      this.$router.replace('/login');
    },
    handleCheck(sessionid) {
      // 登录
      const params = {
        sessionid: sessionid,
        systemno: process.env.VUE_APP_SYSTEMNO,
        appid: ''
      };
      this.logintext = "授权中...";
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("user/logincheck", {
          data: params
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            const data = result.data;
            this.handleLogin(data.username);
            this.logintext = "授权成功";
            this.type = 1
          } else {
            this.logintext = "授权失败" + result.msg;
            this.type = 2
          }
        });
    },
    handleLogin(username) {
      // 登录
      const params = {
        username: username
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.logintext = "自动登录中...";
      this.$store
        .dispatch("user/login2", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.result = result.data;
            this.logintext = "自动登录成功";
            this.type = 1;
            this.handleEnter();
          } else {
            this.logintext = "自动登录失败" + result.msg;
            this.type = 2
          }
        });
    },
    handleEnter() {
      let data = this.result;
      const hotelIdList = data.hotelIdList ? data.hotelIdList : [];
      const userinfo = {
        userid: data.userId,
        username: data.username,
        token: data.token,
        name: data.nickname,
        logo: data.logourl,
        appList: data.applist,
        roleHotelId: hotelIdList,
      };
      if (data.applist.length > 0) {
        const httpparam = {
          appcode: data.applist[0].code,
          modcode: "",
          actcode: ""
        };
        localStorage.setItem("codezhongtai", JSON.stringify(httpparam));
        localStorage.setItem("yzzhongtai", JSON.stringify(userinfo));
        this.$router.push("/");
      } else {
        this.$message.warning("对不起，您没有菜单权限，请联系管理员");
      }
    },
    getQueryString(name) {
      //encodeURI decodeURI encodeURIComponent decodeURIComponent
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) {
        return r[2];
      } else {
        return null;
      }
    }
  }
};
</script>

<style scoped>
.login-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url("~@/assets/images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ms-title {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  margin: -180px 0 0 -175px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.login2-ms-content {
  padding: 30px 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn {
  width: 90%;
  text-align: center;
}
.login-btn button {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
}
.login-tips {
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.login-tips span.login-tips-span {
  display: block;
  width: 30%;
  height: 30px;
  cursor: pointer;
}
.login-tips span.login-tips-span:nth-child(1) {
  float: left;
  color: #409eff;
}
.login-tips span.login-tips-span:nth-child(2) {
  float: right;
  text-align: right;
  color: #f56c6c;
}
.login-btn-text {
  font-size: 16px;
  margin-bottom: 30px;
  color: #409EFF;
}
.login-btn-textactive {
  color:#F56C6C;
  
}
</style>
