<!--
 * @Author: your name
 * @Date: 2020-06-28 16:05:29
 * @LastEditTime: 2020-07-15 19:54:07
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\storecommon\compontent\notice.vue
--> 
<style lang="scss" scoped>
.btn-box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
</style>
<template>
  <div class="notice-page">
    <el-form label-position="top">
      <el-form-item label="预定须知" required>
        <el-input
          type="textarea"
          :rows="6"
          placeholder="请输入内容"
          style="resize:none"
          v-model="textarea"
        ></el-input>
      </el-form-item>
      <div class="btn-box">
        <el-button type="primary" @click="handleAddSave">保存</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      textarea: ""
    };
  },
  components: {},
  computed: {},
  created() {},
  mounted() {
    this.gotData();
  },
  methods: {
    //列表数据
    gotData() {
      const params = {};
      this.$store
        .dispatch("store/shoppingconfigNotice", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data;
            if (data) {
              this.textarea = data.bookingdesc;
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 新增保存
    handleAddSave() {
      if (!this.textarea) {
        this.$message.warning("预定须知不能为空");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        bookingdesc: this.textarea
      };
      this.$store
        .dispatch("store/shoppingconfigBook", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("操作成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    }
  }
};
</script>


