<!--
 * @Author: your name
 * @Date: 2020-06-28 16:05:29
 * @LastEditTime: 2020-08-14 14:26:15
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\storecommon\compontent\notice.vue
--> 
<style lang="scss" scoped>
.btn-box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.font-tips {
  font-size: 12px;
}
.area-ul {
  .area-li {
    display: flex;
    .area-li-item {
      font-size: 12px;
    }
    .area-li-1 {
      width: 200px;
    }
  }
}
</style>
<template>
  <div class="carriage-page">
    <el-table
      :data="tableData"
      border
      v-loading="loading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <el-table-column prop="id" label="ID"></el-table-column>
      <el-table-column prop="logisticsname" label="运费模板名"></el-table-column>
      <el-table-column prop="status" label="状态">
        <template
          slot-scope="scope"
        >{{scope.row.status === 1 ? '启用' : scope.row.status === 0 ? '未启用' : ''}}</template>
      </el-table-column>
      <el-table-column prop="createDate" label="创建日期"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="text" icon="el-icon-edit" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
          <el-button
            style="color: red"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.$index, scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="btn-box">
      <el-button type="primary" @click="handleAdd">添加运费模板</el-button>
    </div>
    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="1000px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="110px"
        :rules="rules"
        :inline="true"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="模板标题" prop="logisticsname">
              <el-input
                v-model="form.logisticsname"
                clearable
                placeholder="请输入"
                style="width: 350px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-form-item label="快递公司" prop="express">
            <el-select
              v-model="form.express"
              clearable
              filterable
              placeholder="请选择"
              style="width: 350px"
            >
              <el-option
                v-for="item in companyList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-col :span="24" v-if="form.express === 88">
            <el-form-item label="快递公司" prop="otherexpress">
              <el-input
                v-model="form.otherexpress"
                clearable
                placeholder="请输入"
                style="width: 350px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="计价方式" prop="costtype">
              <el-radio-group v-model="form.costtype" @change="changeCosttype">
                <el-radio :label="1">按件数</el-radio>
                <el-radio :label="2">按重量</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="区域限售" prop="arealimit">
              <el-radio-group v-model="form.arealimit" @change="changeArealimit">
                <el-radio :label="0">不支持</el-radio>
                <el-radio :label="1">支持</el-radio>
              </el-radio-group>
              <div class="font-tips">如果支持区域限售，商品只能在设置了运费的指定地区城市销售</div>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="form.costtype === 1 && form.arealimit === 0">
            <el-form-item label="快递件数设置" required>
              <el-form-item label="首件件数(件)" prop="numCount">
                <el-input v-model="form.numCount" clearable placeholder="请输入"></el-input>
              </el-form-item>
              <el-form-item label="续件件数(件)" prop="numCount2">
                <el-input v-model="form.numCount2" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="form.costtype === 1 && form.arealimit === 0">
            <el-form-item label="快递配送费用" required>
              <el-form-item label="首件费用(元)" prop="amount">
                <el-input v-model="form.amount" clearable placeholder="请输入"></el-input>
              </el-form-item>
              <el-form-item label="续件费用(元)" prop="numAmount2">
                <el-input v-model="form.numAmount2" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="form.costtype === 2 && form.arealimit === 0">
            <el-form-item label="快递重量设置" required>
              <el-form-item label="首重重量(kg)" prop="weightCount">
                <el-input v-model="form.weightCount" clearable placeholder="请输入"></el-input>
              </el-form-item>
              <el-form-item label="续重重量(kg)" prop="weightCount2">
                <el-input v-model="form.weightCount2" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="form.costtype === 2 && form.arealimit === 0">
            <el-form-item label="快递配送费用" required>
              <el-form-item label="首重费用(元)" prop="weightAmount">
                <el-input v-model="form.weightAmount" clearable placeholder="请输入"></el-input>
              </el-form-item>
              <el-form-item label="续重费用(元)" prop="weightAmount2">
                <el-input v-model="form.weightAmount2" clearable placeholder="请输入"></el-input>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="form.arealimit === 1">
            <el-form-item label="配送区域" required>
              <div class="area-ul">
                <el-table border ref="multipleTable" :data="areaData" style="width: 100%">
                  <el-table-column
                    v-for="(item, index) in specscolumns"
                    :key="String(index)"
                    :prop="item.prop"
                    :label="item.label"
                    :width="item.width"
                  >
                    <template slot-scope="scope">
                      <el-input
                        size="mini"
                        placeholder="请输入"
                        v-model="scope.row[item.prop]"
                        clearable
                        v-if="!item.show"
                      ></el-input>
                      <div v-else>{{scope.row[item.prop]}}</div>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作" width="90px">
                    <template slot-scope="scope">
                      <div style="text-align: center">
                        <el-button
                          type="text"
                          icon="el-icon-search"
                          @click="selectProvince(scope.$index, scope.row)"
                        >选择区域</el-button>
                      </div>
                      <div style="text-align: center">
                        <el-button
                          style="color: red"
                          type="text"
                          icon="el-icon-delete"
                          @click="handleAreaDelete(scope.$index, scope.row)"
                        >删除</el-button>
                      </div>
                    </template>
                  </el-table-column>
                </el-table>
                <div style="margin-top: 15px">
                  <el-button type="success" @click="handleAddArea">新增区域</el-button>
                </div>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="logisticestatus">
              <el-radio-group v-model="form.logisticestatus">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <el-dialog title="区域列表" :visible.sync="areavisible" width="800px" :close-on-click-modal="false">
      <el-checkbox-group v-model="checkAreaList" @change="changeArea">
        <el-checkbox
          style="width: 160px"
          :label="item.id"
          v-for="(item) in provinceList"
          :key="item.id"
          :value="item.id"
        >{{item.provincename}}</el-checkbox>
      </el-checkbox-group>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="areavisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleAreaSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { regercent, includezero, positive_num_zero } from "@/utils/reg.js";
export default {
  data() {
    const checkCosttypet = (rule, value, callback) => {
      if (this.form.arealimit === 0) {
        if (this.form.costtype === 1) {
          if (rule.field === "amount" || rule.field === "numAmount2") {
            if (!includezero.test(value)) {
              callback(new Error("输入不合法"));
            } else {
              callback();
            }
          } else if (rule.field === "numCount" || rule.field === "numCount2") {
            if (!positive_num_zero.test(value)) {
              callback(new Error("输入不合法"));
            } else {
              callback();
            }
          } else {
            callback();
          }
        } else {
          if (!includezero.test(value)) {
            callback(new Error("输入不合法"));
          } else {
            callback();
          }
        }
      } else {
        callback();
      }
    };
    var check = (rule, value, callback) => {
      if (this.form.express === 88) {
        if (!value) {
          callback(new Error("不能为空"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      loading: false,
      visible: false,
      form: {
        logisticsname: "",
        express: "",
        costtype: 1,
        arealimit: 0,
        numCount: "",
        numCount2: "",
        amount: "",
        numAmount2: "",
        weightCount: "",
        weightCount2: "",
        weightAmount: "",
        weightAmount2: "",
        logisticestatus: 1,
        otherexpress: "",
      },
      logisticsProvinceDtoList: [],
      rules: {
        logisticsname: [
          { required: true, message: "不能为空", trigger: "blur" },
        ],
        logisticestatus: [
          { required: true, message: "不能为空", trigger: "blur" },
        ],
        express: [{ required: true, message: "不能为空", trigger: "blur" }],
        costtype: [{ required: true, message: "不能为空", trigger: "blur" }],
        arealimit: [{ required: true, message: "不能为空", trigger: "blur" }],
        numCount: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        numCount2: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        amount: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        numAmount2: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        weightCount: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        weightCount2: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        weightAmount: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        weightAmount2: [
          { required: true, validator: checkCosttypet, trigger: "blur" },
        ],
        otherexpress: [{ required: true, validator: check, trigger: "blur" }],
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      companyList: [
        {
          id: "圆通快递",
          name: "圆通快递",
        },
        {
          id: "申通快递",
          name: "申通快递",
        },
        {
          id: "韵达速递",
          name: "韵达速递",
        },
        {
          id: "中通快递",
          name: "中通快递",
        },
        {
          id: "顺丰速运",
          name: "顺丰速运",
        },
        {
          id: "EMS",
          name: "EMS",
        },
        {
          id: "天天快递",
          name: "天天快递",
        },
        {
          id: "邮政包裹",
          name: "邮政包裹",
        },
        {
          id: 88,
          name: "其他",
        },
      ],
      specscolumns: [],
      specscolumns1: [
        {
          prop: "provincename",
          label: "可配送区域",
          width: 150,
          show: true,
        },
        {
          prop: "numCount",
          label: "首件件数(件)",
          width: 120,
        },
        {
          prop: "numAmount",
          label: "首件费用(元)",
          width: 120,
        },
        {
          prop: "numCount2",
          label: "续件件数(件)",
          width: 120,
        },
        {
          prop: "numAmount2",
          label: "续件费用(元)",
          width: 120,
        },
      ],
      specscolumns2: [
        {
          prop: "provincename",
          label: "可配送区域",
          width: 150,
          show: true,
        },
        {
          prop: "numCount",
          label: "首重重量(kg)",
          width: 120,
        },
        {
          prop: "numAmount",
          label: "首重费用(元)",
          width: 120,
        },
        {
          prop: "numCount2",
          label: "续重重量(kg)",
          width: 120,
        },
        {
          prop: "numAmount2",
          label: "续重费用(元)",
          width: 120,
        },
      ],
      areaData: [],
      provinceList: [],
      areavisible: false,
      checkAreaList: [],
      arearowid: 0,
      addid: 0,
    };
  },
  components: {},
  computed: {},
  created() {
    this.gotData();
    this.getProvince();
  },
  mounted() {},
  methods: {
    //列表数据
    gotData() {
      const params = {
        pageNum: 1,
        pageSize: 1000,
      };
      this.$store
        .dispatch("store/logisticsList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data ? result.data.list : [];
            this.tableData = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
      this.specscolumns = this.specscolumns1;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id,
      };
      //详情
      this.$store
        .dispatch("store/logisticsDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const numCount = data.numCount ? data.numCount : "";
            const numCount2 = data.numCount2 ? data.numCount2 : "";
            const amount = data.amount ? data.amount : 0;
            const numAmount2 = data.numAmount2 ? data.numAmount2 : "";
            const weightCount = data.weightCount ? data.weightCount : "";
            const weightCount2 = data.weightCount2 ? data.weightCount2 : "";
            const weightAmount = data.weightAmount ? data.weightAmount : "";
            const weightAmount2 = data.weightAmount2 ? data.weightAmount2 : "";
            let itemindex = this.companyList.findIndex(
              (item) => item.id === data.express
            );
            let express = "";
            let otherexpress = "";
            if (itemindex === -1) {
              express = 88;
              otherexpress = data.express;
            } else {
              express = data.express;
              otherexpress = "";
            }
            const logisticsProvinceVoList = data.logisticsProvinceVoList
              ? data.logisticsProvinceVoList
              : [];

            this.specscolumns = data.costtype === 1 ? this.specscolumns1 : this.specscolumns2;
            // 支持区域限售
            if (data.arealimit === 1) {
              this.areaData = [];
              this.addid = 0;
              if (logisticsProvinceVoList.length > 0) {
                if (data.costtype === 1) {
                  // 件数
                  logisticsProvinceVoList.map((item) => {
                    this.addid++;
                    const json = {
                      addid: this.addid,
                      provincename: item.provinceName,
                      provinceid: item.provinceid,
                      numCount: item.numCount,
                      numAmount: item.numAmount,
                      numCount2: item.numCount2,
                      numAmount2: item.numAmount2,
                    };
                    this.areaData.push(json);
                  });
                } else {
                  // 重量
                  logisticsProvinceVoList.map((item) => {
                    this.addid++;
                    const json = {
                      addid: this.addid,
                      provincename: item.provinceName,
                      provinceid: item.provinceid,
                      numCount: item.weightCount,
                      numAmount: item.weightAmount,
                      numCount2: item.weightCount2,
                      numAmount2: item.weightAmount2,
                    };
                    this.areaData.push(json);
                  });
                }
              }
            }

            this.form = {
              logisticsname: data.logisticsname,
              express: express,
              otherexpress: otherexpress,
              costtype: data.costtype,
              arealimit: data.arealimit,
              numCount: numCount,
              numCount2: numCount2,
              amount: amount,
              numAmount2: numAmount2,
              weightCount: weightCount,
              weightCount2: weightCount2,
              weightAmount: weightAmount,
              weightAmount2: weightAmount2,
              logisticestatus: data.logisticestatus,
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const numCount = this.form.numCount ? this.form.numCount : 0;
          const numCount2 = this.form.numCount2 ? this.form.numCount2 : 0;
          const amount = this.form.amount ? this.form.amount : 0;
          const numAmount2 = this.form.numAmount2 ? this.form.numAmount2 : 0;
          const weightCount = this.form.weightCount ? this.form.weightCount : 0;
          const weightCount2 = this.form.weightCount2
            ? this.form.weightCount2
            : 0;
          const weightAmount = this.form.weightAmount
            ? this.form.weightAmount
            : 0;
          const weightAmount2 = this.form.weightAmount2
            ? this.form.weightAmount2
            : 0;

          const express =
            this.form.express === 88
              ? this.form.otherexpress
              : this.form.express;

          let logisticsProvinceDtoList = [];
          if (this.form.arealimit === 1) {
            if (this.areaData.length <= 0) {
              this.$message.warning("请选择配送区域");
              return;
            }

            // 是否有没有值的字段
            const isedit = this.areaData.findIndex((item) => {
              return (
                !item.provinceid ||
                item.numAmount === "" ||
                item.numAmount2 === "" ||
                item.numCount === "" ||
                item.numCount2 === ""
              );
            });
            if (isedit !== -1) {
              this.$message.warning("配送区域信息填写不完善");
              return;
            }
            if (this.form.costtype === 1) {
              // 件数
              this.areaData.map((item) => {
                const value = {
                  provincename: item.provincename,
                  provinceid: item.provinceid,
                  numAmount: item.numAmount,
                  numAmount2: item.numAmount2,
                  numCount: item.numCount,
                  numCount2: item.numCount2,
                  weightAmount: 0,
                  weightAmount2: 0,
                  weightCount: 0,
                  weightCount2: 0,
                };
                logisticsProvinceDtoList.push(value);
              });
            } else {
              // 按重量
              this.areaData.map((item) => {
                const value = {
                  provincename: item.provincename,
                  provinceid: item.provinceid,
                  numAmount: 0,
                  numAmount2: 0,
                  numCount: 0,
                  numCount2: 0,
                  weightAmount: item.numAmount,
                  weightAmount2: item.numAmount2,
                  weightCount: item.numCount,
                  weightCount2: item.numCount2,
                };
                logisticsProvinceDtoList.push(value);
              });
            }
          }
          let params = {
            logisticsname: this.form.logisticsname,
            express: express,
            costtype: this.form.costtype,
            arealimit: this.form.arealimit,
            numCount: numCount,
            numCount2: numCount2,
            amount: amount,
            numAmount2: numAmount2,
            weightCount: weightCount,
            weightCount2: weightCount2,
            weightAmount: weightAmount,
            weightAmount2: weightAmount2,
            logisticestatus: this.form.logisticestatus,
            logisticsProvinceDtoList: logisticsProvinceDtoList,
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/logisticsSave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/logisticsUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        logisticsname: "",
        express: "",
        costtype: 1,
        arealimit: 0,
        numCount: "",
        numCount2: "",
        amount: "",
        numAmount2: "",
        weightCount: "",
        weightCount2: "",
        weightAmount: "",
        weightAmount2: "",
        logisticestatus: 1
      };
      this.areaData = [];
    },
    handleDelete(index, row) {
      this.rowData = row;
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit();
        })
        .catch(() => {});
    },
    deleteSubmit() {
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/logisticsDelete", {
          data: dataparams
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    changeCosttype() {
      if (this.form.costtype === 1) {
        this.form.weightCount = "";
        this.form.weightCount2 = "";
        this.form.weightAmount = "";
        this.form.weightAmount2 = "";
        this.specscolumns = this.specscolumns1;
      } else {
        this.form.numCount = "";
        this.form.numCount2 = "";
        this.form.numAmount2 = "";
        this.form.amount = "";
        this.specscolumns = this.specscolumns2;
      }
      this.areaData = [];
    },
    changeArealimit() {
      this.areaData = [];
      this.form.numCount = "";
      this.form.numCount2 = "";
      this.form.numAmount2 = "";
      this.form.amount = "";
      this.form.weightCount = "";
      this.form.weightCount2 = "";
      this.form.weightAmount = "";
      this.form.weightAmount2 = "";
    },
    // 删除区域列表
    handleAreaDelete(rowindex, row) {
      const columnsindex = this.areaData.findIndex((value, index, arr) => {
        return value.addid === row.addid;
      });
      this.areaData.splice(columnsindex, 1);
    },
    // 选择省份
    selectProvince(rowindex, row) {
      this.areavisible = true;
      // console.log(row);
      this.arearowid = row.addid;
      this.checkAreaList = [];
      if (row.provinceid) {
        this.checkAreaList.push(row.provinceid);
      }
    },
    // 新增区域
    handleAddArea() {
      this.addid++;
      const item = {
        addid: this.addid,
        provincename: "",
        provinceid: "",
        numCount: "",
        numAmount: "",
        numCount2: "",
        numAmount2: "",
      };
      this.areaData.push(item);
    },
    //获取省级行政单位列表
    getProvince() {
      const params = {};
      this.$store
        .dispatch("store/shopProvince", {
          data: params,
        })
        .then((result) => {
          if (result.code == 0) {
            this.provinceList = result.data;
          }
        });
    },
    handleAreaSave() {
      if (this.checkAreaList.length === 0) {
        this.$message.warning("请选择配送区域");
        return;
      }
      const provinceid = this.checkAreaList[0];
      const provinceList = this.provinceList;
      let arrItem = provinceList.filter((item) => {
        return item.id === provinceid;
      });
      this.areaData.map((item) => {
        if (item.addid === this.arearowid) {
          item.provinceid = arrItem[0].id;
          item.provincename = arrItem[0].provincename;
        }
      });
      this.areavisible = false;
    },
    changeArea() {
      if (this.checkAreaList.length > 1) {
        this.checkAreaList.shift();
      }
    },
  },
};
</script>


