<!--
 * @Author: your name
 * @Date: 2020-06-24 14:00:50
 * @LastEditTime: 2020-09-04 10:32:13
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\storecommon\compontent\homepage.vue
--> 
<style lang="scss" scoped>
.storecommon-page {
  display: flex;
  .storecommon-left {
    .banner-ul {
      padding: 0 15px;
      .banner-li {
        display: flex;
        .banner-li-images {
          width: 180px;
          margin-right: 15px;
        }
        .banner-li-content {
          // width: 200px;
          .banner-li-item {
            display: flex;
            margin-bottom: 15px;
            .banner-li-label {
              margin-right: 10px;
              font-size: 12px;
              color: #909399;
            }
            .banner-li-ipt {
              width: 200px;
            }
          }
        }
      }
    }
    .navlist-wrapper {
      display: flex;
    }
    .navlist-content {
      width: 325px;
      border: 1px solid #e4e7ed;
      padding: 15px;
      box-sizing: border-box;
      .navlist-content-li {
        display: flex;
        margin-bottom: 15px;
        .nav-item-label {
          margin-right: 10px;
          font-size: 12px;
          color: #909399;
          width: 50px;
        }
        .nav-item-ipt {
          width: 200px;
        }
        .nav-item-image {
          width: 40px;
          height: 40px;
        }
      }
    }
    .navlist-ul {
      padding: 0 15px;
      .navlist-li {
        display: flex;
        margin-bottom: 15px;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        .navlist-li-image {
          display: block;
          width: 45px;
          height: 45px;
          border: 1px solid #ccc;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .image-span {
            display: block;
            width: 44px;
            height: 44px;
            line-height: 44px;
            font-size: 12px;
            border-radius: 50%;
          }
        }
        .navlist-li-name {
          margin: 0 30px;
          line-height: 40px;
        }
        &.active {
          .navlist-li-image {
            border-color: #409eff;
          }
          .navlist-li-name {
            color: #409eff;
          }
        }
      }
    }
  }

  .storecommon-right {
  }
  .size-tipe {
    font-size: 10px;
   color: #909399;
    margin-left: 8px;
    line-height: 40px;
  }
}
</style>

<template>
  <div class="storecommon-page">
    <div class="storecommon-left">
      <el-form label-position="top">
        <el-form-item label="首页轮播图(建议数量5个)" required>
          <ul class="banner-ul">
            <li class="banner-li" v-for="item in result" :key="item.id">
              <div class="banner-li-images">
                <upSingleImage
                  :uploadstyle="{width: 180, height: 90}"
                  :config="{type: 5}"
                  :path="item.imageurl"
                  :current="item.id"
                  @upImages="bannerImages"
                ></upSingleImage>
                <div class="size-tipe">建议尺寸：750px*500px</div>
              </div>
              <div class="banner-li-content">
                <div style="text-align: left;margin-bottom: 15px">
                  <el-button
                    type="danger"
                    v-if="item.id"
                    @click="handleDelete(item)"
                  >删除</el-button>
                  <el-button type="primary" v-else @click="handleSave(item)">新增</el-button>
                </div>
                <div class="banner-li-item">
                  <div class="banner-li-label">跳转url</div>
                  <el-input
                    v-model="item.linkurl"
                    placeholder="请输入"
                    class="banner-li-ipt"
                    clearable
                  ></el-input>
                </div>
              </div>
            </li>
          </ul>
        </el-form-item>
        <el-form-item label="导航列表(建议数量4个)" required>
          <div class="navlist-wrapper">
            <ul class="navlist-ul">
              <li
                :class="['navlist-li', rownav.id === item.id ? 'active' : '']"
                v-for="item in resultnav"
                :key="item.id"
                @click="handleEditNav(item)"
              >
                <div class="navlist-li-image">
                  <img :src="item.logourl" alt="..." v-if="item.logourl" class="image-span" />
                  <span class="image-span" v-else></span>
                </div>
                <!-- <div class="navlist-li-name">{{item.title}}</div> -->
              </li>
            </ul>
            <div class="navlist-content">
              <div class="navlist-content-li">
                <div class="nav-item-label">导航名称</div>
                <el-input v-model="rownav.title" placeholder="请输入" class="nav-item-ipt" clearable></el-input>
              </div>
              <div class="navlist-content-li">
                <div class="nav-item-label">图标</div>
                <div class="nav-item-image">
                  <upSingleImage
                    :uploadstyle="{width: 40, height: 40}"
                    :config="{type: 6}"
                    :path="rownav.logourl"
                    :current="rownav.id"
                    @upImages="navImages"
                  ></upSingleImage>
                </div>
                <div class="size-tipe">建议尺寸：150px*150px</div>
              </div>
              <div class="navlist-content-li">
                <div class="nav-item-label">跳转url</div>
                <el-input v-model="rownav.linkurl" placeholder="请输入" class="nav-item-ipt" clearable></el-input>
              </div>
              <div style="text-align: right">
                <el-button type="primary" @click="handleSaveNav">{{rownav.id ? '保存' : '新增'}}</el-button>
                <el-button
                  type="danger"
                  v-if="rownav.id"
                  @click="handleDeleteNav"
                >删除</el-button>
              </div>
            </div>
          </div>
        </el-form-item>
      </el-form>
    </div>
    <div class="storecommon-right"></div>
  </div>
</template>

<script>
import upSingleImage from "@/components/Upload/upSingleImage.vue";
export default {
  data() {
    return {
      result: [
        {
          imageurl: "",
          id: 0,
          linkurl: ""
        }
      ],
      resultnav: [
        {
          id: 0,
          linkurl: "",
          logourl: "",
          title: ""
        }
      ],
      rownav: {
        id: 0,
        linkurl: "",
        logourl: "",
        title: ""
      }
    };
  },
  components: {
    upSingleImage
  },
  computed: {},
  created() {
    this.gotData();
    this.gotDataNav();
  },
  mounted() {},
  methods: {
    bannerImages(param) {
      const { path, id } = param;
      this.result.map((item, index) => {
        if (item.id === 0) {
          item.imageurl = path;
        }
      });
    },
    //列表数据
    gotData() {
      const params = {};
      this.$store
        .dispatch("store/bannerConfigList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data;
            const dataitem = {
              imageurl: "",
              id: 0,
              linkurl: ""
            };
            data.push(dataitem);
            this.result = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(item) {
      if (item.id === 0) {
        if (!item.imageurl) {
          this.$message.warning("请上传轮播图");
          return;
        }
        let params = {
          imageurl: item.imageurl,
          linkurl: item.linkurl
        };
        this.handleAddSave(params);
      } else {
        this.$message.error("数据错误");
      }
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("store/bannerConfigSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    handleDelete(item) {
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          if (item.id !== 0) {
            this.deleteSubmit(item);
          } else {
            this.$message.error("数据错误");
          }
        })
        .catch(() => {});
    },
    deleteSubmit(item) {
      const dataparams = {
        id: item.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("store/bannerConfigDelete", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },

    // 导航列表数据
    gotDataNav() {
      const params = {};
      this.$store
        .dispatch("store/navigationConfigList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data;
            const dataitem = {
              id: 0,
              linkurl: "",
              logourl: "",
              title: ""
            };
            data.unshift(dataitem);
            this.resultnav = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开编辑窗口
    handleEditNav(item) {
      this.rownav = item;
    },
    navImages(param) {
      const { path, id } = param;
      this.rownav.logourl = path;
    },
    // 操作按钮
    handleSaveNav() {
      if (!this.rownav.linkurl) {
        this.$message.warning("请输入跳转url");
        return;
      }
      if (!this.rownav.logourl) {
        this.$message.warning("请上传图标");
        return;
      }
      if (!this.rownav.title) {
        this.$message.warning("请输入导航名称");
        return;
      }
      let params = {
        linkurl: this.rownav.linkurl,
        logourl: this.rownav.logourl,
        title: this.rownav.title
      };
      if (this.rownav.id) {
        this.handleEditSave(params);
      } else {
        this.handleAddSaveNav(params);
      }
    },

    // 导航新增
    handleAddSaveNav(params) {
      const dataparams = {
        ...params
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("store/navigationConfigSave", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.gotDataNav();
            this.resetRow();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },

    // 导航编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rownav.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("store/navigationConfigUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.gotDataNav();
            this.resetRow();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },

    // 导航删除
    handleDeleteNav(item) {
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteSubmitNav();
        })
    },
    deleteSubmitNav() {
      const dataparams = {
        id: this.rownav.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("store/navigationConfigDelete", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotDataNav();
            this.resetRow();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    resetRow () {
      this.rownav = {
        id: 0,
        linkurl: "",
        logourl: "",
        title: ""
      }
    }
  }
};
</script>>