<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:44:05
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="基础设置" title2="预定规则设置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="name" label="预定规则名称"></el-table-column>
            <el-table-column prop="bookingdays" label="最多可预订天数"></el-table-column>
            <el-table-column prop="roomcount" label="最多可预定的房间数">
              <template slot-scope="scope">
                <span v-if="scope.row.roomcountType===1">不限</span>
                <span v-else>{{scope.row.roomcount}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="daterange" label="预定日期范围">
              <template slot-scope="scope">
                <span v-if="scope.row.daterangeType === 1">不限</span>
                <span v-else>{{scope.row.daterange}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="channelName" label="适用渠道"></el-table-column>
            <el-table-column prop="isDeleted" width="80" label="状态">
              <template slot-scope="scope">{{scope.row.isDeleted === 0 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间" width="90"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="160px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="预定规则名称" prop="name">
              <el-input v-model="form.name" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
            <el-form-item label="渠道设置" prop="channel">
              <el-select
                v-model="form.channel"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                :disabled=" actionType === 2 "
              >
                <el-option
                  v-for="item in channelList"
                  :key="item.id"
                  :label="item.id +'-'+item.channelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="最多可预订天数" prop="bookingdays">
              <el-input
                v-model="form.bookingdays"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
              <span style="padding-left:10px">天</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预定时间（最晚）" prop="bookingbegintime">
              <el-time-select
                style="width: 130px"
                class="form-ipt-width"
                v-model="form.bookingbegintime"
                :picker-options="{
                  start: '00:00',
                  end: '23:59'
                }"
                placeholder="选择时间"
              ></el-time-select>
            </el-form-item>
            <span style="padding: 0 20px 0 10px">~</span>
            <el-form-item prop="bookingendtime">
              <el-time-select
                style="width: 130px"
                class="form-ipt-width"
                v-model="form.bookingendtime"
                :picker-options="{
                  start: '00:00',
                  end: '23:59'
                }"
                placeholder="选择时间"
              ></el-time-select>
              <span style="padding-left:30px;color: #999">超过这个时间，客人就不能预定当天的房间</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预定房间数类型" prop="roomcountType">
              <el-radio-group v-model="form.roomcountType">
                <el-radio :label="1">不限</el-radio>
                <el-radio :label="0">固定</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="最多可订房间数" prop="roomcount" v-show="form.roomcountType === 0">
              <el-input v-model="form.roomcount" clearable placeholder="请输入"></el-input>
            </el-form-item>
            <el-form-item v-show="form.roomcountType === 0">
              <span>间</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预定日期范围类型" prop="daterangeType">
              <el-radio-group v-model="form.daterangeType">
                <el-radio :label="1">不限</el-radio>
                <el-radio :label="0">固定</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="预定日期范围天数" prop="daterange" v-show="form.daterangeType === 0">
              <el-input v-model="form.daterange" clearable placeholder="请输入"></el-input>
            </el-form-item>
            <el-form-item v-show="form.daterangeType === 0">
              <span>天</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预订须知" prop="notes">
              <el-input
                v-model="form.notes"
                style="width:540px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="isDeleted">
              <el-radio-group v-model="form.isDeleted">
                <el-radio :label="0">启用</el-radio>
                <el-radio :label="1">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { positive_num, positive_num_zero, decimals_num } from "@/utils/reg.js";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!positive_num.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    var checkNumDate = (rule, value, callback) => {
      if (this.form.daterangeType === 0) {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        if (!positive_num.test(value)) {
          callback(new Error("请输入正整数"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    var checkNumRoom = (rule, value, callback) => {
      if (this.form.roomcountType === 0) {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        if (!positive_num.test(value)) {
          callback(new Error("请输入正整数"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        name: "",
        channel: "",
        bookingdays: "",
        bookingbegintime: "",
        bookingendtime: "",
        roomcount: "",
        roomcountType: 1,
        daterange: "",
        daterangeType: 1,
        notes: "",
        isDeleted: 1
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        channel: [{ required: true, message: "不能为空", trigger: "change" }],
        bookingdays: { required: true, validator: checkNum, trigger: "blur" },
        bookingbegintime: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        bookingendtime: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        isDeleted: [{ required: true, message: "不能为空", trigger: "change" }],
        daterange: { required: true, validator: checkNumDate, trigger: "blur" },
        roomcount: { required: true, validator: checkNumRoom, trigger: "blur" },
        roomcountType: {
          required: true,
          message: "不能为空",
          trigger: "change"
        },
        daterangeType: {
          required: true,
          message: "不能为空",
          trigger: "change"
        }
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      channelList: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
    this.getChannel();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;

      this.$store
        .dispatch("crspirce/bookingruleList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },

    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      //详情
      this.$store
        .dispatch("crspirce/bookingruleDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              name: data.name,
              channel: data.channel,
              bookingdays: data.bookingdays,
              bookingbegintime: data.bookingbegintime,
              bookingendtime: data.bookingendtime,
              roomcount: data.roomcount,
              daterange: data.daterange,
              roomcountType: data.roomcountType,
              daterangeType: data.daterangeType,
              notes: data.notes,
              isDeleted: data.isDeleted
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const roomcount =
            this.form.roomcountType === 0 ? this.form.roomcount : 0;
          const daterange =
            this.form.daterangeType === 0 ? this.form.daterange : 0;
          let params = {
            name: this.form.name,
            channel: this.form.channel,
            bookingdays: this.form.bookingdays,
            bookingbegintime: this.form.bookingbegintime,
            bookingendtime: this.form.bookingendtime,
            roomcount: roomcount,
            daterange: daterange,
            roomcountType: this.form.roomcountType,
            daterangeType: this.form.daterangeType,
            notes: this.form.notes,
            isDeleted: this.form.isDeleted
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/bookingruleSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/bookingruleEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        name: "",
        channel: "",
        bookingdays: "",
        bookingbegintime: "",
        bookingendtime: "",
        roomcount: "",
        roomcountType: 1,
        daterange: "",
        daterangeType: 1,
        notes: "",
        isDeleted: 1
      };
    },
    //获取渠道select
    getChannel() {
      this.getDetailLoading = true;
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: ""
        })
        .then(result => {
          if (result.code === 0) {
            this.getDetailLoading = false;
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
</style>

