<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-11-04 15:10:00
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="权限管理" title2="用户管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="用户姓名" prop="nickname">
                  <el-input
                    v-model="searchform.nickname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="160" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  style="color: red"
                  icon="el-icon-delete"
                  @click="handleResetPass(scope.$index, scope.row)"
                >重置密码</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="username" label="登录名"></el-table-column>
            <el-table-column prop="nickname" label="用户姓名"></el-table-column>
            <el-table-column prop="phone" label="手机号"></el-table-column>
            <el-table-column prop="status" label="状态">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createdate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增/编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="登录名" prop="username">
              <el-input v-model="form.username" style="width: 225px" placeholder="请输入" clearable></el-input>
            </el-form-item>
            <el-form-item label="用户姓名" prop="nickname">
              <el-input v-model="form.nickname" style="width: 225px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="手机号" prop="phone">
              <el-input v-model="form.phone" style="width: 560px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="所属角色" prop="roleids">
              <el-select v-model="form.roleids" multiple placeholder="请选择" style="width: 560px">
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="酒店权限" required>
              <el-transfer
                v-model="hotelIds"
                :data="hotelList"
                :props="{
                  key: 'id',
                  label: 'hotelname'
                }"
                :titles="['酒店列表', '选中列表']"
              ></el-transfer>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (!/^1\d{10}$/.test(value)) {
          callback(new Error("手机号不合法"));
        } else {
          callback();
        }
    };
    return {
      searchform: {
        nickname: ""
      },
      searchresult: {
        nickname: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typeList: [],
      form: {
        username: "",
        nickname: "",
        status: 1,
        logo: "",
        roleids: [],
        phone: ""
      },
      hotelIds: [],
      visible: false,
      rules: {
        username: [{ required: true, message: "不能为空", trigger: "blur" }],
        nickname: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        roleids: [{ required: true, message: "不能为空", trigger: "change" }],
        phone: [{ required: true, validator: checkNum, trigger: "blur" }]
      },
      actionType: 0,
      actionTypeName: "",
      limitAction: [
        {
          appid: 1,
          modelid: 5,
          actionid: 6,
          name: "新增",
          code: "employeeadd",
          disabled: false
        },
        {
          appid: 1,
          modelid: 5,
          actionid: 6,
          name: "编辑",
          code: "employeeedit",
          disabled: false
        }
      ],
      hotelList: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo,
      modelid: state => state.user.modelid
    })
  },
  created() {
    this.gotData();
    this.handleRoleList();
    this.handleHotelList();
    // this.gotlimitAction();
  },
  mounted() {},
  methods: {
    gotlimitAction() {
      const params = {
        userid: this.userinfo.userid,
        modelid: this.modelid
      };
      this.$store
        .dispatch("user/modelAction", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            for (let i = 0; i < this.limitAction.length; i++) {
              for (let j = 0; j < data.length; i++) {
                if (this.limitAction[i].actionid === data[j].actionid) {
                  this.limitAction[i].disabled = true;
                }
              }
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        nickname: this.searchresult.nickname,
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("user/userList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data;
            this.total = result.count;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.hotelIds.length <= 0) {
            this.$message.warning("请选择酒店权限");
            return;
          }
          const params = {
            username: this.form.username,
            nickname: this.form.nickname,
            status: this.form.status,
            logo: this.form.logo,
            roleids: this.form.roleids,
            hotelIds: this.hotelIds,
            phone: this.form.phone
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "用户新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("user/userAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "用户编辑";
      // 用户详情
      this.$store
        .dispatch("user/userDetail", {
          data: row.id
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              username: data.username,
              nickname: data.nickname,
              status: data.status,
              logo: data.logo,
              roleids: data.roleids,
              phone: data.phone
            };
            this.hotelIds = data.hotelIds;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("user/userEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        username: "",
        nickname: "",
        status: 1,
        logo: "",
        roleids: []
      };
      this.hotelIds = [];
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    // 角色下拉
    handleRoleList() {
      const params = {};
      this.$store
        .dispatch("user/roleListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.typeList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleHotelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelectAll", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetPass(index, row) {
      this.$confirm("确定要重置密码吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.handleResetPassSave(row.id);
        })
        .catch(() => {
          console.log("取消");
        });
    },
    handleResetPassSave (id) {
      const params = {
        id: id
      };
      this.$store
        .dispatch("user/userResetPassword", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.$message.success("重置密码成功");
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

