<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-10 15:54:42
 * @LastEditors: Please set LastEditors
 * @Description: 房价管理
 * @FilePath: \mini-admin\src\views\crsprice\index.vue
 -->
<style lang="scss" scoped>
.crsprice-page {
  .date-box {
    text-align: left;
    padding: 15px 15px 33px;
    .checkbox-item {
      margin-bottom: 10px;
    }
  }

  .form-container-flex {
    width: 980px;
    margin: 40px auto 15px;
    display: flex;
    justify-content: space-between;
  }
  .date-table {
    width: 980px;
    margin: 0 auto;
    .date-table-header {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #f1f1f1;
      padding: 0;
      margin: 0;
      .date-table-title {
        width: 140px;
        height: 50px;
        box-sizing: border-box;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;
        text-align: center;
        line-height: 48px;
        font-size: 14px;
        &:nth-child(1),
        &:nth-child(7) {
          background: #fff5f5;
        }
      }
    }
    .date-table-ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #f1f1f1;
      padding: 0;
      margin: 0;
      .date-table-li {
        padding: 0;
        margin: 0;
        width: 140px;
        height: 80px;
        box-sizing: border-box;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        font-size: 10px;
        &:nth-child(7n + 1),
        &:nth-child(7n) {
          background: #fff5f5;
        }
        .date-table-li-name {
          padding: 10px 8px;
          margin-bottom: 5px;
        }
        .date-table-li-price {
          text-align: right;
          padding: 0 10px;
          margin-bottom: 5px;
        }
        .date-table-li-num {
          text-align: right;
          padding: 0 10px;
        }
        &.date-li-red {
          .date-table-li-name {
            color: #e02020;
          }
        }
        &.date-li-disbaled {
          background: #d7d9dd;
          opacity: 0.8;
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container crsprice-page">
    <v-breadcrumb title="渠道管理" title2="房价管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 180px"
                    @change="gotRoomstyleByIdList"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id +'-'+item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房型" prop="roomid">
                  <el-select
                    v-model="searchform.roomid"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 180px"
                    @change="gotRoompriceByIdList"
                  >
                    <el-option
                      v-for="item in roomstyleByIdList"
                      :key="item.id"
                      :label="item.id +'-'+ item.roomname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房价码" prop="roomrate">
                  <el-select
                    v-model="searchform.roomrate"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 180px"
                    @change="gotData"
                  >
                    <el-option
                      v-for="item in roompriceByIdList"
                      :key="item.id"
                      :label="item.roomrate +'-'+item.ratename"
                      :value="item.roomrate"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-show="false">
                <el-form-item label-width="0">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>房价日历
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container form-container-flex">
          <div class="form-container-item">
            <el-tag type="info" style="cursor: pointer;" @click="handleNextMonth(1)">
              <i class="el-icon-arrow-left"></i>
            </el-tag>
            <el-date-picker
              v-model="mydate"
              value-format="yyyy-MM"
              type="month"
              placeholder="选择月份"
              style="width: 120px;margin: 0 6px"
              :clearable="false"
              @change="changeMonth"
            ></el-date-picker>
            <el-tag type="info" style="cursor: pointer;" @click="handleNextMonth(2)">
              <i class="el-icon-arrow-right"></i>
            </el-tag>
          </div>
          <div class="form-container-item">
            <el-button type="primary" @click="handleEdit">批量修改</el-button>
          </div>
        </div>
        <div
          class="container-table"
          v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <div class="date-table">
            <ul class="date-table-header">
              <li class="date-table-title" v-for="item in weekDataList" :key="item.id">{{item.name}}</li>
            </ul>
            <ul class="date-table-ul">
              <li
                class="date-table-li"
                :class="[item.disabled ? 'date-li-disbaled' : item.text ? 'date-li-red' : '']"
                v-for="(item,index) in dateData"
                :key="index"
              >
                <div class="date-table-li-name">
                  {{item.value}}
                  <span v-show="item.text">({{item.text}})</span>
                </div>
                <div class="date-table-li-price" v-show="item.priceStr !== ''">{{item.priceStr}}</div>
                <div class="date-table-li-num" v-show="item.count !== ''">可住房间数：{{item.count}}</div>
              </li>
            </ul>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 批量修改 -->
    <el-dialog
      title="批量修改房价"
      :visible.sync="visible"
      width="900px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="80px"
        :inline="true"
        class="operate-form-box"
        :rules="rules"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="开始时间" prop="beginDate">
              <el-date-picker
                v-model="form.beginDate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择开始时间"
                clearable
                @change="handlecheckDate(1)"
                :picker-options="pickerOptionsStart"
                style="width: 220px"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="endDate">
              <el-date-picker
                v-model="form.endDate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择结束时间"
                clearable
                :picker-options="pickerOptionsEnd"
                style="width: 220px"
                @change="handlecheckDate(2)"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label-width="0px" prop="basicDateType">
              <el-select
                v-model="form.basicDateType"
                placeholder="请选择"
                class="form-ipt-width"
                @change="changeDateType"
              >
                <el-option
                  v-for="item in dateTypeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <div
              style="text-align:center;padding: 15px 0 33px;"
              v-show="form.basicDateType === 71234"
            >
              <el-checkbox-group v-model="weekValueList">
                <el-checkbox
                  v-for="item in weekDataList"
                  :key="item.id"
                  :label="item.id"
                >{{item.name}}</el-checkbox>
              </el-checkbox-group>
            </div>
            <div v-show="form.basicDateType === 1234">
              <div class="date-box" v-show="dayDataList.length > 0">
                <el-checkbox-group v-model="dayValueList" @change="handleCheckedChange">
                  <el-checkbox
                    v-for="(day, index) in dayDataList"
                    :key="index"
                    :label="day.value"
                    class="checkbox-item"
                  >{{day.name}}</el-checkbox>
                </el-checkbox-group>
                <div style="margin-top: 15px">
                  <el-checkbox
                    :indeterminate="isIndeterminate"
                    v-model="checkAll"
                    @change="handleCheckAllChange"
                  >{{checkAll ? '取消全选' : '全选'}}</el-checkbox>
                </div>
              </div>
            </div>
          </el-col>
          <el-col :span="24">
            <el-form-item label="酒店名称" prop="hotelid">
              <el-select
                v-model="form.hotelid"
                clearable
                filterable
                placeholder="请选择酒店"
                style="width:530px"
                @change="gotRoompriceTreenode"
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id + '-' + item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房型/房价" required label-width="85px">
              <div style="width: 530px">
                <el-tree
                  :data="treeData"
                  show-checkbox
                  node-key="id"
                  ref="tree"
                  empty-text="暂无数据，请选择酒店"
                  :props="defaultProps"
                  :default-expand-all="true"
                ></el-tree>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="设置房价" prop="updateType">
              <el-radio-group v-model="form.updateType">
                <el-radio :label="1">减价</el-radio>
                <el-radio :label="2">加价</el-radio>
                <el-radio :label="3">折扣</el-radio>
                <el-radio :label="4">固定金额</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房价设置" prop="price">
              <el-input v-model="form.price" clearable placeholder="请输入" style="width:530px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { decimals_num, includezero } from "@/utils/reg.js";
import calendar from "@/utils/calendar.js";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (this.form.updateType === 3) {
        if (!decimals_num.test(value)) {
          callback(new Error("输入不合法，例如1折输入0.1"));
        } else {
          callback();
        }
      } else {
        if (!includezero.test(value)) {
          callback(new Error("请输入非负数"));
        } else {
          callback();
        }
      }
    };
    return {
      searchform: {
        hotelid: "",
        roomid: "",
        roomrate: ""
      },
      searchresult: {
        hotelid: "",
        roomid: "",
        roomrate: ""
      },
      mydate: "",
      tableData: [],
      loading: false,
      dateData: [],
      hotelList: [],
      roomstyleByIdList: [],
      roompriceByIdList: [],
      treeData: [],
      defaultProps: {
        children: "children",
        label: "label"
      },
      form: {
        hotelid: "",
        weekArr: [],
        sourceList: [],
        treeArr: [],
        updateType: 1,
        price: "",
        beginDate: "",
        endDate: "",
        basicDateType: 1234
      },
      rules: {
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        updateType: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        price: [{ required: true, validator: checkNum, trigger: "blur" }],
        beginDate: [{ required: true, message: "不能为空", trigger: "change" }],
        endDate: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      visible: false,
      pickerOptionsStart: {
        disabledDate: date => {
          let enddate = this.form.endDate;
          if (enddate) {
            const stdvalue = enddate.replace(/-/g, "/");
            return date.getTime() > new Date(stdvalue).getTime();
          }
        }
      },
      pickerOptionsEnd: {
        disabledDate: date => {
          let startdate = this.form.beginDate;
          if (startdate) {
            const stdvalue = startdate.replace(/-/g, "/");
            return date.getTime() < new Date(stdvalue).getTime();
          }
        }
      },
      dateTypeList: [
        {
          name: "每日",
          id: 1234
        },
        {
          name: "每周",
          id: 71234
        }
      ],
      weekDataList: [
        {
          name: "星期日",
          id: "星期日"
        },
        {
          name: "星期一",
          id: "星期一"
        },
        {
          name: "星期二",
          id: "星期二"
        },
        {
          name: "星期三",
          id: "星期三"
        },
        {
          name: "星期四",
          id: "星期四"
        },
        {
          name: "星期五",
          id: "星期五"
        },
        {
          name: "星期六",
          id: "星期六"
        }
      ],
      weekValueList: [],
      dayDataList: [],
      dayValueList: [],
      festival: {
        lunar: {
          "1-1": "春节",
          "1-15": "元宵节",
          "2-2": "龙头节",
          "5-5": "端午节",
          "7-7": "七夕节",
          "7-15": "中元节",
          "8-15": "中秋节",
          "9-9": "重阳节",
          "10-1": "寒衣节",
          "10-15": "下元节",
          "12-8": "腊八节",
          "12-23": "祭灶节"
        },
        gregorian: {
          "1-1": "元旦",
          "2-14": "情人节",
          "3-8": "妇女节",
          "3-12": "植树节",
          "4-5": "清明节",
          "5-1": "劳动节",
          "5-4": "青年节",
          "6-1": "儿童节",
          "7-1": "建党节",
          "8-1": "建军节",
          "9-10": "教师节",
          "10-1": "国庆节",
          "12-24": "平安夜",
          "12-25": "圣诞节"
        }
      },
      checkAll: false,
      isIndeterminate: false
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotHotelList();
    this.init();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.gotData();
    },
    //列表数据
    gotData() {
      if (this.searchform.roomrate) {
        this.loading = true;
        const params = {
          hotelid: this.searchform.hotelid,
          roomid: this.searchform.roomid,
          roomrate: this.searchform.roomrate
        };
        this.$store
          .dispatch("crspirce/roompriceList", {
            data: params
          })
          .then(result => {
            // console.log(result);
            this.loading = false;
            if (result.code === 0) {
              this.tableData = result.data;
              //渲染数据
              this.changeMonth();
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //根据酒店ID查询房型下拉
    gotRoomstyleByIdList() {
      this.searchform.roomid = "";
      this.roomstyleByIdList = [];
      this.tableData = [];
      this.searchform.roomrate = "";
      this.roompriceByIdList = [];
      //渲染价格日历数据
      this.changeMonth();
      if (this.searchform.hotelid) {
        const params = {
          id: this.searchform.hotelid
        };
        this.$store
          .dispatch("hotel/roomstyleSelectById", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roomstyleByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    //根据酒店ID房型ID查询房价码下拉
    gotRoompriceByIdList() {
      this.tableData = [];
      this.roompriceByIdList = [];
      this.searchform.roomrate = "";
      //渲染价格日历数据
      this.changeMonth();
      if (this.searchform.hotelid && this.searchform.roomid) {
        const params = {
          hotelid: this.searchform.hotelid,
          roomid: this.searchform.roomid
        };
        this.$store
          .dispatch("hotel/roompriceSelect", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roompriceByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    //酒店关联房价树节点
    gotRoompriceTreenode() {
      if (this.form.hotelid) {
        const params = {
          id: this.form.hotelid
        };
        this.$store
          .dispatch("crspirce/roompriceTreenode", {
            data: params
          })
          .then(result => {
            // console.log(result);
            if (result.code === 0) {
              const data = result.data;
              this.treeData = this.hanldeTreeData(data);
            } else {
              this.$message.error(result.msg);
            }
          });
      } else {
        this.treeData = [];
      }
    },
    hanldeTreeData(treedata) {
      treedata.map(item => {
        if (item.isDeleted === 1) {
          item.disabled = true;
        }
        item.label = item.id + "-" + item.label;
        Array.isArray(item.children) && this.hanldeTreeData(item.children);
      });
      return treedata;
    },
    //批量修改
    handleEdit(row) {
      this.visible = true;
    },
    handleEditSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/crsroompriceBatchupdate", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("修改成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (
            this.form.basicDateType === 1234 &&
            this.dayValueList.length <= 0
          ) {
            this.$message.warning("请选择修改房价的日期");
            return;
          }
          if (
            this.form.basicDateType === 71234 &&
            this.weekValueList.length <= 0
          ) {
            this.$message.warning("请选择修改房价的星期");
            return;
          }
          const treeArrKeys = this.$refs.tree.getCheckedKeys();
          const reg = /^[1-9][0-9]*\-[1-9][0-9]*\-[1-9][0-9]*$/;
          let treeArr = [];
          treeArrKeys.map(item => {
            reg.test(item) && treeArr.push(item);
          });
          if (treeArr.length <= 0) {
            this.$message.warning("请选择房型/房价名称");
            return;
          }
          const params = {
            hotelid: this.form.hotelid,
            weekArr: this.weekValueList,
            sourceList: this.dayValueList,
            treeArr: treeArr,
            updateType: this.form.updateType,
            price: this.form.price,
            begindate: this.form.beginDate,
            endDate: this.form.endDate,
            basicDateType: this.form.basicDateType + ""
          };
          this.handleEditSave(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        weekArr: [],
        sourceList: [],
        treeArr: [],
        updateType: 1,
        price: "",
        hotelid: "",
        beginDate: "",
        endDate: "",
        basicDateType: 1234
      };
      this.dayValueList = [];
      this.weekValueList = [];
      this.treeData = [];
      this.dayDataList = [];
      this.isIndeterminate = false;
      this.checkAll = false;
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    // 切换日期类型
    changeDateType() {
      if (this.form.basicDateType === 1234) {
        this.form.endDate = "";
        this.dayDataList = [];
        this.weekValueList = [];
      } else {
        this.dayDataList = [];
        this.dayValueList = [];
      }
    },
    // 选择的天数跨度不能超过31天
    handlecheckDate(type) {
      if (
        this.form.beginDate &&
        this.form.endDate &&
        this.form.basicDateType === 1234
      ) {
        const begintime = this.form.beginDate.replace(/-/g, "/");
        const endtime = this.form.endDate.replace(/-/g, "/");
        let dotaltime =
          new Date(endtime).getTime() - new Date(begintime).getTime();
        let day = dotaltime / 1000 / 60 / 60 / 24 + 1;
        if (day > 31) {
          this.$message.warning("选择的天数跨度不能超过31天");
          if (type === 1) {
            this.form.beginDate = "";
          } else {
            this.form.endDate = "";
          }
          this.dayDataList = [];
        } else {
          this.gotDaysList();
        }
      } else {
        this.dayDataList = [];
      }
    },
    // 生产天数
    gotDaysList() {
      if (this.form.endDate && this.form.beginDate) {
        const beginDateArr = this.form.beginDate.split("-");
        let beginyear = beginDateArr[0];
        let beginmonth = beginDateArr[1];
        let beginday = beginDateArr[2];
        const endDateArr = this.form.endDate.split("-");
        let endyear = endDateArr[0];
        let endmonth = endDateArr[1];
        let endday = endDateArr[2];

        const begintime = this.form.beginDate.replace(/-/g, "/");
        const endtime = this.form.endDate.replace(/-/g, "/");
        const dotalbegintime = new Date(begintime).getTime();
        const dotalendtime = new Date(endtime).getTime();
        let dotaltime = dotalendtime - dotalbegintime;
        let day = dotaltime / 1000 / 60 / 60 / 24 + 1;
        let days = Array.from(new Array(day), (val, index) => {
          return this.formatDate(dotalbegintime + index * 24 * 60 * 60 * 1000);
        });
        this.dayDataList = days;
      }
    },
    //日期全选
    handleCheckAllChange(val) {
      let dayValueList = [];
      this.dayDataList.map((item) => {
        dayValueList.push(item.value)
      })
      this.dayValueList = val ? dayValueList : [];
      this.isIndeterminate = false;
    },
    // 监听日期选择
    handleCheckedChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.dayDataList.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.dayDataList.length;
    },
    // 时间戳转时间格式
    formatDate(timestamp) {
      let date = new Date(timestamp);
      const year = date.getFullYear();
      const month = parseInt(date.getMonth()) + 1;
      const day = parseInt(date.getDate());
      return {
        name: `${this.fillZero(month)}月${this.fillZero(day)}日`,
        value: `${year}-${this.fillZero(month)}-${this.fillZero(day)}`
      };
    },
    // 双位数
    fillZero(num) {
      return parseInt(num) < 10 ? "0" + num : num;
    },
    //初始化当前月份
    init() {
      let date = new Date();
      const year = parseInt(date.getFullYear(), 10);
      const month = parseInt(date.getMonth(), 10) + 1; //月份+1
      let calendars = this.calendarFactory(year, month);
      this.dateData = calendars;
      // console.log(this.dateData)
      this.mydate = `${year}-${month}`;
    },
    // 切换月份
    changeMonth() {
      const datearr = this.mydate.split("-");
      const year = parseInt(datearr[0]);
      const month = parseInt(datearr[1]);
      let calendars = this.calendarFactory(year, month);
      this.dateData = calendars;
      // console.log(this.dateData)
    },
    //上个月下个月
    handleNextMonth(type) {
      const datearr = this.mydate.split("-");
      let year = parseInt(datearr[0]);
      let month = parseInt(datearr[1]);
      if (type === 1) {
        //上一个月
        if (month <= 1) {
          year--;
          month = 12;
          this.mydate = `${year}-${month}`;
        } else {
          month--;
        }
      } else {
        if (month >= 12) {
          year++;
          month = 1;
        } else {
          month++;
        }
      }
      this.mydate = `${year}-${month}`;
      let calendars = this.calendarFactory(year, month);
      this.dateData = calendars;
    },
    // 获取当前月信息
    calendarFactory(year, month) {
      let daysCount = this.getDays(year, month); //选中月天数
      let startWeek = this.getWeek(year, month); //选中第一天星期几
      //补充前一个月
      let prevYear = year;
      let prevMonth = month - 1;
      if (prevMonth <= 0) {
        prevMonth = 12;
        prevYear -= 1;
      }
      let prevmonthCount = this.getDays(prevYear, prevMonth); //前一个月天数
      let prevdaysAll = Array.from(new Array(prevmonthCount), (val, index) => {
        return index + 1;
      });
      let prevdaysArr = prevdaysAll.filter(item => {
        if (item > prevmonthCount - startWeek) {
          return item;
        }
      });

      let prevdays = prevdaysArr.map((item, index) => {
        let lunarInfo = this.getLunarInfo(prevYear, prevMonth, item);
        let disabled = true;
        return {
          value: item,
          week: new Date(`${prevYear}/${prevMonth}/${item}`).getDay(),
          timestamp: new Date(`${prevYear}/${prevMonth}/${item}`).getTime(),
          text: lunarInfo.lunar,
          disabled: disabled,
          isLunarFestival: lunarInfo.isLunarFestival,
          isGregorianFestival: lunarInfo.isGregorianFestival,
          istody: lunarInfo.istody,
          date: `${prevYear}-${this.fillZero(prevMonth)}-${this.fillZero(
            item
          )}`,
          datestr: `${prevYear}年${this.fillZero(prevMonth)}月${this.fillZero(
            item
          )}日`,
          priceStr: "",
          count: ""
        };
      });

      // console.log(prevdays)
      //补充后一个月
      let nextYear = year;
      let nextMonth = month + 1;
      if (nextMonth > 12) {
        nextMonth = 1;
        nextYear += 1;
      }
      const nextmonthCount = 42 - daysCount - startWeek;

      let nextdaysArr = [];
      if (nextmonthCount > 0) {
        nextdaysArr = Array.from(new Array(nextmonthCount), (val, index) => {
          return index + 1;
        });
      }

      let nextdays = nextdaysArr.map((item, index) => {
        let lunarInfo = this.getLunarInfo(nextYear, nextMonth, item);
        let disabled = true;
        return {
          value: item,
          week: new Date(`${nextYear}/${nextMonth}/${item}`).getDay(),
          timestamp: new Date(`${nextYear}/${nextMonth}/${item}`).getTime(),
          text: lunarInfo.lunar,
          disabled: disabled,
          isLunarFestival: lunarInfo.isLunarFestival,
          isGregorianFestival: lunarInfo.isGregorianFestival,
          istody: lunarInfo.istody,
          date: `${nextYear}-${this.fillZero(nextMonth)}-${this.fillZero(
            item
          )}`,
          datestr: `${nextYear}年${this.fillZero(nextMonth)}月${this.fillZero(
            item
          )}日`,
          priceStr: "",
          count: ""
        };
      });

      // console.log(nextdays);

      //当前月
      // 当前日期
      let date = new Date();
      const curYear = parseInt(date.getFullYear(), 10);
      const curMonth = parseInt(date.getMonth(), 10) + 1; //月份+1
      const curDay = parseInt(date.getDate(), 10);

      let currentdays = Array.from(new Array(daysCount), (val, index) => {
        let dayvalue = index + 1;
        let lunarInfo = this.getLunarInfo(year, month, dayvalue);
        let disabled = false;
        year <= curYear &&
          month <= curMonth &&
          dayvalue < curDay &&
          (disabled = false);
        return {
          value: dayvalue,
          week: new Date(`${year}/${month}/${dayvalue}`).getDay(),
          timestamp: new Date(`${year}/${month}/${dayvalue}`).getTime(),
          text: lunarInfo.lunar,
          disabled: disabled,
          isLunarFestival: lunarInfo.isLunarFestival,
          isGregorianFestival: lunarInfo.isGregorianFestival,
          istody: lunarInfo.istody,
          date: `${year}-${this.fillZero(month)}-${this.fillZero(dayvalue)}`,
          datestr: `${year}年${this.fillZero(month)}月${this.fillZero(
            dayvalue
          )}日`,
          priceStr: "",
          count: ""
        };
      });

      //console.log(currentdays);
      let days = [...prevdays, ...currentdays, ...nextdays];
      let tableData = this.tableData;
      for (let i = 0; i < days.length; i++) {
        for (let j = 0; j < tableData.length; j++) {
          if (days[i].date === tableData[j].months) {
            days[i].priceStr = tableData[j].priceStr;
            days[i].count = tableData[j].count;
          }
        }
      }
      //console.log(days)
      return days;
    },
    //获取一个月多少天
    getDays(year, month) {
      let day = new Date(year, month, 0);
      return day.getDate();
    },
    //当月第一天星期几
    getWeek(year, month) {
      let date = new Date();
      date.setYear(year);
      date.setMonth(month - 1);
      date.setDate(1);
      return date.getDay();
    },
    // 获取农历信息
    getLunarInfo(y, m, d) {
      // 当前日期
      let date = new Date();
      const curYear = parseInt(date.getFullYear(), 10);
      const curMonth = parseInt(date.getMonth(), 10) + 1; //月份+1
      const curDay = parseInt(date.getDate(), 10);

      let lunarInfo = calendar.solar2lunar(y, m, d);
      //lunarInfo.IDayCn
      let lunarValue = "";
      let isLunarFestival = false;
      let isGregorianFestival = false;
      let istody = false;
      if (this.festival.gregorian[m + "-" + d] != undefined) {
        // 阴历
        lunarValue = this.festival.gregorian[m + "-" + d];
        isGregorianFestival = true;
      } else if (
        this.festival.lunar[lunarInfo.lMonth + "-" + lunarInfo.lDay] !=
        undefined
      ) {
        // 阳历
        lunarValue = this.festival.lunar[
          lunarInfo.lMonth + "-" + lunarInfo.lDay
        ];
        isLunarFestival = true;
      } else if (
        curYear === parseInt(y) &&
        curMonth === parseInt(m) &&
        curDay === parseInt(d)
      ) {
        lunarValue = "今天";
        istody = true;
      }
      return {
        lunar: lunarValue,
        isLunarFestival: isLunarFestival,
        isGregorianFestival: isGregorianFestival,
        istody: istody
      };
    }
  }
};
</script>

