<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-26 11:56:31
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">

</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="酒店基础管理" title2="基础信息"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店编码" prop="hotelcode">
                  <el-input v-model="searchform.hotelcode" clearable placeholder="请输入" class="search-input"></el-input>
                </el-form-item>
                <el-form-item label="酒店名称" prop="id">
                  <el-select v-model="searchform.id" clearable filterable @focus="gotHotelList" placeholder="请选择" class="search-input" >
                    <el-option
                      v-for="item in hotellist"
                      :key="item.id"
                      :label="item.hotelname"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table 
            :data="tableData" 
            border 
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column prop="hotelcode" label="酒店编码" width="80"></el-table-column>
            <el-table-column prop="hotelname" label="酒店名称" width="100"></el-table-column>
            <el-table-column prop="brandname" label="品牌" width="100"></el-table-column>
            <el-table-column prop="star" label="星级" width="80"></el-table-column>
            <el-table-column prop="type" label="酒店类型"></el-table-column>
            <el-table-column prop="roomcount" label="总房量" width="80"></el-table-column>
            <el-table-column prop="opendate" label="开业时间"></el-table-column>
            <el-table-column prop="sort" label="优先级" width="80"></el-table-column>
            <el-table-column prop="tel" label="前厅电话"></el-table-column>
            <el-table-column prop="enable" label="是否启用" width="100">
              <template slot-scope="scope">
                {{scope.row.enable === 1 ? '启用' : '未启用' }}
              </template>
            </el-table-column>
            <el-table-column label="操作" width="100" align="center" fixed="right">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog title="新增" :visible.sync="visible" width="967px" @close="closeDialog('form')">
      <el-form ref="form" :model="form" label-width="100px">
          <el-tabs v-model="activeName" @tab-click="handleActiveClick">
            <el-tab-pane label="基本信息" name="first">基本信息</el-tab-pane>
            <el-tab-pane label="图片信息" name="second">图片信息</el-tab-pane>
            <el-tab-pane label="酒店设施" name="third">酒店设施</el-tab-pane>
            <el-tab-pane label="酒店介绍" name="fourth">酒店介绍</el-tab-pane>
            <el-tab-pane label="标签信息" name="five">标签信息</el-tab-pane>
            <el-tab-pane label="提示" name="six">提示</el-tab-pane>
          </el-tabs>
      </el-form>
    </el-dialog>


  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        hotelcode: "",
        id: ''
      },
      searchresult: {
        hotelcode: "",
        id: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      hotellist: [],
      form: {

      },
      visible: false,
      activeName: 'first'
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
     //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
     //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelcode: this.searchresult.hotelcode,
        id: this.searchresult.id,
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store.dispatch("hotel/hotelList", {
        data: params
      })
      .then(result => {
        if (result.code === 0) {
          this.tableData = result.data.list;
          this.total = result.data.total;
        } else {
          this.$message.error(result.msg);
        }
        this.loading = false;
      });
    },
    //酒店下拉
    gotHotelList () {
      const params = {};
      this.$store.dispatch("hotel/hotelSelect", {
        data: params
      })
      .then(result => {
        if (result.code === 0) {
          this.hotellist = result.data;
        } else {
          this.$message.error(result.msg);
        }
        this.loading = false;
      });
    },
    handleCat () {

    },
    handleAdd () {
      this.visible = true;
    },
    handleActiveClick () {

    }
  }
};
</script>

