<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-28 15:07:11
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.content-card {
  background-color: #fff;
  min-height: 400px;
  padding: 30px;
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="客房服务管理" title2="酒店服务设置"></v-breadcrumb>
    <div class="content-container">
      <el-radio-group v-model="typeid" style="margin-bottom: 15px;">
        <el-radio-button :label="item.id" v-for="item in typeList" :key="item.id">{{item.name}}</el-radio-button>
      </el-radio-group>
    </div>
    <div class="content-card">
      <Homepage v-if="typeid === 1"></Homepage>
      <Notice v-if="typeid === 2"></Notice>
      <Flow v-if="typeid === 3"></Flow>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import Homepage from "./compontent/homepage.vue";
import Notice from "./compontent/notice.vue";
import Flow from "./compontent/flow.vue";
export default {
  data() {
    return {
      typeList: [
        {
          id: 1,
          name: "客房服务模板管理"
        },
        {
          id: 2,
          name: "客房服务项目"
        },
        {
          id: 3,
          name: "服务流程设置"
        }
      ],
      typeid: 1
    };
  },
  components: {
    vBreadcrumb,
    Homepage,
    Notice,
    Flow
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {}
};
</script>


