<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-11-03 15:12:39
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="分销管理" title2="分销报表"></v-breadcrumb>
    <div class="content-container">
      <el-radio-group v-model="activeIndex">
        <el-radio-button :label="item.id" v-for="item in typelist" :key="item.id">{{item.name}}</el-radio-button>
      </el-radio-group>
    </div>
    <!-- 新会员统计 -->
    <MemberTotal v-if="activeIndex === 1"></MemberTotal>
    <!-- 关注公众号统计 -->
    <GZHTotal v-if="activeIndex === 2"></GZHTotal>
    <!-- 金卡会籍分销统计 -->
    <GoldTotal v-if="activeIndex === 3"></GoldTotal>
    <!-- 日历房分销统计 -->
    <Roomtotal v-if="activeIndex === 4"></Roomtotal>'
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import GZHTotal from "./component/gzhtotal.vue";
import GoldTotal from "./component/goldtotal.vue";
import MemberTotal from "./component/membertotal.vue";
import Roomtotal from "./component/roomtotal.vue";
export default {
  data() {
    return {
      typelist: [
        {
          id: 1,
          name: "新会员统计报表"
        },
        {
          id: 2,
          name: "关注公众号统计报表"
        },
        {
          id: 3,
          name: "金卡会籍分销统计报表"
        },
        {
          id: 4,
          name: "日历房分销统计报表"
        }
      ],
      activeIndex: 1
    };
  },
  components: {
    vBreadcrumb,
    GoldTotal,
    MemberTotal,
    GZHTotal,
    Roomtotal
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {}
};
</script>

