<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-02 15:27:40
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>

</style>

<template>
  <div class="page-container order-page">
    <v-breadcrumb title="订单管理" title2="售后服务"></v-breadcrumb>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {}
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {},
  mounted() {}
};
</script>

