<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-05-14 14:53:36
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->

<style lang="scss" scoped>
.activity-box {
  margin: 0 0 30px;
  .activity-title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 100px;
    text-align: right;
  }
  .activity-li {
    margin-left: 100px;
    width: 700px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    .activity-li-item {
      margin-left: 30px;
      margin-bottom: 10px;
    }
  }
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="营销工具" title2="升级有礼"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="活动状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="活动名称" prop="name">
                  <el-input
                    v-model="searchform.name"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div> -->
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">创建活动</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="120" align="center">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  style="color: red"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.$index, scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="70"></el-table-column>
            <el-table-column prop="name" label="活动名称"></el-table-column>
            <el-table-column prop="startdate" label="活动日期" :formatter="formatterDate"></el-table-column>
            <el-table-column prop="category" label="会员卡类别" width="100">
              <template slot-scope="scope">{{scope.row.category === 1 ? "悦廷会" : ""}}</template>
            </el-table-column>
            <el-table-column prop="channelName" label="支持渠道"></el-table-column>
            <el-table-column prop="status" width="80" label="是否启用">
              <template slot-scope="scope">{{scope.row.status === 1 ? "启用" : "未启用"}}</template>
            </el-table-column>
            <el-table-column width="80" prop="enddate" label="活动状态" :formatter="activityStatus"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="900px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="100px"
        :rules="rules"
        :inline="true"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="name">
              <el-input v-model="form.name" clearable placeholder="请输入" style="width: 700px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="开始时间" prop="startdate">
              <el-date-picker
                v-model="form.startdate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="enddate">
              <el-date-picker
                v-model="form.enddate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="会员卡类别" prop="category">
              <el-radio-group v-model="form.category">
                <el-radio :label="1">悦廷会</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="会员卡等级" required>
              <div style="width: 700px">
                <el-checkbox-group v-model="checkedCards" @change="changeCards">
                  <el-checkbox
                    :label="item.id"
                    v-for="item in cardList"
                    :key="item.id"
                  >{{item.id}}-{{item.name}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
          <el-col>
            <div class="activity-box" v-show="tableCouponData.length > 0">
              <div class="activity-title">
                <span style="color:red">*</span>活动奖品
              </div>
              <ul class="activity-ul">
                <li class="activity-li" v-for="(item, index) in tableCouponData" :key="index">
                  <el-row>
                    <el-col :span="24">
                      <el-form-item label="升级条件:" label-width="80px" style="margin-bottom: 5px">
                        <span style="color:#409EFF">升级至{{item.cardid +'-'+ item.conditionname}}</span>
                      </el-form-item>
                    </el-col>
                    <el-col :span="24">
                      <el-form-item label="赠送内容:" label-width="80px" style="margin-bottom: 0px"></el-form-item>
                    </el-col>
                    <el-col :span="24">
                      <div class="activity-li-item">
                        <el-form-item style="margin-bottom: 0px">
                          <el-checkbox
                            v-model="item.sendcoupon"
                            :true-label="1"
                            :false-label="0"
                          >赠送优惠券</el-checkbox>
                          <el-button
                            type="primary"
                            :disabled="item.sendcoupon !== 1"
                            @click="goSelCoupon(item)"
                            style="margin-left: 10px;"
                          >选择优惠券</el-button>
                        </el-form-item>
                      </div>
                      <div class="activity-li-item">
                        <el-table :data="item.coupondata" style="width: 100%" border>
                          <el-table-column prop="id" label="券ID" width="70"></el-table-column>
                          <el-table-column prop="couponname" label="券名称"></el-table-column>
                          <el-table-column prop="coupontype" label="券类型" width="70">
                            <template slot-scope="scope">
                              <span v-if="scope.row.coupontype===1">优惠券</span>
                              <span v-else-if="scope.row.coupontype===2">打折券</span>
                              <span v-else-if="scope.row.coupontype===3">红包</span>
                              <span v-else-if="scope.row.coupontype===4">升房</span>
                              <span v-else-if="scope.row.coupontype===5">餐饮</span>
                            </template>
                          </el-table-column>
                          <el-table-column prop="vaildLength" label="使用有效天数" width="65"></el-table-column>
                          <el-table-column prop="sendcount" label="赠送数量" width="70"></el-table-column>
                          <el-table-column label="操作" width="130" center>
                            <template slot-scope="scope">
                              <el-button
                                type="text"
                                icon="el-icon-circle-plus-outline"
                                @click="handleAddCoupon(scope.$index, scope.row, item)"
                              >加数量</el-button>
                              <el-button
                                type="text"
                                icon="el-icon-delete"
                                style="color: red"
                                @click="handleDeleteCoupon(scope.$index, scope.row, item)"
                              >删除</el-button>
                            </template>
                          </el-table-column>
                        </el-table>
                      </div>
                      <div class="activity-li-item">
                        <el-form-item style="margin-bottom: 0px">
                          <el-checkbox
                            v-model="item.sendscore"
                            :true-label="2"
                            :false-label="0"
                          >赠送积分</el-checkbox>
                          <el-input
                            v-model="item.score"
                            clearable
                            :disabled="item.sendscore !== 2"
                            placeholder="请输入"
                            style="width: 150px;margin-left: 10px;"
                          ></el-input>
                        </el-form-item>
                      </div>
                      <div class="activity-li-item">
                        <el-form-item style="margin-bottom: 0px">
                          <el-checkbox
                            v-model="item.sendamount"
                            :true-label="3"
                            :false-label="0"
                          >赠送余额</el-checkbox>
                          <el-input
                            v-model="item.amount"
                            clearable
                            :disabled="item.sendamount !== 3"
                            placeholder="请输入"
                            style="width: 150px;margin-left: 10px;"
                          ></el-input>
                        </el-form-item>
                      </div>
                    </el-col>
                  </el-row>
                </li>
              </ul>
            </div>
          </el-col>
          <el-col :span="24">
            <el-form-item label="赠送次数" prop="gifttype">
              <el-radio-group v-model="form.gifttype">
                <div>
                  <el-radio :label="1">限一次：活动期间多次降级又升级到指定等级，仅赠送一次奖励</el-radio>
                </div>
                <div style="margin-top: 10px">
                  <el-radio :label="2">不限次数：活动期间降级后重新达到指定等级，每次达到时仍赠送</el-radio>
                </div>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="渠道" prop="channelid">
              <div style="width: 600px">
                <el-radio-group v-model="form.channelid">
                  <el-radio
                    style="margin-bottom: 10px"
                    :label="item.id"
                    v-for="item in channelList"
                    :key="item.id"
                  >{{item.id +'-'+ item.channelname}}</el-radio>
                </el-radio-group>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="是否启用" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <el-dialog
      title="选择优惠券"
      :visible.sync="couponvisible"
      width="900px"
      :close-on-click-modal="false"
    >
      <CouponList v-if="couponvisible" @selectedCoupon="selectedCoupon" :selectData="selectData"></CouponList>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { positive_num, positive_num_zero, decimals_num } from "@/utils/reg.js";
import CouponList from "./components/couponlist.vue";
export default {
  data() {
    return {
      searchform: {
        name: "",
        status: ""
      },
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        name: "", //活动名称
        category: 1, //会员卡类别1 悦廷会
        channelid: "",
        enddate: "", //活动结束时间
        startdate: "", //活动开始时间
        status: 1, // 1启用 2不启用
        gifttype: 1
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        startdate: [{ required: true, message: "不能为空", trigger: "blur" }],
        enddate: [{ required: true, message: "不能为空", trigger: "blur" }],
        category: [{ required: true, message: "不能为空", trigger: "blur" }],
        channelid: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "blur" }],
        gifttype: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      visible: false,
      actionTypeName: "",
      actionType: 0, //编辑的id
      rowData: {},
      checkedCards: [], //选中的会员卡
      cardList: [],
      statusList: [
        //搜索状态
        { id: 1, name: "未开始" },
        { id: 2, name: "进行中" },
        { id: 3, name: "已结束" }
      ],
      rowid: "",
      channelList: [],
      tableCouponData: [],
      couponvisible: false,
      selectData: [],
      couponrow: {}
    };
  },
  components: {
    vBreadcrumb,
    CouponList
  },
  computed: {},
  created() {
    // this.gotData();
    this.memberCard();
    this.gotChannelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        name: this.searchform.name,
        status: this.searchform.status
      };
      this.loading = true;
      this.$store
        .dispatch("coupon/upgradeList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.rowid = row.id;
      //详情
      this.$store
        .dispatch("coupon/upgradeDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const category = data.category ? data.category : 1;
            const startdate = data.startdate
              ? data.startdate.split(" ")[0]
              : "";
            const enddate = data.enddate ? data.enddate.split(" ")[0] : "";
            this.form = {
              name: data.name, //活动名称
              category: category, //会员卡类别 1 悦廷会
              enddate: enddate, //活动结束时间
              startdate: startdate, //活动开始时间
              status: data.status, // 1启用 2不启用
              gifttype: data.gifttype,
              channelid: data.channelid
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let activityPrizeVoList = [];
          const startdate = this.form.startdate
            ? this.form.startdate + " 00:00:00"
            : "";
          const enddate = this.form.enddate
            ? this.form.enddate + " 00:00:00"
            : "";
          const params = {
            name: this.form.name, //活动名称
            category: this.form.category, //会员卡类别 1 悦廷会
            channelid: this.form.channelid,
            enddate: enddate, //活动结束时间
            startdate: startdate, //活动开始时间
            status: this.form.status, // 1启用 2不启用
            activityPrizeVoList: activityPrizeVoList,
            gifttype: this.form.gifttype
          };
          console.log(this.tableCouponData);
          return;
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/upgradeSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/upgradeUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        name: "", //活动名称
        category: 1, //会员卡类别1 悦廷会
        channelid: "",
        enddate: "", //活动结束时间
        startdate: "", //活动开始时间
        status: 1, // 1启用 2不启用
        gifttype: 1
      };
    },
    //删除活动
    handleDelete(index, row) {
      this.$confirm("确定要删除活动吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)"
          });
          const params = {
            id: row.id
          };
          this.$store
            .dispatch("coupon/upgradeDelete", {
              data: params
            })
            .then(result => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("删除成功");
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                this.$message.error(result.msg);
              }
            });
        })
        .catch(() => {});
    },
    formatterDate(row, column, cellValue, index) {
      if (row.startdate) {
        return row.startdate.split(" ")[0] + "至" + row.enddate.split(" ")[0];
      } else {
        return "";
      }
    },
    // 活动状态
    activityStatus(row, column, cellValue, index) {
      const nowtime = new Date().getTime();
      if (nowtime < new Date(row.startdate).getTime()) {
        return "未开始";
      } else if (nowtime > new Date(row.enddate).getTime()) {
        return "已结束";
      } else {
        return "活动中";
      }
    },
    //查询所有会员卡
    memberCard() {
      const params = {};
      this.$store
        .dispatch("market/cardAll", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.cardList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //查询所有自营渠道
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    changeCards() {
      const checkedCards = this.checkedCards;
      const cardList = this.cardList;

      if (this.tableCouponData.length < checkedCards.length) {
        // 新增
        const checkid = checkedCards[checkedCards.length - 1];

        const filterItem = cardList.filter(item => {
          return item.id === checkid;
        });

        if (filterItem.length > 0) {
          const jsondata = {
            cardid: filterItem[0].id,
            conditionname: filterItem[0].name,
            amount: "",
            sendamount: 0,
            score: "",
            sendscore: 0,
            sendcoupon: 0,
            coupondata: []
          };
          this.tableCouponData.push(jsondata);
        }
      } else {
        //减少
        if (checkedCards.length === 0) {
          this.tableCouponData = [];
        } else {
          const delFilterItem = this.tableCouponData.filter(
            v => checkedCards.indexOf(v.cardid) === -1
          );
          if (delFilterItem.length > 0) {
            let delindex = this.tableCouponData.findIndex((item,index) => {
              return item.cardid === delFilterItem[0].cardid
            });
            if (delindex !== -1) {
              this.tableCouponData.splice(delindex, 1);
            }
          }
          
        }
      }
    },
    getDifferenceSet(arr1, arr2, typeName) {
      // const data = [];
      return Object.values(
        arr1.concat(arr2).reduce((acc, cur) => {
          // console.log(acc)
          // console.log(cur)
          if (
            acc[cur[typeName]] &&
            acc[cur[typeName]][typeName] === cur[typeName]
          ) {
            delete acc[cur[typeName]];
          } else {
            acc[cur[typeName]] = cur;
          }
          return acc;
        }, {})
      );
    },
    handleAddCoupon(index, row, rowitem) {
      this.tableCouponData.map(item => {
        if (item.cardid === rowitem.cardid) {
          item.coupondata.map(couponitem => {
            if (couponitem.id === row.id) {
              couponitem.sendcount++;
            }
          });
        }
      });
    },
    handleDeleteCoupon(index, row, rowitem) {
      
      let delindex = -1;
      let delcouponindex = -1;
      this.tableCouponData.map((item, index) => {
        if (item.cardid === rowitem.cardid) {
          item.coupondata.map((couponitem, couponindex) => {
            if (couponitem.id === row.id) {
              delindex = index;
              delcouponindex = couponindex;
            }
          });
        }
      });

      // console.log(delindex)
      // console.log(delcouponindex)
      this.tableCouponData[delindex].coupondata.splice(delcouponindex, 1);
    },
    goSelCoupon(item) {
      this.couponvisible = true;
      this.selectData = item.coupondata;
      this.couponrow = item;
    },
    selectedCoupon(dataarr) {
      this.couponvisible = false;
      let coupondata = [];
      dataarr.map(item => {
        const couponjson = {
          id: item.id,
          couponname: item.couponname,
          coupontype: item.coupontype,
          vaildLength: item.vaildLength,
          sendcount: 1
        };
        coupondata.push(couponjson);
      });
      this.tableCouponData.map(item => {
        if (item.cardid === this.couponrow.cardid) {
          item.coupondata = coupondata;
        }
      });
    }
  }
};
</script>



