<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-10-21 10:55:35
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.sale-base-box {
  padding: 0 30px;
  .sale-base-info {
    text-align: left;
  }
  .sale-base-images {
    display: flex;
    justify-content: left;
    margin: 30px auto 0;
    .sale-base-image {
      width: 232px;
      margin: 0 40px;
      img {
        display: block;
        width: 232px;
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="分销管理" title2="日历房分销"></v-breadcrumb>
    <div class="content-container">
      <el-radio-group v-model="typevalue" @change="changeType">
        <el-radio-button
          :label="item.id"
          v-for="item in typelist"
          :key="item.id"
          >{{ item.name }}</el-radio-button
        >
      </el-radio-group>
    </div>
    <el-card class="table-card" shadow="never">
      <div class="sale-base-box" v-if="typevalue === 1">
        <div class="sale-base-info">
          <el-form :inline="true">
            <el-form-item label="售卖卡类" prop="name">
              <el-input
                v-model="checkform.name"
                disabled
                placeholder="请输入"
              ></el-input>
            </el-form-item>
            <el-form-item label="是否考核" prop="isCheck">
              <el-radio-group v-model="checkform.isCheck">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                size="mini"
                @click="handleEditCheck"
                style="margin-left: 40px"
                >保 存</el-button
              >
            </el-form-item>
          </el-form>
        </div>
      </div>
      <PeopleList
        v-if="typevalue === 2"
        :activityid="activityid"
        :applytype="applytype"
      ></PeopleList>
      <Rule
        v-if="typevalue === 3"
        :activityid="activityid"
        :applytype="applytype"
      ></Rule>
    </el-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import PeopleList from "./peoplelist.vue";
import Rule from "./rule.vue";
export default {
  data() {
    return {
      typelist: [
        {
          id: 1,
          name: "日历房分销"
        },
        {
          id: 3,
          name: "规则设置"
        },
        {
          id: 2,
          name: "推广人员"
        }
      ],
      typevalue: 1,
      checkform: {
        name: "日历房分销",
        isCheck: 0,
      },
      // 活动id
      activityid: 3,
      // 申请条件
      applytype: "",
    };
  },
  components: {
    vBreadcrumb,
    PeopleList,
    Rule,
  },
  computed: {},
  created() {
    this.gotCheck();
  },
  mounted() {},
  methods: {
    //切换Tab
    changeType(item) {
      const value = this.typevalue;
      switch (value) {
        case 1:
          this.gotCheck();
          break;
        case 2:
          //
          break;
        case 3:
          //
          break;
      }
    },
    //考核详情
    gotCheck() {
      const params = {};
      this.$store
        .dispatch("sale/goldCheck", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.checkform.isCheck = result.data.checkset;
            this.activityid = result.data.id;
            this.applytype = result.data.applyset;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //是否考核修改
    handleEditCheck() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      const params = {
        isCheck: this.checkform.isCheck,
      };
      this.$store
        .dispatch("sale/goldCheckEdit", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("操作成功");
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

