<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-18 17:43:08
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.role-box {
  margin-top: 15px;
  padding-left: 100px;
  .role-app-ul {
    display: flex;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    .role-app {
      width: 130px;
      display: flex;
      justify-content: flex-start;
      padding: 0 10px;
      align-items: center;
      border-right: 1px solid #f2f2f2;
      box-sizing: border-box;
    }
    .role-app-item {
      flex: 1;
      .role-model-ul {
        display: flex;
        border-bottom: 1px solid #f2f2f2;
        box-sizing: border-box;
        &:last-child {
          border-bottom: none;
        }
        .role-model {
          width: 130px;
          min-height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 15px;
          border-right: 1px solid #f2f2f2;
        }
        .role-model-item {
          flex: 1;
          .role-action-ul {
            display: flex;
            border-bottom: 1px solid #f2f2f2;
            box-sizing: border-box;
            &:last-child {
              border-bottom: none;
            }
            .role-action {
              width: 130px;
              min-height: 50px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 15px;
              border-right: 1px solid #f2f2f2;
            }
            .role-action-item {
              .role-btn-ul {
                width: 150px;
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                padding-top: 10px;
                box-sizing: border-box;
                .role-btn {
                  margin-right: 15px;
                  margin-bottom: 10px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="统一门户" title2="角色管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="角色筛选" prop="name">
                  <el-input
                    v-model="searchform.name"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="name" label="角色名称" width="200"></el-table-column>
            <el-table-column prop="status" label="状态" width="100">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间" width="200"></el-table-column>
            <el-table-column prop="description" label="备注"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="1000px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="角色名称" prop="name">
              <el-input v-model="form.name" placeholder="请输入" clearable style="width: 850px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="备注" prop="description">
              <el-input
                v-model="form.description"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
                style="width: 850px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="系统列表" prop="systemidList">
              <el-checkbox
                :indeterminate="isIndeterminate"
                v-model="checkAll"
                @change="handleCheckAllChange"
              >全选</el-checkbox>
              <div style="margin: 15px 0;"></div>
              <el-checkbox-group v-model="form.systemidList" @change="handleCheckedCitiesChange" style="width: 800px">
                <el-checkbox v-for="item in appList" :label="item.id" :key="item.id" style="width: 150px">{{item.systemname}}</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        name: ""
      },
      searchresult: {
        name: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        description: "",
        status: 1,
        name: "",
        systemidList: []
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }],
        systemidList: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      actionType: 0,
      actionTypeName: "",
      appList: [],
      checkAll: false,
      isIndeterminate: false
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {},
  created() {
    this.gotData();
    this.gotTree();
  },
  mounted() {},
  methods: {
     //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        name: this.searchresult.name,
        pageNum: this.page,
        pageSize: this.limit,
      };
      this.loading = true;
      this.$store
        .dispatch("sso/rolesList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            description: this.form.description,
            status: this.form.status,
            name: this.form.name,
            systemidList: this.form.systemidList
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "角色新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sso/rolesSave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "角色编辑";
      const params = {
        id: row.id
      }
      // 详情
      this.$store
        .dispatch("sso/rolesDetail", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            let systemidList = [];
            let checkAll = false;
            let isIndeterminate = false;
            if (Array.isArray(data.systemList)) {
              systemidList = data.systemList.map((item) => item.id)
              if (systemidList.length > 0) {
                if (systemidList.length === this.appList.length) {
                  checkAll = true
                } else {
                  isIndeterminate = true
                }
              }
            }
            this.checkAll = checkAll;
            this.isIndeterminate = isIndeterminate;
            
            this.form = {
              description: data.description,
              name: data.name,
              status: data.status,
              systemidList: systemidList
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sso/rolesUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        description: "",
        status: 1,
        name: "",
        systemidList: []
      };
      this.checkAll = false;
      this.isIndeterminate = false;
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    gotTree() {
      const params = {};
      this.$store
        .dispatch("sso/staffPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data;
            this.appList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleCheckAllChange(val) {
      let appList = this.appList.map((item) => item.id);
      this.form.systemidList = val ? appList : [];
      this.isIndeterminate = false;
    },
    handleCheckedCitiesChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount ===  this.appList.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.appList.length;
    }
  },
};
</script>

