<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-05-14 10:09:28
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\hotel\index.vue
 -->
<style lang="scss" scoped>
.image-box {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  overflow: hidden;
  border: 1px dashed #ccc;
  .icon-image {
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 10px auto;
  }
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="酒店基础管理" title2="设施管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="70"></el-table-column>
            <el-table-column prop="facilitycode" label="设施编码" width="90"></el-table-column>
            <el-table-column prop="facilityname" label="设施名称"></el-table-column>
            <el-table-column prop="type" label="设施类别" width="90">
              <template slot-scope="scope">
                <span :style="{color: scope.row.type === 1 ? '#67C23A' : '#E6A23C'}"> {{scope.row.type === 1 ? '房间设施' : '酒店设施'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="isDeleted" label="状态" width="90">
              <template slot-scope="scope">{{scope.row.isDeleted === 0 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="imageurl" label="设施图标" width="100">
              <template slot-scope="scope">
                <img
                  :src="scope.row.imageurl"
                  alt
                  style="width: 30px; height: 30px"
                  v-if="scope.row.imageurl"
                />
                <span v-else>暂无图标</span>
              </template>
            </el-table-column>
            <el-table-column prop="description" label="设施介绍"></el-table-column>
          </el-table>
        </div>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
          ></el-pagination>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      width="700px"
      :visible.sync="visible"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="110px"
        class="operate-form-box"
      >
        <el-col>
          <el-form-item label="设施类别" prop="type">
            <el-select v-model="form.type" placeholder="请选择">
              <el-option
                v-for="item in typeList"
                :label="item.id + '-' +item.name"
                :value="item.id"
                :key="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="设施编码" prop="facilitycode">
            <el-input v-model="form.facilitycode" placeholder="请输入"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="设施名称" prop="facilityname">
            <el-input v-model="form.facilityname" placeholder="请输入" style="width: 490px"></el-input>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="设施介绍" prop="description">
            <el-input
              type="textarea"
              v-model="form.description"
              placeholder="请输入"
              style="width: 490px"
              resize="none"
              rows="4"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item label="状态" prop="isDeleted">
            <el-radio-group v-model="form.isDeleted">
              <el-radio :label="0">启用</el-radio>
              <el-radio :label="1">不启用</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="图标地址" prop="imageurl">
            <el-input v-model="form.imageurl" placeholder="请输入图标地址" style="width: 490px"></el-input>
          </el-form-item>
        </el-col>
        <!-- <el-col>
          <div class="image-box" v-if="form.imageurl">
            <img :src="form.imageurl" alt="加载失败..." class="icon-image">
          </div>
        </el-col> -->
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typeList: [
        {
          id: 1,
          name: "房间设施"
        },
        {
          id: 2,
          name: "酒店设施"
        }
      ],
      form: {
        description: "",
        type: "",
        facilitycode: "",
        facilityname: "",
        imageurl: "",
        isDeleted: 0
      },
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      rules: {
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        facilityname: [
          { required: true, message: "不能为空", trigger: "blur" }
        ],
        imageurl: [{ required: true, message: "不能为空", trigger: "blur" }],
        facilitycode: [
          { required: true, message: "不能为空", trigger: "blur" }
        ],
        isDeleted: [{ required: true, message: "不能为空", trigger: "change" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }]
      }
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/hotelFacilityList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.total = result.data.total;
            this.tableData = result.data.list;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("hotel/facilityDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              description: data.description,
              type: data.type,
              facilitycode: data.facilitycode,
              facilityname: data.facilityname,
              imageurl: data.imageurl,
              isDeleted: data.isDeleted
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const params = {
            description: this.form.description,
            type: this.form.type,
            facilitycode: this.form.facilitycode,
            facilityname: this.form.facilityname,
            imageurl: this.form.imageurl,
            isDeleted: this.form.isDeleted
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/facilityAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/facilityUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        description: "",
        type: "",
        facilitycode: "",
        facilityname: "",
        imageurl: "",
        isDeleted: 0
      };
    }
  }
};
</script>
