<!--
 * @Author: your name
 * @Date: 2020-07-24 16:56:03
 * @LastEditTime: 2020-08-11 10:54:40
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \in-vue\src\components\Editor.vue
--> 

<style scoped>
</style>
<template>
  <div style="width: 830px">
    <div ref="editor"></div>
    <!-- <div style="margin-top:10px">
      <el-button type="primary" @click="getContent">查看源码</el-button>
      <el-button type="danger" @click="clearContent">清空内容</el-button>
    </div>-->

    <el-dialog title="查看源码" :visible.sync="dialogFormVisible" width="840px">
      <el-input
        v-model="editorContent"
        style="width:800px"
        placeholder="请输入"
        clearable
        :rows="15"
        type="textarea"
      ></el-input>
      <div slot="footer" class="dialog-footer" style="text-align: center">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="sureContent">确定修改</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import E from "wangeditor";
import E from "@/utils/wangEditor/wangEditor";
export default {
  name: "editor",
  props: ["content", "config"],
  data() {
    return {
      editor: null,
      dialogFormVisible: false,
      editorContent: "",
      loading: null,
    };
  },
  methods: {
    getContent() {
      this.editorContent = this.content;
      this.dialogFormVisible = true;
    },
    sureContent() {
      this.dialogFormVisible = false;
      this.editor.txt.html(this.editorContent);
      this.$emit("changeContent", this.editorContent);
    },
    clearContent() {
      this.editor.txt.clear();
      this.$emit("changeContent", "");
    },
  },
  watch: {
    // content: {
    //   handler(newvalue, old) {
    //     if (this.editor) {
    //       this.editor.txt.html(this.content);
    //     }
    //   },
    // },
  },
  mounted() {
    if (!this.config.id) {
      this.$message.error("没有商品ID，请刷新重试!");
    }

    const editor = (this.editor = new E(this.$refs.editor));
    editor.customConfig.zIndex = 22;
    // 自定义菜单配置
    editor.customConfig.menus = [
      // "html",
      "head",
      "bold",
      "fontSize",
      "fontName",
      "justify",
      "foreColor",
      "underline",
      "list",
      "image",
      "video",
      "empty"
    ];
    editor.customConfig.uploadImgServer = "/api/shopImage/saveImgList"; // 上传图片到服务器
    editor.customConfig.uploadFileName = "imageFile";
    editor.customConfig.uploadImgTimeout = 300000; // 5分钟
    editor.customConfig.uploadImgParams = {
      type: this.config.type,
      id: this.config.id
    };
    const that = this;
    editor.customConfig.uploadImgHooks = {
      before(xhr, editor, files) {
        const fileslist = files;
        const finditem = fileslist.find((item) => item.size > 1024 * 1024 * 2);
        if (finditem) {
          that.$message.error("上传失败，上传图片大小不能超过 2MB!");
        }
        that.loading = that.$loading({
          lock: true,
          text: "图片上传中...",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)",
        });
      },
      success(xhr, editor, result) {
        // console.log(result);
        that.loading.close();
        that.$message.success("上传图片成功");
      },
      fail(xhr, editor, result) {
        const msg = result.msg;
        that.loading.close();
        that.$message.error("上传图片fail");
      },
      error(xhr, editor) {
        that.loading.close();
        that.$message.error("上传图片error");
      },
      timeout(xhr, edito) {
        that.loading.close();
        that.$message.error("上传图片超时");
      },
      customInsert(insertImg, result, editor) {
        // console.log(result);
        const data = result.data ? result.data : [];
        data.map((item) => {
          insertImg(item);
        });
      },
    };
    editor.customConfig.onchange = (html) => {
      console.log("changeContent", html);
      editor.txt.html(this.html);
      this.$emit("changeContent", html);
    };
    editor.create();
    editor.txt.html(this.content);
  },
};
</script>


