<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-24 13:41:12
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.sale-base-box {
  padding: 0 30px;
  .sale-base-info {
    text-align: left;
  }
  .sale-base-images {
    display: flex;
    justify-content: left;
    margin: 30px auto 0;
    .sale-base-image {
      width: 232px;
      margin: 0 40px;
      img {
        display: block;
        width: 232px;
      }
    }
  }
}
.sale-people-box {
  .container-table {
    margin-top: 50px;
  }
}
.sale-rule-box {
  .sale-rule-title {
    margin-bottom: 20px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="分销管理" title2="公众号推广"></v-breadcrumb>
    <div class="content-container">
      <el-radio-group v-model="typevalue" @change="changeType">
        <el-radio-button :label="item.id" v-for="item in typelist" :key="item.id">{{item.name}}</el-radio-button>
      </el-radio-group>
    </div>

    <el-card class="table-card" shadow="never">
      <div class="sale-base-box" v-if="typevalue === 1">
        <div class="sale-base-info">
          <el-form :inline="true">
            <el-form-item label="公众号名称" prop="name">
              <el-input v-model="checkform.name" disabled placeholder="请输入"></el-input>
            </el-form-item>
            <el-form-item label="是否考核" prop="isCheck">
              <el-radio-group v-model="checkform.isCheck">
                <el-radio :label="1">是</el-radio>
                <el-radio :label="0">否</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                size="mini"
                @click="handleEditCheck"
                style="margin-left: 40px"
              >保 存</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="sale-base-images">
          <div class="sale-base-image">
            <img src="~@/assets/images/gzh.jpg" alt="..." />
          </div>
          <div class="sale-base-image">
            <img src="~@/assets/images/gzhcode.jpg" alt="..." />
          </div>
        </div>
      </div>

      <div class="sale-people-box" v-if="typevalue === 2">
        <el-tabs v-model="tabActiveName" @tab-click="handleTabsClick">
          <el-tab-pane label="人员审核" name="first">
            <div class="form-container">
              <el-button type="primary" @click="handleArgee">批量审核通过</el-button>
              <el-button type="danger" @click="handleReject">批量拒绝</el-button>
            </div>
            <div class="container-table">
              <el-table
                :data="tableDataCheck"
                @selection-change="handleSelectionChangeCheck"
                border
                v-loading="loadingcheck"
                element-loading-text="拼命加载中"
                element-loading-spinner="el-icon-loading"
                element-loading-background="rgba(0, 0, 0, 0.8)"
              >
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="ID" width="100"></el-table-column>
                <el-table-column prop="truename" label="姓名" width="120"></el-table-column>
                <el-table-column prop="department" label="部门"></el-table-column>
                <el-table-column prop="position" label="岗位"></el-table-column>
                <el-table-column prop="status" label="审核状态" width="100">
                  <template slot-scope="scope">{{scope.row.status === 1 ? '申请中' : '正常' }}</template>
                </el-table-column>
                <el-table-column prop="createDate" label="申请时间"></el-table-column>
              </el-table>
              <div class="pagination-container">
                <el-pagination
                  background
                  @size-change="changeLimitCheck"
                  @current-change="handleCurrentChangeCheck"
                  :current-page.sync="pagecheck"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="limitcheck"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="totalcheck"
                ></el-pagination>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="人员列表" name="second">
            <div class="form-container">
              <el-button type="danger" @click="handleFreeze">批量冻结</el-button>
            </div>
            <div class="container-table">
              <el-table
                :data="tableData"
                @selection-change="handleSelectionChange"
                border
                v-loading="loading"
                element-loading-text="拼命加载中"
                element-loading-spinner="el-icon-loading"
                element-loading-background="rgba(0, 0, 0, 0.8)"
              >
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="id" label="ID" width="100"></el-table-column>
                <el-table-column prop="truename" label="姓名" width="120"></el-table-column>
                <el-table-column prop="department" label="部门"></el-table-column>
                <el-table-column prop="position" label="岗位"></el-table-column>
                <el-table-column prop="lockuser" label="员工状态" width="100">
                  <template slot-scope="scope">{{scope.row.lockuser === 1 ? '冻结' : '正常' }}</template>
                </el-table-column>
                <el-table-column prop="createDate" label="申请时间"></el-table-column>
                <el-table-column prop="cumulativeAmount" label="奖励奖金"></el-table-column>
              </el-table>
              <div class="pagination-container">
                <el-pagination
                  background
                  @size-change="changeLimit"
                  @current-change="handleCurrentChange"
                  :current-page.sync="page"
                  :page-sizes="[10, 20, 30, 40]"
                  :page-size="limit"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="total"
                ></el-pagination>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>

      <div class="sale-rule-box" v-if="typevalue === 3">
        <el-form
          ref="form"
          :model="form"
          :inline="true"
          :rules="rules"
          label-width="120px"
          class="operate-form-box"
        >
          <el-row>
            <el-col :span="24">
              <div class="sale-rule-title">申请设置</div>
            </el-col>
            <el-col :span="24">
              <el-form-item label="申请条件" prop="applyset">
                <el-radio-group v-model="form.applyset" @change="selectApplySet">
                  <el-radio :label="1" disabled>报名参加</el-radio>
                  <el-radio :label="2">全员</el-radio>
                  <el-radio :label="3" disabled>指定人群</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <div class="sale-rule-title">审核设置</div>
            </el-col>
            <el-col :span="24">
              <el-form-item label="是否需要审核" prop="checkset">
                <el-radio-group v-model="form.checkset">
                  <el-radio :label="1" disabled>是</el-radio>
                  <el-radio :label="0">否</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <div class="sale-rule-title">奖励设置</div>
            </el-col>
            <el-col :span="24">
              <el-form-item label="奖励共享人数" prop="rewardcount">
                <el-select
                  v-model="form.rewardcount"
                  filterable
                  placeholder="请选择"
                  class="form-ipt-width"
                >
                  <el-option
                    v-for="item in rewardcountList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <!-- <el-col :span="24">
                <el-form-item label="自购得奖励" prop="selfreward">
                  <el-radio-group v-model="form.selfreward">
                    <el-radio :label="1">获得</el-radio>
                    <el-radio :label="2">获取</el-radio>
                  </el-radio-group>
                </el-form-item>
            </el-col>-->
            <el-col :span="24">
              <div class="sale-rule-title">结算设置</div>
            </el-col>
            <el-col :span="24">
              <el-form-item label="成本部门" prop="costdepartment">
                <el-select
                  v-model="form.costdepartment"
                  filterable
                  placeholder="请选择"
                  class="form-ipt-width"
                  @change="changeCostdepartment"
                >
                  <el-option
                    v-for="item in costdepartmentList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.name"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item v-show="form.costdepartment === '其他部门'">
                <el-input v-model="othercostdepartment" placeholder="请输入部门名称" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="佣金规则" prop="commissiontype">
                <el-select
                  v-model="form.commissiontype"
                  filterable
                  placeholder="请选择"
                  class="form-ipt-width"
                >
                  <el-option
                    v-for="item in commissiontypeList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item prop="commissionrule">
                <el-input v-model="form.commissionrule" placeholder="请输入" clearable></el-input>
              </el-form-item>
              <el-form-item>
                <span>{{form.commissiontype === 2 ? '元' : '' }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <div class="sale-rule-title">提现方式</div>
            </el-col>
            <el-col :span="24">
              <el-form-item label="提现类型" prop="accounttype">
                <el-radio-group v-model="form.accounttype">
                  <!-- <el-radio :label="2">线上提现</el-radio> -->
                  <el-radio :label="1">线下提现</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="24" v-show="form.accounttype === 1">
              <el-form-item prop="offlinecash" label="结算方式">
                <el-radio-group v-model="form.offlinecash">
                  <el-radio :label="1">工资结算</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :span="24" v-show="form.accounttype === 2">
              <el-form-item prop="onlinecash" label="结算方式">
                <el-radio-group v-model="form.onlinecash">
                  <el-radio :label="1">微信零钱</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>

            <!-- <el-col :span="24">
                <el-form-item label="提现方式" prop="offlinecash">
                  <el-checkbox-group v-model="form.offlinecash">
                    <el-checkbox :label="1">微信零钱</el-checkbox>
                    <el-checkbox :label="2">账户余额</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
            </el-col>-->
            <el-col :span="24">
              <el-form-item label="结算说明" prop="cashdesc">
                <el-input
                  v-model="form.cashdesc"
                  style="width:720px"
                  placeholder="请输入"
                  clearable
                  :rows="4"
                  resize="none"
                  type="textarea"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div style="text-align: center; margin-top: 10px">
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </div>
    </el-card>
    
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { includezero } from "@/utils/reg.js";
export default {
  data() {
    // 正数含0
    let checkPositiveNum = (rule, value, callback) => {
      if (!includezero.test(value)) {
        callback(new Error("请输入非负数"));
      } else {
        callback();
      }
    };
    return {
      rewardcountList: [
        {
          id: 1,
          name: "1人"
        }
      ],
      commissiontypeList: [
        {
          id: 2,
          name: "固定金额"
        }
      ],
      costdepartmentList: [
        {
          id: 1,
          name: "酒店自行承担"
        },
        {
          id: 2,
          name: "总部市场营销部"
        },
        {
          id: 3,
          name: "其他部门"
        }
      ],
      typelist: [
        {
          id: 1,
          name: "公众号推广"
        },
        {
          id: 3,
          name: "规则设置"
        },
        {
          id: 2,
          name: "推广人员"
        }
      ],
      typevalue: 1,
      checkform: {
        name: "远洲悦廷会",
        isCheck: 0
      },
      activityid: 1,
      // 申请条件
      applytype: "",
      form: {
        id: 1,
        activityname: "",
        activitytype: 1,
        applyset: 2,
        cashdesc: "",
        checkset: 0,
        commissionrule: "",
        commissiontype: 1,
        costdepartment: "",
        offlinecash: 1,
        onlinecash: 1,
        rewardcount: "",
        selfreward: "",
        accounttype: 1
      },
      rules: {
        checkset: [{ required: true, message: "不能为空", trigger: "change" }],
        applyset: [{ required: true, message: "不能为空", trigger: "change" }],
        costdepartment: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        commissiontype: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        rewardcount: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        commissionrule: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        accounttype: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        offlinecash: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        onlinecash: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      othercostdepartment: "",
      tabActiveName: "first",
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      multipleSelection: [],
      tableDataCheck: [],
      totalcheck: 0,
      pagecheck: 1,
      limitcheck: 10,
      loadingcheck: false,
      multipleSelectionCheck: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotCheck();
  },
  mounted() {},
  methods: {
    //切换Tab
    changeType() {
      const value = this.typevalue;
      switch (value) {
        case 1:
          this.gotCheck();
          break;
        case 2:
          this.tabActiveName = "first";
          this.gotDataCheck();
          break;
        case 3:
          this.gotDataSet();
          break;
      }
    },
    //考核详情
    gotCheck() {
      const params = {};
      this.$store
        .dispatch("sale/gzhCheck", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.checkform.isCheck = result.data.checkset;
            this.activityid = result.data.id;
            this.applytype = result.data.applyset;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //是否考核修改
    handleEditCheck() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        isCheck: this.checkform.isCheck
      };
      this.$store
        .dispatch("sale/gzhCheckEdit", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("操作成功");
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //结算设置详情
    gotDataSet() {
      const params = {
        id: this.activityid
      };
      this.$store
        .dispatch("sale/saleDetailData", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            let costdepartment = data.costdepartment;
            if (
              data.costdepartment !== "酒店自行承担" &&
              data.costdepartment !== "总部市场营销部"
            ) {
              costdepartment = "其他部门";
              this.othercostdepartment = data.costdepartment;
            }

            this.form = {
              id: data.id,
              activitytype: data.activitytype,
              activityname: data.activityname,
              costdepartment: costdepartment,
              commissiontype: data.commissiontype,
              commissionrule: data.commissionrule,
              onlinecash: 1,
              offlinecash: 1,
              cashdesc: data.cashdesc ? data.cashdesc : "",
              checkset: data.checkset,
              applyset: data.applyset,
              rewardcount: data.rewardcount ? data.rewardcount : 1,
              selfreward: data.selfreward ? data.selfreward : 1,
              accounttype: 1
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    changeCostdepartment() {},
    selectApplySet() {
      if (this.form.applyset === 2) {
        this.form.checkset = 0;
      } else {
        this.form.checkset = 1;
      }
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (
            this.form.costdepartment === "其他部门" &&
            !this.othercostdepartment
          ) {
            this.$message.warning("请填写部门名称");
            return;
          }
          const costdepartment =
            this.form.costdepartment === "其他部门"
              ? this.othercostdepartment
              : this.form.costdepartment;

          const params = {
            id: this.form.id,
            activitytype: this.form.activitytype,
            activityname: this.form.activityname,
            costdepartment: costdepartment,
            commissiontype: this.form.commissiontype,
            commissionrule: this.form.commissionrule,
            onlinecash: 0,
            offlinecash: 1,
            cashdesc: this.form.cashdesc,
            checkset: this.form.checkset,
            applyset: this.form.applyset,
            rewardcount: this.form.rewardcount,
            selfreward: this.form.selfreward
          };

          this.$confirm("确定要修改规则设置吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              this.handleSaveSure(params);
            })
            .catch(() => {
              console.log("取消");
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleSaveSure(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("sale/saleDetailEdit", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("操作成功");
            this.gotDataSet();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleDisableCheckbox(row, index) {
      if (row.status === 1) {
        return true;
      } else {
        return false;
      }
    },
    handleTabsClick(tab, event) {
      // console.log(this.tabActiveName)
      // console.log(tab.name)
      if (tab.name === "first") {
        this.gotDataCheck();
      } else {
        this.gotData();
      }
    },
    // 分页导航
    handleCurrentChangeCheck(val) {
      this.pagecheck = val;
      this.gotDataCheck();
    },
    //改变页数
    changeLimitCheck(val) {
      this.pagecheck = 1;
      this.limitcheck = val;
      this.gotDataCheck();
    },
    //审核列表数据
    gotDataCheck() {
      const params = {
        pageNum: this.pagecheck,
        pageSize: this.limitcheck,
        activityid: this.activityid,
        applytype: this.applytype
      };
      this.loading = true;
      this.$store
        .dispatch("sale/saleCheckList", {
          data: params
        })
        .then(result => {
          this.loading = false;
          if (result.code === 0) {
            let data = result.data.list;
            this.tableDataCheck = data;
            this.totalcheck = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //表格多选
    handleSelectionChangeCheck(val) {
      this.multipleSelectionCheck = val;
    },
    //审核通过
    handleArgee() {
      if (this.multipleSelectionCheck.length === 0) {
        this.$message.warning("请选择审核人员");
        return;
      }
      let idList = [];
      this.multipleSelectionCheck.map(item => {
        idList.push(item.id);
      });
      const dataparams = {
        id: idList
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("sale/saleCheckPass", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("批量通过成功");
            this.gotDataCheck();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    //审核拒绝
    handleReject() {
      if (this.multipleSelectionCheck.length === 0) {
        this.$message.warning("请选择审核人员");
        return;
      }
      let idList = [];
      this.multipleSelectionCheck.map(item => {
        idList.push(item.id);
      });
      const dataparams = {
        id: idList
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("sale/saleCheckReject", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("批量拒绝成功");
            this.gotDataCheck();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //人员列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        activityid: this.activityid,
        applytype: this.applytype
      };
      this.loading = true;
      this.$store
        .dispatch("sale/salePeopleList", {
          data: params
        })
        .then(result => {
          this.loading = false;
          if (result.code === 0) {
            let data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //表格多选
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 冻结
    handleFreeze() {
      if (this.multipleSelection.length === 0) {
        this.$message.warning("请选择审核人员");
        return;
      }
      let idList = [];
      this.multipleSelection.map(item => {
        idList.push(item.id);
      });
      const dataparams = {
        id: idList
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("sale/salePeopleFrozen", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("批量冻结成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    }
  }
};
</script>

