<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-23 15:33:58
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.search-box-room {
  .search-form {
    .search-input {
      width: 150px;
    }
  }
}
.form-container-room {
  text-align: left;
  margin-bottom: 15px;
}
.container-table-room {
  min-height: 440px;
}
.pagination-container-room {
  margin-top: 20px;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="营销活动" title2="连住早订活动"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="活动名称" prop="name">
                  <el-input
                    v-model="searchform.name"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="活动状态" prop="isProcess">
                  <el-select
                    v-model="searchform.isProcess"
                    clearable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typelist"
                      :key="item.id"
                      :label="item.id +'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="100" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  icon="el-icon-office-building"
                  @click="handleEditRoom(scope.$index, scope.row)"
                >房型管理</el-button>
                <el-button
                  style="color: red"
                  type="text"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.$index, scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="name" label="活动名称"></el-table-column>
            <el-table-column prop="roompriceName" label="房价名称"></el-table-column>
            <el-table-column prop="startdate" label="活动日期">
              <template slot-scope="scope">{{scope.row.startdate.split(' ')[0]}} 至 {{scope.row.enddate.split(' ')[0]}}</template>
            </el-table-column>
            <el-table-column prop="bookingStartdate" label="预定日期">
              <template
                slot-scope="scope"
              >{{scope.row.bookingStartdate.split(' ')[0]}} 至 {{scope.row.bookingEnddate.split(' ')[0]}}</template>
            </el-table-column>
            <el-table-column prop="saletype" label="优惠方式">
              <template
                slot-scope="scope"
              >{{scope.row.saletype === 1 ? '折扣/'+scope.row.discount+'折' : '立减金额/'+scope.row.amount+'元' }}</template>
            </el-table-column>
            <el-table-column prop="nights" label="优惠条件">
              <template
                slot-scope="scope"
              >{{scope.row.type === 1 ? '连住优惠/'+ scope.row.days + '天': '早订优惠'}}</template>
            </el-table-column>
            <el-table-column prop="status" label="是否启用" width="70">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="isProcess" label="活动状态" width="70">
              <template
                slot-scope="scope"
              >{{scope.row.isProcess === 1 ? '未开始' : scope.row.status === 2 ? '进行中' : '已结束'}}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="80px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="name">
              <el-input
                v-model="form.name"
                style="width:650px"
                placeholder="请输入"
                clearable
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房价名称" prop="roompriceName">
              <el-input
                v-model="form.roompriceName"
                style="width:650px"
                placeholder="请输入"
                clearable
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动日期" style="margin-bottom: 0" required>
              <el-form-item label-width="0px" prop="startdate	">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.startdate	"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px;">至</span>
              <el-form-item label-width="0px" prop="enddate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.enddate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预订日期" style="margin-bottom: 0" required>
              <el-form-item label-width="0px" prop="bookingStartdate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.bookingStartdate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px;">至</span>
              <el-form-item label-width="0px" prop="bookingEnddate">
                <el-date-picker
                  class="form-ipt-width"
                  v-model="form.bookingEnddate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="优惠类型" prop="type">
              <el-radio-group v-model="form.type">
                <el-radio :label="1">连住优惠</el-radio>
                <el-radio :label="2">早订优惠</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item prop="days" label-width="0px">
              <span style="margin-right: 8px;">{{form.type === 1 ? '连住' : '提前'}}</span><el-input v-model="form.days" style="width: 120px" placeholder="请输入" clearable></el-input><span style="margin-left: 8px;">天</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="优惠方式" prop="saletype">
              <el-radio-group v-model="form.saletype">
                <el-radio :label="1">打折</el-radio>
                <el-radio :label="2">立减</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item prop="amount" label-width="0px">
              <el-input v-model="form.amount" style="width: 150px" placeholder="请输入" clearable></el-input><span style="margin-left: 8px;">{{form.saletype === 1 ? '折' : '元'}}/每间夜</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="使用须知" prop="notice">
              <el-input
                v-model="form.notice"
                style="width:650px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="是否启用" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-show="false">
            <el-form-item label="适用渠道" prop="channelList">
              <div style="width:650px">
                <el-checkbox-group v-model="form.channelList">
                  <el-checkbox :label="item.id" v-for="item in channelList" :key="item.id">
                    {{item.channelname}}
                  </el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
    <!-- 房价码管理 -->
    <ActivityRelevance :visible="roomvisible" :activityid="activityid" :activitytype="activitytype" @closeVisible="closeVisible"></ActivityRelevance>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ActivityRelevance from "@/components/ActivityRelevance/index.vue";
import { positive_num_zero, positive_num, decimals_num, regphone} from "@/utils/reg.js";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (this.form.saletype === 1) {
        if (!decimals_num.test(value)) {
          callback(new Error("输入不合法，例如1折输入0.1"));
        } else {
          callback();
        }
      } else {
        if (!positive_num.test(value)) {
          callback(new Error("请输入正整数"));
        } else {
          callback();
        }
      }
    };
    var checkDays = (rule, value, callback) => {
      if (!positive_num.test(value)) {
          callback(new Error("请输入正整数"));
        } else {
          callback();
        }
    };
    return {
      searchform: {
        name: "",
        isProcess: ""
      },
      searchresult: {
        name: "",
        isProcess: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typelist: [
        {
          id: 1,
          name: "未开始"
        },
        {
          id: 2,
          name: "进行中"
        },
        {
          id: 3,
          name: "已结束"
        }
      ],
      channelList: [],
      form: {
        name: "",
        roompriceName: "",
        saletype: 1,
        type: 1,
        notice: "",
        startdate: "",
        enddate: "",
        bookingEnddate: "",
        bookingStartdate: "",
        amount: "",
        status: 1,
        channelList: [1],
        days: ''
      },
      visible: false,
      rowData: {},
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        roompriceName: [{ required: true, message: "不能为空", trigger: "blur" }],
        notice: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        saletype: [{ required: true, message: "不能为空", trigger: "change" }],
        startdate: [{ required: true, message: "不能为空", trigger: "change" }],
        enddate: [{ required: true, message: "不能为空", trigger: "change" }],
        bookingEnddate: [{ required: true, message: "不能为空", trigger: "change" }],
        bookingStartdate: [{ required: true, message: "不能为空", trigger: "change" }],
        channelList: [{ required: true, message: "不能为空", trigger: "change" }],
        amount: [{ required: true, validator: checkNum, trigger: "blur" }],
        days: [{ required: true, validator: checkDays, trigger: "blur" }]
      },
      actionType: 0,
      actionTypeName: "",
      roomvisible: false,
      searchformroom: {
        labelname: "",
        type: ""
      },
      searchresultroom: {
        labelname: "",
        type: ""
      },
      tableDataRoom: [],
      totalroom: 0,
      pageroom: 1,
      limitroom: 10,
      loadingroom: false,
      hotelList: [],
      roomstyleList: [],
      roompriceList: [],
      roomvisible: false,
      activityid: 0,
      activitytype: 4
    };
  },
  components: {
    vBreadcrumb,
    ActivityRelevance
  },
  computed: {},
  created() {
    this.gotData();
    this.gotChannelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        name: this.searchresult.name,
        isProcess: this.searchresult.isProcess,
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("market/aContinousList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let value = this.form.amount;
          let amount = 0;
          let discount = 0;
          this.form.saletype === 1 ? discount = value : amount = value
          const params = {
            name: this.form.name,
            roompriceName: this.form.roompriceName,
            saletype: this.form.saletype,
            notice: this.form.notice,
            startdate: this.form.startdate,
            enddate: this.form.enddate,
            bookingEnddate:  this.form.bookingEnddate,
            bookingStartdate: this.form.bookingStartdate,
            amount: amount,
            discount: discount,
            status:  this.form.status,
            channelList: this.form.channelList,
            days: this.form.days,
            type: this.form.type
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("market/aContinousSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success(result.msg);
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("market/aContinousDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const amount = data.saletype === 1 ? data.discount : data.amount;
            this.form = {
              name: data.name,
              roompriceName: data.roompriceName,
              saletype: data.saletype,
              notice: data.notice,
              startdate: data.startdate,
              enddate: data.enddate,
              bookingEnddate: data.bookingEnddate,
              bookingStartdate: data.bookingStartdate,
              amount: amount,
              status: data.status,
              channelList: data.channelList,
              days: data.days,
              type: data.type
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("market/aContinousEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success(result.msg);
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        name: "",
        roompriceName: "",
        saletype: 1,
        type: 1,
        notice: "",
        startdate: "",
        enddate: "",
        bookingEnddate: "",
        bookingStartdate: "",
        amount: "",
        status: 1,
        channelList: [1],
        days: ''
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleDelete(index, row) {
      this.rowData = row;
      this.$confirm("确定要删除活动吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteSubmit();
        })
        .catch(() => {});
    },
    deleteSubmit () {
      const dataparams = {
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("market/aContinousDelete", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房型管理
    handleEditRoom (index, row) {
      this.roomvisible = true;
      this.activityid = row.id;
    },
    //关闭弹窗
    closeVisible () {
      this.roomvisible = false;
    }
  }
};
</script>

