<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-08-27 16:46:10
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.page-container {
  position: relative;
}
.goods-card-first {
  margin-top: 20px;
}
.goods-card {
  margin-top: 30px;
}
.goods-card-title {
  padding: 0 15px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 4px;
  .goods-title {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
  }
}
.goods-card-content {
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  .goods-content {
  }
}
.goods-card-first {
  margin-top: 20px;
}
.anchor-ul {
  width: 100%;
  margin-top: 20px;
  display: flex;
  height: 28px;
  .anchor-li {
    background: #fff;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1;
    border-radius: 0;
    white-space: nowrap;
    border: 1px solid #dcdfe6;
    font-weight: 500;
    border-left: 0;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid #dcdfe6;
      box-shadow: none !important;
    }
    &.active {
      color: #fff;
      background-color: #409eff;
      border-color: #409eff;
      box-shadow: -1px 0 0 0 #409eff;
    }
  }
}
.anchor-ul-fixed {
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  top: 100px;
  right: 50px;
  width: 97px;
  z-index: 666;
  .anchor-li-fixed {
    background: #fff;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1;
    border-radius: 0;
    white-space: nowrap;
    border-bottom: 1px solid #dcdfe6;
    border-left: 1px solid #dcdfe6;
    border-right: 1px solid #dcdfe6;
    font-weight: 500;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
    &:first-child {
      border-radius: 4px 4px 0 0;
      border-top: 1px solid #dcdfe6;
      box-shadow: none !important;
    }
    &.active {
      color: #fff;
      background-color: #409eff;
      border-color: #409eff;
      box-shadow: -1px 0 0 0 #409eff;
    }
  }
}
.goodstype-ul {
  display: flex;
  .goodstype-li {
    width: 100px;
    height: 50px;
    margin-right: 30px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    background: #ccc;
    cursor: pointer;
    border-radius: 4px;
    &.active {
      background: #409eff;
      color: #fff;
    }
  }
}
.tips-font {
  font-size: 12px;
  color: #909399;
  margin-left: 10px;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="商品管理" title2="发布商品"></v-breadcrumb>
    <div class="anchor-ul">
      <li
        @click="handleAnchor(item)"
        :class="['anchor-li', item.id === anchorid ? 'active' : '']"
        v-for="item in anchorList"
        :key="item.id"
        v-anchor="item.id"
      >{{item.name}}</li>
    </div>
    <div class="anchor-ul-fixed" v-show="isscroll">
      <li
        @click="handleAnchor(item)"
        :class="['anchor-li-fixed', item.id === anchorid ? 'active' : '']"
        v-for="item in anchorList"
        :key="item.id"
        v-anchor="item.id"
      >{{item.name}}</li>
    </div>

    <div class="goods-card goods-card-first">
      <div class="goods-card-title">
        <div class="goods-title">商品类型</div>
      </div>
      <div class="goods-card-content">
        <div class="goods-content">
          <ul class="goodstype-ul">
            <li
              v-for="item in goodstypeList"
              :key="item.id"
              :class="['goodstype-li', item.id === goodstypeid ? 'active' : '']"
              @click="changeGoodsType(item)"
            >{{item.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    <el-form ref="form" :model="form" :rules="rules" :inline="true" class="operate-form-box">
      <!-- 基础信息 -->
      <div class="goods-card" id="anchor-1">
        <div class="goods-card-title">
          <div class="goods-title">基础信息</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="商品名称" prop="goodsname">
                  <el-input
                    v-model="form.goodsname"
                    clearable
                    placeholder="请输入"
                    style="width: 510px"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品类目" style="margin-bottom: 0" required>
                  <el-form-item prop="categoryidparent">
                    <el-select
                      v-model="form.categoryidparent"
                      clearable
                      placeholder="请输入一级类目"
                      style="width: 250px"
                      @change="gotCategory2List"
                    >
                      <el-option
                        v-for="item in category1List"
                        :key="item.id"
                        :label="item.id +'-'+ item.categoryname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="categoryid">
                    <el-select
                      v-model="form.categoryid"
                      clearable
                      placeholder="请输入二级类目"
                      style="width: 250px"
                    >
                      <el-option
                        v-for="item in category2List"
                        :key="item.id"
                        :label="item.id +'-'+item.categoryname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                </el-form-item>
              </el-col>

              <el-col :span="24">
                <el-form-item label="商品卖点" prop="sellingpoint">
                  <el-input
                    v-model="form.sellingpoint"
                    style="width:510px"
                    placeholder="请输入"
                    clearable
                    :rows="3"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品图片" required>
                  <goodsUpImage
                    :fileList="goodsResourceImages"
                    @upImages="handleGoodsImageUp"
                    :config="config"
                    v-if="config.id"
                  ></goodsUpImage>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品排序" prop="sort">
                  <el-input v-model="form.sort" clearable placeholder="请输入" style="width: 510px"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品标签" prop="labelNameList">
                  <el-checkbox
                    :indeterminate="isIndeterminate"
                    v-model="checkAll"
                    @change="handleCheckAllChange"
                  >全选</el-checkbox>
                  <div style="margin: 15px 0;"></div>
                  <div style="width: 800px">
                    <el-checkbox-group v-model="form.labelNameList" @change="handleCheckedChange">
                      <el-checkbox
                        v-for="(item, index) in labelNameGroup"
                        :label="item"
                        :key="String(index)"
                      >{{item}}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品分组" prop="groupid">
                  <el-checkbox
                    :indeterminate="isIndeterminateGroup"
                    v-model="checkAllGroup"
                    @change="handleCheckAllChangeGroup"
                  >全选</el-checkbox>
                  <div style="margin: 15px 0;"></div>
                  <div style="width: 800px">
                    <el-checkbox-group v-model="form.groupid" @change="handleCheckedChangeGroup">
                      <el-checkbox
                        v-for="(item, index) in groupList"
                        :label="item.id"
                        :key="String(index)"
                      >{{item.groupname}}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 价格库存 -->
      <div class="goods-card" id="anchor-2">
        <div class="goods-card-title">
          <div class="goods-title">价格库存</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="商品规格" required>
                  <el-button
                    type="primary"
                    @click="selectSpecs(2)"
                    v-if="isspecs === 1 && goodstypeid === 1"
                  >添加规格</el-button>
                  <el-button
                    type="warning"
                    @click="selectSpecs(1)"
                    v-if="isspecs === 2 && goodstypeid === 1"
                  >取消规格</el-button>
                </el-form-item>
              </el-col>
              <el-col
                :span="24"
                style="margin-bottom: 15px"
                v-if="isspecs === 2 && goodstypeid === 1"
              >
                <div></div>
                <el-table
                  border
                  ref="multipleTable"
                  :data="tableData"
                  style="width: 100%"
                  @selection-change="handleSelectionChange"
                >
                  <el-table-column type="selection" width="55"></el-table-column>

                  <el-table-column
                    v-for="(item, index) in specscolumns"
                    :key="String(index)"
                    :prop="item.prop"
                    :label="item.label"
                  >
                    <template slot-scope="scope">
                      <el-input
                        size="mini"
                        placeholder="请输入"
                        v-model="scope.row[item.prop]"
                        clearable
                      ></el-input>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <el-button
                        style="color: red"
                        type="text"
                        icon="el-icon-delete"
                        @click="handleDelete(scope.$index, scope.row)"
                      >删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <div style="margin-top: 15px">
                  <el-button type="success" @click="handleSpecs(1)">新增规格</el-button>
                  <el-button type="primary" @click="handleSpecs(2)">批量设置价格</el-button>
                  <el-button type="primary" @click="handleSpecs(6)">批量设置原价</el-button>
                  <el-button type="primary" @click="handleSpecs(3)">批量设置库存</el-button>
                  <el-button type="primary" @click="handleSpecs(4)">批量设置重量</el-button>
                  <el-button type="danger" @click="handleSpecs(5)">批量删除</el-button>
                </div>
              </el-col>
              <el-col :span="24" v-if="isspecs === 1">
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="价格(元)" prop="price" label-width="100px">
                      <el-input
                        v-model="form.price"
                        clearable
                        placeholder="请输入"
                        style="width: 250px"
                      ></el-input>
                    </el-form-item>
                    <el-form-item label="原价(元)" prop="originalprice" label-width="100px">
                      <el-input
                        v-model="form.originalprice"
                        clearable
                        placeholder="请输入"
                        style="width: 250px"
                      ></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="24">
                    <el-form-item label="库存" prop="stock" label-width="100px">
                      <el-input
                        v-model="form.stock"
                        clearable
                        placeholder="请输入"
                        style="width: 250px"
                      ></el-input>
                    </el-form-item>
                    <el-form-item label="重量(kg)" prop="weight" label-width="100px" v-if="goodstypeid === 1">
                      <el-input
                        v-model="form.weight"
                        clearable
                        placeholder="请输入"
                        style="width: 250px"
                      ></el-input>
                      <span class="tips-font">无重量，输入0</span>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品编码" prop="goodsno" label-width="100px">
                  <el-input v-model="form.goodsno" clearable placeholder="请输入" style="width: 250px"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="成本价(元)" prop="costprice" label-width="100px">
                  <el-input
                    v-model="form.costprice"
                    clearable
                    placeholder="请输入"
                    style="width: 250px"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="参与积分抵现" prop="pointtype" @change="changeRadio">
                  <el-radio-group v-model="form.pointtype">
                    <el-radio :label="2">积分抵扣</el-radio>
                    <el-radio :label="1">积分不抵扣</el-radio>
                    <el-radio :label="3">全积分抵扣</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-if="form.pointtype === 2">
                <el-form-item label="积分抵扣百分比" prop="pointvalue">
                  <el-input
                    v-model="form.pointvalue"
                    clearable
                    placeholder="请输入"
                    style="width: 250px"
                  ></el-input>%
                  <span class="tips-font">(数值范围0-100之间)</span>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 物流信息 -->
      <div class="goods-card" id="anchor-8" v-if="goodstypeid === 1">
        <div class="goods-card-title">
          <div class="goods-title">物流信息</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="配送方式" label-width="124px" prop="logisticsType">
                  <el-checkbox-group v-model="form.logisticsType">
                    <el-checkbox :label="1">快递</el-checkbox>
                    <el-checkbox :label="2">自提</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-show="showlogisticsKD">
                <el-form-item label="快递方式" required label-width="124px" prop="postageType">
                  <el-radio-group v-model="form.postageType">
                    <div style="margin-bottom: 10px">
                      <el-radio :label="1">包邮</el-radio>
                    </div>
                    <div style="margin-bottom: 10px">
                      <el-radio :label="2">统一邮费(元)</el-radio>
                      <el-input
                        v-model="form.postagePrice"
                        clearable
                        placeholder="请输入"
                        style="width: 200px"
                      ></el-input>
                    </div>
                    <div>
                      <el-radio :label="3">运费模板</el-radio>
                      <el-select
                        v-model="form.logisticsid"
                        clearable
                        placeholder="请选择运费模板"
                        style="width: 200px;margin-left: 22px"
                      >
                        <el-option
                          v-for="item in logisticsList"
                          :key="item.id"
                          :label="item.id +'-'+ item.logisticsname"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </div>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-show="showlogisticsZT">
                <el-form-item label="是否支持多店自提" required>
                  <el-radio-group v-model="form.isAllHotel" @change="emptyHotelidList">
                    <el-radio :label="0">支持</el-radio>
                    <el-radio :label="1">不支持</el-radio>
                  </el-radio-group>
                </el-form-item>
                <div>
                  <el-form-item label="支持商户" required label-width="124px">
                    <div style="width: 600px">
                      <el-checkbox-group v-model="form.hotelidList">
                        <el-checkbox
                          :label="item.id"
                          v-for="(item, index) in hotelList"
                          :key="String(index)"
                          @change="(value) => changehotelList(item, value)"
                          style="width: 200px"
                        >{{item.merchantname}}</el-checkbox>
                      </el-checkbox-group>
                    </div>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 规则设置 -->
      <div class="goods-card" id="anchor-3">
        <div class="goods-card-title">
          <div class="goods-title">规则设置</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="销售日期" required label-width="145px">
                  <el-date-picker
                    v-model="form.salesStarttime"
                    value-format="yyyy-MM-dd"
                    type="date"
                    placeholder="选择开始时间"
                    clearable
                    style="width: 200px"
                  ></el-date-picker>
                  <span style="margin: 0 13px;">至</span>
                  <el-date-picker
                    v-model="form.salesEndtime"
                    value-format="yyyy-MM-dd"
                    type="date"
                    placeholder="选择截至时间"
                    clearable
                    style="width: 200px"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-if="goodstypeid === 2">
                <el-form-item label="是否适用多酒店/商户" required>
                  <el-radio-group v-model="form.isAllHotel" @change="emptyHotelidList">
                    <el-radio :label="0">适用</el-radio>
                    <el-radio :label="1">不适用</el-radio>
                  </el-radio-group>
                </el-form-item>
                <div>
                  <el-form-item label="适用酒店/商户" required label-width="145px">
                    <div style="width: 600px">
                      <el-checkbox-group v-model="form.hotelidList">
                        <el-checkbox
                          :label="item.id"
                          v-for="(item, index) in hotelList"
                          :key="String(index)"
                          @change="(value) => changehotelList(item, value)"
                          style="width: 200px"
                        >{{item.merchantname}}</el-checkbox>
                      </el-checkbox-group>
                    </div>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="24">
                <el-form-item label="限售" prop="limitsaletype" label-width="145px" required>
                  <el-radio-group v-model="form.limitsaletype">
                    <el-radio :label="1">每人限购件数</el-radio>
                    <el-radio :label="2">每人每天限购件数</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="限售数量(件)" prop="limitsalevalue" label-width="145px">
                  <el-input
                    v-model="form.limitsalevalue"
                    clearable
                    placeholder="请输入"
                    style="width: 200px"
                  ></el-input>
                  <span class="tips-font">数量0表示不限购</span>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="起售(件)" prop="startcount" label-width="145px">
                  <el-input
                    v-model="form.startcount"
                    clearable
                    placeholder="请输入"
                    style="width: 200px"
                  ></el-input>
                  <span class="tips-font">起售数量超出商品库存时，买家无法购买该商品</span>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="是否可用优惠券" prop="usecoupon" label-width="145px" required>
                  <el-radio-group v-model="form.usecoupon">
                    <el-radio :label="1">可用</el-radio>
                    <el-radio :label="0">不可用</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 使用须知 -->
      <div class="goods-card" id="anchor-4" v-if="goodstypeid === 2">
        <div class="goods-card-title">
          <div class="goods-title">使用须知</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="卡券是否能拆分使用" prop="split">
                  <el-radio-group v-model="form.split">
                    <div style="margin-bottom: 10px">
                      <el-radio :label="1" style="margin-top: 6px">是</el-radio>
                      <el-form-item style="margin-bottom: 0">
                        <el-input
                          v-model="form.splitCount"
                          clearable
                          placeholder="请输入"
                          style="width: 200px"
                        ></el-input>份
                        <span class="tips-font">(仅支持拆分同价值券，勿拆分不同类型商品价值券)</span>
                      </el-form-item>
                    </div>
                    <div>
                      <el-radio :label="2">否</el-radio>
                    </div>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="有效期" label-width="138px" prop="validType">
                  <el-radio-group v-model="form.validType">
                    
                    <div style="margin-bottom: 10px">
                      <el-radio :label="2" style="margin-top: 6px">固定日期</el-radio>
                      <el-form-item label-width="0px" style="margin-bottom: 0">
                        <el-date-picker
                          v-model="form.validStartdate"
                          value-format="yyyy-MM-dd"
                          type="date"
                          placeholder="选择开始时间"
                          clearable
                          style="width: 200px"
                        ></el-date-picker>
                        <span style="margin: 0 13px;">至</span>
                        <el-date-picker
                          v-model="form.validEnddate"
                          value-format="yyyy-MM-dd"
                          type="date"
                          placeholder="选择截至时间"
                          clearable
                          style="width: 200px"
                        ></el-date-picker>
                      </el-form-item>
                    </div>

                    <div style="margin-bottom: 10px">
                      <el-radio :label="3" style="margin-top: 6px">自购买之日起</el-radio>
                      <el-form-item style="margin-bottom: 0">
                        <el-input
                          v-model="form.validDays"
                          clearable
                          placeholder="请输入"
                          style="width: 200px"
                        ></el-input>天有效
                      </el-form-item>
                    </div>
                    <div style="margin-bottom: 10px">
                      <el-radio :label="1">无使用期限限制</el-radio>
                    </div>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="可用日期描述" prop="availableDate" label-width="138px">
                  <el-input
                    v-model="form.availableDate"
                    style="width:550px"
                    placeholder="请输入"
                    clearable
                    :rows="5"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="使用时段描述" prop="useTime" label-width="138px">
                  <el-input
                    v-model="form.useTime"
                    style="width:550px"
                    placeholder="请输入"
                    clearable
                    :rows="5"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="是否预约" label-width="138px" required>
                  <el-radio-group v-model="form.reservation">
                    <div style="margin-bottom: 10px">
                      <el-radio :label="1" style="margin-top: 6px">是</el-radio>
                    </div>
                    <div style="margin-bottom: 10px">
                      <el-radio :label="2">否</el-radio>
                    </div>
                    <div>
                      <el-input
                        v-model="form.reservationDesc"
                        style="width:550px"
                        placeholder="请输入"
                        clearable
                        :rows="3"
                        resize="none"
                        type="textarea"
                      ></el-input>
                    </div>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 其他信息 -->
      <div class="goods-card" id="anchor-5">
        <div class="goods-card-title">
          <div class="goods-title">其他信息</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="库存显示" prop="showstock" label-width="110px" required>
                  <el-radio-group v-model="form.showstock">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="销量显示" prop="showsalescount" label-width="110px" required>
                  <el-radio-group v-model="form.showsalescount">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="显示积分售价" prop="showpoint" required label-width="110px">
                  <el-radio-group v-model="form.showpoint">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="上架时间" prop="status" label-width="110px" required>
                  <el-radio-group v-model="form.status">
                    <div style="margin-bottom: 10px">
                      <el-radio :label="1">立即上架</el-radio>
                    </div>
                    <!-- <div style="margin-bottom: 10px">
                      <el-radio :label="0">暂不上架</el-radio>
                    </div>-->
                    <div>
                      <el-radio :label="2" style="margin-top: 6px">定时上架</el-radio>
                      <el-form-item style="margin-bottom: 0">
                        <el-date-picker
                          v-model="form.statusTime"
                          value-format="yyyy-MM-dd HH:mm:ss"
                          type="datetime"
                          placeholder="请选择定时上架时间"
                          clearable
                          style="width: 200px"
                        ></el-date-picker>
                      </el-form-item>
                    </div>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
      <!-- 商品详情 -->
      <div class="goods-card" id="anchor-6">
        <div class="goods-card-title">
          <div class="goods-title">商品详情</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="使用规则" required>
                  <el-input
                    v-model="form.rules"
                    style="width:830px"
                    placeholder="请输入"
                    clearable
                    :rows="5"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="温馨提示" required>
                  <el-input
                    v-model="form.tips"
                    style="width:830px"
                    placeholder="请输入"
                    clearable
                    :rows="5"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品详情" required>
                  <div style="width: 830px">
                    <Editor
                      :content="goodsdesc"
                      @changeContent="changeContent"
                      :config="editorconfig"
                      v-if="editorconfig.id"
                    ></Editor>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>

      <!-- 分享设置 -->
      <div class="goods-card" id="anchor-7">
        <div class="goods-card-title">
          <div class="goods-title">分享设置</div>
        </div>
        <div class="goods-card-content">
          <div class="goods-content">
            <el-row>
              <el-col :span="24">
                <el-form-item label="分享标题" prop="title">
                  <el-input
                    v-model="form.title"
                    style="width:830px"
                    placeholder="请输入"
                    clearable
                    :rows="3"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="分享描述" prop="sharedesc">
                  <el-input
                    v-model="form.sharedesc"
                    style="width:830px"
                    placeholder="请输入"
                    clearable
                    :rows="5"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="分享图片">
                  <goodsUpImage
                    :fileList="goodsShareImageList"
                    @upImages="handleShareImageUp"
                    :config="shareconfig"
                    v-if="shareconfig.id"
                  ></goodsUpImage>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>

      <div style="background: #fff;padding: 80px 0;text-align: center">
        <el-button type="info" @click="handleSave('form', 1)">保存</el-button>
        <el-button type="primary" @click="handleSave('form', 2)">保存并上架</el-button>
      </div>
    </el-form>

    <!-- 弹窗 -->
    <el-dialog :title="specsaction" :visible.sync="dialogFormVisible" width="30%" center>
      <el-input v-model="setspecs" placeholder="请输入"></el-input>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="updateSpecs">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import goodsUpImage from "@/components/Upload/goodsUpImage.vue";
import Editor from "@/components/Editor/index.vue";
import { regercent, includezero, positive_num_zero } from "@/utils/reg";
import request from "@/utils/request";
const anchorList1 = [
  {
    name: "基础信息",
    id: 1,
  },
  {
    name: "价格库存",
    id: 2,
  },
  {
    name: "规则设置",
    id: 3,
  },
  {
    name: "使用须知",
    id: 4,
  },
  {
    name: "其他信息",
    id: 5,
  },
  {
    name: "商品详情",
    id: 6,
  },
  {
    name: "分享设置",
    id: 7,
  },
];
const anchorList0 = [
  {
    name: "基础信息",
    id: 1,
  },
  {
    name: "价格库存",
    id: 2,
  },
  {
    name: "规则设置",
    id: 3,
  },
  {
    name: "物流信息",
    id: 8,
  },
  {
    name: "其他信息",
    id: 5,
  },
  {
    name: "商品详情",
    id: 6,
  },
  {
    name: "分享设置",
    id: 7,
  },
];

export default {
  data() {
    const checkPercent = (rule, value, callback) => {
      if (this.form.pointtype === 2) {
        if (!regercent.test(value)) {
          callback(new Error("输入不合法"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };

    const checkNonnegative = (rule, value, callback) => {
      if (!includezero.test(value)) {
        callback(new Error("输入不合法"));
      } else {
        callback();
      }
    };

    const checkAmount = (rule, value, callback) => {
      if (!positive_num_zero.test(value)) {
        callback(new Error("输入不合法"));
      } else {
        callback();
      }
    };

    // 商品规格校验
    const checkSpecs = (rule, value, callback) => {
      if (this.goodstypeid === 1 && this.isspecs === 2) {
        callback();
      } else {
        if (
          rule.field === "originalprice" ||
          rule.field === "price" ||
          rule.field === "weight"
        ) {
          if (!includezero.test(value)) {
            callback(new Error("输入不合法"));
          } else {
            callback();
          }
        } else if (rule.field === "stock") {
          if (!positive_num_zero.test(value)) {
            callback(new Error("输入不合法"));
          } else {
            callback();
          }
        } else if (rule.field === "goodsno") {
          if (!value) {
            callback(new Error("不能为空"));
          } else {
            callback();
          }
        } else {
          callback();
        }
      }
    };

    const checkHotel = (rule, value, callback) => {
      if (this.form.isAllHotel === 1 && !value) {
        callback(new Error("不能为空"));
      } else {
        callback();
      }
    };

    const checkNotice = (rule, value, callback) => {
      if (this.goodstypeid === 2) {
        if (!value) {
          callback(new Error("不能为空"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };

    const checkSort = (rule, value, callback) => {
      if (!/^\d+$/.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };

    return {
      anchorList: anchorList0,
      anchorid: 1,
      isscroll: false,
      goodstypeList: [
        {
          id: 1,
          name: "实物商品",
        },
        {
          id: 2,
          name: "票券",
        },
      ],
      goodstypeid: 1,
      hotelList: [],
      isIndeterminateGroup: false,
      checkAllGroup: false,
      groupList: [],
      category1List: [],
      category2List: [],
      checkAll: false,
      isIndeterminate: false,
      labelNameGroup: [
        "官网独家",
        "爆款",
        "爆款返场",
        "限量购",
        "限时购",
        "品匠优品",
      ],
      specscolumns: [
        {
          prop: "specsname",
          label: "规格名称",
          width: 120,
        },
        {
          prop: "price",
          label: "现价(元)",
          width: 120,
        },
        {
          prop: "originalprice",
          label: "原价(元)",
          width: 120,
        },
        {
          prop: "stock",
          label: "库存",
          width: 120,
        },
        {
          prop: "weight",
          label: "重量(kg)",
          width: 120,
        },
      ],
      specsid: 0,
      isspecs: 1,
      tableData: [],
      multipleSelection: [],
      dialogFormVisible: false,
      setspecs: "",
      specsaction: "",
      specstype: "",
      dialogFormVisible: false,
      logisticsList: [],
      form: {
        // 基础信息
        goodsname: "",
        categoryidparent: "",
        categoryid: "",
        groupid: [],
        sellingpoint: "",
        labelNameList: [],
        sort: 1000,
        //价格库存
        stock: "",
        originalprice: "",
        price: "",
        weight: 0,
        goodsno: "",
        costprice: "",
        pointtype: 2,
        pointvalue: 100,
        // 物流信息
        logisticsType: [],
        postagePrice: "",
        logisticsid: "",
        postageType: 1,
        // 支持酒店
        hotelidList: [],
        isAllHotel: 1,
        // 规则设置
        salesAways: 0,
        salesStarttime: "",
        salesEndtime: "",
        limitsaletype: 1,
        limitsalevalue: 0,
        startcount: 1,
        usecoupon: 0,
        // 使用须知
        split: 2,
        splitCount: "",
        validType: 2,
        validEnddate: "",
        validStartdate: "",
        validDays: "",
        availableDate: "",
        useTime: "",
        reservation: 2,
        reservationDesc: "",
        // 其他信息
        showstock: 1,
        showsalescount: 0,
        showpoint: 1,
        status: 1,
        statusTime: "",
        // 商品详情
        rules: "购买后凭收到的电子券号消费或预约。",
        tips: "如需发票，请在消费后向工作人员索取。",
        //分享设置
        sharedesc: "",
        title: "",
      },
      goodsResourceImages: [],
      goodsShareImageList: [],
      goodsdesc: "",
      goodsID: "",
      config: {
        id: "",
        type: 7,
      },
      shareconfig: {
        id: "",
        type: 8,
      },
      editorconfig: {
        id: "",
        type: 9,
      },
      rules: {
        // 基础信息
        goodsname: [{ required: true, message: "不能为空", trigger: "blur" }],
        categoryidparent: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        categoryid: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        // groupid: [{ required: true, message: "不能为空", trigger: "change" }],
        // sellingpoint: [
        //   { required: true, message: "不能为空", trigger: "blur" },
        // ],
        sort: [{ required: true, validator: checkSort, trigger: "blur" }],
        // labelNameList: [
        //   { required: true, message: "不能为空", trigger: "change" },
        // ],
        //价格库存
        costprice: [
          { required: true, validator: checkNonnegative, trigger: "blur" },
        ],
        pointtype: [{ required: true, message: "不能为空", trigger: "blur" }],
        pointvalue: [
          { required: true, validator: checkPercent, trigger: "blur" },
        ],
        stock: [{ required: true, validator: checkSpecs, trigger: "blur" }],
        originalprice: [
          { required: true, validator: checkSpecs, trigger: "blur" },
        ],
        price: [{ required: true, validator: checkSpecs, trigger: "blur" }],
        weight: [{ required: true, validator: checkSpecs, trigger: "blur" }],
        goodsno: [{ required: true, validator: checkSpecs, trigger: "blur" }],
        //支持酒店
        // isAllHotel: [{ required: true, message: "不能为空", trigger: "blur" }],
        // hotelidList: [{ required: true, validator: checkHotel, trigger: "blur" }],
        // 规则设置
        // salesAways: [{ required: true, message: "不能为空", trigger: "blur" }],
        limitsalevalue: [
          { required: true, validator: checkAmount, trigger: "blur" },
        ],
        startcount: [
          { required: true, validator: checkAmount, trigger: "blur" },
        ],
        // 快递方式
        logisticsType: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        // 使用须知(票券)
        // availableDate: [
        //   { required: true, validator: checkNotice, trigger: "blur" },
        // ],
        split: [{ required: true, validator: checkNotice, trigger: "blur" }],
        validType: [
          { required: true, validator: checkNotice, trigger: "blur" },
        ],
        // useTime: [{ required: true, validator: checkNotice, trigger: "blur" }],
        // reservationDesc: [
        //   { required: true, validator: checkNotice, trigger: "blur" },
        // ],
        // 其他信息
        // 商品详情
        // rules: [{ required: true, message: "不能为空", trigger: "blur" }],
        // tips: [{ required: true, message: "不能为空", trigger: "blur" }],
        // 分享设置
        // title: [{ required: true, message: "不能为空", trigger: "blur" }],
        // sharedesc: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
    };
  },
  components: {
    vBreadcrumb,
    goodsUpImage,
    Editor,
  },
  directives: {
    anchor: {
      inserted: function (el, binding) {
        el.onclick = function () {
          let total = 0;
          if (binding.value == 1) {
            document.getElementById("scrollpage").scrollTop = 0;
          } else {
            total = document.getElementById(`anchor-${binding.value}`)
              .offsetTop;
          }

          // console.log(total)

          let distance = document.getElementById("scrollpage").scrollTop;

          // console.log(distance)

          let step = total / 50;

          if (total > distance) {
            (function smoothDown() {
              if (distance < total) {
                distance += step;
                document.getElementById("scrollpage").scrollTop = distance;
                setTimeout(smoothDown, 5);
              } else {
                document.getElementById("scrollpage").scrollTop = total;
              }
            })();
          } else {
            let newTotal = distance - total;
            step = newTotal / 50;
            (function smoothUp() {
              if (distance > total) {
                distance -= step;
                document.getElementById("scrollpage").scrollTop = distance;
                setTimeout(smoothUp, 5);
              } else {
                document.getElementById("scrollpage").scrollTop = total;
              }
            })();
          }
        };
      },
    },
  },
  watch: {},
  computed: {
    scrollheight() {
      let height = 0;
      this.$nextTick(() => {
        height = document.getElementById("scrollpage").scrollTop;
      });
      return height;
    },
    showlogisticsKD() {
      const logisticsType = this.form.logisticsType;
      if (logisticsType.length > 0) {
        const isshow = logisticsType.find((item) => item === 1);
        return isshow ? true : false;
      } else {
        return false;
      }
    },
    showlogisticsZT() {
      const logisticsType = this.form.logisticsType;
      if (logisticsType.length > 0) {
        const isshow = logisticsType.find((item) => item === 2);
        return isshow ? true : false;
      } else {
        return false;
      }
    },
  },
  created() {
    this.gotGoodsID();
    this.gotHotelList();
    this.gotCategory1List();
    this.gotLogisticsList();
    this.gotgroupList();
  },
  mounted() {
    this.$nextTick(() => {
      document.getElementById("scrollpage").onscroll = () => {
        let height = document.getElementById("scrollpage").scrollTop;
        this.isscroll = height > 100 ? true : false;
      };
    });
  },
  methods: {
    handleSave(formName, submittype) {
      this.$refs[formName].validate((valid) => {
        if (valid) {

          // 商品图片
          if (submittype === 2) {
            if (this.goodsResourceImages.length <= 0) {
              this.$message.warning("请上传商品图片");
              return;
            }
          }
          // 规格
          let goodsSpecsList = [];
          if (this.goodstypeid === 1 && this.isspecs === 2) {
            // 商品规格
            if (this.tableData.length <= 0) {
              this.$message.warning("请添加商品规格");
              return;
            }
            // 是否有没有值的字段
            const isedit = this.tableData.findIndex((item) => {
              return (
                item.specsname === "" ||
                item.originalprice === "" ||
                item.price === "" ||
                item.stock === "" ||
                item.weight === ""
              );
            });
            if (isedit !== -1) {
              this.$message.warning("请填写规格信息");
              return;
            } else {
              goodsSpecsList = this.tableData;
            }
          } else {
            const json = {
              originalprice: this.form.originalprice,
              price: this.form.price,
              specsname: "默认规格",
              stock: this.form.stock,
              weight: this.form.weight,
            };
            goodsSpecsList.push(json);
          }

          // 积分比例
          const pointvalue = this.form.pointvalue
            ? (this.form.pointvalue / 100).toFixed(2)
            : 0;

          // 物流信息
          let postagePrice = 0;
          let logisticsid = "";
          let hotelidList = [];
          if (this.form.logisticsType.length === 2) {
            if (this.form.hotelidList.length <= 0) {
              this.$message.warning("请选择自提酒店");
              return;
            } else {
              hotelidList = this.form.hotelidList;
            }
            if (this.form.postageType === 2) {
              if (!includezero.test(this.form.postagePrice)) {
                this.$message.warning("统一邮费不合法");
                return;
              } else {
                postagePrice = this.form.postagePrice;
              }
            } else if (this.form.postageType === 3) {
              if (!this.form.logisticsid) {
                this.$message.warning("请选择运费模板");
                return;
              } else {
                logisticsid = this.form.logisticsid;
              }
            }
          } else if (this.form.logisticsType.length === 1) {
            if (this.form.logisticsType[0] === 1) {
              // 快递
              if (this.form.postageType === 2) {
                if (!includezero.test(this.form.postagePrice)) {
                  this.$message.warning("统一邮费不合法");
                  return;
                } else {
                  postagePrice = this.form.postagePrice;
                }
              } else if (this.form.postageType === 3) {
                if (!this.form.logisticsid) {
                  this.$message.warning("请选择运费模板");
                  return;
                } else {
                  logisticsid = this.form.logisticsid;
                }
              }
            } else {
              // 自提
              if (this.form.hotelidList.length <= 0) {
                this.$message.warning("请选择自提酒店");
                return;
              } else {
                hotelidList = this.form.hotelidList;
              }
            }
          }


          // 规则设置-限期销售日期
          let salesStarttime = "";
          let salesEndtime = "";
          if (this.form.salesAways === 0) {
            if (!this.form.salesStarttime || !this.form.salesEndtime) {
              this.$message.warning("请选择限期销售日期");
              return;
            } else {
              salesStarttime = this.form.salesStarttime + " 00:00:00";
              salesEndtime = this.form.salesEndtime + " 00:00:00";
            }
          }

          // 票券规则设置
          if (this.goodstypeid === 2) {
            if (this.form.hotelidList.length <= 0) {
              this.$message.warning("请选择适用酒店/商户");
              return;
            } else {
              hotelidList = this.form.hotelidList;
            }
          }


          // 其他信息-定时上架
          let statusTime = "";
          if (this.form.status === 2) {
            if (!this.form.statusTime) {
              this.$message.warning("请选择定时上架日期时间");
              return;
            } else {
              statusTime = this.form.statusTime;
            }
          }

          // 使用须知-卡券是否能拆分使用
          let splitCount = 0;
          if (this.form.split === 1) {
            if (!/^\d+$/.test(this.form.splitCount)) {
              this.$message.warning("卡券拆分份数输入不合法");
              return;
            } else {
              splitCount = this.form.splitCount;
            }
          }

          

          // 票券使用须知-有效期有效期固定日期\天数
          let validStartdate = "";
          let validEnddate = "";
          let validDays = 0;
          if (this.goodstypeid === 2 && this.form.validType === 2) {
            if (!this.form.validStartdate || !this.form.validEnddate) {
              this.$message.warning("请选择有效期固定日期");
              return;
            } else {
              validStartdate = this.form.validStartdate + " 00:00:00";
              validEnddate = this.form.validEnddate + " 00:00:00";
            }
          } else if (this.goodstypeid === 2 && this.form.validType === 3) {
            if (!/^\d+$/.test(this.form.validDays)) {
              this.$message.warning("有效期天数不合法");
              return;
            } else {
              validDays = this.form.validDays;
            }
          }

         

          if (submittype === 2) {
            // 使用规则
            if (!this.form.rules) {
              this.$message.warning("请输入使用规则");
              return;
            }
            // 温馨提示
            if (!this.form.tips) {
              this.$message.warning("请输入温馨提示");
              return;
            }
            // 商品详情
            if (!this.goodsdesc) {
              this.$message.warning("请填写商品详情");
              return;
            }
          }

          // 分享图片
          // if (this.goodsShareImageList.length <= 0) {
          //   this.$message.warning("请上传分享图片");
          //   return;
          // }

          const params = {
            // 基础信息
            goodsname: this.form.goodsname,
            categoryid: this.form.categoryid,
            groupid: this.form.groupid,
            sellingpoint: this.form.sellingpoint,
            labelNameList: this.form.labelNameList,
            sort: this.form.sort,
            goodsResourceImages: this.goodsResourceImages,
            //价格库存
            costprice: this.form.costprice,
            pointtype: this.form.pointtype,
            pointvalue: pointvalue,
            goodsno: this.form.goodsno,
            goodsSpecsList: goodsSpecsList,
            specstype: this.isspecs,
            // 规则设置
            salesAways: this.form.salesAways,
            salesStarttime: salesStarttime,
            salesEndtime: salesEndtime,
            limitsaletype: this.form.limitsaletype,
            limitsalevalue: this.form.limitsalevalue,
            startcount: this.form.startcount,
            usecoupon: this.form.usecoupon,
            // 其他信息
            showstock: this.form.showstock,
            showsalescount: this.form.showsalescount,
            showpoint: this.form.showpoint,
            status: this.form.status,
            statusTime: statusTime,
            //商品详情
            rules: this.form.rules,
            tips: this.form.tips,
            goodsdesc: this.goodsdesc,
            // 分享
            goodsShareDto: {
              sharedesc: this.form.sharedesc,
              title: this.form.title,
              goodsShareImageList: this.goodsShareImageList,
            },
            // 多店自提
            goodsMerchantDto: {
              isMerchant: this.form.isAllHotel,
              merchantidList: hotelidList,
            },
            // 商品类型
            goodsType: this.goodstypeid,
            id: this.config.id,
          };

          if (this.goodstypeid === 1) {
            // 实物商品
            const goodsparams = {
              ...params,
              // 物流
              goodsLogistics: {
                logisticsTypeList: this.form.logisticsType,
                postagePrice: postagePrice,
                logisticsid: logisticsid,
                postageType: this.form.postageType,
              },
            };
            // console.log(goodsparams);
            this.goodsSave(goodsparams, submittype);
          } else if (this.goodstypeid === 2) {
            // 票券
            const goodsparams = {
              ...params,
              // 使用须知
              splitCount: splitCount,
              split: this.form.split,
              validType: this.form.validType,
              validStartdate: validStartdate,
              validEnddate: validEnddate,
              validDays: validDays,
              availableDate: this.form.availableDate,
              useTime: this.form.useTime,
              reservation: this.form.reservation,
              reservationDesc: this.form.reservationDesc,
            };
            console.log(goodsparams);
            this.goodsTicketsSave(goodsparams, submittype);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 发布实体商品保存
    goodsSave(params, submittype) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      const url = submittype === 1 ? "store/goodsSave" : "store/goodsSave2";
      this.$store
        .dispatch(url, {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            // this.handleResetFields();
            this.$router.push("/storegoodslist");
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 发布票券保存
    goodsTicketsSave(params, submittype) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      const url =
        submittype === 1 ? "store/goodsTicketsSave" : "store/goodsTicketsSave2";
      this.$store
        .dispatch(url, {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            // this.handleResetFields();
            this.$router.push("/storegoodslist");
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 富文本内容
    changeContent(value) {
      // console.log('goodsdesc', value)
      this.goodsdesc = value;
    },
    // 清空酒店商户
    emptyHotelidList() {
      if (this.form.isAllHotel === 1) {
        this.form.hotelidList = [];
      }
    },
    // 选择酒店商户
    changehotelList(item, value) {
      //console.log(value)
      // console.log(item)
      if (this.form.isAllHotel === 1 && value) {
        let hotelidList = [];
        hotelidList.push(item.id);
        this.form.hotelidList = hotelidList;
      }
    },
    // 删除规格列表
    handleDelete(rowindex, row) {
      const columnsindex = this.tableData.findIndex((value, index, arr) => {
        return value.specsid === row.specsid;
      });
      this.tableData.splice(columnsindex, 1);
    },
    // 更新规格数据
    updateSpecs() {
      if (!this.setspecs) {
        this.$message.warning("不能为空");
        return;
      }
      // 2 价格 3 库存 4 重量 6 原价
      const specstype =
        this.specstype === 2
          ? "price"
          : this.specstype === 3
          ? "stock"
          : this.specstype === 4 
          ? "weight"
          : this.specstype === 6
          ? 'originalprice' : ''
      let multipleSelection = this.multipleSelection;
      const setspecs = this.setspecs;
      multipleSelection.map((item) => {
        item[specstype] = setspecs;
      });
      let tableData = this.tableData;
      const newtableData = tableData.reduce((pre, cur) => {
        let target = pre.find((item, index, arr) => item.specsid === cur.specsid);
        if (target) {
          Object.assign(target, cur);
        } else {
          pre.push(cur);
        }
        return pre;
      }, multipleSelection);
      // console.log('newtableData',newtableData)
      this.tableData = newtableData;
      this.dialogFormVisible = false;
    },
    // 操作规格数据
    handleSpecs(value) {
      if (value !== 1 && this.multipleSelection.length <= 0) {
        this.$message.warning("请先选择列表");
        return;
      }
      switch (value) {
        case 1:
          this.specsid++;
          const item = {
            goodsno: "",
            specsname: "",
            originalprice: "",
            price: "",
            weight: "",
            stock: "",
            id: "",
            specsid: this.specsid,
          };
          this.tableData.push(item);
          break;
        case 2:
          this.specsaction = "批量设置价格";
          this.specstype = 2;
          this.dialogFormVisible = true;
          break;
        case 3:
          this.specsaction = "批量设置库存";
          this.specstype = 3;
          this.dialogFormVisible = true;
          break;
        case 4:
          this.specsaction = "批量设置重量";
          this.specstype = 4;
          this.dialogFormVisible = true;
          break;
        case 5:
          // 批量删除
          this.specsid = 0;
          this.tableData = [];
          break;
        case 6:
           // 批量设置原价
          this.specsaction = "批量设置原价";
          this.specstype = 6;
          this.dialogFormVisible = true;
          break;
      }
    },
    // 切换规格选择
    selectSpecs(value) {
      this.isspecs = value;
      switch (value) {
        case 1:
          this.specsid = 0;
          this.tableData = [];
          break;
        case 2:
          this.form.originalprice = '';
          this.form.price = '';
          this.form.weight = 0;
          this.form.stock = '';
          this.specsid++;
          const item = {
            specsid: this.specsid,
            goodsno: "",
            specsname: "",
            originalprice: "",
            price: "",
            weight: 0,
            stock: "",
            id: ""
          };
          this.tableData.push(item);
          break;
      }
    },
    // 多选规格数据
    handleSelectionChange(val) {
      // console.log(val);
      this.multipleSelection = val;
    },
    // 积分抵扣
    changeRadio() {
      const pointtype = this.form.pointtype;
      switch (pointtype) {
        case 1:
          this.form.pointvalue = "";
          break;
        case 3:
          this.form.pointvalue = "";
          break;
      }
    },
    // 商品分组全选
    handleCheckAllChangeGroup(val) {
      const groupList = val ? this.groupList : [];
      let groupid = [];
      groupList.map((item) => {
        groupid.push(item.id);
      });
      this.form.groupid = groupid;
      this.isIndeterminateGroup = false;
    },
    // 商品分组
    handleCheckedChangeGroup(value) {
      let checkedCount = value.length;
      this.checkAllGroup = checkedCount === this.groupList.length;
      this.isIndeterminateGroup =
        checkedCount > 0 && checkedCount < this.groupList.length;
    },
    // 图片上传
    handleGoodsImageUp(value) {
      this.goodsResourceImages = value;
    },
    // 分享图片上传
    handleShareImageUp(value) {
      this.goodsShareImageList = value;
    },
    // 商品标签全选
    handleCheckAllChange(val) {
      this.form.labelNameList = val ? this.labelNameGroup : [];
      this.isIndeterminate = false;
    },
    // 商品标签
    handleCheckedChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.labelNameGroup.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.labelNameGroup.length;
    },
    // 发布商品类型
    changeGoodsType(item) {
      this.goodstypeid = item.id;
      this.anchorid = 1;
      this.handleResetFields();
      switch (item.id) {
        case 1:
          this.anchorList = anchorList0;
          break;
        case 2:
          this.anchorList = anchorList1;
          break;
        case 3:
          this.anchorList = anchorList0;
          break;
      }
    },
    // 重置数据
    handleResetFields() {
      this.$refs.form.clearValidate();
      this.isspecs = 1;
      this.specsid = 0;
      this.tableData = [];
      this.goodsResourceImages = [];
      this.goodsdesc = "";
      this.goodsShareImageList = [];
      this.checkAll = false;
      this.isIndeterminate = false;
      this.isIndeterminateGroup = false;
      this.checkAllGroup = false;
      this.form = {
        // 基础信息
        goodsname: "",
        categoryidparent: "",
        categoryid: "",
        groupid: [],
        sellingpoint: "",
        labelNameList: [],
        sort: 1000,
        //价格库存
        stock: "",
        originalprice: "",
        price: "",
        weight: 0,
        goodsno: this.form.goodsno,
        costprice: "",
        pointtype: 2,
        pointvalue: 100,
        // 物流信息
        logisticsType: [],
        postagePrice: "",
        logisticsid: "",
        postageType: 1,
        // 支持酒店
        hotelidList: [],
        isAllHotel: 1,
        // 规则设置
        salesAways: 0,
        salesStarttime: "",
        salesEndtime: "",
        limitsaletype: 1,
        limitsalevalue: 0,
        startcount: 1,
        usecoupon: 0,
        // 使用须知
        split: 2,
        splitCount: "",
        validType: 2,
        validEnddate: "",
        validStartdate: "",
        validDays: "",
        availableDate: "",
        useTime: "",
        reservation: 2,
        reservationDesc: "",
        // 其他信息
        showstock: 1,
        showsalescount: 0,
        showpoint: 1,
        status: 1,
        statusTime: "",
        // 商品详情
        rules: "购买后凭收到的电子券号消费或预约。",
        tips: "如需发票，请在消费后向工作人员索取。",
        //分享设置
        sharedesc: "",
        title: "",
      };
    },
    // 锚点
    handleAnchor(item) {
      this.anchorid = item.id;
    },
    //酒店/商户下拉
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("store/goodsMerchant", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //分商品类目1下拉
    gotCategory1List() {
      const params = {};
      this.$store
        .dispatch("store/categoryPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.category1List = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 分商品类目2下拉
    gotCategory2List() {
      this.form.categoryid = "";
      const params = {
        id: this.form.categoryidparent,
      };
      this.$store
        .dispatch("store/categoryChild", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.category2List = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //分组下拉
    gotgroupList() {
      const params = {};
      this.$store
        .dispatch("store/groupsPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.groupList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //运费模板下拉
    gotLogisticsList() {
      const params = {};
      this.$store
        .dispatch("store/logisticsPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.logisticsList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //添加商品获取主键ID
    gotGoodsID() {
      const params = {};
      this.$store
        .dispatch("store/goodsID", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.config = {
              id: data.id,
              type: 7,
            };
            this.shareconfig = {
              id: data.id,
              type: 8,
            };
            this.editorconfig = {
              id: data.id,
              type: 9,
            };
            this.form.goodsno = 'SN' +  data.id
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

