<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-31 14:07:01
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>

<template>
  <div class="page-container">
    <AddGoods v-if="!detail"></AddGoods>
    <EditGoods v-else :detail="detail"></EditGoods>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AddGoods from "./add.vue";
import EditGoods from "./edit.vue";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({
      detail: (state) => state.edit.detail,
    }),
  },
  created() {},
  mounted() {
    // 监听编辑还是新增
    if (sessionStorage.getItem("yzgoodsinfo")) {
      const row = JSON.parse(sessionStorage.getItem("yzgoodsinfo"));
      this.$store.dispatch("edit/gotId", row);
    } else {
      this.$store.dispatch("edit/gotId", null);
    }
  },
  components: {
    AddGoods,
    EditGoods,
  },
  methods: {},
  beforeDestroy() {
    sessionStorage.getItem("yzgoodsinfo") && sessionStorage.removeItem("yzgoodsinfo");
  },
};
</script>

