<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-28 16:31:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.content-card {
  background-color: #fff;
  min-height: 400px;
  padding: 30px;
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="商城基础设置" title2="通用模块"></v-breadcrumb>
    <div class="content-container">
      <el-radio-group v-model="typeid" style="margin-bottom: 15px;">
        <el-radio-button :label="item.id" v-for="item in typeList" :key="item.id">{{item.name}}</el-radio-button>
      </el-radio-group>
    </div>
    <div class="content-card">
      <Homepage v-if="typeid === 1"></Homepage>
      <Notice v-if="typeid === 2"></Notice>
      <CarCriage v-if="typeid === 3"></CarCriage>
      <Booking v-if="typeid === 4"></Booking>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import Homepage from "./compontent/homepage.vue";
import Notice from "./compontent/notice.vue";
import Booking  from "./compontent/booking.vue";
import CarCriage  from "./compontent/carriage.vue";
export default {
  data() {
    return {
      typeList: [
        {
          id: 1,
          name: "主页"
        },
        {
          id: 2,
          name: "通知"
        },
        {
          id: 3,
          name: "物流模板"
        },
        {
          id: 4,
          name: "预定须知"
        }
      ],
      typeid: 1
    };
  },
  components: {
    vBreadcrumb,
    Homepage,
    Notice,
    Booking,
    CarCriage
  },
  computed: {},
  created() {

  },
  mounted() {},
  methods: {
    
  }
};
</script>


