<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-10-15 14:31:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 250px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="会员储值记录"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="姓名" prop="truename">
                  <el-input
                    v-model="searchform.truename"
                    clearable
                    placeholder="请输入"
                    style="width: 120px"
                  ></el-input>
                </el-form-item>
                <el-form-item label="记录类型" prop="type">
                  <el-select
                    v-model="searchform.type"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 120px"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id + '-' +item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="创建时间" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="createDateBegin">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.createDateBegin"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择开始时间"
                      clearable
                      style="width: 150px"
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 13px 0 0;">至</span>
                  <el-form-item label-width="0px" prop="createDateEnd">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.createDateEnd"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择截至时间"
                      clearable
                      style="width: 150px"
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handldeAdd">调整</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="70" fixed="left">
              <template slot-scope="scope">
                <el-button
                  v-if="scope.row.reverse === 0"
                  size="mini"
                  type="text"
                  icon="el-icon-delete"
                  style="color:red"
                  @click="handleCat(scope.$index, scope.row)"
                >冲销</el-button>
                <span v-else-if="scope.row.reverse === 1">已冲销</span>
                <span v-else-if="scope.row.reverse === 2">撤回冲销</span>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="amount" label="金额（元）"></el-table-column>
            <el-table-column prop="truename" label="姓名"></el-table-column>
            <el-table-column prop="type" label="类型">
              <template slot-scope="scope">
                <span v-if="scope.row.type === 1">余额充值</span>
                <span v-else-if="scope.row.type === 2">商品购买</span>
                <span v-else-if="scope.row.type === 3">酒店预订</span>
                <span v-else-if="scope.row.type === 4">扫码付款</span>
                <span v-else-if="scope.row.type === 5">会员中心调整</span>
                <span v-else-if="scope.row.type === 6">会员中心冲销</span>
              </template>
            </el-table-column>
            <el-table-column prop="reverse" label="状态">
              <template slot-scope="scope">
                <span v-if="scope.row.reverse === 0">正常</span>
                <span v-else-if="scope.row.reverse === 1">已冲销</span>
                <span v-else-if="scope.row.reverse === 2">撤回冲销</span>
              </template>
            </el-table-column>
            <el-table-column prop="note" label="备注"></el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 调整 -->
    <el-dialog
      title="调整操作"
      :visible.sync="visible"
      :close-on-click-modal="false"
      width="800px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :rules="rules"
        :model="form"
        :inline="true"
        class="operate-form-box"
        label-width="120px"
      >
        <el-row>
          <el-col>
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="form.phone" clearable placeholder="请输入" style="width: 520px"></el-input>
              <el-button
                type="primary"
                size="mini"
                @click="handleSearchPhone"
                style="margin-left: 15px"
              >查询</el-button>
            </el-form-item>
          </el-col>
          <el-col v-show="form.usercode">
            <el-form-item label="姓名" prop="truename">
              <el-input
                v-model="form.truename"
                clearable
                placeholder="请输入"
                disabled
                style="width: 100px"
              ></el-input>
            </el-form-item>
            <el-form-item label="会员编号" prop="usercode" label-width="80px">
              <el-input
                v-model="form.usercode"
                clearable
                placeholder="请输入"
                disabled
                style="width: 120px"
              ></el-input>
            </el-form-item>
            <el-form-item label="余额(元)" prop="deposit" label-width="80px">
              <el-input
                v-model="form.deposit"
                clearable
                placeholder="请输入"
                disabled
                style="width: 120px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="调整金额(元)" prop="amount">
              <el-input
                v-model="form.amount"
                clearable
                placeholder="扣减金额请输入负值，增加输入正值"
                style="width: 520px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="备注" prop="note">
              <el-input
                type="textarea"
                placeholder="请输入内容"
                v-model="form.note"
                :rows="3"
                resize="none"
                style="width: 520px"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handldeAddSave('form')">确 认</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 冲销 -->
    <el-dialog
      title="冲销操作"
      :visible.sync="cxvisible"
      :close-on-click-modal="false"
      width="700px"
      @close="closeDialogCX"
    >
      <el-form :inline="true" class="operate-form-box" label-width="120px">
        <el-row>
          <el-col>
            <el-form-item label="记录ID">
              <el-input
                v-model="rowData.id"
                clearable
                placeholder="请输入"
                style="width: 400px"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="金额">
              <el-input
                v-model="rowData.amount"
                clearable
                placeholder="请输入"
                style="width: 400px"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="冲销备注" required>
              <el-input
                type="textarea"
                placeholder="请输入内容"
                v-model="chongxiaoremark"
                :rows="3"
                resize="none"
                style="width: 400px"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="cxvisible = false">取消</el-button>
          <el-button type="primary" size="mini" @click="handleSave">冲销</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { positive_num, positive_num_zero, decimals_num, regnumber2} from "@/utils/reg.js";
export default {
  data() {
    const checkAmount = (rule, value, callback) => {
      if (!regnumber2.test(value)) {
        callback(new Error("请输入金额不合法"));
      } else {
        callback();
      }
    };
    return {
      searchform: {
        createDateBegin: "",
        createDateEnd: "",
        truename: "",
        type: ""
      },
      searchresult: {
        createDateBegin: "",
        createDateEnd: "",
        truename: "",
        type: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      //状态
      statusList: [
        { id: 1, name: "余额充值" },
        { id: 2, name: "商品购买" },
        { id: 3, name: "酒店预订" },
        { id: 4, name: "扫码付款" },
        { id: 5, name: "会员中心调整" },
        { id: 6, name: "会员中心冲销" }
      ],
      form: {
        amount: "",
        note: "",
        usercode: "",
        deposit: "",
        truename: "",
        phone: ""
      },
      rules: {
        phone: [{ required: true, message: "不能为空", trigger: "blur" }],
        amount: { required: true, validator: checkAmount, trigger: "blur" },
        note: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      visible: false,
      rowData: {},
      chongxiaoremark: "",
      cxvisible: false
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      const createDateBegin = this.searchform.createDateBegin
        ? this.searchform.createDateBegin + " 00:00:00"
        : "";
      const createDateEnd = this.searchform.createDateEnd
        ? this.searchform.createDateEnd + " 00:00:00"
        : "";
      this.searchresult = {
        ...this.searchform,
        createDateBegin: createDateBegin,
        createDateEnd: createDateEnd
      };
      this.page = 1;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        createDateBegin: this.searchresult.createDateBegin,
        createDateEnd: this.searchresult.createDateEnd,
        truename: this.searchresult.truename,
        type: this.searchresult.type
      };
      this.loading = true;
      //获取数据
      this.$store
        .dispatch("member/depositRecordList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handldeAdd() {
      this.visible = true;
    },
    handldeAddSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (!this.form.usercode) {
            this.$message.warning("请先校验手机号");
            return;
          }
          if (
            parseInt(this.form.amount) < 0 &&
            Math.abs(this.form.amount) > this.form.deposit
          ) {
            this.$message.warning("扣除金额不能大于余额");
            return;
          }
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)"
          });
          const params = {
            userid: this.form.usercode,
            note: this.form.note,
            amount: this.form.amount
          };
          this.$store
            .dispatch("member/depositRecordAdd", {
              data: params
            })
            .then(result => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("操作成功");
                this.visible = false;
                this.gotData();
              } else if (result.code === 401) {
                this.visible = false;
                this.$message.error(result.msg);
              } else {
                let msg = result.data
                  ? result.data.message
                  : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleSearchPhone() {
      if (!/^1[23456789]\d{9}$/.test(this.form.phone)) {
        this.$message.warning("手机号码不合法");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("member/depositRecordInfo", { data: this.form.phone })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            const data = result.data;
            if (data) {
              this.form = {
                ...this.form,
                usercode: data.usercode,
                deposit: data.deposit,
                truename: data.truename
              };
            }
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            let msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    //打开冲销窗口
    handleCat(index, row) {
      this.cxvisible = true;
      this.rowData = row;
    },
    //冲销
    handleSave() {
      if (!this.chongxiaoremark) {
        this.$message.warning("请输入冲销备注");
        return;
      }
      this.handleHeXiao();
    },
    handleHeXiao() {
      const dataparams = {
        note: this.chongxiaoremark,
        id: this.rowData.id,
        amount: this.rowData.amount
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("member/depositRecordReverse", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("冲销成功");
            this.cxvisible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.cxvisible = false;
            this.$message.error(result.msg);
          } else {
            let msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        amount: "",
        note: "",
        usercode: "",
        deposit: "",
        truename: "",
        phone: ""
      };
    },
    closeDialogCX() {
      this.chongxiaoremark = "";
    },

    handleDateTime(start, end) {
      if (start && end) {
        return start.split(" ")[0] + "至" + end.split(" ")[0];
      }
      return "";
    }
  }
};
</script>
