<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-02 15:39:46
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.levelrule-ul {
  display: flex;
  height: 54px;
  .levelrule-li {
    width: 120px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    font-size: 13px;
    cursor: pointer;
    &:nth-child(1) {
      border-right: none;
    }
    &:nth-child(2) {
      border-right: none;
    }
    &.active {
      border: 1px solid #409eff;
      background: #409eff;
      color: #fff;
      &:nth-child(1) {
        border-right: none;
      }
      &:nth-child(2) {
        border-right: none;
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="自动升级配置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div> -->
        <div class="container-table">
          <ul class="levelrule-ul">
            <li
              class="levelrule-li"
              v-for="(item) in typelist"
              :key="item.id"
              :class="[typevalue === item.id ? 'active' : '']"
              @click="changeType(item)"
            >{{item.name}}</li>
          </ul>
          <!-- 升级 -->
          <el-table
            v-show="typevalue === 1"
            :data="tableDataUp"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="会员类别" width="100"></el-table-column>
            <el-table-column prop="type" label="原始级别" width="100"></el-table-column>
            <el-table-column prop="type" label="升1个等级" width="100"></el-table-column>
            <el-table-column prop="labelname" label="升级规则(满足其一即可)"></el-table-column>
            <el-table-column prop="enable" label="升级时间点" width="100">
              <template slot-scope="scope">{{scope.row.status === 1 ? '立即' : '有效期届满' }}</template>
            </el-table-column>
            <el-table-column prop="description" label="升级渠道" width="100"></el-table-column>
          </el-table>
          <!-- 降级 -->
          <el-table
            v-show="typevalue === 2"
            :data="tableDataDown"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="会员类别" width="100"></el-table-column>
            <el-table-column prop="type" label="原始级别" width="100"></el-table-column>
            <el-table-column prop="type" label="降1个等级" width="100"></el-table-column>
            <el-table-column prop="labelname" label="降级规则(满足其一即可)"></el-table-column>
            <el-table-column prop="enable" label="降级时间点" width="100">
              <template slot-scope="scope">{{scope.row.status === 1 ? '立即' : '有效期届满' }}</template>
            </el-table-column>
            <el-table-column prop="description" label="降级渠道" width="100"></el-table-column>
          </el-table>
          <!-- 保级 -->
          <el-table
            v-show="typevalue === 3"
            :data="tableDataDown"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="会员类别" width="100"></el-table-column>
            <el-table-column prop="type" label="原始级别" width="100"></el-table-column>
            <el-table-column prop="labelname" label="保级规则"></el-table-column>
            <el-table-column prop="enable" label="保级时间点" width="100">
              <template slot-scope="scope">{{scope.row.status === 1 ? '立即' : '有效期届满' }}</template>
            </el-table-column>
            <el-table-column prop="description" label="保级渠道" width="100"></el-table-column>
          </el-table>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="850px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="80px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="升降类型" prop="type">
              <el-select v-model="form.type" filterable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in typelist"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="原始级别" prop="level">
              <el-select v-model="form.level" filterable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in levelList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="升降级别" prop="level2">
              <el-select v-model="form.level2" filterable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in levelList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="基本规则" prop="labelname">
              入住累计
              <el-input v-model="form.labelname" style="width: 90px;" placeholder="请输入" clearable></el-input>间夜
            </el-form-item>
            <el-form-item label="规则触发时间点" prop="status" label-width="122px">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">立即</el-radio>
                <el-radio :label="0">有效期届满</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="其他规则" prop="description">
              <el-input
                v-model="form.description"
                style="width:720px"
                placeholder="请输入"
                clearable
                :rows="4"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import {
  positive_num_zero,
  positive_num,
  decimals_num,
  regphone
} from "@/utils/reg.js";
export default {
  data() {
    // 正数不含0
    let checkPositiveNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!positive_num.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      tableDataUp: [],
      tableDataDown: [],
      loading: false,
      typelist: [
        {
          id: 1,
          name: "升级"
        },
        {
          id: 2,
          name: "降级"
        },
        {
          id: 3,
          name: "保级"
        }
      ],
      levelList: [
        {
          id: 1,
          name: "悦廷会银卡"
        },
        {
          id: 2,
          name: "悦廷会金卡"
        }
      ],
      form: {
        description: "",
        labelname: "",
        status: 1,
        type: 1
      },
      visible: false,
      rules: {
        labelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }],
        level: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ]
      },
      actionType: 0,
      actionTypeName: "",
      typevalue: 1
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    // this.gotData();
  },
  mounted() {},
  methods: {
    //列表数据
    gotData() {
      const params = {
        type: this.typevalue
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/labelList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            if (this.typevalue === 1) {
              this.tableDataUp = result.data.list;
            } else if (this.typevalue === 2) {
              this.tableDataDowm = result.data.list;
            } else {
              this.tableData = result.data.list;
            }
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    changeType(item) {
      this.typevalue = item.id;
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const params = {
            description: this.form.description,
            labelname: this.form.labelname,
            status: this.form.status,
            type: this.form.type
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "自动升级配置新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('新增成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "自动升级配置编辑";
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("hotel/labeDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              description: data.description,
              labelname: data.labelname,
              status: data.status,
              type: data.type
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('编辑成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        description: "",
        labelname: "",
        status: 1,
        type: 1
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    //级别下拉列表
    gotLevelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.levelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

