<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-02 19:09:13
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.statement-ul {
  display: flex;
  border-top: 1px solid #e8e3e3;
  margin-bottom: 20px;
  cursor: pointer;
  .statement-li {
    width: 330px;
    height: 160px;
    border-right: 1px solid #e8e3e3;
    box-sizing: border-box;
    padding: 25px 30px 0;
    position: relative;
    .li-name {
      font-size: 14px;
      color: #9b9b9b;
    }
    .li-count {
      font-size: 20px;
      color: #9b9b9b;
      margin: 15px 0 18px;
    }
    .li-num {
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      .num-span {
        .el-icon-top {
          color: #ff010b;
          font-weight: 700;
        }
        .el-icon-bottom {
          color: #00cb3c;
          font-weight: 700;
        }
      }
    }
    &.active {
      &::after {
        position: absolute;
        left: -1px;
        right: -1px;
        top: 0px;
        height: 4px;
        background-color: #00bdfb;
        content: "";
      }
      .li-count {
        color: #00bdfb;
      }
    }
  }
}
.statement-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding-top: 15px;
  border-top: 1px solid #e8e3e3;
  .title-left {
  }
  .title-right {
  }
}
.echarts-box {
  width: 100%;
}
.echarts {
  width: 100%;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="自动升级配置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>入住总览
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
            label-width="100px"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="选择时间" prop="type">
                  <el-radio-group v-model="searchform.type">
                    <el-radio :label="1">昨日</el-radio>
                    <el-radio :label="2">本月</el-radio>
                    <el-radio :label="3">本年</el-radio>
                    <el-radio :label="4">自定义日期</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-show="searchform.type === 4">
                <el-form-item label="自定义日期" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="starttime">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.starttime"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      default-time="00:00:00"
                      type="date"
                      placeholder="选择开始时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 10px 0 0px">至</span>
                  <el-form-item label-width="0px" prop="endtime">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.endtime"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      default-time="00:00:00"
                      type="date"
                      placeholder="选择截至时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="选择酒店" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 355px"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label-width="0px">
                  <div style="margin-left: 100px">
                    <el-button type="primary" @click="handleSearch">查询</el-button>
                    <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
    </div>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <ul class="statement-ul">
          <li
            :class="['statement-li', {'active': item.type === resulttype}]"
            v-for="item in result"
            :key="item.type"
            @click="handleNavClick(item)"
          >
            <div
              class="li-name"
            >{{item.type === 1 ? '间夜量' : item.type === 2 ? '交易额' :item.type === 3 ? '客单价' : ''}}</div>
            <div class="li-count">{{item.num}}</div>
            <div class="li-num">
              <span class="num-span">上周环比</span>
              <span class="num-span">
                {{item.lastweek*100}}%
                <i class="el-icon-top" v-if="item.lastweek > 0"></i>
                <i class="el-icon-bottom" v-if="item.lastweek < 0"></i>
                <i class="el-icon-minus" v-if="item.lastweek === 0"></i>
              </span>
            </div>
            <div class="li-num">
              <span class="num-span">上月环比</span>
              <span class="num-span">
                {{item.lastmonth*100}}%
                <i class="el-icon-top" v-if="item.lastmonth > 0"></i>
                <i class="el-icon-bottom" v-if="item.lastmonth < 0"></i>
                <i class="el-icon-minus" v-if="item.lastmonth === 0"></i>
              </span>
            </div>
            <div class="li-num">
              <span class="num-span">去年同比</span>
              <span class="num-span">
                {{item.lastyear*100}}%
                <i class="el-icon-top" v-if="item.lastyear > 0"></i>
                <i class="el-icon-bottom" v-if="item.lastyear < 0"></i>
                <i class="el-icon-minus" v-if="item.lastyear === 0"></i>
              </span>
            </div>
          </li>
        </ul>
        <div class="statement-title">
          <div class="title-left">交易额入住趋势</div>
          <div class="title-right">
            <el-radio-group v-model="day">
              <el-radio-button
                :label="item.id"
                v-for="item in dayList"
                :key="item.id"
              >{{ day === item.id ? item.name : '按' + item.name }}</el-radio-button>
            </el-radio-group>
          </div>
        </div>
        <div class="echarts-box">
          <v-chart :options="options" />
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ECharts from "vue-echarts";
import "echarts/lib/chart/line";
import "echarts/lib/component/tooltip";
import "echarts/lib/component/toolbox";
import "echarts/lib/component/legend";
export default {
  data() {
    return {
      hotelList: [],
      searchform: {
        type: "",
        hotelid: "",
        starttime: "",
        endtime: ""
      },
      searchresult: {
        type: "",
        hotelid: "",
        starttime: "",
        endtime: ""
      },
      result: [
        {
          type: 1,
          num: 96,
          lastweek: -0.01,
          lastmonth: 0.01,
          lastyear: 0.02
        },
        {
          type: 2,
          num: 96,
          lastweek: 0,
          lastmonth: 0.01,
          lastyear: 0.02
        },
        {
          type: 3,
          num: 96,
          lastweek: -0.01,
          lastmonth: 0.01,
          lastyear: 0.02
        }
      ],
      resulttype: 1,
      day: 1,
      dayList: [
        {
          id: 1,
          name: "天"
        },
        {
          id: 2,
          name: "周"
        },
        {
          id: 3,
          name: "月"
        }
      ],
      options: {
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["0701", "0702", "0703", "0704", "0705", "0706", "0707"]
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            name: "交易额",
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: "line"
          },
          {
            name: "同年比",
            data: [800, 932, 1000, 500, 2000, 1330, 2500],
            type: "line"
          }
        ],
        legend: {
          data: ["交易额", "同年比"]
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985"
            }
          }
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        }
      }
    };
  },
  components: {
    vBreadcrumb,
    "v-chart": ECharts
  },
  computed: {},
  created() {
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    handleNavClick(item) {
      this.resulttype = item.type;
    },
    //渠道下拉列表
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //查询
    handleSearch() {
      this.searchresult = this.searchform;
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
    }
  }
};
</script>


