<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-09 14:04:39
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="消费券" title2="消费券订单"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店名称" prop="hotelid" label-width="68px">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id +'-'+ item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="活动名称" prop="activeid">
                  <el-select
                    v-model="searchform.activeid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in ticketList"
                      :key="item.id"
                      :label="item.id +'-'+ item.activename"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="订单状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="兑换日期" style="margin-bottom: 0px">
                  <el-form-item prop="createDateBegin">
                    <el-date-picker
                      v-model="searchform.createDateBegin"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择开始时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 13px 0 0;">至</span>
                  <el-form-item prop="createDateEnd">
                    <el-date-picker
                      v-model="searchform.createDateEnd"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择截至时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <!-- <el-button type="primary" @click="handleAdd">批量发货</el-button> -->
          <el-button type="warning" @click="handleExport">导出</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @selection-change="handleSelectionChange"
          >
            <!-- <el-table-column type="selection" width="55"></el-table-column> -->
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="codeno" label="券号"></el-table-column>
            <el-table-column prop="phone" label="会员信息" width="150">
              <template slot-scope="scope">
                <div>会员ID：{{scope.row.userid}}</div>
                <div>姓名：{{scope.row.truename}}</div>
                <div>手机号：{{scope.row.phone}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="地址" width="120">
              <template slot-scope="scope">
                <span>
                  <!-- {{scope.row.provincename}} {{scope.row.cityname ? scope.row.cityname : ''}} {{scope.row.districtname ? scope.row.districtname : ''}} {{scope.row.place}} -->
                  {{scope.row.place}}
                </span>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="状态">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '待发货' : scope.row.status === 2 ? '已发货' : ''}}</template>
            </el-table-column>
            <el-table-column prop="hotelname" label="渠道名称">
              <template
                slot-scope="scope"
              >
                <span>{{scope.row.hotelid === 0 ? scope.row.salename : scope.row.hotelname}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="createDate" label="兑换时间"></el-table-column>
            <el-table-column prop="activename" label="兑换活动"></el-table-column>
            <el-table-column label="操作" width="100" align="center" fixed="right">
              <template slot-scope="scope">
                <el-button
                  v-if="scope.row.status === 1"
                  type="text"
                  icon="el-icon-position"
                  @click="handleSend(scope.$index, scope.row)"
                >发货</el-button>
                <span  v-if="scope.row.status === 2">已发货</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 物流信息 -->
    <el-dialog
      title="发货"
      :visible.sync="wlvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closelogisticsDialog('wlform')"
    >
      <el-form :inline="true" label-width="150px" :model="wlform" :rules="wlrules" ref="wlform">
        <el-form-item label="物流公司" prop="logistics">
          <el-select
            v-model="wlform.logistics"
            clearable
            filterable
            placeholder="请输入"
            style="width: 300px"
          >
            <el-option
              v-for="item in logisticsList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="物流公司" prop="otherlogistics" v-show="wlform.logistics === 88">
          <el-input
            v-model="wlform.otherlogistics"
            clearable
            placeholder="请输入"
            style="width: 300px"
          ></el-input>
        </el-form-item>
        <el-form-item label="快递单号" prop="expressNo">
          <el-input v-model="wlform.expressNo" clearable placeholder="请输入" style="width: 300px"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="wlvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="saveLogistics('wlform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    var check = (rule, value, callback) => {
      if (this.wlform.logistics === 88) {
        if (!value) {
          callback(new Error("不能为空"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    return {
      searchform: {
        activeid: '',
        createDateBegin: '',
        createDateEnd: '',
        hotelid: '',
        status: ''
      },
      searchresult: {
        activeid: '',
        createDateBegin: '',
        createDateEnd: '',
        hotelid: '',
        status: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      ticketList: [],
      hotelList: [],
      statusList: [
        {
          id: 1,
          name: "待发货",
        },
        {
          id: 2,
          name: "已发货"
        },
      ],
      multipleSelection: [],
      logisticsList: [
        {
          id: "圆通快递",
          name: "圆通快递",
        },
        {
          id: "申通快递",
          name: "申通快递",
        },
        {
          id: "韵达速递",
          name: "韵达速递",
        },
        {
          id: "中通快递",
          name: "中通快递",
        },
        {
          id: "顺丰速运",
          name: "顺丰速运",
        },
        {
          id: "EMS",
          name: "EMS",
        },
        {
          id: "天天快递",
          name: "天天快递",
        },
        {
          id: "邮政包裹",
          name: "邮政包裹",
        },
        {
          id: 88,
          name: "其他",
        },
      ],
      wlvisible: false,
      wlform: {
        logistics: "",
        otherlogistics: "",
        expressNo: "",
      },
      wlrules: {
        logistics: [{ required: true, message: "不能为空", trigger: "blur" }],
        expressNo: [{ required: true, message: "不能为空", trigger: "blur" }],
        otherlogistics: [{ required: true, validator: check, trigger: "blur" }],
      },
      rowid: 0,
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {},
  created() {
    // this.gotData();
    this.gotHotelList();
    this.gotTicketActivity();
  },
  mounted() {},
  methods: {
    // 查询
    handleSearch() {
      this.page = 1;
      const createDateBegin = this.searchform.createDateBegin ? this.searchform.createDateBegin + ' 00:00:00' : '';
      const createDateEnd = this.searchform.createDateEnd ? this.searchform.createDateEnd + ' 00:00:00' : ''
      this.searchresult = {
        ...this.searchform,
        createDateBegin: createDateBegin,
        createDateEnd: createDateEnd
      };
      this.gotData();
    },

    // 重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },

    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        activeid: this.searchresult.activeid,
        createDateBegin: this.searchresult.createDateBegin,
        createDateEnd: this.searchresult.createDateEnd,
        hotelid: this.searchresult.hotelid,
        status: this.searchresult.status
      };
      this.loading = true;
      this.$store
        .dispatch("ticket/TicketOrderList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 导出数据
    handleExport() {
      const params = {
        activeid: this.searchresult.activeid,
        createDateBegin: this.searchresult.createDateBegin,
        createDateEnd: this.searchresult.createDateEnd,
        hotelid: this.searchresult.hotelid,
        status: this.searchresult.status
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketOrderExport", {
          data: params,
        })
        .then((result) => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "消费券订单数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
    },
    // 批量选择
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 批量发货
    handleAdd() {},
    // 单个发货
    handleSend(index, row) {
      this.rowid = row.id;
      this.wlvisible = true;
    },
    // 保存发送快递
    saveLogistics(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const logistics =
            this.wlform.logistics === 88
              ? this.wlform.otherlogistics
              : this.wlform.logistics;
          let params = {
            id: this.rowid,
            expressNo: this.wlform.expressNo,
            companyName: logistics
          };
          this.sendLogistics(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 确认发货
    sendLogistics(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketOrderSend", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.wlvisible = false;
            this.$message.success("发货成功");
            this.gotData();
          } else if (result.code === 401) {
            this.wlvisible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 关闭发送快递
    closelogisticsDialog(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        logistics: "",
        otherlogistics: "",
        expressNo: "",
      };
    },
     //酒店下拉
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
     //活动下拉
    gotTicketActivity() {
      const params = {};
      this.$store
        .dispatch("ticket/ticketActivitySelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.ticketList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>


