<!--
 * @Author: your name
 * @Date: 2020-04-08 11:37:28
 * @LastEditTime: 2020-05-20 11:42:58
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\roomstyle\component\facilities.vue
 -->
<template>
  <div class="facility">
    <div class="facility-tips">提示:(建议选中数量为双数，最佳数量为8个)</div>
    <div class="facility-ul">
      <el-checkbox-group v-model="checkList">
        <el-checkbox
          class="checkbox-li"
          v-for="(item) in allList"
          :label="item.id"
          :key="item.id"
        >{{item.id}}-{{item.facilityname}}</el-checkbox>
      </el-checkbox-group>
    </div>
    <el-button
      @click="handleSave"
      type="primary"
      style="display: block;margin: 0 auto;margin-top: 30px"
    >保存</el-button>
  </div>
</template>

<script>
export default {
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  data() {
    return {
      allList: [],
      checkList: [],
    };
  },
  created() {
    this.getFacility();
  },
  methods: {
     //获取房型关联设施
    getFacility() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId };
      this.$store
        .dispatch("hotel/roomGetFacility", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.allList = data.facilityList;
            const relateIdList = data.relateIdList;
            /*
            let checkList = []
            relateIdList.map((item) => {
              if (item.id) {
                checkList.push(item.id)
              }
            })
            */
            this.checkList = relateIdList;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //存储房型设施
    handleSave() {
      if (this.checkList.length <= 0) {
        this.$message.warning('必须请选择一个房型设施');
        return
      }
      /*
      let checkList = [];
      for (let i = 0; i < this.allList.length; i++) {
        for (let j = 0; j < this.checkList.length; j++) {
          if (this.allList[i].id === this.checkList[j]) {
            checkList.push(this.allList[i])
          }
        }
      }
      */
      const params = {
        list: this.checkList,
        relateid: this.detailId,
        type: 1
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("hotel/hotelSaveFacility", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("保存成功");
            this.getFacility();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  },
  
};
</script>

<style lang="scss" scoped>

.facility-ul {
  width: 900px;
  min-height: 300px;
  padding-top: 30px;
}
.facility-tips {
  font-size: 12px;
  color: red;
}
.checkbox-li {
  width: 184px;
  margin-bottom: 20px;
}

</style>
