<template>
  <div class="label-page">
    <div style="min-height: 300px">
      <p>已有标签：<span style="font-size: 12px; color: red">(*建议不超3个标签)</span></p>
      <div class="label-item">
        <el-button
          type="primary"
          v-for="(item,index) in hasList"
          :key="index"
          @click="deleteLabel(item,index)"
        >{{item.id}}-{{item.labelname}}</el-button>
      </div>
      <p>点击新增：</p>
      <div class="label-item">
        <el-button
          v-for="(item,index) in newList"
          :key="index"
          @click="addLabel(item,index)"
        >{{item.id}}-{{item.labelname}}</el-button>
      </div>
    </div>
    <el-button
      @click="handleSave"
      type="primary"
      style="display: block;margin: 0 auto;margin-top: 30px"
    >保存</el-button>
  </div>
</template>

<script>
export default {
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  data() {
    return {
      hasList: [],
      newList: []
    };
  },
  created() {
    this.getCheckLabel(); //已选标签信息
    this.getUncheckLabel(); //未选标签信息
  },
  methods: {
    //保存酒店标签
    handleSave() {
      // if (this.hasList.length <=0) {
      //   this.$message.warning('请选择房型标签');
      //   return
      // }
      const params = {
        hotelid: this.detailId,
        labelList: this.hasList,
        type: 2
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("hotel/hotelSaveLabel", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("保存成功");
            this.getCheckLabel();
            this.getUncheckLabel();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店已选标签信息
    getCheckLabel() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId, msg: 2};
      this.$store
        .dispatch("hotel/hotelCheckLabel", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.hasList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店未选标签信息
    getUncheckLabel() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId, msg: 2};
      this.$store
        .dispatch("hotel/hotelUncheckLabel", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.newList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    deleteLabel(row, index) {
      this.newList.push(row);
      this.hasList.splice(index, 1);
    },
    addLabel(row, index) {
      this.hasList.push(row);
      this.newList.splice(index, 1);
    }
  }
};
</script>

<style lang="scss" scoped>
.label-item {
  display: flex;
  flex-wrap: wrap;
  .el-button {
    margin: 5px 10px;
  }
}
</style>
