<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-28 17:22:21
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.storeexchangeset-card {
  margin-top: 15px;
  min-height: 400px;
  .storeexchangeset-ul {
    .storeexchangeset-li {
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      margin-bottom: 20px;
      align-items: center;
      background-color: #EBEEF5;
      border-radius: 5px;
      .storeexchangeset-content {
        .title {}
        .content {
          margin-top: 10px;
          font-size: 12px;
          color: #909399;
        }
      }
      .storeexchangeset-btn {
        .storeexchangeset-btn-txt {
          color: #909399;
          font-size: 12px;
          margin-top: 5px;
          &.active {
             color: #409EFF;
          }
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
   <v-breadcrumb title="订单管理" title2="退换货设置"></v-breadcrumb>
    <el-card shadow="never" class="storeexchangeset-card">
      <ul class="storeexchangeset-ul">
        <li class="storeexchangeset-li">
          <div class="storeexchangeset-content">
            <div class="title">是否允许退货</div>
            <div class="content">默认开启，允许退货；关闭后，将对会员隐藏退换按钮</div>
          </div>
          <div class="storeexchangeset-btn">
            <el-switch
              style="display: block"
              v-model="value1"
              active-color="#409EFF"
              inactive-color="#C0C4CC"
              @change="changeSwitch(1)"
            >
            </el-switch>
            <div :class="['storeexchangeset-btn-txt', value1 ? 'active' : '']">
              {{value1 ? '已开启' : '已关闭'}}
            </div>
          </div>
        </li>
        <li class="storeexchangeset-li">
          <div class="storeexchangeset-content">
            <div class="title">是否允许换货</div>
            <div class="content">默认开启，发货后的订单允许换货；关闭后，将对会员隐藏换货按钮</div>
          </div>
          <div class="storeexchangeset-btn">
            <el-switch
              style="display: block"
              v-model="value2"
              active-color="#409EFF"
              inactive-color="#C0C4CC"
              @change="changeSwitch(2)"
            >
            </el-switch>
            <div :class="['storeexchangeset-btn-txt', value2 ? 'active' : '']">
              {{value2 ? '已开启' : '已关闭'}}
            </div>
          </div>
        </li>
        <li class="storeexchangeset-li">
          <div class="storeexchangeset-content">
            <div class="title">退货物流单号是否必填</div>
            <div class="content">默认关闭，退货物流单号不必填；开启后，退货物流单号必填</div>
          </div>
          <div class="storeexchangeset-btn">
            <el-switch
              style="display: block"
              v-model="value3"
              active-color="#409EFF"
              inactive-color="#C0C4CC"
              @change="changeSwitch(3)"
            >
            </el-switch>
            <div :class="['storeexchangeset-btn-txt', value3 ? 'active' : '']">
              {{value3 ? '已开启' : '已关闭'}}
            </div>
          </div>
        </li>
        <li class="storeexchangeset-li">
          <div class="storeexchangeset-content">
            <div class="title">退货是否返库存</div>
            <div class="content">默认开启，退货返库存；关闭后，退货不返库存</div>
          </div>
          <div class="storeexchangeset-btn">
            <el-switch
              style="display: block"
              v-model="value4"
              active-color="#409EFF"
              inactive-color="#C0C4CC"
              @change="changeSwitch(4)"
            >
            </el-switch>
            <div :class="['storeexchangeset-btn-txt', value4 ? 'active' : '']">
              {{value4 ? '已开启' : '已关闭'}}
            </div>
          </div>
        </li>
      </ul>
    </el-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      value1: true,
      value2: true,
      value3: true,
      value4: true,
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {

  },
  mounted() {},
  methods: {
    changeSwitch () {

    }
  }
};
</script>

