<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-25 14:19:19
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>
<template>
  <div class="page-container">
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="券名称" prop="couponname">
                  <el-input
                    v-model="searchform.couponname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="使用方式" prop="useType">
                  <el-select
                    v-model="searchform.useType"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.id +'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>

      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">批量选择</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            ref="multipleTable"
            @selection-change="handleSelectionChange"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column type="selection" width="55" fixed="left"></el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="couponname" label="券名称"></el-table-column>
            <el-table-column prop="couponvalue" label="面值"></el-table-column>
            <el-table-column prop="quantity" label="库存"></el-table-column>
            <el-table-column prop="receivequantity" label="已领"></el-table-column>
            <el-table-column prop="functype" label="优惠券类型">
              <template slot-scope="scope">
                <span v-if="scope.row.coupontype===1">优惠券</span>
                <span v-else-if="scope.row.coupontype===2">打折券</span>
                <span v-else-if="scope.row.coupontype===3">红包</span>
                <span v-else-if="scope.row.coupontype===4">升房</span>
                <span v-else-if="scope.row.coupontype===5">餐饮</span>
              </template>
            </el-table-column>
            <el-table-column prop="sourceName" label="券来源"></el-table-column>
            <el-table-column prop="vaildtype" label="有效期" :formatter="hanldeDateTime"></el-table-column>
            <el-table-column prop="vaildLength" label="使用有效天数"></el-table-column>
            <el-table-column prop="discountprice" label="最低消费"></el-table-column>
            <el-table-column prop="useType" label="使用方式">
              <template slot-scope="scope">
                <span v-if="scope.row.useType===1">通用</span>
                <span v-else-if="scope.row.useType===2">会员商城</span>
                <span v-else-if="scope.row.useType===3">餐饮商城</span>
                <span v-else-if="scope.row.useType===4">客房预订</span>
              </template>
            </el-table-column>
            <el-table-column prop="useChannel" label="使用渠道"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 50, 100, 200]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    selectData: {
      default: []
    }
  },
  data() {
    return {
      searchform: {
        couponname: "",
        useType: "",
        status: ""
      },
      searchresult: {
        couponname: "",
        useType: "",
        status: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      // 使用方式
      typeList: [
        { id: 1, name: "通用" },
        { id: 2, name: "会员商城" },
        { id: 3, name: "餐饮商城" },
        { id: 4, name: "客房预订" }
      ],
      // 渠道下拉
      cannelList: [],
      statusList: [
        { id: 0, name: "启用" },
        { id: 1, name: "未启用" }
      ],
      //券类型
      typeListQuan: [
        { id: 1, name: "优惠券" },
        { id: 2, name: "打折券" },
        { id: 3, name: "红包" },
        { id: 4, name: "升房" },
        { id: 5, name: "餐饮" }
      ],
      multipleSelectionCheck: []
    };
  },
  components: {},
  computed: {},
  //   watch: {
  //     selectData: {
  //       handler(newvalue, old) {
  //         this.handleRow();
  //       }
  //     }
  //   },
  created() {},
  mounted() {
    this.gotData();
  },
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        couponname: this.searchresult.couponname,
        useType: this.searchresult.useType,
        status: 0
      };
      this.loading = true;
      //获取数据
      this.$store
        .dispatch("coupon/couponList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
            this.handleRow();
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //获取渠道下拉框
    getchannelselect() {
      this.$store.dispatch("crspirce/channelListSelect").then(result => {
        if (result.code === 0) {
          this.cannelList = result.data;
        } else {
          this.$message.error(result.msg);
        }
      });
    },
    hanldeDateTime(row) {
      if (row.vaildtype === 1) {
        return "长期有效";
      } else if (row.validStartdate && row.validEnddate) {
        return (
          row.validStartdate.split(" ")[0] +
          "~" +
          row.validEnddate.split(" ")[0]
        );
      } else {
        return "";
      }
    },
    handleRow(data) {
      let tableCouponData = [];
      for (let i = 0; i < this.tableData.length; i++) {
        for (let j = 0; j < this.selectData.length; j++) {
          if (this.tableData[i].id === this.selectData[j].id) {
            tableCouponData.push(this.tableData[i]);
          }
        }
      }
      this.$nextTick(() => {
        tableCouponData.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      });
    },
    //表格多选
    handleSelectionChange(val) {
      this.multipleSelectionCheck = val;
    },
    handleAdd() {
      if (this.multipleSelectionCheck.length === 0) {
        this.$message.warning("请选择优惠券");
        return;
      }
      // console.log(this.multipleSelectionCheck);
      this.$emit("selectedCoupon", this.multipleSelectionCheck);
    }
  }
};
</script>

