<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-10-22 14:53:42
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>

</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="分销管理" title2="日历房分销"></v-breadcrumb>
    <div class="content-container">
      <el-radio-group v-model="typevalue" @change="changeType">
        <el-radio-button
          :label="item.id"
          v-for="item in typelist"
          :key="item.id"
          >{{ item.name }}</el-radio-button
        >
      </el-radio-group>
    </div>
    <el-card class="table-card" shadow="never">
      <Room v-if="typevalue === 1" :activityid="activityid"></Room>
      <PeopleList
        v-if="typevalue === 2"
        :activityid="activityid"
        :applytype="applytype"
      ></PeopleList>
      <Rule
        v-if="typevalue === 3"
        :activityid="activityid"
        :applytype="applytype"
      ></Rule>
    </el-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import PeopleList from "./peoplelist.vue";
import Rule from "./rule.vue";
import Room from "./room.vue";
export default {
  data() {
    return {
      typelist: [
        {
          id: 1,
          name: "房型计划"
        },
        {
          id: 3,
          name: "规则设置"
        },
        {
          id: 2,
          name: "推广人员"
        }
      ],
      typevalue: 1,
      checkform: {
        name: "日历房分销",
        isCheck: 0,
      },
      // 活动id
      activityid: 4,
      // 申请条件
      applytype: "",
    };
  },
  components: {
    vBreadcrumb,
    PeopleList,
    Rule,
    Room
  },
  computed: {},
  created() {
    this.gotCheck();
  },
  mounted() {},
  methods: {
    //切换Tab
    changeType(item) {
      const value = this.typevalue;
      switch (value) {
        case 1:
          this.gotCheck();
          break;
        case 2:
          //
          break;
        case 3:
          //
          break;
      }
    },
    //考核详情
    gotCheck() {
      const params = {};
      this.$store
        .dispatch("sale/roomCheck", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            this.checkform.isCheck = result.data.checkset;
            this.activityid = result.data.id;
            this.applytype = result.data.applyset;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

