<!--
 * @Author: your name
 * @Date: 2020-10-21 10:05:05
 * @LastEditTime: 2020-10-21 10:34:09
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\saleroom\people.vue
-->
<template>
  <div class="sale-people-box">
    <el-tabs v-model="tabActiveName" @tab-click="handleTabsClick">
      <el-tab-pane label="人员审核" name="first">
        <div class="form-container">
          <el-button type="primary" @click="handleArgee"
            >批量审核通过</el-button
          >
          <el-button type="danger" @click="handleReject">批量拒绝</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableDataCheck"
            @selection-change="handleSelectionChangeCheck"
            border
            v-loading="loadingcheck"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="id" label="ID" width="100"></el-table-column>
            <el-table-column
              prop="truename"
              label="姓名"
              width="120"
            ></el-table-column>
            <el-table-column prop="department" label="部门"></el-table-column>
            <el-table-column prop="position" label="岗位"></el-table-column>
            <el-table-column prop="status" label="审核状态" width="100">
              <template slot-scope="scope">{{
                scope.row.status === 1 ? "申请中" : "正常"
              }}</template>
            </el-table-column>
            <el-table-column
              prop="createDate"
              label="申请时间"
            ></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimitCheck"
              @current-change="handleCurrentChangeCheck"
              :current-page.sync="pagecheck"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limitcheck"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalcheck"
            ></el-pagination>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="人员列表" name="second">
        <div class="form-container">
          <el-button type="danger" @click="handleFreeze">批量冻结</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            @selection-change="handleSelectionChange"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="id" label="ID" width="100"></el-table-column>
            <el-table-column
              prop="truename"
              label="姓名"
              width="120"
            ></el-table-column>
            <el-table-column prop="department" label="部门"></el-table-column>
            <el-table-column prop="position" label="岗位"></el-table-column>
            <el-table-column prop="lockuser" label="员工状态" width="100">
              <template slot-scope="scope">{{
                scope.row.lockuser === 1 ? "申请中" : "正常"
              }}</template>
            </el-table-column>
            <el-table-column
              prop="createDate"
              label="申请时间"
            ></el-table-column>
            <el-table-column
              prop="cumulativeAmount"
              label="奖励奖金"
            ></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabActiveName: "first",
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      multipleSelection: [],
      tableDataCheck: [],
      totalcheck: 0,
      pagecheck: 1,
      limitcheck: 10,
      loadingcheck: false,
      multipleSelectionCheck: []
    };
  },
  props: ['activityid', 'applytype'],
  created () {
    this.tabActiveName = "first";
    this.gotDataCheck();
  },
  methods: {
    handleTabsClick(tab, event) {
      // console.log(this.tabActiveName)
      // console.log(tab.name)
      if (tab.name === "first") {
        this.gotDataCheck();
      } else {
        this.gotData();
      }
    },
    // 分页导航
    handleCurrentChangeCheck(val) {
      this.pagecheck = val;
      this.gotDataCheck();
    },
    //改变页数
    changeLimitCheck(val) {
      this.pagecheck = 1;
      this.limitcheck = val;
      this.gotDataCheck();
    },
    //审核列表数据
    gotDataCheck() {
      const params = {
        pageNum: this.pagecheck,
        pageSize: this.limitcheck,
        activityid: this.activityid,
        applytype: this.applytype,
      };
      this.loading = true;
      this.$store
        .dispatch("sale/saleCheckList", {
          data: params,
        })
        .then((result) => {
          this.loading = false;
          if (result.code === 0) {
            let data = result.data.list;
            this.tableDataCheck = data;
            this.totalcheck = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //表格多选
    handleSelectionChangeCheck(val) {
      this.multipleSelectionCheck = val;
    },
    //审核通过
    handleArgee() {
      if (this.multipleSelectionCheck.length === 0) {
        this.$message.warning("请选择审核人员");
        return;
      }
      let idList = [];
      this.multipleSelectionCheck.map((item) => {
        idList.push(item.id);
      });
      const dataparams = {
        id: idList,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)",
      });
      this.$store
        .dispatch("sale/saleCheckPass", { data: dataparams })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("批量通过成功");
            this.gotDataCheck();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    //审核拒绝
    handleReject() {
      if (this.multipleSelectionCheck.length === 0) {
        this.$message.warning("请选择审核人员");
        return;
      }
      let idList = [];
      this.multipleSelectionCheck.map((item) => {
        idList.push(item.id);
      });
      const dataparams = {
        id: idList,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)",
      });
      this.$store
        .dispatch("sale/saleCheckReject", { data: dataparams })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("批量拒绝成功");
            this.gotDataCheck();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //人员列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        activityid: this.activityid,
        applytype: this.applytype,
      };
      this.loading = true;
      this.$store
        .dispatch("sale/salePeopleList", {
          data: params,
        })
        .then((result) => {
          this.loading = false;
          if (result.code === 0) {
            let data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //表格多选
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 冻结
    handleFreeze() {
      if (this.multipleSelection.length === 0) {
        this.$message.warning("请选择审核人员");
        return;
      }
      let idList = [];
      this.multipleSelection.map((item) => {
        idList.push(item.id);
      });
      const dataparams = {
        id: idList,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)",
      });
      this.$store
        .dispatch("sale/salePeopleFrozen", { data: dataparams })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("批量冻结成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.sale-people-box {
  .container-table {
    margin-top: 50px;
  }
}
</style>