<template>
  <div class="sale-rule-box">
    <el-form
      ref="form"
      :model="form"
      :inline="true"
      :rules="rules"
      label-width="120px"
      class="operate-form-box"
    >
      <el-row>
        <el-col :span="24">
          <div class="sale-rule-title">申请设置</div>
        </el-col>
        <el-col :span="24">
          <el-form-item label="申请条件" prop="applyset">
            <el-radio-group v-model="form.applyset" @change="selectApplySet">
              <el-radio :label="1" disabled>报名参加</el-radio>
              <el-radio :label="2">全员</el-radio>
              <el-radio :label="3" disabled>指定人群</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <div class="sale-rule-title">审核设置</div>
        </el-col>
        <el-col :span="24">
          <el-form-item label="是否需要审核" prop="checkset">
            <el-radio-group v-model="form.checkset">
              <el-radio :label="1" :disabled="form.applyset === 2">是</el-radio>
              <el-radio :label="0">否</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <div class="sale-rule-title">奖励设置</div>
        </el-col>
        <el-col :span="24">
          <el-form-item label="奖励共享人数" prop="rewardcount">
            <el-select
              v-model="form.rewardcount"
              filterable
              placeholder="请选择"
              class="form-ipt-width"
            >
              <el-option
                v-for="item in rewardcountList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <!-- <el-col :span="24">
                <el-form-item label="自购得奖励" prop="selfreward">
                  <el-radio-group v-model="form.selfreward">
                    <el-radio :label="1">获得</el-radio>
                    <el-radio :label="2">获取</el-radio>
                  </el-radio-group>
                </el-form-item>
            </el-col>-->
        <el-col :span="24">
          <div class="sale-rule-title">结算设置</div>
        </el-col>
        <el-col :span="24">
          <el-form-item label="成本部门" prop="costdepartment">
            <el-select
              v-model="form.costdepartment"
              filterable
              placeholder="请选择"
              class="form-ipt-width"
              @change="changeCostdepartment"
            >
              <el-option
                v-for="item in costdepartmentList"
                :key="item.id"
                :label="item.name"
                :value="item.name"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-show="form.costdepartment === '其他部门'">
            <el-input
              v-model="othercostdepartment"
              placeholder="请输入部门名称"
              clearable
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            label="佣金规则"
            prop="commissiontype"
            ref="acommissiontype"
          >
            <el-select
              v-model="form.commissiontype"
              filterable
              placeholder="请选择"
              class="form-ipt-width"
              @change="changeCommissiontype('form')"
            >
              <el-option
                v-for="item in commissiontypeList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="commissionrule">
            <el-input
              v-model="form.commissionrule"
              placeholder="请输入"
              clearable
            ></el-input>
          </el-form-item>
          <el-form-item>
            <span style="margin-left: 10px; font-size: 12px">{{
              form.commissiontype === 1
                ? "例如10%请输入0.1"
                : form.commissiontype === 2
                ? "元"
                : ""
            }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <div class="sale-rule-title">提现方式</div>
        </el-col>
        <el-col :span="24">
          <el-form-item label="提现类型" prop="accounttype">
            <el-radio-group v-model="form.accounttype">
              <el-radio :label="1">线下提现</el-radio>
              <el-radio :label="2">线上提现</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="24" v-show="form.accounttype === 1">
          <el-form-item prop="offlinecash" label="结算方式">
            <el-radio-group v-model="form.offlinecash">
              <el-radio :label="1">工资结算</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="24" v-show="form.accounttype === 2">
          <el-form-item prop="onlinecash" label="结算方式">
            <el-radio-group v-model="form.onlinecash">
              <el-radio :label="1">微信零钱</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <!-- <el-col :span="24">
                <el-form-item label="提现方式" prop="offlinecash">
                  <el-checkbox-group v-model="form.offlinecash">
                    <el-checkbox :label="1">微信零钱</el-checkbox>
                    <el-checkbox :label="2">账户余额</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
            </el-col>-->
        <el-col :span="24">
          <el-form-item label="结算说明" prop="cashdesc">
            <el-input
              v-model="form.cashdesc"
              style="width: 720px"
              placeholder="请输入"
              clearable
              :rows="4"
              resize="none"
              type="textarea"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div style="text-align: center; margin-top: 10px">
      <el-button type="primary" size="mini" @click="handleSave('form')"
        >确 定</el-button
      >
    </div>
  </div>
</template>

<script>
import { percentnum, includezero } from "@/utils/reg";
export default {
  data() {
    // 正数不含0
    let checkPositiveNum = (rule, value, callback) => {
      if (this.form.commissiontype === 1 && !percentnum.test(value)) {
        return callback(new Error("数值不合法，数值范围为0~1"));
      } else if (this.form.commissiontype === 2 && !includezero.test(value)) {
        return callback(new Error("请输入非负数"));
      } else {
        callback();
      }
    };
    return {
      rewardcountList: [
        {
          id: 1,
          name: "1人"
        }
      ],
      commissiontypeList: [
        {
          id: 1,
          name: "比例"
        },
        {
          id: 2,
          name: "固定金额"
        }
      ],
      costdepartmentList: [
        {
          id: 1,
          name: "酒店自行承担"
        },
        {
          id: 2,
          name: "总部市场营销部"
        },
        {
          id: 3,
          name: "其他部门"
        }
      ],
      form: {
        activityname: "",
        activitytype: 3,
        applyset: 2,
        cashdesc: "",
        checkset: 0,
        commissionrule: "",
        commissiontype: 1,
        costdepartment: "",
        offlinecash: "",
        onlinecash: "",
        rewardcount: "",
        selfreward: "",
        check: [],
      },
      rules: {
        checkset: [{ required: true, message: "不能为空", trigger: "change" }],
        applyset: [{ required: true, message: "不能为空", trigger: "change" }],
        costdepartment: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        commissiontype: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        rewardcount: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        commissionrule: [
          { required: true, validator: checkPositiveNum, trigger: "blur" },
        ],
        accounttype: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        offlinecash: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
        onlinecash: [
          { required: true, message: "不能为空", trigger: "change" },
        ],
      },
      cashtype: "",
      othercostdepartment: "",
    };
  },
  props: ['activityid', 'applytype'],
  created() {
    this.gotDataSet()
  },
  methods: {
    //结算设置详情
    gotDataSet() {
      const params = {
        id: this.activityid,
      };
      this.$store
        .dispatch("sale/saleDetailData", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            let costdepartment = data.costdepartment;
            if (
              data.costdepartment !== "酒店自行承担" &&
              data.costdepartment !== "总部市场营销部"
            ) {
              costdepartment = "其他部门";
              this.othercostdepartment = data.costdepartment;
            }
            const onlinecash = data.onlinecash;
            const offlinecash = data.offlinecash;

            let accounttype = 1;
            if (onlinecash === 1) {
              accounttype = 2;
            }

            this.form = {
              id: data.id,
              activitytype: data.activitytype,
              activityname: data.activityname,
              costdepartment: costdepartment,
              commissiontype: data.commissiontype,
              commissionrule: data.commissionrule,
              onlinecash: 1,
              offlinecash: 1,
              cashdesc: data.cashdesc ? data.cashdesc : "",
              checkset: data.checkset,
              applyset: data.applyset,
              rewardcount: data.rewardcount ? data.rewardcount : 1,
              selfreward: data.selfreward ? data.selfreward : 1,
              accounttype: accounttype,
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 部门
    changeCostdepartment() {},
    selectApplySet() {
      if (this.form.applyset === 2) {
        this.form.checkset = 0;
      } else {
        this.form.checkset = 1;
      }
    },
    //佣金规则
    changeCommissiontype(formName) {
      this.$refs[formName].clearValidate();
      //this.$refs.acommissiontype.clearValidate();
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (
            this.form.costdepartment === "其他部门" &&
            !this.othercostdepartment
          ) {
            this.$message.warning("请填写部门名称");
            return;
          }

          const costdepartment =
            this.form.costdepartment === "其他部门"
              ? this.othercostdepartment
              : this.form.costdepartment;

          const accounttype = this.form.accounttype;
          let onlinecash = 0;
          let offlinecash = 1;
          if (accounttype === 2) {
            //线上
            onlinecash = 1;
            offlinecash = 0;
          }
          const params = {
            id: this.form.id,
            activitytype: this.form.activitytype,
            activityname: this.form.activityname,
            costdepartment: costdepartment,
            commissiontype: this.form.commissiontype,
            commissionrule: this.form.commissionrule,
            onlinecash: onlinecash,
            offlinecash: offlinecash,
            cashdesc: this.form.cashdesc,
            checkset: this.form.checkset,
            applyset: this.form.applyset,
            rewardcount: this.form.rewardcount,
            selfreward: this.form.selfreward,
          };

          this.$confirm("确定要修改规则设置吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          })
            .then(() => {
              this.handleSaveSure(params);
            })
            .catch(() => {});
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleSaveSure(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sale/saleDetailEdit", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("操作成功");
            this.gotDataSet();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.sale-rule-box {
  .sale-rule-title {
    margin-bottom: 20px;
  }
}
</style>