<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-16 18:26:35
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
.size-tipe {
  font-size: 12px;
  color: #aaa;
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="消费券" title2="活动列表"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="活动名称" prop="activename" label-width="68px">
                  <el-input
                    v-model="searchform.activename"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="活动状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="120" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  icon="el-icon-folder-opened"
                  @click="handleExport(scope.$index, scope.row)"
                >导入</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="activename" label="活动名称"></el-table-column>
            <el-table-column prop="startdate" label="有效期">
              <template slot-scope="scope">
                <span>{{scope.row.startdate.split(' ')[0]}}~{{scope.row.enddate.split(' ')[0]}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="状态">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '启用' : scope.row.status === 0 ? '未启用' : ''}}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="110px"
        :rules="rules"
        :inline="true"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="activename">
              <el-input v-model="form.activename" clearable placeholder="请输入" style="width: 510px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动日期" required style="margin-bottom: 0px">
              <el-form-item prop="startdate">
                <el-date-picker
                  v-model="form.startdate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                  style="width: 200px"
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px 0 0;">至</span>
              <el-form-item prop="enddate">
                <el-date-picker
                  v-model="form.enddate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  clearable
                  style="width: 200px"
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动图片" required>
              <upSingleImage
                :uploadstyle="{width: 100, height: 100}"
                :config="{type: 10}"
                :path="form.picurl"
                :current="1"
                @upImages="bannerImages"
              ></upSingleImage>
              <div class="size-tipe">建议尺寸：360px*360px</div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="活动规则" prop="activedesc">
              <el-input
                v-model="form.activedesc"
                style="width:510px"
                placeholder="请输入"
                clearable
                :rows="10"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 导入 -->
    <el-dialog
      title="导入券号"
      :visible.sync="tickvisible"
      width="800px"
      @close="closeDialogTick('tickform')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="tickform"
        :model="tickform"
        label-width="110px"
        :rules="tickrules"
        :inline="true"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="activename">
              <el-input
                v-model="tickform.activename"
                clearable
                placeholder="请输入"
                style="width: 510px"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="渠道名称" prop="hotelid">
              <el-select
                v-model="tickform.hotelid"
                clearable
                filterable
                placeholder="请选择"
                style="width: 510px"
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-if="tickform.hotelid === 0">
            <el-form-item label="渠道名称" prop="otherhotel">
              <el-input
                v-model="tickform.otherhotel"
                clearable
                placeholder="请输入"
                style="width: 510px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="券号" prop="codenoStr">
              <el-input
                v-model="tickform.codenoStr"
                style="width:510px"
                placeholder="请输入"
                clearable
                :rows="10"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="tickvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSaveTick('tickform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import upSingleImage from "@/components/Upload/upSingleImage.vue";
export default {
  data() {
    var checkValue = (rule, value, callback) => {
      if (this.tickform.hotelid === 0) {
        if (!value) {
          callback(new Error("请输入数字值"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };

    return {
      searchform: {
        activename: "",
        status: "",
      },
      searchresult: {
        activename: "",
        status: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      form: {
        activedesc: "",
        status: 1,
        activename: "",
        picurl: "",
        enddate: "",
        startdate: "",
      },
      rules: {
        activename: [{ required: true, message: "不能为空", trigger: "blur" }],
        activedesc: [{ required: true, message: "不能为空", trigger: "blur" }],
        startdate: [{ required: true, message: "不能为空", trigger: "change" }],
        enddate: [{ required: true, message: "不能为空", trigger: "change" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      statusList: [
        {
          id: 0,
          name: "未启用",
        },
        {
          id: 1,
          name: "已启用",
        },
      ],
      tickvisible: false,
      tickform: {
        activename: "",
        hotelid: "",
        codenoStr: "",
        otherhotel: "",
      },
      tickrules: {
        activename: [{ required: true, message: "不能为空", trigger: "blur" }],
        codenoStr: [{ required: true, message: "不能为空", trigger: "blur" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "blur" }],
        otherhotel: [
          { required: true, validator: checkValue, trigger: "blur" }
        ]
      },
      hotelList: [],
    };
  },
  components: {
    vBreadcrumb,
    upSingleImage,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo
    }),
  },
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    // 查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },

    // 重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },

    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        activename: this.searchresult.activename,
        status: this.searchresult.status,
      };
      this.loading = true;
      this.$store
        .dispatch("ticket/TicketActivityList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id,
      };
      this.$store
        .dispatch("ticket/TicketActivityDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const startdate = data.startdate
              ? data.startdate.split(" ")[0]
              : "";
            const enddate = data.enddate ? data.enddate.split(" ")[0] : "";
            this.form = {
              activedesc: data.activedesc,
              status: data.status,
              activename: data.activename,
              picurl: data.picurl,
              enddate: enddate,
              startdate: startdate
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const startdate = this.form.startdate
            ? this.form.startdate + " 00:00:00"
            : "";
          const enddate = this.form.enddate
            ? this.form.enddate + " 00:00:00"
            : "";

          if (!this.form.picurl) {
            this.$message.warning("请上传图片");
            return
          }
          let params = {
            activedesc: this.form.activedesc,
            status: this.form.status,
            activename: this.form.activename,
            picurl: this.form.picurl,
            enddate: enddate,
            startdate: startdate,
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketActivityAdd", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketActivityUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        activedesc: "",
        status: 1,
        activename: "",
        picurl: "",
        enddate: "",
        startdate: ""
      };
    },
    handleExport(index, row) {
      this.tickform.activename = row.activename;
      this.rowData = row;
      this.tickvisible = true;
      this.gotHotelList();
    },
    handleSaveTick(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // const codenoStr = this.tickform.codenoStr.replace(/\s+/g, '@@');

          const codenoStrTrim = this.handleTrim(this.tickform.codenoStr);
          const codenoStr = codenoStrTrim.replace(/\s+/g, '@@');
          // console.log(codenoStr)
          let params = {
            activeid: this.rowData.id,
            codenoStr: codenoStr,
            hotelid: this.tickform.hotelid,
            salename: this.tickform.otherhotel
          };
          // console.log(params)
          // return
          this.handleAddSaveTick(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleTrim(str){ //删除左右两端的空格
　　   return str.replace(/(^\s*)|(\s*$)/g, "");
　　 },
    handleAddSaveTick(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketActivityLead", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("导入成功");
            this.tickvisible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.tickvisible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    
    closeDialogTick(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        activename: "",
        hotelid: "",
        codenoStr: ""
      };
    },
    bannerImages(param) {
      const { path } = param;
      this.form.picurl = path;
    },
    //酒店下拉
    gotHotelList() {
      // this.userinfo.roleHotelId
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data;
            data.push({
              id: 0,
              hotelname: "其他渠道"
            });
            this.hotelList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>


