<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-18 14:36:10
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="统一门户" title2="员工管理"></v-breadcrumb>
    <Employee></Employee>
    <Account></Account>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Account from "./ssoaccount.vue";
import Employee from "./ssoemployee.vue";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      
    };
  },
  components: {
    vBreadcrumb,
    Account,
    Employee
  },
  computed: {},
  created() {
    
  },
  mounted() {},
};
</script>

