<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-31 15:38:41
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="工号" prop="empno">
                  <el-input
                    v-model="searchform.empno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="姓名" prop="username">
                  <el-input
                    v-model="searchform.username"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>员工账号管理
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="100" align="center" fixed="left">
              <template slot-scope="scope">
                <div>
                  <el-button
                    type="text"
                    icon="el-icon-setting"
                    style="color: #E6A23C"
                    @click="handleEdit(scope.$index, scope.row)"
                  >账号映射</el-button>
                </div>
                <div>
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleRole(scope.$index, scope.row)"
                  >绑定角色</el-button>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="username" label="姓名"></el-table-column>
            <el-table-column prop="phone" label="手机号"></el-table-column>
            <el-table-column prop="empno" label="工号"></el-table-column>
            <el-table-column prop="hotelname" label="所属酒店"></el-table-column>
            <el-table-column prop="deptName" label="部门"></el-table-column>
            <el-table-column prop="gangweiName" label="岗位"></el-table-column>
            <el-table-column prop="roleList" label="角色" :formatter="gotStr"></el-table-column>
            <el-table-column prop="userStatus" label="状态">
              <template
                slot-scope="scope"
              >{{scope.row.userStatus === 10 ? '实习' : scope.row.userStatus ===  20 ? '试用' : scope.row.userStatus ===  30 ? '正式' : scope.row.userStatus ===  40 ? '离职' : scope.row.userStatus ===  50 ? '退休' : scope.row.userStatus ===  60 ? '返聘' : ''}}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增/编辑 -->
    <el-dialog
      title="开通账号"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="业务系统" prop="systemid">
              <el-select v-model="form.systemid" placeholder="请选择" style="width: 560px" clearable>
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.id +'-'+item.systemname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="员工姓名" prop="truename">
              <el-input v-model="form.truename" style="width: 560px" placeholder="请输入" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="登录名" prop="username">
              <el-input v-model="form.username" style="width: 560px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="登录参数" prop="params">
              <el-input v-model="form.params" style="width: 560px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 新增 -->
    <el-dialog
      title="绑定角色"
      :visible.sync="rolevisible"
      width="1000px"
      @close="closeDialogRole('roleform')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="roleform"
        :model="roleform"
        :inline="true"
        :rules="rolerules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="角色筛选">
              <el-input
                v-model="rolename"
                clearable
                placeholder="请输入"
                class="search-input"
              ></el-input>
            </el-form-item>
            <el-button type="warning" size="mini" @click="handleSearchRole">筛 选</el-button>
          </el-col>
          <el-col :span="24">
            <el-form-item label="角色列表" prop="roleList">
              <el-checkbox
                :indeterminate="isIndeterminate"
                v-model="checkAll"
                @change="handleCheckAllChange"
              >全选</el-checkbox>
              <div style="margin: 15px 0;"></div>
              <el-checkbox-group
                v-model="roleform.roleList"
                @change="handleCheckedCitiesChange"
                style="width: 800px"
              >
                <el-checkbox
                  v-for="item in appList"
                  :label="item.id"
                  :key="item.id"
                  style="width: 360px"
                >{{item.name}}</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="rolevisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSaveRole('roleform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        username: "",
        empno: "",
        phone: "",
      },
      searchresult: {
        username: "",
        empno: "",
        phone: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typeList: [],
      form: {
        params: "",
        staffid: "",
        systemid: "",
        username: "",
        truename: "",
      },
      visible: false,
      rules: {
        truename: [{ required: true, message: "不能为空", trigger: "blur" }],
        systemid: [{ required: true, message: "不能为空", trigger: "change" }],
        username: [{ required: true, message: "不能为空", trigger: "blur" }],
      },
      roleList: [],
      appList: [],
      checkAll: false,
      isIndeterminate: false,
      rolevisible: false,
      roleform: {
        roleList: [],
      },
      rolerules: {
        roleList: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      rolename: ''
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
      modelid: (state) => state.user.modelid,
    }),
  },
  created() {
    // this.gotData();
    this.handleRoleList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        phone: this.searchresult.phone,
        username: this.searchresult.username,
        empno: this.searchresult.empno,
        pageNum: this.page,
        pageSize: this.limit,
      };
      this.loading = true;
      this.$store
        .dispatch("sso/staffList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            username: this.form.username,
            params: this.form.params,
            staffid: this.form.staffid,
            systemid: this.form.systemid,
          };
          this.handleEditSave(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleEdit(index, row) {
      this.handleSystemList();
      this.rowData = row;
      this.form = {
        staffid: row.id,
        truename: row.username,
      };
      this.visible = true;
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sso/staffMapping", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        params: "",
        staffid: "",
        systemid: "",
        username: "",
        truename: "",
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    // 系统下拉
    handleSystemList() {
      const params = {};
      this.$store
        .dispatch("sso/staffPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.typeList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    gotStr(row, column, cellValue, index) {
      const arritem = Array.isArray(cellValue) ? cellValue : [];
      if (arritem.length > 0) {
        return arritem.join("、");
      }
      return "";
    },
    handleSearchRole () {
      let list = []
      if (this.rolename) {
         list = this.fuzzyQuery(this.roleList, this.rolename)
      } else {
        list = this.roleList
      }
      this.appList = list;
    },
    fuzzyQuery (list, keyWord) {
      const reg = new RegExp(keyWord);
      const arr = list.filter((item) => reg.test(item.name) === true);
      return arr
    },
    // 角色下拉
    handleRoleList() {
      const params = {};
      this.$store
        .dispatch("sso/rolesPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.appList = result.data;
            this.roleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleRole(index, row) {
      this.rolevisible = true;
      this.rowData = row;
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("sso/staffReled", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            console.log(data)
            let roleList = [];
            let checkAll = false;
            let isIndeterminate = false;
            if (Array.isArray(data)) {
              roleList = data.map((item) => item.id);
              // console.log(roleList)
              if (roleList.length > 0) {
                if (roleList.length === this.appList.length) {
                  checkAll = true;
                } else {
                  isIndeterminate = true;
                }
              }
            }
            this.checkAll = checkAll;
            this.isIndeterminate = isIndeterminate;
            this.roleform = {
              roleList: roleList
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSaveRole(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            rolesidList: this.roleform.roleList,
          };
          this.handleRoleSubmit(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleRoleSubmit(params) {
      const dataparams = {
        ...params,
        staffid: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sso/staffRole", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("绑定成功");
            this.rolevisible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialogRole(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        roleList: [],
      };
      this.rolename = '';
    },
    handleCheckAllChange(val) {
      let appList = this.appList.map((item) => item.id);
      this.roleform.roleList = val ? appList : [];
      this.isIndeterminate = false;
    },
    handleCheckedCitiesChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.appList.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.appList.length;
    },
  },
};
</script>

