<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:36:19
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="评论中心" title2="回复模板设置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="100" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="code" label="编码" width="80"></el-table-column>
            <el-table-column prop="templatename" label="模块名称" width="200"></el-table-column>
            <el-table-column prop="brandname" label="酒店品牌" width="200">
              <template slot-scope="scope">{{scope.row.brandid + '-' + scope.row.brandname }}</template>
            </el-table-column>
            <el-table-column prop="content" label="模板内容"></el-table-column>
            <el-table-column prop="isDeleted" label="状态" width="80">
              <template slot-scope="scope">{{scope.row.isDeleted === 0 ? '启用' : '未启用' }}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="620px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :inline="true" :rules="rules" label-width="80px"  class="operate-form-box">
        <el-row>
          <el-col :span="24">
            <el-form-item label="模板名称" prop="templatename">
              <el-input
                v-model="form.templatename"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item label="模板编码" prop="code">
              <el-input v-model="form.code" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
          </el-col>
           <el-col :span="24">
            <el-form-item label="酒店品牌" prop="brandid">
              <el-select
                v-model="form.brandid"
                filterable
                placeholder="请选择酒店品牌"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in brandlist"
                  :key="item.id"
                  :label="item.id +'-'+ item.brandname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="模板内容" prop="content">
              <el-input
                v-model="form.content"
                style="width:450px"
                placeholder="请输入"
                clearable
                :rows="5"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="isDeleted">
              <el-radio-group v-model="form.isDeleted">
                <el-radio :label="0">启用</el-radio>
                <el-radio :label="1">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {},
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typelist: [
        {
          id: 1,
          name: "酒店标签"
        },
        {
          id: 2,
          name: "房间标签"
        }
      ],
      form: {
        templatename: "",
        brandid: "",
        content: "",
        isDeleted: 0,
        code: ""
      },
      visible: false,
      rules: {
        templatename: [
          { required: true, message: "不能为空", trigger: "blur" }
        ],
        code: [{ required: true, message: "不能为空", trigger: "blur" }],
        brandid: [{ required: true, message: "不能为空", trigger: "blur" }],
        content: [{ required: true, message: "不能为空", trigger: "blur" }],
        isDeleted: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      brandlist: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotData();
    this.getBrandSelect();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("comment/commentTemplateList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },

    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      //详情
      this.$store
        .dispatch("comment/commentTemplateDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            if (data) {
              this.form = {
                templatename: data.templatename,
                brandid: data.brandid,
                content: data.content,
                isDeleted: data.isDeleted,
                code: data.code,
              };
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = {
            templatename: this.form.templatename,
            brandid:  this.form.brandid,
            content: this.form.content,
            isDeleted: this.form.isDeleted,
            code: this.form.code
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("comment/commentTemplateAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("comment/commentTemplateUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        templatename: "",
        brandid: "",
        content: "",
        isDeleted: 0,
        code: ""
      };
    },
    //获取品牌下拉列表
    getBrandSelect() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelBrand", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.brandlist = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>


