<template>
  <div>
    <el-dialog
      :close-on-click-modal="false"
      title="设置楼层(可多层)"
      :visible.sync="visible"
      width="600px"
      height="300px"
      @close="closeDialogFloor('floorform')"
      label-width="100px"
    >
      <el-form
        :model="floorform"
        ref="floorform"
        class="search-form"
        :inline="true"
        :rules="floorrules"
      >
        <el-row>
          <el-col
            :span="24"
            v-for="(value, index) in HotelData"
            :key="index"
          >
            <el-form-item label="选择楼宇">
              <el-select
                v-model="value.buildno"
                filterable
                placeholder="请选择"
                style="width: 150px"
                @change="(value) => changeBuild(value, index)"
              >
                <el-option
                  v-for="item in HotelBuildNo"
                  :key="item.buildno"
                  :label="item.buildno + ' 楼'"
                  :value="item.buildno"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="选择楼层">
              <el-select
                clearable
                v-model="value.floor"
                filterable
                placeholder="请楼层"
                style="width: 150px"
              >
                <el-option
                  v-for="item in value.HotelFloor"
                  :key="item.floor"
                  :label="item.floor +' 层'"
                  :value="item.floor"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-button
              type="primary"
              icon="el-icon-plus"
              circle
              @click="handleItem(value, index, 1)"
            ></el-button>
            <el-button
              type="danger"
              icon="el-icon-minus"
              circle
              @click="handleItem(value, index, 2)"
            ></el-button>
          </el-col>
        </el-row>
      </el-form>

      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSaveFloor('floorform')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: true,
      floorform: { },
      floorrules: {},
      HotelBuildNo: [],
      HotelData: [],
      tableData: [],
      isload: 1
    };
  },
  props: {
    rowData: {
      type: Object
    }
  },
  created () {
    this.gotFloor()
  },
  methods: {
    // 设置楼层
    gotFloor() {
      this.gotHotelBuildNo();
      const params = {
        id: this.rowData.staffid,
      };
      this.$store
        .dispatch("service/floorList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            if (data.length > 0) {
                this.tableData = data;
                data.map((item, index) => {
                   this.gotHotelFloor2(item, index)
                })
            } else {
                const data = {
                    id: '',
                    buildno: '',
                    floor: '',
                    HotelFloor: []
                };
                this.HotelData.push(data);
            }
           
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleItem(value, index, type) {
      if (type === 1) {
        // 新增
        const data = {
          id: '',
          buildno: '',
          floor: '',
          HotelFloor: []
        };
        this.HotelData.push(data);
      } else {
        // 减少
        if (this.HotelData.length <= 1) {
          return;
        }
        this.HotelData.splice(index, 1);
      }
    },
    handleSaveFloor(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const issave = this.HotelData.findIndex((item) =>  item.buildno === '' || item.floor === '')
          if (issave > -1) {
            this.$message.warning('请选择楼层或楼宇')
            return
          }
          const HotelData = JSON.parse(JSON.stringify(this.HotelData))
          HotelData.map((item) => {
            delete item.HotelFloor
          })
          let params = {
            staffid: this.rowData.staffid,
            floorDtoList: HotelData
          };
          this.saveFloorSubmit(params);
        }
      });
    },
    //设置楼层提交
    saveFloorSubmit(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/floorUpdate", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("楼层设置成功");
            this.visible = false;
            this.isload = 2;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialogFloor(formName) {
      this.$refs[formName].resetFields();
      this.HotelData = [];
      this.$emit('close', this.isload)
    },
    // 根据酒店ID查询楼号
    gotHotelBuildNo() {
      const params = {
        id: this.rowData.hotelid
      };
      this.$store
        .dispatch("service/hotelbuildno", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.HotelBuildNo = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 切换楼号
    changeBuild(value, index) {
      this.gotHotelFloor(value, index);
    },
    // 根据酒店ID 楼号 查询楼层
    gotHotelFloor(buildno, current) {
      const params = {
        hotelid: this.rowData.hotelid,
        buildno: buildno,
      };
      this.$store
        .dispatch("service/hotelfloor", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.HotelData.map((item, index) => {
              if (current === index) {
                item.HotelFloor = data;
                item.floor = "";
              }
            });
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 根据酒店ID 楼号 查询楼层
    gotHotelFloor2(itemlist, current) {
      const params = {
        hotelid: this.rowData.hotelid,
        buildno: itemlist.buildno,
      };
      this.$store
        .dispatch("service/hotelfloor", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            const json = {
                id: itemlist.id,
                buildno: itemlist.buildno,
                floor: itemlist.floor,
                HotelFloor: data,
            }
            this.HotelData.push(json)
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

<style>
</style>