<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-28 15:59:39
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->

<style lang="scss" scoped>
.class-ul {
  display: flex;
  margin: 20px 0;
  .class-li {
    padding: 0 15px;
    min-width: 80px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
  }
}
.select-span {
  font-size: 40px;
}
.select-span-position {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.datetotal-wrapper {
  width: 980px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  display: flex;
  .datetotal-li {
    width: 100px;
    height: 40px;
    background: #ccc;
    cursor: pointer;
    margin-right: 10px;
    .datetotal-li-name {
      height: 40px;
      line-height: 40px;
      text-align: center;
    }
    &.active {
      background: #409eff;
      color: #fff;
    }
  }
}
.date-table {
  width: 980px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 60px;
  color: #000;
  .date-table-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #f4f4f4;
    padding: 0;
    margin: 0;
    .date-table-title {
      width: 140px;
      height: 40px;
      box-sizing: border-box;
      border-right: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      border-top: 1px solid #f1f1f1;
      text-align: center;
      line-height: 38px;
      font-size: 14px;
      &:nth-child(1),
      &:nth-child(7) {
        background: #fff5f5;
      }
    }
  }
  .date-table-ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #f1f1f1;
    padding: 0;
    margin: 0;
    .date-table-li {
      position: relative;
      padding: 0;
      margin: 0;
      width: 140px;
      height: 60px;
      box-sizing: border-box;
      border-right: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      font-size: 16px;
      font-weight: 500;
      line-height: 58px;
      text-align: center;
      &:nth-child(7n + 1),
      &:nth-child(7n) {
        background: #fff5f5;
      }
    }
  }
}
.row-div {
  width: 980px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  .col-div {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 20px;
  }
}
</style>
<template>
  <div class="page-container">
    <div class="content-container">
      <div class="crumbs-title">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-search crumbs-i-right"></i>数据筛选
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="search-box">
        <el-form
          :model="searchform"
          ref="searchform"
          class="search-form"
          :inline="true"
        >
          <el-row>
            <el-col :span="24">
              <el-form-item
                label="选择酒店"
                prop="hotelid"
              >
                <el-select
                  clearable
                  v-model="searchform.hotelid"
                  filterable
                  placeholder="请选择"
                  style="width: 200px"
                  @change="changeHotel"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id +'-'+ item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item
                label="部门"
                prop="deptId"
              >
                <el-cascader
                  clearable
                  :options="organList"
                  :show-all-levels="false"
                  @expand-change="handleExpandChange"
                  v-model="deptIdList"
                ></el-cascader>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item
                label="员工姓名"
                prop="userName"
              >
                <el-input
                  v-model="searchform.userName"
                  clearable
                  placeholder="请输入"
                  style="width: 200px"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="年月"
                prop="shift_date"
              >
                <el-date-picker
                  v-model="shift_date"
                  value-format="yyyy-MM"
                  type="month"
                  style="width: 200px"
                  placeholder="选择年月"
                  @change="changeDate"
                >
                </el-date-picker>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button
                  type="primary"
                  @click="handleSearch"
                >查询</el-button>
                <el-button
                  type="info"
                  @click="resetSearch('searchform')"
                >重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <ul class="class-ul">
          <li
            class="class-li"
            v-for="(item) in classList"
            :key="item.id"
            @click="clickClassItem(item)"
            :style="{backgroundColor: item.colorCode}"
          >
            {{item.nameAbbr}}
          </li>
        </ul>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @cell-click="cellClick"
          >
            <!-- <el-table-column
              label="操作"
              width="80"
              align="center"
              fixed="left"
            >
              <template slot-scope="scope">
                <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-date"
                    @click="handleEdit(scope.$index, scope.row)"
                  >排班</el-button>
                </div>
                <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleFloor(scope.$index, scope.row)"
                  >设置楼层</el-button>
                </div>
              </template>
            </el-table-column> -->
            <el-table-column
              prop="userName"
              label="姓名"
              width="80"
              fixed="left"
            ></el-table-column>
            <el-table-column
              prop="gangweiName"
              label="岗位"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="floor"
              label="楼层"
              width="80"
            >
              <template slot-scope="scope">{{Array.isArray(scope.row.floor) ? scope.row.floor.join(',') : ''}}</template>
            </el-table-column>
            <el-table-column
              prop="deptName"
              label="部门"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="hotelname"
              label="酒店"
              width="80"
            ></el-table-column>
            <el-table-column
              :prop="item.name"
              :label="item.name"
              width="80"
              v-for="(item, index) in dateList"
              :key="item.name"
            >
              <template slot-scope="scope">
                <span
                  :class="['select-span',scope.row.staffList[index].color_code ? 'el-icon-s-flag' : '' ]"
                  :style="{color: scope.row.staffList[index].color_code}"
                >
                  {{scope.row.staffList[index].color}}
                </span>
              </template>
            </el-table-column>
          </el-table>
          <!-- <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div> -->
        </div>
      </el-card>
    </div>

    <!-- 排班 -->
    <el-dialog
      :close-on-click-modal="false"
      title="排班"
      :visible.sync="visible"
      width="1200px"
      @close="closeDialog"
    >
      <div class="row-div">
        <div class="col-div">
          员工姓名：{{rowData.userName}}
        </div>
        <div class="col-div">
          班次：{{classItem.nameAbbr}}
        </div>
      </div>
      <ul class="datetotal-wrapper">
        <li
          class="datetotal-li"
          v-for="(date, dateindex) in dateDataTotal"
          :key="dateindex"
          :class="[datevalue === date.value ? 'active' : '']"
          @click="clickDateTitle(date)"
        >
          <div class="datetotal-li-name">
            {{date.value}}
          </div>
          <div
            class="date-table"
            v-if="datevalue === date.value"
          >
            <ul class="date-table-header">
              <li
                class="date-table-title"
                v-for="item in weekDataList"
                :key="item"
              >星期{{item}}</li>
            </ul>
            <ul class="date-table-ul">
              <li
                class="date-table-li"
                v-for="(item) in date.skipListPre"
                :key="item"
              ></li>
              <li
                class="date-table-li"
                v-for="(item, index) in date.dateList"
                :key="item.name"
                @click="clickDateMonth(item, index, dateindex)"
              >
                {{item.day}}
                <div
                  class="select-span-position"
                  v-show="item.panId"
                >
                  <span
                    class="el-icon-success"
                    :style="{color: item.color_code}"
                  ></span>
                </div>
              </li>
              <li
                class="date-table-li"
                v-for="(item) in date.skipListNext"
                :key="item"
              ></li>
            </ul>
          </div>
        </li>
      </ul>

      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave()"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 设置楼层 -->
    <el-dialog
      :close-on-click-modal="false"
      title="设置楼层"
      :visible.sync="floorvisible"
      width="960px"
      @close="closeDialogFloor"
    >
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="floorvisible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSaveFloor"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      searchform: {
        hotelid: "",
        userName: "",
        deptId: "",
      },
      searchresult: {
        hotelid: "",
        userName: "",
        deptId: "",
      },
      shift_date: "",
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      rowData: {},
      floorvisible: false,
      classList: [],
      hotelList: [],
      dateList: [
        {
          color_code: "",
          panId: 1,
          shift_date: "",
        },
      ],
      weekDataList: ["日", "一", "二", "三", "四", "五", "六"],
      skipListPre: [],
      skipListNext: [],
      dateDataTotal: [],
      detaleMonth: 5,
      dateData: [],
      datevalue: "",
      classItem: {},
      deptIdList: [],
      organList: [],
    };
  },
  components: {},
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    this.shift_date = this.gotMonth();
    this.dateList = this.gotDateListCount();
    this.gotData();
    this.gotHotelList();
    this.gotClassList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      // console.log(this.deptIdList);
      let deptId = '';
      if (this.deptIdList.length > 0) {
        deptId = this.deptIdList[this.deptIdList.length-1]
      }
      this.page = 1;
      this.searchresult = {
        ...this.searchform,
        deptId: deptId
      };
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    gotDateListCount() {
      const dateArr = this.shift_date.split("-");
      const year = dateArr[0];
      const month = dateArr[1];
      const dateList = this.gotDateList(year, month).dateList;
      return dateList;
    },
    //列表数据
    gotData() {
      // 获取当前月份
      const shift_date = `${this.shift_date}-00 00:00:00`;
      let hotelIdList = [];
      if (this.searchresult.hotelid) {
        hotelIdList.push(this.searchresult.hotelid)
      }
      const params = {
        deptId: this.searchresult.deptId,
        userName: this.searchresult.userName,
        shift_date: shift_date,
        // hotelid: this.searchresult.hotelid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: hotelIdList
      };
      // this.userinfo.roleHotelId
      this.loading = true;
      this.$store
        .dispatch("service/employeeList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data;

            for (let index = 0; index < data.length; index++) {
              const dateList = this.gotDateListCount();
              const staffList = data[index].servicestaffListVoList;
              const newDateList = staffList.reduce((preVal, curVal) => {
                preVal.map((item) => {
                  if (item.shift_date === curVal.shift_date) {
                    item.panId = curVal.panId;
                    item.color_code = curVal.color_code;
                  }
                });
                return preVal;
              }, dateList);
              data[index].staffList = newDateList;
            }
            // console.log(data);
            this.tableData = data;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    changeDate() {
      this.dateList = this.gotDateListCount;
      this.gotData();
    },
    gotMonth() {
      const date = new Date();
      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      return `${year}-${this.fillZero(month)}`;
    },
    gotDateList(year, month) {
      let daysCount = this.getDays(year, month);
      const startweek = this.gotWeek(year, month);
      const skipListPre = Array.from(new Array(startweek), (val, index) => {
        return 666 + index;
      });
      let dateList = Array.from(new Array(daysCount), (val, index) => {
        return {
          shift_date: `${year}-${this.fillZero(month)}-${this.fillZero(
            index + 1
          )} 00:00:00`,
          panId: 0,
          color_code: "",
          name: `${month}/${index + 1}`,
          day: index + 1,
        };
      });
      const skipListNext = 42 - skipListPre.length - dateList.length;
      return {
        dateList,
        skipListPre,
        skipListNext,
        value: `${year}-${month}`,
      };
    },
    fillZero(num) {
      return parseInt(num) < 10 ? "0" + num : num;
    },
    //当月第一天星期几
    gotWeek(year, month) {
      let date = new Date();
      date.setYear(year);
      date.setMonth(month - 1);
      date.setDate(1);
      return date.getDay();
    },
    getDays(curYear, curMonth) {
      //获取一个月多少天
      let day = new Date(curYear, curMonth, 0);
      return day.getDate();
    },
    clickClassItem(item) {
      this.classItem = item;
      this.$message.success(`已选择${item.nameAbbr}`);
    },
    cellClick(row, column, cell, event) {
      // console.log(row, column, cell, event)

      const label = column.label;
      if (
        label === "操作" ||
        label === "姓名" ||
        label === "岗位" ||
        label === "楼层" ||
        label === "部门" ||
        label === "酒店"
      ) {
        return;
      }
      const staffList = row.staffList;
      const itemlist = staffList.filter((item) => item.name === label);
      const item = itemlist[0];
      if (item.panId) {
        return;
      }
      // this.cellClickSubmit();
      this.cellClickSubmit(row.hotelid, item.shift_date, row.staffid);
    },
    cellClickSubmit(hotelid, shiftDate, staffid) {
      if (this.classItem.id) {
        const dataparams = {
          hotelid: hotelid,
          shiftDate: shiftDate,
          shiftid: this.classItem.id,
          staffid: staffid,
        };
        const loading = this.$loading({
          lock: true,
          text: "数据提交中...",
          spinner: "el-icon-loading",
          background: "rgba(0, 0, 0, 0.7)",
        });
        this.$store
          .dispatch("service/employeeArrange", {
            data: dataparams,
          })
          .then((result) => {
            loading.close();
            if (result.code === 0) {
              this.$message.success("排班成功");
              this.visible = false;
              this.gotData();
              this.classItem = {};
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },

    //打开编辑窗口
    handleEdit(index, row) {
      if (!this.classItem.id) {
        this.$message.warning("请选选择排班的班次");
        return;
      }
      this.visible = true;
      this.rowData = row;
      this.dateData = row.staffList;
      this.createCalendars();
    },
    createCalendars() {
      const date = new Date();
      let calendars = [];
      let currentYear = date.getFullYear();
      let startMonth = date.getMonth() + 1;
      for (let i = 0; i < this.detaleMonth; i++) {
        startMonth > 12 && (startMonth = 1) && (currentYear += 1);
        calendars.push(this.gotDateList(currentYear, startMonth));
        startMonth += 1;
      }
      // console.log(calendars);
      this.dateDataTotal = calendars;
    },
    clickDateTitle(date) {
      this.datevalue = date.value;
    },
    clickDateMonth(item, index, dateindex) {
      // console.log(item, index, dateindex);
      this.dateDataTotal.map((date, i) => {
        if (i === dateindex) {
          date.dateList.map((value, j) => {
            if (j === index) {
              if (value.color_code) {
                (value.color_code = ""), (value.panId = 0);
              } else {
                (value.color_code = this.classItem.colorCode),
                  (value.panId = this.classItem.id);
              }
            }
          });
        }
      });
      // console.log(this.dateDataTotal);
    },
    //保存编辑或者新增内容
    handleSave() {
      // console.log(this.dateDataTotal);
      return;
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/employeeArrange", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("排班成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog() {
      this.classItem = {};
    },
    // 设置楼层
    handleFloor(index, row) {
      this.floorvisible = true;
    },
    //保存编辑或者新增内容
    handleSaveFloor() {
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/employeeArrange", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("设置成功");
            this.floorvisible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialogFloor() {},
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //班次下拉
    gotClassList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("service/classPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.classList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleExpandChange(value) {
      console.log(value);
      this.gotOrganName2(value);
    },
    changeHotel() {
      this.gotOrganName();
    },
    // 根据酒店ID查询二级组织
    gotOrganName() {
      const params = {
        id: this.searchform.hotelid,
      };
      this.$store
        .dispatch("service/employeeSecond", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            let organList = [];
            data.map((item) => {
              const value = {
                value: item.id,
                label: item.organName,
                children: [],
              };
              organList.push(value);
            });
            this.organList = organList;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 根据二级组织ID查询部门
    gotOrganName2(valueArr) {
      const pid = valueArr[valueArr.length - 1];
      const params = {
        pid: pid,
      };
      this.$store
        .dispatch("service/employeeDept", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            let organList = [];
            data.map((item) => {
              const value = {
                value: item.id,
                label: item.organName,
                children: [],
              };
              organList.push(value);
            });
            switch (valueArr.length) {
              case 1:
                this.organList.map((item, index) => {
                  if (item.value === valueArr[0]) {
                    item.children = organList.length > 0 ? organList : null;
                  }
                });
                break;
              case 2:
                this.organList.map((item, index) => {
                  if (item.value === valueArr[0]) {
                    item.children.map((item2, index2) => {
                      if (item2.value === valueArr[1]) {
                        item2.children =
                          organList.length > 0 ? organList : null;
                      }
                    });
                  }
                });
                break;
              case 3:
                this.organList.map((item, index) => {
                  if (item.value === valueArr[0]) {
                    item.children.map((item2, index2) => {
                      if (item2.value === valueArr[1]) {
                        item2.children.map((item3, index3) => {
                          if (item3.value === valueArr[2]) {
                            item3.children =
                              organList.length > 0 ? organList : null;
                          }
                        });
                      }
                    });
                  }
                });
                break;
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

