<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-24 16:17:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<template>
  <div class="page-container">
    <div class="content-container">
      <!-- <div class="crumbs-title">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-search crumbs-i-right"></i>数据筛选
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="search-box">
        <el-form
          :model="searchform"
          ref="searchform"
          class="search-form"
          :inline="true"
        >
          <el-row>
            <el-col :span="24">
              <el-form-item
                label="选择酒店"
                prop="hotelid"
              >
                <el-select
                  v-model="searchform.hotelid"
                  filterable
                  placeholder="请选择"
                  style="width: 200px"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id + '-' + item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button
                  type="primary"
                  @click="handleSearch"
                >查询</el-button>
                <el-button
                  type="info"
                  @click="resetSearch('searchform')"
                >重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div> -->
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button
            type="primary"
            @click="handleAdd"
          >新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="80"
              align="center"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  style="color: red"
                  type="text"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.$index, scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="ID"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="hotelname"
              label="酒店名称"
            ></el-table-column>
            <el-table-column
              prop="name"
              label="班次名称"
            ></el-table-column>
            <el-table-column
              prop="nameAbbr"
              label="班次简称"
            ></el-table-column>
            <el-table-column
              prop="colorCode"
              label="班次颜色"
            >
              <template slot-scope="scope">
                <div style="width: 60px;height: 20px" :style="{backgroundColor: scope.row.colorCode}"></div>
              </template>
            </el-table-column>
            <el-table-column
              prop="starTime"
              label="班次开始时间"
            ></el-table-column>
             <el-table-column
              prop="endTime"
              label="班次结束时间"
            ></el-table-column>
            <!-- <el-table-column
              prop="phone"
              label="服务手机号"
            ></el-table-column> -->
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="700px"
      height="400px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="酒店名称"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                placeholder="请选择"
                style="width: 470px"
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id + '-' + item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <!-- <el-form-item
              label="服务手机号"
              prop="phone"
            >
              <el-input
                v-model="form.phone"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item> -->
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="班次名称"
              prop="name"
            >
              <el-input
                v-model="form.name"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item
              label="班次简称"
              prop="nameAbbr"
            >
              <el-input
                v-model="form.nameAbbr"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="班次时间点"
              style="margin-bottom: 0"
              required
            >
              <el-form-item prop="starTime">
                <el-time-picker
                  style="width: 180px"
                  v-model="form.starTime"
                  :picker-options="{
                    selectableRange: '00:00:00 - 23:59:59',
                  }"
                  value-format="HH:mm:ss"
                  placeholder="开始时间点"
                >
                </el-time-picker>
              </el-form-item>
              <span style="margin-right: 10px">至</span>
              <el-form-item prop="endTime">
                <el-time-picker
                  style="width: 180px"
                  v-model="form.endTime"
                  :picker-options="{
                    selectableRange: '00:00:00 - 23:59:59',
                  }"
                  placeholder="截至时间点"
                  value-format="HH:mm:ss"
                >
                </el-time-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span class="color-btn">班次颜色</span>
      <colorPicker
        v-model="form.colorCode"
        @change="headleChangeColor"
      />
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      searchform: {
        hotelid: "",
      },
      searchresult: {
        hotelid: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        colorCode: "#ff0000",
        endTime: "",
        hotelid: "",
        name: "",
        nameAbbr: "",
        phone: "",
        starTime: "",
      },
      rules: {
        endTime: [{ required: true, message: "不能为空", trigger: "blur" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "blur" }],
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        nameAbbr: [{ required: true, message: "不能为空", trigger: "blur" }],
        // phone: [{ required: true, message: "不能为空", trigger: "blur" }],
        starTime: [{ required: true, message: "不能为空", trigger: "blur" }],
      },
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      hotelList: [],
    };
  },
  components: {},
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    this.gotData();
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelid: this.searchresult.hotelid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId,
      };
      this.loading = true;
      this.$store
        .dispatch("service/classList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      this.rowData = row;
      this.form = {
        colorCode: row.colorCode,
        endTime: row.endTime,
        hotelid: row.hotelid,
        name: row.name,
        nameAbbr: row.nameAbbr,
        phone: row.phone,
        starTime: row.starTime,
      };
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const params = {
            colorCode: this.form.colorCode,
            endTime: this.form.endTime,
            hotelid: this.form.hotelid,
            name: this.form.name,
            nameAbbr: this.form.nameAbbr,
            phone: this.form.phone,
            starTime: this.form.starTime,
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/classAdd", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/classEdit", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        colorCode: "#ff0000",
        endTime: "",
        hotelid: "",
        name: "",
        nameAbbr: "",
        phone: "",
        starTime: "",
      };
    },
    handleDelete(index, row) {
      this.rowData = row;
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit();
        })
        .catch(() => {});
    },
    deleteSubmit() {
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/classDel", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    headleChangeColor(value) {
      // console.log(value)
      // console.log(this.form.color)
    },
  },
};
</script>

<style lang="scss" scoped>
.color-btn {
  display: inline-block;
  width: 88px;
  text-align: right;
  padding-right: 12px;
  line-height: 15px;
  height: 15px;
  &::before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
  }
}
</style>
