<!--
 * @Author: your name
 * @Date: 2020-07-07 18:26:32
 * @LastEditTime: 2020-07-09 10:54:53
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\reportorder\index.vue
--> 
<style lang="scss" scoped>
.statement-ul {
  display: flex;
  border-top: 1px solid #e8e3e3;
  margin-bottom: 20px;
  cursor: pointer;
  .statement-li {
    width: 330px;
    height: 160px;
    border-right: 1px solid #e8e3e3;
    box-sizing: border-box;
    padding: 25px 30px 0;
    position: relative;
    .li-name {
      font-size: 14px;
      color: #9b9b9b;
    }
    .li-count {
      font-size: 20px;
      color: #9b9b9b;
      margin: 15px 0 18px;
    }
    .li-num {
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      .num-span {
        .el-icon-top {
          color: #ff010b;
          font-weight: 700;
        }
        .el-icon-bottom {
          color: #00cb3c;
          font-weight: 700;
        }
      }
    }
    &.active {
      &::after {
        position: absolute;
        left: -1px;
        right: -1px;
        top: 0px;
        height: 4px;
        background-color: #00bdfb;
        content: "";
      }
      .li-count {
        color: #00bdfb;
      }
    }
  }
}
.statement-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding-top: 15px;
  border-top: 1px solid #e8e3e3;
  .title-left {
  }
  .title-right {
  }
}
.echarts-box {
  width: 100%;
}
.echarts {
  width: 100%;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="报表中心" title2="订单报表"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>入住总览
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
            label-width="100px"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="选择时间" prop="type">
                  <el-radio-group v-model="searchform.type" @change="handleTime">
                    <el-radio :label="1">昨日</el-radio>
                    <el-radio :label="2">本月</el-radio>
                    <el-radio :label="3">本年</el-radio>
                    <el-radio :label="4">自定义日期</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24" v-show="searchform.type === 4">
                <el-form-item label="自定义日期" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="startdate">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.startdate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="date"
                      placeholder="选择开始时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 10px 0 0px">至</span>
                  <el-form-item label-width="0px" prop="enddate">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.enddate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="date"
                      placeholder="选择截至时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="选择酒店" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 355px"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label-width="0px">
                  <div style="margin-left: 100px">
                    <el-button type="primary" @click="handleSearch">查询</el-button>
                    <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
    </div>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <ul class="statement-ul">
          <li
            :class="['statement-li', {'active': item.type === resulttype}]"
            v-for="item in result"
            :key="item.type"
            @click="handleNavClick(item)"
          >
            <div
              class="li-name"
            >{{item.type === 1 ? '间夜量' : item.type === 2 ? '交易额' :item.type === 3 ? '客单价' : ''}}</div>
            <div class="li-count">{{item.value}}</div>
            <div class="li-num">
              <span class="num-span">上周环比</span>
              <span class="num-span">
                {{(item.week_on_week*100).toFixed(2)}}%
                <i class="el-icon-top" v-if="item.week_on_week > 0"></i>
                <i class="el-icon-bottom" v-if="item.week_on_week < 0"></i>
                <i class="el-icon-minus" v-if="item.week_on_week === 0"></i>
              </span>
            </div>
            <div class="li-num">
              <span class="num-span">上月环比</span>
              <span class="num-span">
                {{(item.month_on_month*100).toFixed(2)}}%
                <i class="el-icon-top" v-if="item.month_on_month > 0"></i>
                <i class="el-icon-bottom" v-if="item.month_on_month < 0"></i>
                <i class="el-icon-minus" v-if="item.month_on_month === 0"></i>
              </span>
            </div>
            <div class="li-num">
              <span class="num-span">去年同比</span>
              <span class="num-span">
                {{(item.year_on_year*100).toFixed(2)}}%
                <i class="el-icon-top" v-if="item.year_on_year > 0"></i>
                <i class="el-icon-bottom" v-if="item.year_on_year < 0"></i>
                <i class="el-icon-minus" v-if="item.year_on_year === 0"></i>
              </span>
            </div>
          </li>
        </ul>
        <div class="statement-title">
          <div class="title-left">交易额入住趋势</div>
          <div class="title-right">
            <el-radio-group v-model="day" @change="selectDayType">
              <el-radio-button
                :label="item.id"
                v-for="item in dayList"
                :key="item.id"
              >{{ day === item.id ? item.name : '按' + item.name }}</el-radio-button>
            </el-radio-group>
          </div>
        </div>
        <div class="echarts-box">
          <v-chart :options="options" />
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ECharts from "vue-echarts";
import "echarts/lib/chart/line";
import "echarts/lib/component/tooltip";
import "echarts/lib/component/toolbox";
import "echarts/lib/component/legend";
export default {
  data() {
    return {
      hotelList: [],
      searchform: {
        type: 1,
        hotelid: "",
        startdate: "",
        enddate: ""
      },
      searchresult: {
        type: 1,
        hotelid: "",
        startdate: "",
        enddate: ""
      },
      result: [],
      resulttype: 1,
      day: 1,
      dayList: [
        {
          id: 1,
          name: "天"
        },
        {
          id: 2,
          name: "周"
        },
        {
          id: 3,
          name: "月"
        }
      ],
      options: {
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: []
        },
        yAxis: {
          type: "value"
        },
        series: [],
        legend: {
          data: []
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985"
            }
          }
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        }
      }
    };
  },
  components: {
    vBreadcrumb,
    "v-chart": ECharts
  },
  computed: {},
  created() {
    this.handleTime();
    this.handleSearch();
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    //切换类别
    handleNavClick(item) {
      this.resulttype = item.type;
      this.gotData();
      
    },
    //切换日期类型
    selectDayType () {
      this.gotData();
    },
    handleTime() {
      const type = this.searchform.type;
      let time = {
        startdate: '',
        enddate: ''
      };
      switch (type) {
        case 1:
          time = this.gotYetDate();
          break;
        case 2:
          time = this.gotMonthDate();
          break;
        case 3:
          time = this.gotYearDate();
          break;
      }
      this.searchform = {
        ...this.searchform,
        startdate: time.startdate,
        enddate: time.enddate
      };
    },
    // 昨天
    gotYetDate() {
      const yesdate = new Date(new Date().getTime() - 24 * 60 * 60 * 1000);
      const year = yesdate.getFullYear();
      const month = yesdate.getMonth() + 1;
      const day = yesdate.getDate();
      return {
        startdate: `${year}-${month}-${day} 00:00:00`,
        enddate: `${year}-${month}-${day} 00:00:00`
      };
    },
    // 本月
    gotMonthDate() {
      const date = new Date();
      const year = date.getFullYear(); //获取当前时间的年
      const month = date.getMonth() + 1; //获取当前时间的月
      const day = new Date(year, month, 0).getDate();
      return {
        startdate: `${year}-${month}-1 00:00:00`,
        enddate: `${year}-${month}-${day} 00:00:00`
      };
    },
    //本年
    gotYearDate() {
      const date = new Date();
      const year = date.getFullYear(); //获取当前时间的年
      return {
        startdate: `${year}-1-1 00:00:00`,
        enddate: `${year}-12-31 00:00:00`
      };
    },
    //查询
    handleSearch() {
      const type = this.searchform.type;
      let searchresult = {};
      if (type === 4) {
        const startdate = this.searchform.startdate ? this.searchform.startdate + ' 00:00:00' : ''
        const enddate = this.searchform.enddate ? this.searchform.enddate + ' 00:00:00' : ''
        searchresult = {
          ...this.searchform,
          startdate: startdate,
          enddate: enddate
        }
      } else {
        searchresult = {
          ...this.searchform
        }
      }
      if (!searchresult.startdate || !searchresult.enddate) {
        this.$message.warning('请选择时间')
        return
      }
      this.searchresult = searchresult;
      this.gotData();
      this.gotDataCount();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        datetype: this.day,
        enddate: this.searchresult.enddate,
        startdate: this.searchresult.startdate,
        reporttype: this.resulttype,
        hotelid: this.searchresult.hotelid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据请求中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("report/order", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            console.log(result);
            const data = result.data;
            // X轴
            const xAxisdata = data[0];
            this.options.xAxis.data = xAxisdata.values;
            // Y轴
            const dataY = data.slice(1);
            let series = [];
            let legenddata = []
            dataY.map((item) => {
              const json = {
                name: item.name,
                data: item.values,
                type: 'line'
              }
              series.push(json)
              legenddata.push(item.name)
            })
            this.options.series = series;
            this.options.legend.data = legenddata;

          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //报表统计数据
    gotDataCount() {
      const params = {
        datetype: this.day,
        enddate: this.searchresult.enddate,
        startdate: this.searchresult.startdate,
        reporttype: this.resulttype,
        hotelid: this.searchresult.hotelid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据请求中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("report/ordercount", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            let data = result.data;
            // type 1间夜量   2交易额   3客单价
            data.map((item, index) => {
              item.type = index + 1
            })
            this.result = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉列表
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>


