<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-14 10:41:02
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.equity-ul-box {
  width: 760px;
  .equity-ul {
    width: 760px;
    .equity-li {
      width: 760px;
      &:nth-child(1) {
        height: 28px;
        line-height: 28px;
        font-size: 12px;
      }
      &:nth-child(2) {}
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="会员等级配置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID"  width="70"></el-table-column>
            <el-table-column prop="name" label="会员卡等级名称"></el-table-column>
            <el-table-column prop="category" label="会员卡类别">
              <template
                slot-scope="scope"
              >{{scope.row.category === 1 ? '悦廷会' : '' }}</template>
            </el-table-column>
            <el-table-column prop="level" label="等级大小" width="80"></el-table-column>
            <el-table-column prop="vaildtype" label="会员有效期">
              <template
                slot-scope="scope"
              >{{scope.row.vaildtype === 0 ? '永久有效期' : scope.row.vaildtype +'年' }}</template>
            </el-table-column>
            <el-table-column prop="proportion" label="消费获取积分比例" width="80">
              <template slot-scope="scope">1:{{scope.row.proportion}}</template>
            </el-table-column>
            <el-table-column prop="benfitsCount" label="会员权益数量" width="60"></el-table-column>
            <el-table-column prop="channelNameList" label="适用渠道">
              <template
                slot-scope="scope"
              >{{scope.row.channelNameList.length > 1 ? scope.row.channelNameList.join('、') : scope.row.channelNameList.length === 1 ? scope.row.channelNameList[0] : '' }}</template>
            </el-table-column>
            <el-table-column prop="descrip" label="等级说明"></el-table-column>
            <el-table-column prop="isDeleted" label="状态" width="80">
              <template slot-scope="scope">{{scope.row.isDeleted === 0 ? '启用' : '未启用' }}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="980px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="会员卡模板" prop="cardtypeId">
              <el-select
                v-model="form.cardtypeId"
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                @change="gotEquityList"
              >
                <el-option
                  v-for="item in cardList"
                  :key="item.id"
                  :label="item.id + '-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="等级名称" prop="name">
              <el-input v-model="form.name" class="form-ipt-width" placeholder="请输入" disabled></el-input>
            </el-form-item>
            <el-form-item label="等级大小" prop="level">
              <el-input v-model="form.level" class="form-ipt-width" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24"></el-col>
          <el-col :span="24">
            <el-form-item label="有效期" prop="vaildtype">
              <el-input
                v-model="form.vaildtype"
                class="form-ipt-width"
                placeholder="请输入"
                clearable
                :disabled="isvaildtype"
              ></el-input>
              <span style="margin-left: 8px">年</span>
            </el-form-item>
            <el-form-item label-width="0">
              <el-checkbox v-model="isvaildtype" @change="changeCheckDate">长期有效</el-checkbox>
            </el-form-item>
            <el-form-item label="状态" prop="isDeleted">
              <el-radio-group v-model="form.isDeleted">
                <el-radio :label="0">启用</el-radio>
                <el-radio :label="1">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="等级说明" prop="descrip">
              <el-input
                v-model="form.descrip"
                style="width:760px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="适用渠道" prop="channelList">
              <div style="width:760px">
                <el-checkbox-group v-model="form.channelList">
                  <el-checkbox
                    :label="item.id"
                    v-for="item in channelList"
                    :key="item.id"
                  >{{item.channelname}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="等级权益" required>
              <div class="equity-ul-box">
                <div class="equity-ul">
                  <div class="equity-li">
                    基本权益
                    <!-- <el-checkbox
                      :indeterminate="baseEquityIndeterminate"
                      v-model="baseEquityAll"
                      @change="handleBaseEquityAll"
                    ></el-checkbox>-->
                  </div>
                  <div class="equity-li" v-show="baseEquityList.length">
                    <el-checkbox-group v-model="baseEquityChecked" @change="handleBaseEquity">
                      <el-checkbox
                        v-for="item in baseEquityList"
                        :label="item.id"
                        :key="item.id"
                        disabled
                      >{{item.name}}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                  <div class="equity-li" v-show="!baseEquityList.length">无</div>
                </div>
                <div class="equity-ul">
                  <div class="equity-li">
                    生日权益
                    <!-- <el-checkbox
                      :indeterminate="birEquityIndeterminate"
                      v-model="birEquityAll"
                      @change="handleBirEquityAll"
                    ></el-checkbox>-->
                  </div>
                  <div class="equity-li" v-show="birEquityList.length">
                    <el-checkbox-group v-model="birEquityChecked" @change="handleBirEquity">
                      <el-checkbox
                        v-for="item in birEquityList"
                        :label="item.id"
                        :key="item.id"
                        disabled
                      >{{item.name}}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                  <div class="equity-li" v-show="!birEquityList.length">无</div>
                </div>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="消费获取积分比例" prop="proportion" label-width="150px">
              <el-input v-model="form.proportion" style="width: 100px" placeholder="请输入" clearable></el-input>
              <span style="font-size: 12px;margin-left: 8px;">例如：消费1元获取1积分，输入1；消费1元获取1.2积分，输入1.2</span>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import {
  positive_num_zero,
  positive_num,
  decimals_num,
  regphone,
  than_zero
} from "@/utils/reg.js";
export default {
  data() {
    // 正数不含0
    let checkPositiveNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!positive_num.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    // 正数不含0
    let checkPositiveNumOther = (rule, value, callback) => {
      if (value) {
        if (!positive_num.test(value)) {
          callback(new Error("请输入正整数"));
        } else {
          callback();
        }
      } else {
        if (this.isvaildtype) {
          callback();
        } else {
          callback(new Error("不能为空"));
        }
      }
    };
    //大于零
    let checkNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!than_zero.test(value)) {
        callback(new Error("输入不合法"));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      cardList: [],
      channelList: [],
      form: {
        descrip: "",
        level: "",
        isDeleted: 0,
        vaildtype: "",
        proportion: "",
        name: "",
        channelList: [],
        cardtypeId: "",
        category: ""
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        descrip: [{ required: true, message: "不能为空", trigger: "blur" }],
        isDeleted: [{ required: true, message: "不能为空", trigger: "change" }],
        cardtypeId: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        channelList: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        level: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        proportion: [{ required: true, validator: checkNum, trigger: "blur" }],
        vaildtype: [
          { required: true, validator: checkPositiveNumOther, trigger: "blur" }
        ],
        level: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ]
      },
      actionType: 0,
      actionTypeName: "",
      baseEquityList: [],
      baseEquityIndeterminate: false,
      baseEquityAll: false,
      baseEquityChecked: [],
      birEquityList: [],
      birEquityIndeterminate: false,
      birEquityAll: false,
      birEquityChecked: [],
      isvaildtype: false,
      tablerowid: ""
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
    this.gotCardList();
    this.gotChannelList();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("member/memberLevelList", {
          data: params
        })
        .then(result => {
          // console.log(result);
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const vaildtype = this.form.vaildtype ? this.form.vaildtype : 0;
          const params = {
            descrip: this.form.descrip,
            level: this.form.level,
            isDeleted: this.form.isDeleted,
            vaildtype: vaildtype,
            proportion: this.form.proportion,
            name: this.form.name,
            channelList: this.form.channelList,
            cardtypeId: this.form.cardtypeId,
            category: this.form.category
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "会员等级新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("member/memberLevelSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('新增成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "会员等级编辑";
      const params = {
        id: row.id
      };
      this.tablerowid = row.id;
      this.$store
        .dispatch("member/memberLevelDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.isvaildtype = data.vaildtype === 0 ? true : false;
            const vaildtype = data.vaildtype === 0 ? "" : data.vaildtype;
            const channelListSelect = data.channelList;
            let channelList = [];
            channelListSelect.map(item => {
              channelList.push(item.id);
            });
            this.form = {
              descrip: data.descrip,
              level: data.level,
              isDeleted: data.isDeleted,
              vaildtype: vaildtype,
              proportion: data.proportion,
              name: data.name,
              channelList: channelList,
              cardtypeId: data.cardtypeId,
              category: data.category
            };
            //权益列表
            this.gotEquityList();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.tablerowid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("member/memberLevelEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('编辑成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        descrip: "",
        level: "",
        isDeleted: 0,
        vaildtype: "",
        proportion: "",
        name: "",
        channelList: [],
        cardtypeId: "",
        category: ""
      };
      this.baseEquityChecked = [];
      this.birEquityChecked = [];
      this.baseEquityList = [];
      this.birEquityList = [];
      this.isvaildtype = false;
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    //切换长期有效
    changeCheckDate() {
      if (this.isvaildtype) {
        this.form.vaildtype = "";
      }
      this.$refs.form.clearValidate()
    },
    //会员卡名称下拉列表
    gotCardList() {
      const params = {};
      this.$store
        .dispatch("member/memberCardSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.cardList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //权益下拉列表
    gotEquityList() {
      
      const filterItem = this.cardList.filter((item) => {
        return item.id === this.form.cardtypeId
      })

      if (filterItem.length > 0) {
        const categoryname = filterItem[0].category === 1 ? '悦廷会' : '';
        this.form.name = categoryname + '·' + filterItem[0].name;
        this.form.category = filterItem[0].category
      }

      this.baseEquityChecked = [];
      this.birEquityChecked = [];
      const params = {
        id: this.form.cardtypeId
      };
      this.$store
        .dispatch("member/memberLevelSetSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.baseEquityList = data.filter(item => item.catagory === 1);
            this.baseEquityList.map(item =>
              this.baseEquityChecked.push(item.id)
            );
            this.birEquityList = data.filter(item => item.catagory === 2);
            this.birEquityList.map(item => this.birEquityChecked.push(item.id));
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleBaseEquityAll(val) {
      const baseEquityList = val ? this.baseEquityList : [];
      let baseEquityChecked = [];
      baseEquityList.map((item, index) => {
        baseEquityChecked.push(item.id);
      });
      this.baseEquityChecked = baseEquityChecked;
      this.baseEquityIndeterminate = false;
    },
    handleBaseEquity(value) {
      let checkedCount = value.length;
      this.baseEquityAll = checkedCount === this.baseEquityList.length;
      this.baseEquityIndeterminate =
        checkedCount > 0 && checkedCount < this.baseEquityList.length;
    },
    handleBirEquityAll(val) {
      const birEquityList = val ? this.birEquityList : [];
      let birEquityChecked = [];
      birEquityList.map((item, index) => {
        birEquityChecked.push(item.id);
      });
      this.birEquityChecked = birEquityChecked;
      this.birEquityIndeterminate = false;
    },
    handleBirEquity(value) {
      let checkedCount = value.length;
      this.birEquityAll = checkedCount === this.birEquityList.length;
      this.birEquityIndeterminate =
        checkedCount > 0 && checkedCount < this.birEquityList.length;
    },
    unique(arr) {
      if (!Array.isArray(arr)) {
        console.log("type error!");
        return;
      }
      return [...new Set(arr)];
    }
  }
};
</script>

