<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-07 18:28:52
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">

</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="预定" title2="查询"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <el-collapse v-model="activeNames">
          <el-collapse-item name="1" class="data_check">
            <template slot="title">
              <div style="width: 100%">
                <div class="left" style="float: left">
                  <i
                    class="el-icon-search crumbs-i-right"
                    style="margin-right: 10px;color: #409EFF"
                  ></i>
                  <span style="color:#409EFF">数据筛选</span>
                </div>
                <div class="left" style="float: right;padding-right: 5px">{{search_state}}</div>
              </div>
            </template>
            <div class="search-box">
              <el-form :model="searchform" ref="searchForm" class="search-form" :inline="true">
                <el-row>
                  <el-col :span="24" class="search_all" style="margin-top: 20px">
                    <el-form-item class="son" label="第三方订单号：" prop="outorder">
                      <el-input
                        v-model="searchform.outorder"
                        clearable
                        placeholder="请输入"
                        class="search-input"
                      ></el-input>
                    </el-form-item>
                    <el-form-item class="son" label="酒店名称：" prop="hotelid">
                      <el-select
                        v-model="searchform.hotelid"
                        clearable
                        placeholder="请选择"
                        class="search-input"
                      >
                        <el-option
                          v-for="item in hotelSelect"
                          :key="item.id"
                          :label="item.hotelname"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item class="son" label="房型：" prop="roomcode">
                      <el-select
                        v-model="searchform.roomcode"
                        clearable
                        placeholder="请选择"
                        class="search-input"
                      >
                        <el-option
                          v-for="item in roomstyleSelect"
                          :key="item.id"
                          :label="item.roomname"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item class="son" label="评论状态：" prop="replyStatus">
                      <el-select
                        v-model="searchform.replyStatus"
                        clearable
                        placeholder="请选择"
                        class="search-input"
                      >
                        <el-option
                          v-for="item in replyList"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item class="son" label="预订人：" prop="userid">
                      <el-input
                        v-model="searchform.userid"
                        clearable
                        placeholder="请输入"
                        class="search-input"
                      ></el-input>
                    </el-form-item>
                    <el-form-item class="son" label="联系方式：" prop="phone">
                      <el-input
                        v-model="searchform.phone"
                        clearable
                        placeholder="请输入"
                        class="search-input"
                      ></el-input>
                    </el-form-item>
                    <el-form-item class="son" label="PMS订单号：">
                      <el-input
                        disabled="disabled"
                        clearable
                        placeholder="请输入"
                        class="search-input"
                      ></el-input>
                    </el-form-item>
                    <el-form-item class="son" label="订单来源：" prop="channel">
                      <el-select
                        v-model="searchform.channel"
                        clearable
                        placeholder="请选择"
                        class="search-input"
                      >
                        <el-option
                          v-for="item in channelList"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item class="son_time" label="下单时间：">
                      <el-date-picker
                        v-model="time_reserve"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                      ></el-date-picker>
                    </el-form-item>
                    <el-form-item class="son_time" label="入离时间：">
                      <el-date-picker
                        v-model="time_live"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                      ></el-date-picker>
                    </el-form-item>
                    <el-form-item
                      label-width="0px"
                      style="width: 100%;display: flex;justify-content: center;margin-top: 10px"
                    >
                      <el-button type="primary" size="small" @click="handleSearch">查询</el-button>
                      <el-button type="primary" size="small" @click="resetSearch('searchForm')">预定</el-button>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
            </div>
          </el-collapse-item>
        </el-collapse>
        <div class="search-box" v-show="collapse">
          <el-form :model="searchform" ref="searchForm2" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24" class="search_all_two" style="margin-top: 20px">
                <el-form-item class="son" label="第三方订单号：" prop="outorder">
                  <el-input
                    v-model="searchform.outorder"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item class="son" label-width="100px" label="酒店名称：" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelSelect"
                      :key="item.id"
                      :label="item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item class="son" label="房型：" label-width="70px" prop="roomcode">
                  <el-select
                    v-model="searchform.roomcode"
                    clearable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in roomstyleSelect"
                      :key="item.id"
                      :label="item.roomname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item class="son" style="margin-left: 20px">
                  <el-button type="primary" size="small" @click="handleSearch">查询</el-button>
                  <el-button type="primary" size="small" @click="resetSearch('searchForm2')">预定</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never" style="height: auto">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @sort-change="sortChange"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column
              prop="tihuan_table_channelname"
              sortable="custom"
              label="订单来源"
              width="100"
            ></el-table-column>
            <el-table-column
              prop="tihuan_table_outorder"
              sortable="custom"
              label="第三方订单号"
              width="120"
            ></el-table-column>
            <el-table-column prop="tihuan_table_pms" sortable="custom" label="PMS订单号" width="120"></el-table-column>
            <el-table-column prop="tihuan_table_hotelname" sortable="custom" label="酒店名称"></el-table-column>
            <el-table-column
              prop="tihuan_table_overtime"
              sortable="custom"
              label="入离时间"
              width="100"
            ></el-table-column>
            <el-table-column prop="tihuan_table_roomstyle" sortable="custom" label="房型" width="100"></el-table-column>
            <el-table-column
              prop="tihuan_table_replyStatus"
              sortable="custom"
              label="订单状态"
              width="100"
            >
              <template slot-scope="scope">
                <span v-if="scope.row.replyStatus===1">评论待回复</span>
                <span v-else-if="scope.row.replyStatus===2">评论已回复</span>
                <span v-else>未知</span>
              </template>
            </el-table-column>
            <el-table-column prop="tihuan_table_userName" sortable="custom" label="预订人"></el-table-column>
            <el-table-column prop="tihuan_table_phone" sortable="custom" label="联系方式" width="100"></el-table-column>
            <el-table-column
              prop="tihuan_table_orderprice"
              sortable="custom"
              label="订单价格"
              width="100"
            ></el-table-column>
            <el-table-column prop="tihuan_table_ordertime" sortable="custom" label="下单时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      width="750px"
      class="addEdit"
      :title="actionTypeName"
      :visible.sync="visible"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        :inline="true"
        :model="form"
        ref="form"
        :rules="rules"
        v-loading="getDetailLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
      >
        <el-row style="width: 100%;flex-wrap: wrap" type="flex">
          <el-col class="baseSon"></el-col>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        channel: "", //渠道来源
        hotelid: "", //酒店ID
        outorder: "", //第三方订单号
        phone: "", //联系方式
        replyStatus: 1, //评论状态 1待回复 2已回复
        roomcode: "", //房型
        sortField: "", //排序字段 预订时间 create_date 订单来源 channel 第三方订单号 outorder 酒店名称 hotelname 评论状态 reply_status 用户名称 userName 联系方式 phone 与排序类型同时存在
        sortType: "", //排序类型 desc asc 升序 desc 降序 与排序字段同时存在
        userid: "", //预订人姓名
        createDateBegin: "", //下单开始时间
        createDateEnd: "", //下单结束时间
        inDate: "", //下单入时间 必须和下单离时间 同时存在
        outDate: "" //下单离时间 必须和下单入时间 同时存在
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      channelList: [
        { id: 1, name: "小程序" },
        { id: "", name: "所有" }
      ],
      replyList: [
        { id: 1, name: "待回复" },
        { id: 2, name: "已回复" },
        { id: "", name: "所有" }
      ],
      actionTypeName: "编辑",
      time_live: "", //入离时间集合
      time_reserve: "", //预定时间集合
      activeNames: ["1"], //折叠框
      hotelSelect: [{ id: "", hotelname: "所有" }], //酒店下拉列表
      roomstyleSelect: [{ id: "", roomname: "所有" }], //房型下拉列表
      //以上为外层表格数据相关
      form: {
        user_text: ""
      },
      visible: false,
      rules: {
        user_text: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      actionType: 0, //1是新增，2是编辑
      orderData: {
        orderno: "", //订单编号
        status: "", //订单状态 1 待支付 4 支付成功 10 退款中 11退款失败 12 退款成功
        createDate: "", //创建时间
        channelname: "", //订单来源
        content: "", //用户评论
        score: 0,
        userid: "", //用户id
        id: "", //评论id
        checkReply: ""
      },
      user_text: "",
      commentType: "",
      search_state: "收起",
      collapse: false,
      getDetailLoading: false,
      templateList: [],
      dialogReason: false
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
    //获取酒店下拉列表
    this.getHotel();
    //获取房型下拉列表
    this.getRoomStyleSelect();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.time_live = "";
      this.time_reserve = "";
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = this.searchform;
      params.pageSize = this.limit;
      params.pageNum = this.page;
      // this.loading = true;
      console.log(params);
      // this.$store.dispatch("comment/commentList", {
      //   data: params
      // }).then(result => {
      //   if (result.code === 0) {
      //     console.log(result);
      //     this.tableData = result.data.list;
      //     this.total = result.data.total;
      //   } else {
      //     this.$message.error(result.msg);
      //   }
      //   this.loading = false;
      // });

      this.tableData = [
        {
          tihuan_table_channelname: "123",
          tihuan_table_outorder: "123",
          tihuan_table_pms: "123",
          tihuan_table_hotelname: "123",
          tihuan_table_overtime: "123",
          tihuan_table_roomstyle: "123",
          tihuan_table_replyStatus: "123",
          tihuan_table_userName: "123",
          tihuan_table_phone: "123",
          tihuan_table_orderprice: "123",
          tihuan_table_ordertime: "123"
        }
      ];
    },
    //排序方法
    sortChange(val) {
      let tuofen;
      if (val.prop === "createDate") {
        tuofen = "create_date";
      } else if (val.prop === "replyStatus") {
        tuofen = "reply_status";
      } else {
        tuofen = val.prop;
      }
      this.searchform.sortField = tuofen;
      this.searchform.sortType = val.order === "descending" ? "desc" : "asc";
      this.gotData();
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const params = {
            description: this.form.description,
            labelname: this.form.labelname,
            status: this.form.status,
            type: this.form.type
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "标签新增";
      this.visible = true;
    },
    //获取订单详情
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "详情";
      // this.getDetailLoading = true;
      const params = {
        id: row.id
      };
      this.orderData = [];
      // 订单详情
      // this.$store.dispatch("comment/commentDetail", {
      //   data: params
      // }).then(result => {
      //   this.getDetailLoading = false;
      //   if (result.code === 0) {
      //     console.log(result);
      //   } else {
      //     this.$message.error(result.msg);
      //   }
      // });
    },
    //新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success(result.data.message);
            this.visible = false;
            this.gotData();
          } else {
            if (result.code !== 401) {
              this.$message.error(result.msg);
            }
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success(result.data.message);
            this.visible = false;
            this.gotData();
          } else {
            if (result.code !== 401) {
              this.$message.error(result.msg);
            }
          }
        });
    },

    handleResetFields(formName) {
      // this.$refs[formName].resetFields();
      // this.form = {
      //   description: '',
      //   labelname: '',
      //   status: 1,
      //   type: 1
      // };
    },
    closeDialog(formName) {
      this.page = 1;
      this.gotData();
      // this.handleResetFields(formName);
    },
    //获取酒店下拉列表
    getHotel() {
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: ""
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelSelect = result.data;
            this.hotelSelect.push({
              id: "",
              hotelname: "所有"
            });
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //获取所有房型
    getRoomStyleSelect() {
      this.$store
        .dispatch("hotel/roomstyleSelect", {
          data: ""
        })
        .then(result => {
          if (result.code === 0) {
            this.roomstyleSelect = result.data;
            this.roomstyleSelect.push({
              id: "",
              roomname: "所有"
            });
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //根据酒店id更新房型列表
    getRoomStyleByHotel(hotelId) {
      this.$store
        .dispatch("hotel/roomstyleSelectById", {
          data: { id: hotelId }
        })
        .then(result => {
          if (result.code === 0) {
            this.roomstyleSelect = result.data;
            this.roomstyleSelect.push({
              id: "",
              roomname: "所有"
            });
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  },
  watch: {
    activeNames(val) {
      if (val[0] === "1") {
        this.search_state = "收起";
        this.collapse = false;
      } else {
        this.search_state = "展开";
        this.collapse = true;
      }
    },
    time_reserve(val) {
      if (val === "") {
        this.searchform.createDateBegin = "";
        this.searchform.createDateEnd = "";
      } else {
        for (let i = 0; i < val.length; i++) {
          if (i == 0) {
            this.searchform.createDateBegin =
              val[i].getFullYear() +
              "-" +
              (val[i].getMonth() + 1) +
              "-" +
              val[i].getDate();
          } else if (i == 1) {
            this.searchform.createDateEnd =
              val[i].getFullYear() +
              "-" +
              (val[i].getMonth() + 1) +
              "-" +
              val[i].getDate();
          }
        }
      }
    },
    time_live(val) {
      if (val === "") {
        this.searchform.inDate = "";
        this.searchform.outDate = "";
      } else {
        for (let i = 0; i < val.length; i++) {
          if (i == 0) {
            this.searchform.inDate =
              val[i].getFullYear() +
              "-" +
              (val[i].getMonth() + 1) +
              "-" +
              val[i].getDate();
          } else if (i == 1) {
            this.searchform.outDate =
              val[i].getFullYear() +
              "-" +
              (val[i].getMonth() + 1) +
              "-" +
              val[i].getDate();
          }
        }
      }
    },
    "searchform.hotelid": function choose() {
      this.getRoomStyleByHotel(this.searchform.hotelid);
    }
  }
};
</script>

<style lang="scss" scoped>
.search_all {
  display: flex;
  flex-wrap: wrap;
  .son_time {
    min-width: 600px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    /deep/label {
      min-width: 120px;
      text-align: left;
    }
  }
  .son {
    min-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    /deep/label {
      min-width: 110px;
      text-align: left;
    }
  }
}
.search-card {
  /deep/.el-collapse-item__header {
    font-size: 14px;
    border: 0;
  }
  /deep/.el-collapse-item__content {
    padding: 0;
  }
  /deep/.el-collapse-item__wrap {
    border: 0;
  }
  /deep/.el-collapse {
    border: 0;
  }
}
.table-card {
  /deep/.el-table__body {
    border-top: 1px solid #ebeef5;
  }
  /deep/.is-leaf {
    border-left: 1px solid #ebeef5;
  }
}
.addEdit {
  /deep/.el-dialog__body {
    padding-top: 10px;
  }
  .baseSon {
    display: flex;
    height: 30px;
    width: 100%;
    p {
      width: 32%;
      height: 30px;
      line-height: 30px;
      padding: 0;
      margin: 0;
    }
  }
  .baseSon_small {
    display: flex;
    height: 30px;
    width: 100%;
    p {
      width: 32%;
      height: 30px;
      line-height: 30px;
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
  }
  .user_comment {
    /deep/textarea {
      height: 100px;
    }
  }
}
.custom_comment {
  /deep/textarea {
    color: #000 !important;
  }
}
/deep/.el-form-item__label {
  text-align: left;
}
.huifu {
  width: 100%;
  display: flex;
  /deep/.el-form-item__label {
    margin: 0;
    padding: 0;
    line-height: 35px;
  }
}
</style>

