<!--
 * @Description: 酒店信息上传图片
 * @Author: your name
 * @Date: 2019-06-22 00:43:01
 * @LastEditTime: 2020-07-14 10:17:32
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="image-lists-wapper">
    <div class="avatar" v-for="(item, index) in fileList" :key="index">
      <img :src="item.url" />
      <span class="avatar-actions">
        <span class="actions-icon" @click="handlePreview(item, index)">
          <i class="el-icon-zoom-in"></i>
        </span>
        <span class="actions-icon" @click="handleDelete(item, index)">
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div>
    <el-upload
      name="imageFile"
      class="avatar-uploader"
      action="/api/image/saveImg"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
      :data="config"
      v-loading="loading"
      element-loading-text="上传中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
      v-show="showupload"
    >
      <i v-show="!loading" class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible" :append-to-body="true">
      <img width="100%" :src="current" alt="图片加载失败"/>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  props: {
    fileList: {
      type: Array,
      default: []
    },
    config: {
      type: Object
    },
    limit: {
      type: Number,
      default: 5
    }
  },
  data() {
    return {
      dialogVisible: false,
      loading: false,
      current: ""
    };
  },
  watch: {},
  computed: {
    showupload () {
      if (this.fileList.length >= this.limit) {
        return false
      } else {
        return true
      }
    }
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isPNG && !isJPG) {
        this.$message.error("上传图片只能是 JPG 或者PNG格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      if ((isJPG || isPNG) && isLt2M) {
        this.loading = true;
      }
      return (isJPG || isPNG) && isLt2M;
    },
    handleAvatarSuccess(response, file, fileList) {
      if (response.code === 0) {
        // console.log(response)
        this.$message.success("上传成功");
        this.$emit("upImages");
      }
      this.loading = false;
    },
    handlePreview(path, index) {
      this.current = path.url;
      this.dialogVisible = true;
    },
    handleDelete(path, index) {
      const params = { id: path.id };
      this.$store
        .dispatch("hotel/hotelImagesDelete", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.$emit("upImages");
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.image-lists-wapper {
  display: flex;
  flex-wrap: wrap;
  .avatar {
    border: 1px dashed #d9d9d9;
    width: 94px !important;
    height: 94px !important;
    display: block;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
    .avatar-actions {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s;
      &::after {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle;
      }
      .actions-icon {
        display: inline-block;
        cursor: pointer;
        margin: 0 4px;
      }
    }
    &:hover {
      .avatar-actions {
        opacity: 1;
      }
    }
  }
}
.avatar-uploader {
  position: relative;
  .el-upload {
    width: 94px !important;
    height: 94px !important;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409eff;
    }
    .el-loading-spinner {
      margin-top: -28px;
    }
  }
  .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 94px !important;
    height: 94px !important;
    line-height: 94px !important;
    text-align: center;
  }
}
</style>
