<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-22 00:43:01
 * @LastEditTime: 2020-12-10 15:07:37
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="singleimage-wapper">
    <el-upload
      class="singleimage-uploader"
      :style="mystyle"
      :action="api"
      :data="config"
      :name="filename"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
      v-loading="loading"
     
      :show-file-list="false"
      element-loading-text=""
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <i v-show="!path" class="el-icon-plus singleimage-uploader-icon" :style="mystyle"></i>
      <img :src="path" class="singleimage-uploader-img" :style="mystyle"/>
    </el-upload>
    <!-- <div class="singleimage-avatar" v-show="path" :style="mystyle">
      <img :src="path" />
      <span class="singleimage-actions">
        <span class="actions-icon" @click="handlePreview">
          <i class="el-icon-zoom-in"></i>
        </span>
        <span class="actions-icon" @click="handleDelete">
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div> -->
    <el-dialog :visible.sync="dialogVisible" :append-to-body="true">
      <img width="100%" :src="path" alt="图片加载失败" />
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  props: {
    current: {
      type: Number,
      default: 0
    },
    path: {
      type: String,
      default: ""
    },
    api: {
      type: String,
      default: "/api/shopImage/saveImg"
    },
    config: {
      type: Object,
      default: function() {
        return {
          type: 5
        };
      }
    },
    filename: {
      type: String,
      default: "imageFile"
    },
    uploadstyle: {
      type: Object,
      default: function() {
        return {
          width: 94,
          height: 94
        };
      }
    }
  },
  data() {
    return {
      dialogVisible: false,
      showupload: true,
      loading: false
    };
  },
  watch: {},
  computed: {
    mystyle() {
      return {
        width: `${this.uploadstyle.width}px !important`,
        height: `${this.uploadstyle.height}px !important`,
        lineHeight: `${this.uploadstyle.height}px`
      };
    }
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";
      const isLt2M = file.size < 1024 * 1024 * 2;
      if (!isPNG && !isJPG) {
        this.$message.error("上传图片只能是 JPG 或者PNG格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      if ((isJPG || isPNG) && isLt2M) {
        this.loading = true;
      }

      return (isJPG || isPNG) && isLt2M;
    },
    handleAvatarSuccess(response, file, fileList) {
      // console.log(response)
      if (response.code === 0) {
        this.$message.success("上传成功");
        let path = response.msg;
        this.$emit("upImages", {id: this.current, path: path});
      } else {
        this.$message.error("上传失败");
      }
      this.loading = false;
    },
    handlePreview() {
      this.dialogVisible = true;
    },
    handleDelete() {
     
    }
  },
  created() {},
  watch: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.singleimage-wapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .singleimage-avatar {
    border: 1px dashed #d9d9d9;
    // width: 200px !important;
    // height: 100px !important;
    display: block;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
    .singleimage-actions {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s;
      &::after {
        display: inline-block;
        content: "";
        height: 100%;
        vertical-align: middle;
      }
      .actions-icon {
        display: inline-block;
        cursor: pointer;
        margin: 0 4px;
      }
    }
    &:hover {
      .singleimage-actions {
        opacity: 1;
      }
    }
  }
}
.singleimage-uploader {
  position: relative;
  // width: 200px !important;
  // height: 100px !important;
  line-height: 20px!important;
  .el-upload {
    width: 100% !important;
    height: 100% !important;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: #409eff;
    }
    .el-loading-spinner {
      
    }
  }
  .singleimage-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    // width: 200px !important;
    // height: 100px !important;
    line-height: 1;
    text-align: center;
  }
  .singleimage-uploader-img {
    display: block;
  }
}
</style>
