<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-27 13:23:10
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.jifen-page {
  width: 500px;
  margin: 30px auto 0;
}
.el-col-div {
  padding-left: 110px;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="积分兑换配置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>积分兑换汇率表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleEdit">修改</el-button>
        </div> -->
        <div class="container-table" v-if="false">
          <div class="jifen-page">
            <el-form :inline="true">
              <el-row>
                <el-col :span="24">
                  <el-form-item label-width="0px">
                    <el-button type="primary">发 放</el-button>
                  </el-form-item>
                  <el-form-item label="客房消费" label-width="80px">
                    <el-input v-model="tableData.roomConsumption" style="width: 100px" disabled></el-input>
                    <span style="margin-left: 8px">元</span>
                  </el-form-item>
                  <el-form-item label-width="0px">
                    <el-button type="text" icon="el-icon-right"></el-button>
                  </el-form-item>
                  <el-form-item label="积分" label-width="40px">
                    <el-input v-model="tableData.roomScore" style="width: 100px" disabled></el-input>
                    <span style="margin-left: 8px">分</span>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label-width="0px">
                    <el-button type="primary">发 放</el-button>
                  </el-form-item>
                  <el-form-item label="餐饮消费" label-width="80px">
                    <el-input v-model="tableData.foodConsumption" style="width: 100px" disabled></el-input>
                    <span style="margin-left: 8px">元</span>
                  </el-form-item>
                  <el-form-item label-width="0px">
                    <el-button type="text" icon="el-icon-right"></el-button>
                  </el-form-item>
                  <el-form-item label="积分" label-width="40px">
                    <el-input v-model="tableData.foodScore" style="width: 100px" disabled></el-input>
                    <span style="margin-left: 8px">分</span>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label-width="0px">
                    <el-button type="danger">折 扣</el-button>
                  </el-form-item>
                  <el-form-item label="现金价值" label-width="80px">
                    <el-input v-model="tableData.cash" style="width: 100px" disabled></el-input>
                    <span style="margin-left: 8px">元</span>
                  </el-form-item>
                  <el-form-item label-width="0px">
                    <el-button type="text" icon="el-icon-back"></el-button>
                  </el-form-item>
                  <el-form-item label="积分" label-width="40px">
                    <el-input v-model="tableData.cashSocre" style="width: 100px" disabled></el-input>
                    <span style="margin-left: 8px">分</span>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 编辑 -->
    <el-dialog
      title="积分兑换修改"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form ref="form" :model="form" :inline="true" :rules="rules" label-width="80px">
        <el-row>
          <el-col :span="24">
            <div class="el-col-div">
              <el-form-item label-width="0px">
                <el-button type="primary">发 放</el-button>
              </el-form-item>
              <el-form-item label="客房消费" label-width="80px" prop="roomConsumption">
                <el-input v-model="form.roomConsumption" style="width: 100px"></el-input>
                <span style="margin-left: 8px">元</span>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="text" icon="el-icon-right"></el-button>
              </el-form-item>
              <el-form-item label="积分" label-width="60px" prop="roomScore">
                <el-input v-model="form.roomScore" style="width: 100px"></el-input>
                <span style="margin-left: 8px">分</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="el-col-div">
              <el-form-item label-width="0px">
                <el-button type="primary">发 放</el-button>
              </el-form-item>
              <el-form-item label="餐饮消费" label-width="80px" prop="foodConsumption">
                <el-input v-model="form.foodConsumption" style="width: 100px"></el-input>
                <span style="margin-left: 8px">元</span>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="text" icon="el-icon-right"></el-button>
              </el-form-item>
              <el-form-item label="积分" label-width="60px" prop="foodScore">
                <el-input v-model="form.foodScore" style="width: 100px"></el-input>
                <span style="margin-left: 8px">分</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="el-col-div">
              <el-form-item label-width="0px">
                <el-button type="danger">折 扣</el-button>
              </el-form-item>
              <el-form-item label="现金价值" label-width="80px" prop="cash">
                <el-input v-model="form.cash" style="width: 100px"></el-input>
                <span style="margin-left: 8px">元</span>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="text" icon="el-icon-back"></el-button>
              </el-form-item>
              <el-form-item label="积分" label-width="60px" prop="cashSocre">
                <el-input v-model="form.cashSocre" style="width: 100px"></el-input>
                <span style="margin-left: 8px">分</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <el-form-item label="积分使用说明" prop="descrip" label-width="110px">
              <el-input
                v-model="form.descrip"
                style="width:520px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="积分获取渠道" prop="channelList" label-width="110px">
              <div style="width:580px">
                <el-checkbox-group v-model="form.channelList">
                  <el-checkbox
                    :label="item.id"
                    v-for="item in channelList"
                    :key="item.id"
                  >{{item.channelname}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="积分使用范围" prop="usedList" label-width="110px">
              <div style="width:580px">
                <el-checkbox-group v-model="form.usedList">
                  <el-checkbox
                    :label="item.id"
                    v-for="item in channelList"
                    :key="item.id"
                  >{{item.channelname}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="截至有效期" prop="validEnddate" label-width="110px">
              <el-date-picker
                v-model="form.validEnddate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                clearable
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import {
  positive_num_zero,
  positive_num,
  decimals_num,
  regphone
} from "@/utils/reg.js";
export default {
  data() {
    // 正数不含0
    let checkPositiveNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!positive_num.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    return {
      tableData: {
        cash: "",
        cashSocre: "",
        foodConsumption: "",
        foodScore: "",
        roomConsumption: "",
        roomScore: "",
        id: ""
      },
      loading: false,
      form: {
        cash: "",
        cashSocre: "",
        foodConsumption: "",
        foodScore: "",
        roomConsumption: "",
        roomScore: "",
        channelList: [],
        descrip: "",
        usedList: [],
        validEnddate: ""
      },
      visible: false,
      rules: {
        descrip: [{ required: true, message: "不能为空", trigger: "blur" }],
        channelList: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        usedList: [{ required: true, message: "不能为空", trigger: "change" }],
        validEnddate: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        cash: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        cashSocre: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        foodConsumption: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        foodScore: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        roomConsumption: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ],
        roomScore: [
          { required: true, validator: checkPositiveNum, trigger: "blur" }
        ]
      },
      channelList: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    // this.gotData();
  },
  mounted() {},
  methods: {
    //列表数据
    gotData() {
      const params = {};
      this.loading = true;
      this.$store
        .dispatch("member/ruleList", {
          data: params
        })
        .then(result => {
          // console.log(result);
          if (result.code === 0) {
            this.tableData = result.data;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const validEnddate = this.form.validEnddate ? this.form.validEnddate + ' 00:00:00' : ''
          const params = {
            cash: this.form.cash,
            cashSocre: this.form.cashSocre,
            foodConsumption: this.form.foodConsumption,
            foodScore: this.form.foodScore,
            roomConsumption: this.form.roomConsumption,
            roomScore: this.form.roomScore,
            channelList: this.form.channelList,
            descrip: this.form.descrip,
            usedList: this.form.usedList,
            validEnddate: validEnddate
          };
          this.handleEditSave(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleEdit() {
      this.visible = true;
      this.gotChannelList();
      const params = {
        id: this.tableData.id
      };
      this.$store
        .dispatch("member/ruleDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            const channelListSelect = data.channelList;
            let channelList = [];
            channelListSelect.map(item => {
              channelList.push(item.id);
            });
            const usedListSelect = data.rangeList;
            let usedList = [];
            usedListSelect.map(item => {
              usedList.push(item.id);
            });
            const validEnddate = data.validEnddate ?   data.validEnddate.split(' ')[0] : ''
            this.form = {
              cash: data.cash,
              cashSocre: data.cashSocre,
              foodConsumption: data.foodConsumption,
              foodScore: data.foodScore,
              roomConsumption: data.roomConsumption,
              roomScore: data.roomScore,
              validEnddate: validEnddate,
              descrip: data.descrip,
              usedList: usedList,
              channelList: channelList
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.tableData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("member/ruleUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('编辑成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        cash: "",
        cashSocre: "",
        foodConsumption: "",
        foodScore: "",
        roomConsumption: "",
        roomScore: "",
        channelList: [],
        descrip: "",
        usedList: [],
        validEnddate: ""
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

