<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:44:22
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="酒店基础管理" title2="取消规则"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="code" label="编码" ></el-table-column>
            <el-table-column prop="name" label="规则名"></el-table-column>
            <el-table-column prop="type" label="类型">
              <template slot-scope="scope">
                <span v-if="scope.row.type===1">限时取消</span>
                <span v-else-if="scope.row.type===2">免费取消</span>
                <span v-else-if="scope.row.type===3">不可取消</span>
              </template>
            </el-table-column>
            <el-table-column prop="descrip" label="规则说明"></el-table-column>
            <el-table-column prop="days" label="取消条件">
              <template slot-scope="scope">
                <span>提前入住{{scope.row.days}}天{{scope.row.time}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="money" label="有偿取消收费标准">
              <template slot-scope="scope">
                <span v-if="scope.row.finetype===1 && scope.row.money">百分比/{{scope.row.money*100}}%</span>
                <span v-else-if="scope.row.finetype===2 && scope.row.money">固定金额/{{scope.row.money}}元</span>
                <span v-else-if="scope.row.finetype===3 && scope.row.night">间夜/{{scope.row.night}}晚</span>
              </template>
            </el-table-column>
            <el-table-column prop="isDeleted" width="80" label="是否启用">
              <template slot-scope="scope">
                <span v-if="scope.row.status===1">启用</span>
                <span v-else-if="scope.row.status===0">未启用</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="110px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="规则编码" prop="code">
              <el-input v-model="form.code" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
            <el-form-item label="规则名" prop="name">
              <el-input v-model="form.name" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
            <el-form-item label="规则类型" prop="type">
              <el-select v-model="form.type" clearable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in cancelType"
                  :key="item.id"
                  :label="item.id +'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="规则说明" prop="descrip">
              <el-input
                v-model="form.descrip"
                style="width:780px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="取消条件" prop="days">
              <span style="padding-right: 10px">入住时间提前</span>
              <el-input v-model="form.days" clearable placeholder="请输入" class="form-ipt-width"></el-input>
              <span style="padding:0 10px">天</span>
            </el-form-item>
            <el-form-item prop="time">
              <el-time-select
                placeholder="请选择"
                v-model="form.time"
                class="form-ipt-width"
                :picker-options="{
                  start: '00:00',
                  step: '00:15',
                  end: '24:00'
                }"
              ></el-time-select>
              <span style="padding-left: 10px">时</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="超时收取罚金" prop="finetype">
              <el-select v-model="form.finetype" clearable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in finetypeList"
                  :key="item.id"
                  :label="item.id +'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item prop="money" v-show="form.finetype !== 3">
              <el-input v-model="form.money" clearable placeholder="请输入" class="form-ipt-width"></el-input>
              <span style="margin-left: 10px;">{{form.finetype === 2 ? '元' : '例如10%请输入0.1'}}</span>
            </el-form-item>
            <el-form-item prop="night" v-show="form.finetype === 3">
              <el-input v-model="form.night" clearable placeholder="请输入" class="form-ipt-width"></el-input>
              <span style="margin-left: 10px;">晚</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import {
  positive_num_zero,
  percentnum,
  includezero
} from "@/utils/reg.js";
export default {
  data() {
    // 天数
    let checkPositiveNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!positive_num_zero.test(value)) {
        callback(new Error("请输入非负整数"));
      } else {
        callback();
      }
    };
    // 间夜
    let checkNightNum = (rule, value, callback) => {
      if (this.form.finetype === 3) {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        if (!positive_num_zero.test(value)) {
          callback(new Error("请输入非负整数"));
        } else {
          callback();
        }
      }
    };
    // 金额
    let checkMoneyNum = (rule, value, callback) => {
      if (this.form.finetype === 1) {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        // console.log(typeof value)
        if (!percentnum.test(value)) {
          callback(new Error("请输入0~1之间的小数"));
        } else {
          callback();
        }
      } else if (this.form.finetype === 2){
        if (!value) {
          return callback(new Error("不能为空"));
        }
        if (!includezero.test(value)) {
          callback(new Error("数值为非负数"));
        } else {
          callback();
        }
      }
    };
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        code: "",
        name: "",
        type: "",
        descrip: "",
        days: "",
        finetype: "",
        money: "",
        status: 1,
        time: "",
        nights: ""
      },
      rules: {
        code: [{ required: true, message: "不能为空", trigger: "blur" }],
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        descrip: [{ required: true, message: "不能为空", trigger: "blur" }],
        days: { required: true, validator: checkPositiveNum, trigger: "blur" },
        time: [{ required: true, message: "不能为空", trigger: "change" }],
        nights: { required: true, validator: checkNightNum, trigger: "blur" },
        finetype: [{ required: true, message: "不能为空", trigger: "change" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        money: { required: true, validator: checkMoneyNum, trigger: "blur" }
      },
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      cancelType: [
        { id: 1, name: "限时取消" },
        { id: 2, name: "免费取消" },
        { id: 3, name: "不可取消" }
      ],
      finetypeList: [
        { id: 1, name: "百分比" },
        { id: 2, name: "固定金额" },
        { id: 3, name: "间夜" }
      ]
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;

      this.$store
        .dispatch("hotel/cancelRuleList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      //详情
      this.$store
        .dispatch("hotel/cancelRuleDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;

            const money = data.finetype !== 3 ? data.money : ''

            const nights = data.finetype === 3 ? data.nights : '';
            
            this.form = {
              code: data.code,
              name: data.name,
              type: data.type,
              descrip: data.descrip,
              days: data.days,
              finetype: data.finetype,
              money: data.money,
              status: data.status,
              time: data.time,
              nights: data.nights
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {

          const money = this.form.finetype !== 3 ? this.form.money : 0;

          const nights = this.form.finetype === 3 ? this.form.nights : 0;

          const params = {
            code: this.form.code,
            name: this.form.name,
            type: this.form.type,
            descrip: this.form.descrip,
            days: this.form.days,
            time: this.form.time,
            finetype: this.form.finetype,
            money: money,
            nights: nights,
            status: this.form.status
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/cancelRuleSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/cancelRuleUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        code: "",
        name: "",
        type: "",
        descrip: "",
        days: "",
        finetype: "",
        money: "",
        status: 1,
        time: "",
        nights: ""
      };
    }
  }
};
</script>



