<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-01 23:03:23
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
  
</style>

<template>

</template>

<script>
  export default {
    components: {
      
    },
    data(){
      return{
        
      }
    }
  };
</script>

