<style lang="scss" scoped>
.page-image {
  width: 100%;
  .image-ul {
    padding-bottom: 84px;
    .image-li-item {
      height: 84px;
      margin-top: 45px;
      .image-li-title {
        float: left;
        line-height: 84px;
        min-width: 100px;
        .title-require {
          color: #e02020;
          float: left;
        }
        .title {
          color: #263140;
          min-width: 70px;
          font-size: 14px;
          display: block;
          float: left;
        }
      }
      .image-li-content {
        float: left;
      }
      .image-li-subtitle {
        float: right;
        padding-top: 22px;
        .subtitle-big {
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          padding: 0;
        }
        .subtitle-small {
          font-size: 12px;
          line-height: 20px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
</style>
<template>
  <div class="page-image">
    <div class="image-ul">
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">品牌logo</span>
        </div>
        <div class="image-li-content">
          <div class="image-li-content">
            <UpListImage
              class="upload-images"
              :fileList="logoImage"
              :config="logoConfig"
              @upImages="upImages"
              :limit="1"
            ></UpListImage>
          </div>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传1张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">品牌介绍首图</span>
        </div>
        <div class="image-li-content">
          <div class="image-li-content">
            <UpListImage
              class="upload-images"
              :fileList="firstImage"
              :config="firstConfig"
              @upImages="upImages"
              :limit="1"
            ></UpListImage>
          </div>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传1张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">品牌象征</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="multiImage"
            :config="multiConfig"
            @upImages="upImages"
            :limit="3"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传3张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>
</template>

<script>
import UpListImage from "@/components/Upload/upListImage.vue";
export default {
  data() {
    return {
      // 品牌logo
      logoConfig: {
        catalog: 9,
        refId: this.detailId,
        type: 3
      },
      logoImage: [],
      // 品牌介绍首图
      firstConfig: {
        catalog: 10,
        refId: this.detailId,
        type: 3
      },
      firstImage: [],
      // 品牌吉祥物、象征
      multiConfig: {
        catalog: 11,
        refId: this.detailId,
        type: 3
      },
      multiImage: [],
    };
  },
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  components: {
    UpListImage
  },
  created() {
    this.getImages();
  },
  methods: {
    upImages (pathList) {
      this.getImages()
    },
    getImages() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId };
      this.$store
        .dispatch("hotel/brandImages", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data
            if (result.data) {


              let firstImage = [];
              if (data.introduceImage) {
                let firstlistitem = {}
                firstlistitem.url = data.introduceImage.url;
                firstlistitem.id = data.introduceImage.id;
                firstImage.push(firstlistitem)
                
              }
              this.firstImage = firstImage;


              let logoImage = [];
              if (data.logoImage) {
                let logolistitem = {}
                logolistitem.url = data.logoImage.url;
                logolistitem.id = data.logoImage.id;
                logoImage.push(logolistitem)
              }
              this.logoImage = logoImage;

              let multiImage = [];
              if (data.mascotImages) {
                data.mascotImages.map((item, index) => {
                  let listitem = {}
                  listitem.url = item.url;
                  listitem.id = item.id;
                  multiImage.push(listitem)
                })
              }
              this.multiImage = multiImage;
              
            } else {

              this.firstImage = [];
              this.logoImage = [];
              this.multiImage = [];
              
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>


