<!--
 * @Author: your name
 * @Date: 2020-04-08 18:25:39
 * @LastEditTime: 2020-04-09 16:36:49
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\hotel\component\introduction.vue
 -->
<style lang="scss" scoped>
.submit-btn {
  margin-top: 30px;
  text-align: center;
}
</style>
<template>
  <div>
    <p style="font-size: 15px">请输入品牌介绍：</p>
    <el-input
      type="textarea"
      :rows="10"
      resize="none"
      placeholder="请输入内容，字数请控制在200以内"
      maxlength="200"
      v-model="textarea"
    ></el-input>
    <div class="submit-btn">
      <el-button
      @click="hanldeSave"
      type="primary"
    >保存</el-button>
    </div>
    
  </div>
</template>

<script>
export default {
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  data() {
    return {
      textarea: ""
    };
  },
  created() {
    this.getHotelDetail();
  },
  methods: {
    hanldeSave() {
      if (!this.textarea) {
        this.$message.warning('请输入酒店介绍');
        return
      }
      const params = { id: this.detailId, introduce: this.textarea };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("hotel/brandUpdate", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("保存成功");
            this.getHotelDetail();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    getHotelDetail() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId };
      this.$store
        .dispatch("hotel/brandDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.textarea = data.introduce;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>


