<template>
  <div class="label-page">
    <div class="container-table">
      <el-table
        :data="tableData"
        border
        v-loading="loading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.8)"
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="hotelname" label="酒店名称"></el-table-column>
        <el-table-column prop="brandname" label="品牌"></el-table-column>
        <el-table-column prop="type" label="酒店类型">
          <template slot-scope="scope">{{scope.row.type === 0 ? '自营' : '非自营' }}</template>
        </el-table-column>
      </el-table>
      <div class="label-pagination-container">
        <el-pagination
          background
          @size-change="changeLimit"
          @current-change="handleCurrentChange"
          :current-page.sync="page"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="limit"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  data() {
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false
    };
  },
  created() {
    this.gotData();
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //人员列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        brandId: this.detailId
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/brandHotel", {
          data: params
        })
        .then(result => {
          this.loading = false;
          if (result.code === 0) {
            let data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.label-page {
  min-height: 300px;
}
.label-item {
  display: flex;
  flex-wrap: wrap;
  .el-button {
    margin: 5px 10px;
  }
}
.label-pagination-container {
  margin-top: 20px;
}
</style>
