
<style lang="scss" scoped>
.tips-page {
  min-height: 300px;
  .tips-li-item {
    display: flex;
    align-items: center;
    .li-item-btn {
    }
    .li-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin-right: 20px;
      .li-item-title {
        width: 110px;
        text-align: right;
        margin-right: 15px;
      }
      .ipt-width {
        width: 600px;
      }
    }
  }
  .submit-btn {
    margin-top: 30px;
    text-align: center;
    &.submit-btn-top {
      margin-top: 0;
      text-align: left;
      margin-bottom: 20px;
    }
  }
}
.tips-warn {
  margin-top: 20px;
  margin-bottom: 10px;
  color: red;
  font-size: 12px;
}
.tips-example {
  font-size: 12px;
}
</style>
<template>
  <div class="tips-page">
    <div class="submit-btn submit-btn-top">
      <el-button type="primary" @click="addTips" icon="el-icon-circle-plus-outline">增加</el-button>
    </div>
    <div class="tips-ul">
      <div class="tips-li-item" v-for="(item, index) in tipsList" :key="index">
        <div>
          <div class="li-item">
            <span class="li-item-title">标题：</span>
            <div class="li-item-content">
              <el-input v-model="item.title" placeholder="请输入标题" class="ipt-width"></el-input>
            </div>
          </div>
          <div class="li-item">
            <span class="li-item-title">内容：</span>
            <div class="li-item-content">
              <el-input
                v-model="item.tips"
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入内容"
                class="ipt-width"
              ></el-input>
              <div class="tips-warn">*内容在小程序换行显示 输入内容时用；字符隔断</div>
              <div class="tips-example">例如：最早到店时间14：00 ；最晚离店时间12：00</div>
            </div>
          </div>
        </div>
        <div class="li-item-btn">
          <el-button type="danger" icon="el-icon-remove-outline" @click="deleteTips(index)">删除</el-button>
        </div>
      </div>
    </div>
    <div class="submit-btn">
      <el-button @click="hanldeSave" type="primary">保存</el-button>
    </div>
   
  </div>
</template>

<script>
export default {
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  data() {
    return {
      tipsList: []
    };
  },
  created() {
    this.hotelGetTips();
  },
  methods: {
    hanldeSave() {
      if (this.tipsList.length <= 0) {
        this.$message.warning("请添加酒店政策");
        return;
      }
      const issave = this.tipsList.some(item => {
        return item.title === "" || item.tips === "";
      });
      if (issave) {
        this.$message.warning("酒店政策内容或标题为空");
        return;
      }
      const params = {
        hotelid: this.detailId,
        tipList: this.tipsList
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("hotel/hotelSaveTips", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("保存成功");
            this.hotelGetTips();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    hotelGetTips() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId, msg: 1 };
      this.$store
        .dispatch("hotel/hotelGetTips", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.tipsList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    addTips() {
      let tipTemp = {
        title: "",
        tips: ""
      };
      this.tipsList.push(tipTemp);
    },
    deleteTips(index) {
      if (this.tipsList.length <= 1) {
        return;
      }
      this.tipsList.splice(index, 1);
    }
  }
};
</script>

