<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-11-12 10:13:27
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.size-tipe {
  font-size: 12px;
  color: #aaa;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="统一门户" title2="系统管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="90" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="systemno" label="系统编号"></el-table-column>
            <el-table-column prop="systemname" label="系统名称"></el-table-column>
            <el-table-column prop="sort" label="排序"></el-table-column>
            <el-table-column prop="status" label="状态">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增/编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="系统名称" prop="systemname">
              <el-input v-model="form.systemname" style="width: 560px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="系统编号" prop="systemno">
              <el-input v-model="form.systemno" style="width: 560px" placeholder="请输入" clearable :disabled="actionType===2"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" style="width: 560px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="介绍" prop="description">
              <el-input
                v-model="form.description"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
                style="width: 560px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="链接地址" prop="linkurl">
              <el-input v-model="form.linkurl" style="width: 560px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="系统图片" required>
              <upSingleImage
                :uploadstyle="{width: 100, height: 100}"
                :config="{type: 11}"
                :path="form.logourl"
                :current="1"
                @upImages="bannerImages"
              ></upSingleImage>
              <div class="size-tipe">建议尺寸：80px*80px</div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import upSingleImage from "@/components/Upload/upSingleImage.vue";
export default {
  data() {
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typeList: [],
      form: {
        systemno: "",
        systemname: "",
        status: 1,
        logourl: "",
        sort: "",
        linkurl: "",
        description: ""
      },
      visible: false,
      rules: {
        systemno: [{ required: true, message: "不能为空", trigger: "blur" }],
        systemname: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        sort: [{ required: true, message: "不能为空", trigger: "blur" }],
        linkurl: [{ required: true, message: "不能为空", trigger: "blur" }],
        logourl: [{ required: true, message: "不能为空", trigger: "blur" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }],
      },
      actionType: 0,
      actionTypeName: ""
    };
  },
  components: {
    vBreadcrumb,
    upSingleImage
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
      modelid: (state) => state.user.modelid,
    }),
  },
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
      };
      this.loading = true;
      this.$store
        .dispatch("sso/systemList", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    bannerImages(param) {
      const { path } = param;
      this.form.logourl = path;
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (!this.form.logourl) {
            this.$message.warning("请上传图片");
            return
          }
          const params = {
            systemno: this.form.systemno,
            systemname: this.form.systemname,
            status: this.form.status,
            logourl: this.form.logourl,
            sort: this.form.sort,
            linkurl: this.form.linkurl,
            description: this.form.description
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sso/systemSave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.actionType = 2;
      this.actionTypeName = "编辑";
      this.rowData = row;
      this.form = {
        systemno: row.systemno,
        systemname: row.systemname,
        status: row.status,
        logourl: row.logourl,
        sort: row.sort,
        linkurl: row.linkurl,
        description: row.description
      };
      this.visible = true;
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("sso/systemUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        systemno: "",
        systemname: "",
        status: 1,
        logourl: "",
        sort: "",
        linkurl: "",
        description: ""
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
  },
};
</script>

