<!--
 * @Author: your name
 * @Date: 2020-07-07 18:26:32
 * @LastEditTime: 2020-10-19 14:21:56
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yuanzhou-admin\src\views\reportorder\index.vue
--> 
<style lang="scss" scoped>
.statement-ul {
  display: flex;
  border-top: 1px solid #e8e3e3;
  margin-bottom: 20px;
  cursor: pointer;
  .statement-li {
    width: 330px;
    height: 160px;
    border-right: 1px solid #e8e3e3;
    box-sizing: border-box;
    padding: 25px 30px 0;
    position: relative;
    .li-name {
      font-size: 14px;
      color: #9b9b9b;
    }
    .li-count {
      font-size: 20px;
      color: #9b9b9b;
      margin: 15px 0 18px;
    }
    .li-num {
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      .num-span {
        .el-icon-top {
          color: #ff010b;
          font-weight: 700;
        }
        .el-icon-bottom {
          color: #00cb3c;
          font-weight: 700;
        }
      }
    }
    &.active {
      &::after {
        position: absolute;
        left: -1px;
        right: -1px;
        top: 0px;
        height: 4px;
        background-color: #00bdfb;
        content: "";
      }
      .li-count {
        color: #00bdfb;
      }
    }
  }
}
.statement-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding-top: 15px;
  border-top: 1px solid #e8e3e3;
  .title-left {
  }
  .title-right {
  }
}
.echarts-box {
  width: 100%;
}
.echarts {
  width: 100%;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="报表中心" title2="复购率报表"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>查询条件
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
            label-width="100px"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="会员等级" prop="type">
                  <el-radio-group
                    v-model="searchform.type"
                    @change="handleTime"
                  >
                    <el-radio :label="0">全部</el-radio>
                    <el-radio :label="1">银卡</el-radio>
                    <el-radio :label="2">金卡</el-radio>
                    <el-radio :label="3">白金卡</el-radio>
                    <el-radio :label="4">黑卡</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="日期范围" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="startdate">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.startdate"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择开始时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 10px 0 0px">至</span>
                  <el-form-item label-width="0px" prop="enddate">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.enddate"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择截止时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label-width="0px">
                  <div style="margin-left: 100px">
                    <el-button type="primary" @click="handleSearch"
                      >查询</el-button
                    >
                    <el-button type="info" @click="resetSearch('searchform')"
                      >重置</el-button
                    >
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
    </div>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="statement-title">
          <div class="title-left">会员复购率统计</div>
          <div class="title-right"></div>
        </div>
        <div class="echarts-box">
          <v-chart :options="options" />
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ECharts from "vue-echarts";
import "echarts/lib/chart/pie";
import "echarts/lib/component/tooltip";
import "echarts/lib/component/toolbox";
import "echarts/lib/component/legend";
export default {
  data() {
    return {
      searchform: {
        type: 0,
        startdate: "",
        enddate: "",
      },
      searchresult: {
        type: 0,
        startdate: "",
        enddate: "",
      },
      result: [],
      options: {
        title: {
          text: "",
          subtext: "",
          left: "center",
        },
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)",
        },
        // legend: {
        //   bottom: 10,
        //   left: "center",
        //   data: ["益州", "兖州", "荆州", "幽州"],
        // },
        series: [
          {
            name: "会员数量",
            type: "pie",
            radius: "65%",
            center: ["50%", "50%"],
            selectedMode: "single",
            data: [
              // { value: 535, name: "购买一次" },
              // { value: 510, name: "购买二次以上" },
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)",
              },
            },
          },
        ],
      },
    };
  },
  components: {
    vBreadcrumb,
    "v-chart": ECharts,
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    handleTime() {},
    //查询
    handleSearch() {
      const startdate = this.searchform.startdate
        ? this.searchform.startdate + " 00:00:00"
        : "";
      const enddate = this.searchform.enddate
        ? this.searchform.enddate + " 00:00:00"
        : "";
      this.searchresult = {
        ...this.searchform,
        startdate: startdate,
        enddate: enddate,
      };
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        endDate: this.searchresult.enddate,
        beginDate: this.searchresult.startdate,
        membertype: this.searchresult.type,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据请求中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("report/orderreport", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            let data = result.data ? result.data : [];
            data.map((item) => {
              item.label = {
                formatter: [
                  "{title|{b}}{abg|}",
                  "{valueHead|人数}{rateHead|占比}",
                  "{hr|}",
                  "{value|{c}}{rate|{d}}"
                ].join("\n"),
                backgroundColor: "#eee",
                borderColor: "#777",
                borderWidth: 1,
                borderRadius: 4,
                rich: {
                  title: {
                    width: 150,
                    color: "#eee",
                    align: "center",
                    padding: [0, 10, 0, 10],
                  },
                  abg: {
                    backgroundColor: "#333",
                    width: "100%",
                    align: "right",
                    height: 25,
                    borderRadius: [4, 4, 0, 0],
                  },
                  hr: {
                    borderColor: "#777",
                    width: "100%",
                    borderWidth: 0.5,
                    height: 0,
                  },
                  value: {
                    height: 30,
                    padding: [0, 0, 0, 30],
                    align: "left",
                  },
                  valueHead: {
                    color: "#333",
                    height: 30,
                    padding: [0, 0, 0, 30],
                    align: "left",
                  },
                  rate: {
                   width: '50%',
                   height: 30,
                   padding: [0, 30, 0, 0],
                   align: "right",
                  },
                  rateHead: {
                    color: "#333",
                    height: 30,
                    align: "right",
                    padding: [0, 30, 0, 10],
                  },
                },
              };
            });
            this.options.series[0].data = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>


