.statistics-box {
  .statistics-title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #409eff;
    background-color: #ecf5ff;
    padding: 0 15px;
  }
  .search-form-box {
    padding: 20px 20px 5px;
    border: 1px solid #f4f4f4;
    margin-bottom: 15px;
  }
  .container-table {
    margin-bottom: 30px;
    min-height: 200px;
  }
  .form-container {
    text-align: left;
  }
}