<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-11-05 15:10:42
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->

<style lang="scss" scoped>
@import "/index.scss";
</style>

<template>
  <div class="statistics-box">
    <el-card class="table-card" shadow="never">
      <div class="statistics-title">日历房分销统计详细数据</div>
      <div class="search-form-box">
        <el-form :model="searchform" ref="searchform" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="分销员姓名" prop="truename">
                <el-input
                  v-model="searchform.truename"
                  clearable
                  style="width: 160px"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item label="手机号码" prop="phone">
                <el-input
                  v-model="searchform.phone"
                  clearable
                  style="width: 160px"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item label="下单时间" style="margin-bottom: 0">
                <el-form-item label-width="0px" prop="beginDate">
                  <el-date-picker
                    style="width: 160px"
                    v-model="searchform.beginDate"
                    value-format="yyyy-MM-dd"
                    type="date"
                    placeholder="请选择"
                    clearable
                  ></el-date-picker>
                </el-form-item>
                <span style="margin: 0 13px 0 6px;">至</span>
                <el-form-item label-width="0px" prop="endDate">
                  <el-date-picker
                    style="width: 160px"
                    v-model="searchform.endDate"
                    value-format="yyyy-MM-dd"
                    type="date"
                    placeholder="请选择"
                    clearable
                  ></el-date-picker>
                </el-form-item>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="部门名称" prop="hotelid" label-width="82px">
                <el-select
                  v-model="searchform.hotelid"
                  clearable
                  filterable
                  placeholder="请选择"
                  style="width: 160px"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id + '-' +item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-container">
        <el-button type="success" @click="handleAdd">导出报表</el-button>
      </div>
      <div class="container-table">
        <el-table
          :data="tableData"
          border
          v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <el-table-column prop="id" label="序号" width="80"></el-table-column>
          <el-table-column prop="truename" label="分销员姓名"></el-table-column>
          <el-table-column prop="phone" label="手机号码"></el-table-column>
          <el-table-column prop="department" label="部门"></el-table-column>
          <el-table-column prop="orderid" label="订单号"></el-table-column>
          <el-table-column prop="orderhotelname" label="酒店"></el-table-column>
          <el-table-column prop="roomname" label="房型"></el-table-column>
          <el-table-column prop="checkindate" label="入离时间">
            <template slot-scope="scope">
              <div>{{scope.row.checkindate ? scope.row.checkindate.split(' ')[0] : ''}} 至 {{scope.row.checkoutdate ? scope.row.checkoutdate.split(' ')[0] : ''}}</div>
            </template>
          </el-table-column>
          <el-table-column prop="orderamount" label="订单金额(元)"></el-table-column>
          <el-table-column prop="contactname" label="预订人"></el-table-column>
          <el-table-column prop="bookphone" label="预订人电话"></el-table-column>
          <el-table-column prop="createDate" label="创建时间"></el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
          ></el-pagination>
        </div>
      </div>
    </el-card>
    <el-card class="table-card" shadow="never">
      <div class="statistics-title">日历房分销统计汇总数据</div>
      <div class="search-form-box">
        <el-form :model="searchformsum" ref="searchformsum" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="分销员姓名" prop="truename">
                <el-input
                  v-model="searchformsum.truename"
                  clearable
                  style="width: 160px"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item label="手机号码" prop="phone">
                <el-input
                  v-model="searchformsum.phone"
                  clearable
                  style="width: 160px"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item label="部门名称" prop="hotelid">
                <el-select
                  v-model="searchformsum.hotelid"
                  clearable
                  filterable
                  placeholder="请选择"
                  style="width: 160px"
                >
                  <el-option
                    v-for="item in hotelList"
                    :key="item.id"
                    :label="item.id + '-' +item.hotelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- <el-form-item label="注册时间" style="margin-bottom: 0">
              <el-form-item label-width="0px" prop="beginDate">
                <el-date-picker
                  style="width: 130px"
                  v-model="searchformsum.beginDate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="请选择"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px 0 6px;">至</span>
              <el-form-item label-width="0px" prop="endDate">
                <el-date-picker
                  style="width: 130px"
                  v-model="searchformsum.endDate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="请选择"
                  clearable
                ></el-date-picker>
              </el-form-item>
              </el-form-item>-->
              <el-form-item>
                <el-button type="primary" @click="handleSearchSum">查询</el-button>
                <el-button type="info" @click="resetSearchSum('searchformsum')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="form-container">
        <el-button type="success" @click="handleAddSum">导出报表</el-button>
      </div>
      <div class="container-table">
        <el-table
          :data="tableDataSum"
          border
          v-loading="loadingsum"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <el-table-column prop="id" label="序号" width="80"></el-table-column>
          <el-table-column prop="truename" label="分销员姓名"></el-table-column>
          <el-table-column prop="phone" label="手机号码"></el-table-column>
          <el-table-column prop="department" label="部门"></el-table-column>
          <el-table-column prop="times" label="分销总订单数"></el-table-column>
          <el-table-column prop="amount" label="总收益(元)"></el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination
            background
            @size-change="changeLimitSum"
            @current-change="handleCurrentChangeSum"
            :current-page.sync="pagesum"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limitsum"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalsum"
          ></el-pagination>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      searchform: {
        beginDate: "",
        endDate: "",
        phone: "",
        truename: "",
        hotelid: ""
      },
      searchresult: {
        beginDate: "",
        endDate: "",
        phone: "",
        truename: "",
        hotelid: ""
      },
      loading: false,
      total: 0,
      page: 1,
      limit: 10,
      tableData: [],
      searchformsum: {
        beginDate: "",
        endDate: "",
        phone: "",
        truename: ""
      },
      searchresultsum: {
        beginDate: "",
        endDate: "",
        phone: "",
        truename: ""
      },
      loadingsum: false,
      totalsum: 0,
      pagesum: 1,
      limitsum: 10,
      tableDataSum: [],
      hotelList: []
    };
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {},
  mounted() {
    this.gotData();
    this.gotDataSum();
    this.gotHotelList();
  },
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      const beginDate = this.searchform.beginDate
        ? this.searchform.beginDate + " 00:00:00"
        : "";
      const endDate = this.searchform.endDate
        ? this.searchform.endDate + " 00:00:00"
        : "";
      this.searchresult = {
        ...this.searchform,
        beginDate: beginDate,
        endDate: endDate
      };
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    // 详细数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        phone: this.searchresult.phone,
        hotelid: this.searchresult.hotelid,
        truename: this.searchresult.truename,
        beginDate: this.searchresult.beginDate,
        endDate: this.searchresult.endDate,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("sale/roomDataList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 导出数据
    handleAdd() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        hotelid: this.searchresult.hotelid,
        phone: this.searchresult.phone,
        truename: this.searchresult.truename,
        beginDate: this.searchresult.beginDate,
        endDate: this.searchresult.endDate,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("sale/roomDataListExcel", {
          data: params
        })
        .then(result => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "日历房分销统计详细数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
      /*
      const phone = this.searchresult.phone;
      const truename = this.searchresult.truename;
      const beginDate = this.searchresult.beginDate;
      const endDate = this.searchresult.endDate;
      window.location.href = `/api/salerecord/cardexcel?phone=${phone}&truename=${truename}&beginDate=${beginDate}&endDate=${endDate}`;
      */
    },
    //查询
    handleSearchSum() {
      this.pagesum = 1;
      const beginDate = this.searchformsum.beginDate
        ? this.searchformsum.beginDate + " 00:00:00"
        : "";
      const endDate = this.searchformsum.endDate
        ? this.searchformsum.endDate + " 00:00:00"
        : "";
      this.searchresultsum = {
        ...this.searchformsum,
        beginDate: beginDate,
        endDate: endDate
      };
      this.searchresultsum = this.searchformsum;
      this.gotDataSum();
    },
    //重置查询
    resetSearchSum(formName) {
      this.$refs[formName].resetFields();
      this.searchresultsum = this.searchformsum;
      this.pagesum = 1;
      this.gotDataSum();
    },
    // 分页导航
    handleCurrentChangeSum(val) {
      this.pagesum = val;
      this.gotDataSum();
    },
    //改变页数
    changeLimitSum(val) {
      this.pagesum = 1;
      this.limitsum = val;
      this.gotDataSum();
    },
    // 汇总数据
    gotDataSum() {
      const params = {
        pageNum: this.pagesum,
        pageSize: this.limitsum,
        hotelid: this.searchresultsum.hotelid,
        phone: this.searchresultsum.phone,
        truename: this.searchresultsum.truename,
        beginDate: this.searchresultsum.beginDate,
        endDate: this.searchresultsum.endDate,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loadingsum = true;
      this.$store
        .dispatch("sale/roomDataTotal", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data.list;
            this.tableDataSum = data;
            this.totalsum = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loadingsum = false;
        });
    },
    //导出数据
    handleAddSum() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        phone: this.searchresultsum.phone,
        hotelid: this.searchresultsum.hotelid,
        truename: this.searchresultsum.truename,
        beginDate: this.searchresultsum.beginDate,
        endDate: this.searchresultsum.endDate,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("sale/roomDataTotalExcel", {
          data: params
        })
        .then(result => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "日历房分销统计汇总数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
      /*
      const phone = this.searchresultsum.phone;
      const truename = this.searchresultsum.truename;
      const beginDate = this.searchresultsum.beginDate;
      const endDate = this.searchresultsum.endDate;
      window.location.href = `/api/salerecord/cardtotal?phone=${phone}&truename=${truename}&beginDate=${beginDate}&endDate=${endDate}`;
      */
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

