<style lang="scss" scoped>
.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  font-size: 22px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebeef5;
  .header-left-box {
    height: 70px;
    display: flex;
    .header-left {
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .collapse-btn {
        padding: 0 15px;
        cursor: pointer;
        line-height: 22px;
      }
    }
    .header-middle {
      height: 70px;
      display: flex;
      padding: 0;
      margin: 0;
      .nav-li-item {
        width: 80px;
        height: 70px;
        font-weight: 400;
        font-size: 13px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        &.active {
          color: rgb(32, 160, 255);
        }
      }
    }
  }

  .header-right {
    padding-right: 50px;
    .header-user-con {
      display: flex;
      height: 70px;
      align-items: center;
      .btn-fullscreen {
        transform: rotate(45deg);
        margin-right: 5px;
        font-size: 24px;
      }
      .btn-fullscreen {
        position: relative;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 15px;
        cursor: pointer;
      }
      .user-avator {
        width: 32px;
        height: 32px;
        margin-left: 20px;
        img {
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
      .user-name {
        margin-left: 10px;
        .el-dropdown-link {
          cursor: pointer;
        }
      }
      .el-dropdown-menu__item {
        text-align: center;
      }
    }
  }
}
</style>
<template>
  <div class="header">
    <!-- 折叠按钮 -->
    <div class="header-left-box">
      <div class="header-left">
        <div class="collapse-btn" @click="collapseChage">
          <i :class="[ !collapse ? 'el-icon-s-fold' : 'el-icon-s-unfold']"></i>
        </div>
        <!-- <v-breadcrumb></v-breadcrumb> -->
      </div>
      <ul class="header-middle">
        <li
          class="nav-li-item"
          v-for="(item, index) in userinfo.appList"
          :key="index"
          :class="[appid === item.id ? 'active' : '']"
          @click="clickNav(index, item)"
        >{{item.name}}</li>
      </ul>
    </div>
    <div class="header-right">
      <div class="header-user-con">
        <!-- 全屏显示 -->
        <div class="btn-fullscreen" @click="handleFullScreen">
          <el-tooltip effect="dark" :content="fullscreen?`取消全屏`:`全屏`" placement="bottom">
            <i class="el-icon-rank"></i>
          </el-tooltip>
        </div>
        <!-- 用户头像 -->
        <div class="user-avator">
          <img src="@/assets/images/basicprofile.png" />
        </div>
        <!-- 用户名下拉菜单 -->
        <el-dropdown class="user-name" trigger="click" @command="handleCommand">
          <span class="el-dropdown-link">
            {{userinfo.name}}
            <i class="el-icon-caret-bottom"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="editPassword">修改密码</el-dropdown-item>
            <el-dropdown-item divided command="loginout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <el-dialog
      title="修改密码"
      :visible.sync="dialogFormVisible"
      width="400px"
      @close="closeFormDialog('form')"
    >
      <el-form :model="form" ref="form" label-width="100px" :rules="rules">
        <el-form-item label="原密码" prop="oldpassWord">
          <el-input
            v-model="form.oldpassWord"
            type="password"
            placeholder="请输入原密码"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newpassWord">
          <el-input
            v-model="form.newpassWord"
            type="password"
            placeholder="请输入新密码"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="renewpassWord">
          <el-input
            v-model="form.renewpassWord"
            type="password"
            placeholder="请输入确认密码"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveForm('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import type from "@/constant/type.js";
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      fullscreen: false,
      dialogFormVisible: false,
      form: {
        oldpassWord: "",
        newpassWord: "",
        renewpassWord: "",
      },
      rules: {
        oldpassWord: [
          { required: true, message: "原密码不能为空", trigger: "blur" },
        ],
        newpassWord: [
          { required: true, message: "新密码不能为空", trigger: "blur" },
        ],
        renewpassWord: [
          { required: true, message: "确认密码不能为空", trigger: "blur" },
        ],
      },
      navList: [
        {
          id: 1,
          name: "订单中心",
        },
        {
          id: 2,
          name: "会员管理",
        },
        {
          id: 3,
          name: "酒店管理",
        },
        {
          id: 4,
          name: "DW",
        },
        {
          id: 5,
          name: "营销中心",
        },
        {
          id: 6,
          name: "PMS",
        },
        {
          id: 7,
          name: "GM",
        },
      ],
      appid: 1,
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      tagsList: (state) => state.settings.tagsList,
      collapse: (state) => state.settings.collapse,
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    const appList = this.userinfo.appList;
    const userid = this.userinfo.userid;
    if (userid) {
      if (sessionStorage.getItem("yzzhongtainav")) {
        const value = JSON.parse(sessionStorage.getItem("yzzhongtainav"));
        const payload = {
          value: value.menuList,
        };
        this.appid = value.appid;
        this.$store.commit("user/gotmenuList", payload);
        this.$router.push(value.link);
        const modelvalue =  JSON.parse(sessionStorage.getItem("yzzhongtaimodelid"));
        this.$store.commit("user/gotmodelId", modelvalue);
      } else {
        this.appid = appList[0].id;
        this.gotMenuList(appList[0]);
      }
    } else {
      this.$router.push("/login");
    }
  },
  mounted() {
    if (document.body.clientWidth < 1200) {
      this.collapseChage();
    }
  },
  methods: {
    clickNav(index, item) {
      const userid = this.userinfo.userid;
      if (userid) {
        this.appid = item.id;
        this.$router.push("/");
        this.gotMenuList(item);
      } else {
        this.$router.push("/login");
      }
    },
    // 菜单列表
    gotMenuList(appitem) {
      const params = {
        userid: this.userinfo.userid,
        appid: appitem.id,
      };
      let httpparam = {
        appcode: appitem.code,
        modcode: "",
        actcode: "",
      };
      this.$store.commit("user/gotcodeValue", httpparam);
      localStorage.setItem("codezhongtai", JSON.stringify(httpparam));

      this.$store
        .dispatch("user/modelList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const menuList = result.data;
            const payload = {
              value: menuList,
            };
            let url = "/";
            let modelid = "";
            if (menuList.length > 0) {
              if (menuList[0].children.length > 0) {
                url = menuList[0].children[0].link;
                httpparam.modcode = menuList[0].children[0].code;
                modelid = menuList[0].children[0].id;
              } else {
                url = menuList[0].link;
                httpparam.modcode = menuList[0].code;
                modelid = menuList[0].id;
              }
            }
            this.$store.commit("user/gotcodeValue", httpparam);
            localStorage.setItem("codezhongtai", JSON.stringify(httpparam));

            this.$store.commit("user/gotmenuList", payload);
            let navvalue = {
              link: url,
              menuList: menuList,
              appid: appitem.id,
            };
            sessionStorage.setItem("yzzhongtainav", JSON.stringify(navvalue));
            this.$router.push(url);

            // 当前模块id
            const modelpayload = {
              value: modelid
            };
            this.$store.commit("user/gotmodelId", modelpayload);
            sessionStorage.setItem("yzzhongtaimodelid", JSON.stringify(modelpayload));
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    saveForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
          if (!reg.test(this.form.newpassWord)) {
            this.$message.error("密码为6-12位数字和字母组合");
            return;
          }
          if (this.form.newpassWord !== this.form.renewpassWord) {
            this.$message.error("新密码和确认密码不一致");
            return;
          }
          const params = {
            username: this.userinfo.username,
            password: this.form.oldpassWord,
            newPassword: this.form.newpassWord,
            confirmPassword: this.form.newpassWord,
          };
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          this.$store
            .dispatch("user/userEditPassword", {
              data: params
            })
            .then((result) => {
              this.dialogFormVisible = false;
              loading.close();
              if (result.code === 0) {
                this.$message.success(result.msg);
                //退出重新登录
                this.logOut();
              } else {
                this.$message.error(result.msg);
              }
            });
        }
      });
    },
    closeFormDialog(formName) {
      this.$refs[formName].resetFields();
    },
    // 用户名下拉菜单选择事件
    handleCommand(command) {
      if (command == "loginout") {
        this.logOut();
      } else if (command == "editPassword") {
        if (this.userinfo.userid) {
          this.dialogFormVisible = true;
          // console.log(6666)
        }
      }
    },
    //退出
    logOut() {
      this.$store
        .dispatch("user/loginout", {
          data: this.userinfo.userid,
        })
        .then((result) => {
          if (result.code === 0) {
            // this.$message.success(result.msg);
          } else {
            // this.$message.error(result.msg);
          }
          localStorage.removeItem("yzzhongtai");
          localStorage.removeItem("codezhongtai");
          sessionStorage.removeItem("yzzhongtainav");
          this.$router.push("/login");
        });
    },
    // 侧边栏折叠
    collapseChage() {
      this.$store.commit("settings/ISCOLLAPSE");
    },
    // 全屏事件
    handleFullScreen() {
      let element = document.documentElement;
      if (this.fullscreen) {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      } else {
        if (element.requestFullscreen) {
          element.requestFullscreen();
        } else if (element.webkitRequestFullScreen) {
          element.webkitRequestFullScreen();
        } else if (element.mozRequestFullScreen) {
          element.mozRequestFullScreen();
        } else if (element.msRequestFullscreen) {
          // IE11
          element.msRequestFullscreen();
        }
      }
      this.fullscreen = !this.fullscreen;
    },
  },
};
</script>

