<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-06 18:06:01
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 250px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="优惠券管理" title2="优惠券核销"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="优惠券名称" prop="couponname">
                  <el-input
                    v-model="searchform.couponname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="客户姓名" prop="username">
                  <el-input
                    v-model="searchform.username"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item label="优惠券状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id + '-' +item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="使用方式" prop="useType">
                  <el-select
                    v-model="searchform.useType"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.id+'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="券号" prop="couponno" label-width="54px">
                  <el-input
                    v-model="searchform.couponno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="danger" @click="handleDeleteMulti">批量作废</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            @selection-change="handleSelectionChange"
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column type="selection" width="55" :selectable="handleDisableCheckbox"></el-table-column>
            <el-table-column label="操作" width="70" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  style="color:#409EFF"
                  @click="handleCat(scope.$index, scope.row)"
                  v-if="scope.row.status === 1"
                >核销</el-button>
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                  v-else
                >查看</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID"></el-table-column>
            <el-table-column prop="couponno" label="优惠券券号"></el-table-column>
            <el-table-column prop="couponname" label="优惠券名称">
              <template slot-scope="scope">
                <div>
                  <el-popover trigger="hover" placement="top">
                    <ul class="table-hover-ul">
                      <li class="table-hover-li">
                        <span class="hover-li-name">优惠券券号:</span>
                        <div class="hover-li-content">{{ scope.row.couponno }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">优惠券名称:</span>
                        <div class="hover-li-content">{{scope.row.couponname }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">面值:</span>
                        <div class="hover-li-content">{{ scope.row.couponvalue }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">最低消费:</span>
                        <div class="hover-li-content">{{ scope.row.discountprice }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">使用方式:</span>
                        <div
                          class="hover-li-content"
                        >{{ scope.row.useType === 1 ? '通用' : scope.row.useType === 2 ? '会员商城' : scope.row.useType === 3 ? '餐饮商城' : scope.row.useType === 4 ? '客房预订' : '' }}</div>
                      </li>
                      <!-- <li class="table-hover-li">
                        <span class="hover-li-name">优惠券类型:</span>
                        <div
                          class="hover-li-content"
                        >{{ scope.row.coupontype === 1 ? '满减券' : scope.row.coupontype === 4 ? '功能券' : '' }}</div>
                      </li>-->
                      <li class="table-hover-li">
                        <span class="hover-li-name">使用有效期:</span>
                        <div
                          class="hover-li-content"
                        >{{handleDateTime(scope.row.startdate, scope.row.enddate)}}</div>
                      </li>
                    </ul>
                    <span slot="reference" style="cursor: pointer; padding: 0 10px">
                      <div style="color:#409EFF">{{ scope.row.couponname }}</div>
                    </span>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="状态">
              <template slot-scope="scope">
                <span v-if="scope.row.status === 1" style="color:#E6A23C">未使用</span>
                <span v-else-if="scope.row.status === 2" style="color: #67C23A">已使用</span>
                <span v-else-if="scope.row.status === 3" style="color: #67C23A">已核销</span>
                <span v-else-if="scope.row.status === 99" style="color: #909399">已作废</span>
              </template>
            </el-table-column>
            <el-table-column prop="useType" label="有效期">
              <template slot-scope="scope">
                <span>{{handleDateTime(scope.row.startdate, scope.row.enddate)}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="useType" label="使用方式">
              <template slot-scope="scope">
                <span v-if="scope.row.useType === 1">通用</span>
                <span v-else-if="scope.row.useType === 2">会员商城</span>
                <span v-else-if="scope.row.useType === 3">餐饮商城</span>
                <span v-else-if="scope.row.useType === 4">客房预订</span>
              </template>
            </el-table-column>
            <el-table-column prop="phone" label="手机号"></el-table-column>
            <el-table-column prop="truename" label="客户姓名"></el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 查看 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      :close-on-click-modal="false"
      width="800px"
      @close="closeDialog"
    >
      <el-form ref="form" :model="form" :inline="true" class="operate-form-box" label-width="120px">
        <el-row>
          <el-col>
            <el-form-item label="优惠券名称" prop="couponname">
              <el-input
                v-model="form.couponname"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
            <el-form-item label="优惠券编码" prop="couponno">
              <el-input
                v-model="form.couponno"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="用户手机" prop="phone">
              <el-input
                v-model="form.phone"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
            <el-form-item label="客户姓名" prop="username">
              <el-input
                v-model="form.username"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="库存数量" prop="quantity">
              <el-input
                v-model="form.quantity"
                :disabled="actionType === 2"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item label="使用渠道" prop="useChannel">
              <el-select
                v-model="form.useChannel"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                :disabled="actionType === 2"
              >
                <el-option
                  v-for="item in cannelList"
                  :key="item.id"
                  :label="item.id + '-' + item.channelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="优惠券来源" prop="sourceTypeName">
              <el-input
                v-model="form.sourceTypeName"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
            <el-form-item label="优惠券类型" prop="coupontype">
              <el-select
                v-model="form.coupontype"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                :disabled="actionType === 2"
              >
                <el-option
                  v-for="item in typeListQuan"
                  :key="item.id"
                  :label="item.id +'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="优惠券面值" prop="couponvalue">
              <el-input
                v-model="form.couponvalue"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
            <el-form-item label="最低消费金额" prop="conditionprice">
              <el-input
                v-model="form.conditionprice"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="使用方式" prop="useType">
              <el-select
                v-model="form.useType"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                :disabled="actionType === 2"
              >
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.id +'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="状态" prop="couponvalue">
              <el-input
                :value="rowData.status === 1 ? '未使用' : rowData.status === 2 ? '已使用' : rowData.status === 3 ? '已核销' : rowData.status === 99 ? '已作废' : ''"
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="使用有效期" style="margin-bottom: 0">
              <el-form-item label-width="0px" prop="startdate">
                <el-date-picker
                  style="width: 150px"
                  v-model="form.startdate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                  :disabled="actionType === 2"
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px 0 5px;">至</span>
              <el-form-item label-width="0px" prop="enddate">
                <el-date-picker
                  style="width: 150px"
                  v-model="form.enddate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  :disabled="actionType === 2"
                  clearable
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <!-- <el-col v-if="rowData.status === 1 || rowData.status === 3">
            <div style="width: 100%; height: 1px;border-top: 1px dashed #ccc; margin-bottom: 15px"></div>
            <el-form-item label="核销备注" required>
              <el-input
                type="textarea"
                placeholder="请输入内容"
                v-model="hexiaoremark"
                :rows="3"
                resize="none"
                :disabled="rowData.status === 3"
                style="width: 630px"
              ></el-input>
            </el-form-item>
          </el-col>-->
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer" v-if="rowData.status === 1">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="handleDeleteSingle">作 废</el-button>
          <el-button type="primary" size="mini" @click="handleSave">核 销</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        couponname: "",
        username: "",
        phone: "",
        sourceTypeName: "",
        useType: "",
        status: "",
        couponno: ""
      },
      searchresult: {
        couponname: "",
        username: "",
        phone: "",
        sourceTypeName: "",
        useType: "",
        status: "",
        couponno: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      //使用方式
      typeList: [
        { id: 1, name: "通用" },
        { id: 2, name: "会员商城" },
        { id: 3, name: "餐饮商城" },
        { id: 4, name: "客房预订" }
      ],
      //状态
      statusList: [
        { id: 1, name: "未使用" },
        { id: 2, name: "已使用" },
        { id: 3, name: "已核销" },
        { id: 99, name: "已作废" }
      ],
      //券类型
      typeListQuan: [
        { id: 1, name: "满减券" },
        // { id: 2, name: "折扣券" },
        // { id: 3, name: "免房券" },
        { id: 4, name: "功能券" }
        // { id: 5, name: "餐饮券" }
      ],
      // 渠道下拉
      cannelList: [],
      form: {},
      visible: false,
      hexiaoremark: "",
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      multipleSelection: [], //表格多选
      idList: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    //this.gotData();
    this.getchannelselect();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        couponname: this.searchresult.couponname,
        truename: this.searchresult.username,
        phone: this.searchresult.phone,
        sourceTypeName: this.searchresult.sourceTypeName,
        useType: this.searchresult.useType,
        status: this.searchresult.status,
        couponno: this.searchresult.couponno
      };
      this.loading = true;
      //获取数据
      this.$store
        .dispatch("coupon/usrcouponList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //打开详情窗口
    handleCat(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "查看";
      const params = {
        id: row.id
      };
      this.rowData = row;
      this.$store
        .dispatch("coupon/usrcouponDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.form = data;
            this.hexiaoremark = "";
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //表格多选
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    handleDisableCheckbox(row, index) {
      if (row.status === 1) {
        return true;
      } else {
        return false;
      }
    },
    closeDialog() {
      this.hexiaoremark = "";
    },
    //核销
    handleSave() {
      // if (!this.hexiaoremark) {
      //   this.$message.warning("请输入核销备注");
      //   return;
      // }
      this.handleHeXiao();
    },
    handleHeXiao() {
      const dataparams = {
        id: this.form.id,
        couponNo: this.form.couponno
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("coupon/usrcouponCheck", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("核销成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    handleDeleteSingle() {
      let idList = [];
      idList.push(this.form.id);
      this.idList = idList;
      this.$confirm("确定要作废此优惠券吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.handleDelete();
        })
        .catch(() => {});
    },
    handleDeleteMulti() {
      if (this.multipleSelection.length === 0) {
        this.$message.warning("请选择优惠券");
        return;
      }
      let idList = [];
      this.multipleSelection.map(item => {
        idList.push(item.id);
      });
      this.idList = idList;
      this.$confirm("确定要作废此优惠券吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.handleDelete();
        })
        .catch(() => {});
    },
    //作废
    handleDelete() {
      const dataparams = {
        id: this.idList
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("coupon/usrcouponCancel", { data: dataparams })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("作废成功");
            this.visible = false;
            this.gotData();
            this.idList = [];
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
            this.idList = [];
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    handleDateTime(start, end) {
      if (start && end) {
        return start.split(" ")[0] + "至" + end.split(" ")[0];
      }
      return "";
    },
    //获取渠道下拉框
    getchannelselect() {
      this.$store.dispatch("crspirce/channelListSelect").then(result => {
        if (result.code === 0) {
          this.cannelList = result.data;
        } else {
          this.$message.error(result.msg);
        }
      });
    }
  }
};
</script>
