<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:35:37
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="渠道管理" title2="自营渠道"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="code" label="渠道编码" width="100"></el-table-column>
            <el-table-column prop="channelname" label="渠道名称"></el-table-column>
            <el-table-column prop="type" label="渠道类型" width="100">
              <template slot-scope="scope">{{scope.row.type === 1 ? '直销' : '分销' }}</template>
            </el-table-column>
            <el-table-column prop="validtype" label="有效期" :formatter="hanldeDateTime"></el-table-column>
            <el-table-column prop="status" width="80" label="是否启用">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="840px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="110px"
        :rules="rules"
        :inline="true"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="渠道名称" prop="channelname">
              <el-input
                v-model="form.channelname"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item label="渠道编码" prop="code">
              <el-input v-model="form.code" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="渠道类型" prop="type">
              <el-select v-model="form.type" clearable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in channelSelect"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="有效期类型" prop="validtype">
              <el-radio-group v-model="form.validtype">
                <el-radio :label="1">长期有效</el-radio>
                <el-radio :label="2">固定日期</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-show="form.validtype === 2">
            <el-form-item label="开始时间" prop="startdate">
              <el-date-picker
                v-model="form.startdate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="enddate">
              <el-date-picker
                v-model="form.enddate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="接口配置说明" prop="descrip">
              <el-input
                v-model="form.descrip"
                style="width:480px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="预定确认方式" prop="confirmway">
              <el-radio-group v-model="form.confirmway">
                <el-radio :label="1">立即确认</el-radio>
                <el-radio :label="2">设置时间</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-show="form.confirmway === 2">
            <el-form-item>
              <div style="padding: 0 120px">
                酒店前台接单后确认，超过
                <el-input v-model="form.hours" style="width: 100px" clearable placeholder="请输入"></el-input>小时，订单未被确认，订单自动取消。
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    var checkDate = (rule, value, callback) => {
      if (this.form.validtype === 1) {
        callback();
      } else {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        callback();
      }
    };
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      form: {
        channelname: "",
        code: "",
        type: "",
        startdate: "",
        enddate: "",
        validtype: 1,
        descrip: "",
        confirmway: 1,
        hours: "",
        status: 1
      },
      rules: {
        channelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        code: [{ required: true, message: "不能为空", trigger: "blur" }],
        type: [{ required: true, message: "不能为空", trigger: "blur" }],
        startdate: [
          { required: true, validator: checkDate, trigger: "change" }
        ],
        enddate: [{ required: true, validator: checkDate, trigger: "change" }],
        descrip: [{ required: true, message: "不能为空", trigger: "blur" }],
        confirmway: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        validtype: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      channelSelect: [
        {
          id: 1,
          name: "直销"
        },
        {
          id: 2,
          name: "分销"
        }
      ]
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("crspirce/channelList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      //详情
      this.$store
        .dispatch("crspirce/channelDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const startdate =
              data.startdate && data.validtype === 2
                ? data.startdate.split(" ")[0]
                : "";

            const enddate =
              data.enddate && data.validtype === 2
                ? data.enddate.split(" ")[0]
                : "";

            console.log(enddate);

            this.form = {
              channelname: data.channelname,
              code: data.code,
              type: data.type,
              validtype: data.validtype,
              startdate: startdate,
              enddate: enddate,
              descrip: data.descrip,
              confirmway: data.confirmway,
              hours: data.hours,
              status: data.status
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const startdate = this.form.validtype === 2 && this.form.startdate
            ? this.form.startdate + " 00:00:00"
            : "";
          const enddate = this.form.validtype === 2 && this.form.enddate
            ? this.form.enddate + " 00:00:00"
            : "";

          if (
            this.form.confirmway === 2 &&
            !/^\d+(\.{0,1}\d+){0,1}$/.test(this.form.hours)
          ) {
            this.$message.warning("设置时间合法");
            return;
          }
          const hours = this.form.confirmway === 1 ? 0 : this.form.hours;
          let params = {
            channelname: this.form.channelname,
            code: this.form.code,
            type: this.form.type,
            startdate: startdate,
            enddate: enddate,
            validtype: this.form.validtype,
            descrip: this.form.descrip,
            confirmway: this.form.confirmway,
            hours: hours,
            status: this.form.status
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/channelSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/channelUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        channelname: "",
        code: "",
        type: "",
        startdate: "",
        enddate: "",
        validtype: 1,
        descrip: "",
        confirmway: 1,
        hours: "",
        status: 1
      };
    },
    hanldeDateTime(row) {
      if (row.validtype === 1) {
        return "长期有效";
      } else {
        return row.startdate.split(" ")[0] + "~" + row.enddate.split(" ")[0];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>

