<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-08 10:29:14
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 250px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="优惠券管理" title2="优惠券来源"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="券来源名称" prop="name">
                  <el-input
                    v-model="searchform.name"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id+'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="sourcecode" label="券来源编码" width="150"></el-table-column>
            <el-table-column prop="name" label="券来源名称"></el-table-column>
            <el-table-column prop="sourcecode" label="券来源方">
              <template slot-scope="scope">
                <span>{{scope.row.source === 1 ? 'CRM' : scope.row.source === 2 ? 'h5' : '历史优惠券'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="状态" width="80">
              <template slot-scope="scope">
                <span>{{scope.row.status === 1 ? '启用' : '未启用'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间" width="150"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="500px"
      :close-on-click-modal="false"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="150px"
        class="operate-form-box"
      >
        <el-row>
          <el-col>
            <el-form-item label="优惠券来源名称" prop="name">
              <el-input v-model="form.name" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="优惠券来源编码" prop="sourcecode">
              <el-input
                v-model="form.sourcecode"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="this.actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="优惠券来源方" prop="source">
              <el-select v-model="form.source" filterable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in sourceList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
     //验证来源编码是否重复
    var checkSave = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (this.actionType === 1) {
        this.$store
        .dispatch("coupon/sourceExist", {
          data: { code: value }
        })
        .then(result => {
          if (result.code === 0) {
            if (result.data) {
              callback(new Error("优惠券来源编码已存在"));
            } else {
              callback()
            }
          } else {
            callback(result.msg);
          }
        });
      } else {
        callback()
      }
    };
    return {
      searchform: {
        source: "",
        status: ""
      },
      searchresult: {
        source: "",
        status: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      //优惠券来源方
      sourceList: [
        { id: 1, name: "CRM" },
        { id: 2, name: "H5" },
        { id: 3, name: "历史优惠券" }
      ],
      statusList: [
        { id: 0, name: "不启用" },
        { id: 1, name: "启用" }
      ],
      form: {
        name: "", //优惠券来源名称
        source: "", //优惠券来源方
        sourcecode: "", //优惠券来源编码
        status: 1 //是否启用
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        sourcecode: [{ required: true, validator: checkSave, trigger: "blur" }],
        source: [{ required: true, message: "不能为空", trigger: "change" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {}
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        source: this.searchresult.name,
        status: this.searchresult.status
      };
      this.loading = true;
      this.$store
        .dispatch("coupon/sourceList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
     // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("coupon/sourceDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              name: data.name, //优惠券来源名称
              source: data.source, //优惠券来源方
              sourcecode: data.sourcecode, //优惠券来源编码
              status: data.status //是否启用
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },

    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = {
            source: this.form.source,
            name: this.form.name,
            sourcecode: this.form.sourcecode,
            status: this.form.status
          };
         if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/sourceAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('新增成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/sourceUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('编辑成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
   
    handleResetFields (formName) {
      this.$refs[formName].resetFields();
      this.form = {
        name: "", //优惠券来源名称
        source: "", //优惠券来源方
        sourcecode: "", //优惠券来源编码
        status: 1 //是否启用启用
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    }
  }
};
</script>


