<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-23 15:58:32
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.order-page {
  .order-header-box {
    padding: 10px;
    .order-header {
      border: 1px solid #f4f4f4;
      padding: 10px;
      .order-header-ul {
        padding: 0;
        display: flex;
        li {
          font-size: 14px;
          height: 28px;
          line-height: 28px;
          margin-bottom: 10px;
          color: #303133;
          flex: 1;
          span {
            color: #909399;
            font-size: 13px;
          }
        }
      }
    }
  }
  .order-content {
    padding: 30px 10px;
    .order-content-title {
      color: #409eff;
      font-size: 14px;
    }
    .order-content-ul {
      padding: 0 10px;
      margin-bottom: 8px;
      &.order-ul-border {
        border-bottom: 1px solid #f4f4f4;
      }
      .order-content-li {
        display: flex;
        padding: 0;
        margin: 0;
        .order-content-li-item {
          flex: 1;
          font-size: 13px;
          margin-bottom: 8px;
          color: #303133;
          span {
            color: #909399;
            font-size: 12px;
          }
        }
      }
    }
    .room-price-ul {
      display: flex;
      flex-wrap: wrap;
      width: 720px;
      .room-price-item {
        width: 120px;
        border: 1px solid #f4f4f4;
        box-sizing: border-box;
        .title {
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-bottom: 1px solid #f4f4f4;
          font-size: 12px;
          box-sizing: border-box;
        }
        .price {
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 12px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.status-ul {
  display: flex;
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6;
  border-left: 1px solid #dcdfe6;
  .status-li {
    padding: 0 20px;
    height: 50px;
    border-right: 1px solid #dcdfe6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    color: #606266;
    &:last-child {
      border-right: none;
    }
    .status-li-name {
      text-align: center;
      font-size: 14px;
    }
    .status-li-num {
      text-align: center;
      font-size: 12px;
    }
    &.active {
      color: #409eff;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background: #409eff;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
</style>

<template>
  <div class="page-container order-page">
    <v-breadcrumb
      title="客房服务管理"
      title2="服务订单管理"
    ></v-breadcrumb>

    <div class="content-container">
      <el-card
        class="search-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
          >
            <!-- 默认 -->
            <el-row>
              <el-col :span="24">
                <el-form-item
                  label="酒店名称"
                  prop="hotelid"
                >
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item
                  label="服务名称"
                  prop="categorycode"
                >
                  <el-select
                    v-model="searchform.categorycode"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in nameList"
                      :key="item.code"
                      :label="item.code + '-' + item.name"
                      :value="item.code"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item
                  label="PMS订单号"
                  prop="crsOrderid"
                >
                  <el-input
                    v-model="searchform.crsOrderid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="下单时间"
                  style="margin-bottom: 0"
                >
                  <el-form-item
                    label-width="0px"
                    prop="bookingStartdate"
                  >
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.bookingStartdate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择开始时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 19px 0 6px">至</span>
                  <el-form-item
                    label-width="0px"
                    prop="bookingEnddate"
                  >
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.bookingEnddate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择截至时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item
                  label="客人姓名"
                  prop="guestName"
                >
                  <el-input
                    v-model="searchform.guestName"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item
                  label="联系方式"
                  prop="guestPhone"
                >
                  <el-input
                    v-model="searchform.guestPhone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="服务时间"
                  style="margin-bottom: 0"
                >
                  <el-form-item
                    label-width="0px"
                    prop="serviceStartdate"
                  >
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.serviceStartdate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择开始时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 19px 0 6px">至</span>
                  <el-form-item
                    label-width="0px"
                    prop="serviceEnddate"
                  >
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.serviceEnddate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择截至时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item
                  label="服务人员"
                  prop="serviceUsername"
                >
                  <el-input
                    v-model="searchform.serviceUsername"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button
                    type="primary"
                    @click="handleSearch"
                  >查询</el-button>
                  <el-button
                    type="info"
                    @click="resetSearch('searchform')"
                  >重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <div class="status-ul">
            <div
              v-for="(item, index) in statusList"
              :key="String(index)"
              :class="['status-li', item.status === statusid ? 'active' : '']"
              @click="changeStatus(item)"
            >
              <div class="status-li-name">{{ item.name }}</div>
              <!-- <div class="status-li-num">({{ item.count }})</div> -->
            </div>
          </div>
        </div>
        <!-- <div class="form-container">
          <el-button
            type="primary"
            @click="handleExport"
          >导出</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="100"
              align="center"
              fixed="left"
            >
              <template slot-scope="scope">
                <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-search"
                    @click="handleCat(1, scope.row)"
                  >查看</el-button>
                </div>

                <!-- <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleCat(2, scope.row)"
                    >修改
                  </el-button>
                </div> -->

                <!-- <div style="text-align: center">
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleCat(4, scope.row)"
                    >派单
                  </el-button>
                </div> -->

                <div
                  style="text-align: center"
                  v-if="scope.row.status <= 2"
                >
                  <el-button
                    type="text"
                    style="color: red"
                    icon="el-icon-edit"
                    @click="handleCat(5, scope.row)"
                  >取消服务</el-button>
                </div>

                <!-- <div>
                  <el-button
                    type="text"
                    style="color: #e6a23c"
                    icon="el-icon-folder-add"
                    @click="handleSplit(scope.row)"
                    >催单</el-button
                  >
                </div> -->
                <!-- comment_status -->
                <div
                  style="text-align: center"
                  v-if="scope.row.status === 3 && scope.row.comment_status  === 2 && scope.row.replystatus === 0"
                >
                  <el-button
                    type="text"
                    icon="el-icon-edit"
                    @click="handleCat(3, scope.row)"
                  >评论回复</el-button>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              prop="orderno"
              label="服务单号"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="hotelname"
              label="所属酒店"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="categoryname"
              label="服务项目"
              width="70"
            ></el-table-column>
            <!-- <el-table-column
              prop="urgency"
              label="紧急度"
              width="70"
            ></el-table-column> -->
            <el-table-column
              prop="guestPhone"
              label="顾客信息"
              width="140"
            >
              <template slot-scope="scope">
                <div class="goods-content">
                  <div class="goods-li" v-if="scope.row.roomno">房间号：{{ scope.row.roomno }}</div>
                  <div class="goods-li">客人：{{ scope.row.guestName }}</div>
                  <div class="goods-li">电话：{{ scope.row.guestPhone }}</div>
                </div>
              </template>
            </el-table-column>
             <el-table-column
              prop="serviceTime"
              label="预约时间"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="guestRemark"
              label="客人备注"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="createDate"
              label="下单时间"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="confirmTime"
              label="确认时间"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="serviceFinishTime"
              label="完成时间"
              width="90"
            ></el-table-column>
            <el-table-column
              prop="status"
              label="订单状态"
              width="90"
            >
              <template slot-scope="scope">
                <div>{{ scope.row.status === 1 ? '待确认' : scope.row.status === 2 ? '待服务' : scope.row.status === 4 ? '已取消' : scope.row.status === 3 ? '服务完成' : '' }}</div>
                 <div v-if="scope.row.status === 3">{{ scope.row.status === 3 ? scope.row.comment_status  === 1 ? '待评价' : scope.row.comment_status  === 2 ? '已评价' : '' : ''}}</div>
                <div v-if="scope.row.comment_status === 2">{{ scope.row.status === 2 ? scope.row.replystatus  === 0 ? '待回复' : scope.row.replystatus  === 1 ? '已回复' : '' : ''}}</div>
              </template>
            </el-table-column>
            <el-table-column
              prop="serviceUsername"
              label="服务人员"
              width="140"
            >
              <template slot-scope="scope">
                <div class="goods-content">
                  <div class="goods-li">姓名：{{ scope.row.serviceUsername }}</div>
                  <div class="goods-li">电话：{{ scope.row.servicePhone }}</div>
                </div>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 订单详情 -->
    <el-dialog
      title="订单详情"
      :visible.sync="visible"
      width="1000px"
      :close-on-click-modal="false"
       @close="closeDialog"
    >
      <div class="order-header-box">
        <div class="order-header">
          <ul class="order-header-ul">
            <li>
              <span>服务单号：</span>
              {{ orderDetail.orderno }}
            </li>
            <li><span>服务项目：</span> {{ orderDetail.categoryname }}</li>
            <li><span>订单状态：</span> {{ orderDetail.status === 1 ? '待确认' : orderDetail.status === 2 ? '待服务' : orderDetail.status === 4 ? '已取消' : orderDetail.status === 3 ? '服务完成' : ''}}</li>
          </ul>
          <ul class="order-header-ul">
            <li>
              <span>下单时间：</span>
              {{ orderDetail.createDate }}
            </li>
            <li>
              <span>所属酒店: </span>{{orderDetail.hotelname }}
            </li>
            <li>
              <!-- <span>紧急度：</span>
              {{ orderDetail.urgency }} -->
            </li>
          </ul>
        </div>
      </div>
      <div class="order-content">
        <el-collapse v-model="activeNames">
          <el-collapse-item name="1">
            <template slot="title">
              <div class="order-content-title">
                客房信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>房间号：</span>
                  {{ orderDetail.roomno }}
                </div>
                <div class="order-content-li-item">
                  <span>客人姓名：</span>
                  {{ orderDetail.guestName }}
                </div>
                <div class="order-content-li-item">
                  <span>联系电话：</span>
                  {{ orderDetail.guestPhone }}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>预约时间：</span>
                  {{ orderDetail.serviceTime }}
                </div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>客人备注：</span>
                  {{ orderDetail.guestRemark }}
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="2">
            <template slot="title">
              <div class="order-content-title">
                服务信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">

                <div class="order-content-li-item">
                  <span>服务人员：</span>
                  {{ orderDetail.serviceUsername }}
                </div>
                <div class="order-content-li-item">
                  <span>联系电话：</span>
                  {{ orderDetail.servicePhone }}
                </div>
                <div class="order-content-li-item">
                  <span>确认时间：</span>
                  {{ orderDetail.confirmTime }}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>完成时间：</span>
                  {{ orderDetail.serviceFinishTime }}
                </div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                   <span>服务备注：</span>
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="5">
            <template slot="title">
              <div class="order-content-title">
                评论信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>评论状态：</span>
                  <b v-if="orderDetail.status === 3">{{orderDetail.comment_status === 1 ? '待评价' : orderDetail.comment_status === 2 ? '已评价' : ''	}}</b>
                </div>
                <div class="order-content-li-item">
                  <span>评分(星)：</span>
                  {{serviceCommentVo.star	}}
                </div>
                <div class="order-content-li-item">
                  <span>评论时间：</span>
                  {{serviceCommentVo.createDate	}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>评价内容：</span>
                  {{serviceCommentVo.content}}
                </div>
                <!-- <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div> -->
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>回复状态：</span>
                  <b v-if="orderDetail.comment_status === 2"> {{serviceCommentVo.replyStatus === 0 ? '待回复' : serviceCommentVo.replyStatus === 1 ? '已回复' : ''}}</b>
                </div>
                <div class="order-content-li-item">
                  <span>回复时间：</span>
                  {{serviceCommentReplyVo.createDate}}
                </div>
                <div class="order-content-li-item"></div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>酒店回复：</span>
                  {{serviceCommentReplyVo.content}}
                </div>
                <!-- <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div> -->
              </li>
            </ul>
          </el-collapse-item>
        </el-collapse>
      </div>
    </el-dialog>

   
    <!-- 酒店评论回复 -->
    <el-dialog
      title="酒店评论回复"
      :visible.sync="addremarkvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialogAddremark"
      
    >
      <el-form :inline="true" label-width="100px">
        <el-form-item label="评论星级" required>
          <el-input
            v-model="serviceCommentVo.star"
            style="width: 400px"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item label="评论内容" required>
          <el-input
            v-model="serviceCommentVo.content"
            type="textarea"
            :rows="5"
            style="width: 400px"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item label="模板选择">
          <el-select
            placeholder="请选择"
            style="width:400px"
            v-model="templateid"
            @change="changeTemplateName"
            
          >
            <el-option
              v-for="item in templateList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="酒店回复"
          required
        >
          <el-input
            v-model="addremark"
            type="textarea"
            clearable
            placeholder="请输入"
            style="width: 400px"
            :rows="5"
            resize="none"
          ></el-input>
        </el-form-item>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="addremarkvisible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="saveRemark"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>

     <!-- 修改信息 -->
    <el-dialog
      :title="wlactionName"
      :visible.sync="wlvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closelogisticsDialog('wlform')"
    >
      <el-form
        :inline="true"
        label-width="150px"
        :model="wlform"
        :rules="wlrules"
        ref="wlform"
      >
        <el-form-item
          label="时间"
          prop="logistics"
        >

        </el-form-item>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="wlvisible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="saveLogistics('wlform')"
          >确 定</el-button>
        </div>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        serviceUsername: "",
        serviceStartdate: "",
        serviceEnddate: "",
        hotelid: "",
        guestPhone: "",
        guestName: "",
        crsOrderid: "",
        categorycode: "",
        bookingStartdate: "",
        bookingEnddate: "",
      },
      searchresult: {
        serviceUsername: "",
        serviceStartdate: "",
        serviceEnddate: "",
        hotelid: "",
        guestPhone: "",
        guestName: "",
        crsOrderid: "",
        categorycode: "",
        bookingStartdate: "",
        bookingEnddate: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      nameList: [],
      hotelList: [],
      statusList: [
        {
          status: '',
          name: "所有服务单",
        },
        {
          status: 1,
          name: "待确认",
        },
        {
          status: 2,
          name: "待服务",
        },
        {
          status: 3,
          name: "服务完成",
        },
        {
          status: 4,
          name: "已取消",
        },
        {
          status: 5,
          name: "已评价",
        },
      ],
      orderDetail: {},
      activeNames: ["1", "2", "3", "4", "5"],
      canclevisible: false,
      rowid: 0,
      statusid: '',
      wlvisible: false,
      wlaction: 0,
      wlactionName: "",
      wlform: {},
      wlrules: {},
      addremark: "",
      addremarkvisible: false,
      serviceCommentReplyVo: {},
      serviceCommentVo: {},
      templateList: [],
      templateid: ''
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
      modelid: (state) => state.user.modelid,
    }),
  },
  created() {
    this.gotHotelList();
    this.gotNameList();
    this.gotData();
    this.gotTemplateList()
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = {
        ...this.searchform,
      };
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    changeStatus(item) {
      this.statusid = item.status;
      this.page = 1;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        serviceUsername: this.searchresult.serviceUsername,
        serviceStartdate: this.searchresult.serviceStartdate,
        serviceEnddate: this.searchresult.serviceEnddate,
        hotelid: this.searchresult.hotelid,
        guestPhone: this.searchresult.guestPhone,
        guestName: this.searchresult.guestName,
        crsOrderid: this.searchresult.crsOrderid,
        categorycode: this.searchresult.categorycode,
        bookingStartdate: this.searchresult.bookingStartdate,
        bookingEnddate: this.searchresult.bookingEnddate,
        pageNum: this.page,
        pageSize: this.limit,
        status: this.statusid,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("service/orderList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 操作
    handleCat(type, row) {
      this.rowid = row.id;
      if (type === 1) {
        // 详情
        this.visible = true;
        this.gotOrderDetail();
      } else if (type === 2) {
        // 修改
        this.wlvisible = true;
        this.wlaction = 1;
        this.wlactionName = "修改";
      } else if (type === 3) {
        // 评论回复
        this.addremarkvisible = true;
        this.gotOrderDetail();
      } else if (type === 5) {
        // 取消
        this.handleRefund();
      }
    },
    // 订单详情
    gotOrderDetail() {
      const params = {
        id: this.rowid
      };
      this.$store
        .dispatch("service/orderDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.orderDetail = data;
            this.serviceCommentReplyVo = data.serviceCommentReplyVo ? data.serviceCommentReplyVo : {};
            this.serviceCommentVo = data.serviceCommentVo ? data.serviceCommentVo : {};
          } else {
            this.$message.error(result.msg);
          }
        });
    },
      // 关闭详情
    closeDialog() {
      this.orderDetail = {};
      this.serviceCommentReplyVo = {}
      this.serviceCommentVo= {}
    },
    // 根据订单查询订单回复
    gotRemarkDetail() {
      const params = {
        id: this.rowid,
      };
      this.$store
        .dispatch("service/OrderReplyDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.serviceCommentVo = data.serviceCommentVo ? data.serviceCommentVo : {};
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 回复评论
    saveRemark() {
      if (!this.addremark) {
        this.$message.warning("请输入回复内容");
        return;
      }
      console.log(this.serviceCommentVo.id)
      const commentid = this.serviceCommentVo.id
      let params = {
        commentid: commentid,
        content: this.addremark
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/orderReply", {
          data: params
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.addremarkvisible = false;
            this.$message.success("回复成功");
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 关闭备注
    closeDialogAddremark() {
      this.addremark = "";
      this.templateid = ""
    },
    // 取消订单
    handleRefund() {
      this.$confirm("确定要取消订单吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.passRefund();
        })
        .catch(() => {});
    },
    // 取消订单确认
    passRefund() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      const params = {
        id: this.rowid,
      };
      this.$store
        .dispatch("service/orderCancle", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("取消成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },

    changeTemplateName(value) {
      const arr = this.templateList.filter((item) => item.id === value);
      if (arr.length > 0) {
        this.addremark = arr[0].content;
      } else {
        this.addremark = ''
      }
    },
    //回复模板下拉
    gotTemplateList() {
       const params = {
        hotelIdList: this.userinfo.roleHotelId,
        type: 1
      };
      this.$store
        .dispatch("service/replypull", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            this.templateList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 服务下拉
    gotNameList() {
      const params = {
        type: 0
      };
      this.$store
        .dispatch("service/templateList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.nameList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
      //数量统计
    gotOrderCount() {
      const params = {};
      this.$store
        .dispatch("store/shopOrderCount", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data;
            data.map((item) => {
              switch (item.status) {
                case 0:
                  item.name = "所有服务单";
                  break;
                case 1:
                  item.name = "待确认";
                  break;
                case 2:
                  item.name = "待服务";
                  break;
                case 3:
                  item.name = "已取消";
                  break;
                case 4:
                  item.name = "服务完成";
                  break;
                case 5:
                  item.name = "已评价";
                  break;
              }
            });
            this.statusList = data;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 保存发送快递
    saveLogistics(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let params = {
            id: this.rowid,
          };
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 关闭发送快递
    closelogisticsDialog(formName) {
      this.$refs[formName].resetFields();
      this.form = {};
    },
    // 导出数据
    handleExport() {
      return;
      const params = {
        status: this.statusid,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/shopOrderExcel", {
          data: params,
        })
        .then((result) => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "订单数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
    },
    // 催单
    handleSplit(row) {
      const count = parseInt(row.count);
      this.$confirm(`你确定要进行催单`, "催单提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit(row);
        })
        .catch(() => {});
    },
    deleteSubmit(row) {
      const dataparams = {
        id: row.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/orderSend", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("催单成功");
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

