<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-03 10:03:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.order-page {
  .order-header-box {
    padding: 10px;
    .order-header {
      display: flex;
      border: 1px solid #f4f4f4;
      padding: 10px;
      .order-header-ul {
        padding: 0;
        li:nth-child(1) {
          font-size: 14px;
          height: 28px;
          line-height: 28px;
          margin-bottom: 10px;
          color: #303133;
          span {
            color: #909399;
            font-size: 13px;
          }
        }
        li:nth-child(2) {
          font-size: 14px;
          height: 28px;
          line-height: 28px;
          color: #303133;
          span {
            color: #909399;
            font-size: 13px;
          }
        }
      }
      .order-header-left {
        width: 250px;
      }
      .order-header-middle {
        flex: 1;
      }
      .order-header-right {
        width: 200px;
      }
    }
  }
  .order-content {
    padding: 30px 10px;
    .order-content-title {
      color: #409eff;
      font-size: 14px;
    }
    .order-content-ul {
      padding: 0 10px;
      margin-bottom: 8px;
      &.order-ul-border {
        border-bottom: 1px solid #f4f4f4;
      }
      .order-content-li {
        display: flex;
        padding: 0;
        margin: 0;
        .order-content-li-item {
          flex: 1;
          font-size: 13px;
          margin-bottom: 8px;
          color: #303133;
          span {
            color: #909399;
            font-size: 12px;
          }
        }
      }
    }
    .room-price-ul {
      display: flex;
      flex-wrap: wrap;
      width: 720px;
      .room-price-item {
        width: 120px;
        border: 1px solid #f4f4f4;
        box-sizing: border-box;
        .title {
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-bottom: 1px solid #f4f4f4;
          font-size: 12px;
          box-sizing: border-box;
        }
        .price {
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 12px;
          box-sizing: border-box;
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container order-page">
    <v-breadcrumb title="渠道管理" title2="订单查询"></v-breadcrumb>

    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <!-- 默认 -->
            <el-row v-show="!isspread">
              <el-col :span="24">
                <el-form-item label="小程序订单号" prop="orderno">
                  <el-input
                    v-model="searchform.orderno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="手机号码" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="订单状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusLista"
                      :key="item.id"
                      :label="item.id + '-' + item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(true)">
                    展开
                    <i class="el-icon-arrow-down"></i>
                  </span>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- 展开 -->
            <el-row v-show="isspread">
              <el-col :span="24">
                <el-form-item label="小程序订单号" prop="orderno">
                  <el-input
                    v-model="searchform.orderno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="订单状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusLista"
                      :key="item.id"
                      :label="item.id+'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    @change="gotRoomstyleByIdList"
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id +'-'+item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房型" prop="roomid">
                  <el-select
                    v-model="searchform.roomid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in roomstyleByIdList"
                      :key="item.id"
                      :label="item.roomcode +'-'+ item.roomname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="入住人" prop="contactname" label-width="96px">
                  <el-input
                    v-model="searchform.contactname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="联系电话" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="下单时间" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="placeBeginDate">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.placeBeginDate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择开始时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 19px 0 6px">至</span>
                  <el-form-item label-width="0px" prop="placeEndDate">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.placeEndDate"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择截至时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="PMS订单号" prop="outorder" label-width="96px">
                  <el-input
                    v-model="searchform.outorder"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                
                <el-form-item label="入住时间" prop="checkindate">
                  <el-date-picker
                    class="search-input"
                    v-model="searchform.checkindate"
                    value-format="yyyy-MM-dd"
                    type="date"
                    placeholder="选择入住时间"
                    clearable
                    style="width: 160px"
                  ></el-date-picker>
                </el-form-item>
                <el-form-item label="离店时间" prop="checkoutdate">
                  <el-date-picker
                    class="search-input"
                    v-model="searchform.checkoutdate"
                    value-format="yyyy-MM-dd"
                    type="date"
                    placeholder="选择离店时间"
                    clearable
                    style="width: 160px"
                  ></el-date-picker>
                </el-form-item>
                <el-form-item label="支付状态" prop="newpaystatus">
                  <el-select
                    v-model="searchform.newpaystatus"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 130px"
                  >
                    <el-option
                      v-for="item in payList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <div style="text-align:right">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(false)">
                    收起
                    <i class="el-icon-arrow-up"></i>
                  </span>
                </div>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- 
          订单状态
          0-新订单
          1-待支付
          2-支付中
          3-支付失败
          4-已预定
          5-已预定
          6-已离店
          7-已入住
          10-退款审核
          11-退款审核拒绝
          12-退款中
          13-退款失败
          14-已退款
          20-已取消
          21-订单异常
          22-已评论
        -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @cell-click="cellclick"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                >查看</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="订单号" width="120" >
              <template
                slot-scope="scope"
              >
              <div>小程序: {{scope.row.id}}</div>
              <div>{{!scope.row.outorder ? `老PMS: ${scope.row.orderno}` : ''}}</div>
              <div>{{scope.row.outorder ? `新CRS: ${scope.row.outorder}` : ''}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="phone" label="入住人"  width="93">>
              <template
                slot-scope="scope"
              >
              <div>{{scope.row.contactname }}</div>
              <div>{{scope.row.phone}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="hotelName" label="酒店名称">
              <template
                slot-scope="scope"
              >
              <div>{{scope.row.hotelName}}——{{scope.row.roomName}}</div>
              </template>
            </el-table-column>
             <el-table-column prop="checkindate" label="入离时间">
              <template
                slot-scope="scope"
              >{{scope.row.checkindate ? scope.row.checkindate.split(' ')[0] : scope.row.checkindate}}至{{scope.row.checkoutdate ? scope.row.checkoutdate.split(' ')[0] : scope.row.checkoutdate}}</template>
            </el-table-column>
            <el-table-column prop="roomcount" label="房间数" width="58"></el-table-column> 
            <el-table-column prop="status" label="订单状态"  width="70">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '待支付' : scope.row.status === 2 ? '支付中' : scope.row.status === 3 ? '支付失败' : scope.row.status === 4 ? '已预定' : scope.row.status === 5 ? '已预定' : scope.row.status === 6 ? '已离店' : scope.row.status === 7 ? '已入住' : scope.row.status === 10 ? '退款审核' : scope.row.status === 11 ? '退款审核拒绝' : scope.row.status === 12 ? '退款中' : scope.row.status === 13 ? '退款失败' : scope.row.status === 14 ? '已退款' : scope.row.status === 20 ? '已取消' : scope.row.status === 21 ? '订单异常' : scope.row.status === 22? '已评论' : ''}}</template>
            </el-table-column>
            <el-table-column prop="amount" label="订单金额(元)" width="60"></el-table-column> 
            <el-table-column prop="newpaystatus" label="支付状态"  width="70">
              <template
                slot-scope="scope"
              >{{scope.row.newpaystatus === 1 ? '未支付' : scope.row.newpaystatus === 4 ? '已支付' : ''}}</template>
            </el-table-column>
            <el-table-column prop="paymode" label="支付方式"  width="70">
              <template
                slot-scope="scope"
              >{{scope.row.paymode === 1 ? '微信支付' : scope.row.paymode === 2 ? '积分支付' : scope.row.paymode === 3 ? '余额支付' : scope.row.paymode === 4 ? '储值卡支付' : ''}}</template>
            </el-table-column>
            <el-table-column prop="bookphone" label="预定人"  width="93">>
              <template
                slot-scope="scope"
              >
              <div>{{scope.row.bookname}}</div>
              <div>{{scope.row.bookphone}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="createDate" label="下单时间"></el-table-column> 
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 订单详情 -->
    <el-dialog title="订单详情" :visible.sync="visible" width="1000px" :close-on-click-modal="false">
      <div class="order-header-box">
        <div class="order-header">
          <ul class="order-header-ul order-header-left">
            <li>
              <span>小程序订单号：</span>
              {{orderDetail.id}}
            </li>
            <li>
              <span>下单时间：</span>
              {{orderDetail.createDate}}
            </li>
          </ul>
          <ul class="order-header-ul order-header-middle">
            <li>
              <span>{{orderDetail.outorder ? '新CRS订单号' : '老PMS订单号'}}：</span>
              {{orderDetail.outorder ? orderDetail.outorder : orderDetail.orderno}}
            </li>
            <!-- <li><span>酒店名称：</span> {{orderDetail.hotelName}}</li> -->
            <li>
              <span>订单来源：</span>
              {{orderDetail.channelname}}
            </li>
          </ul>
          <ul class="order-header-ul order-header-middle">
            <li>
              <span>订单状态：</span>
              {{orderDetail.status === 1 ? '待支付' : orderDetail.status === 2 ? '支付中' : orderDetail.status === 3 ? '支付失败' : orderDetail.status === 4 ? '已预定' : orderDetail.status === 5 ? '已预定' : orderDetail.status === 6 ? '已离店' : orderDetail.status === 7 ? '已入住' : orderDetail.status === 10 ? '退款审核' : orderDetail.status === 11 ? '退款审核拒绝' : orderDetail.status === 12 ? '退款中' : orderDetail.status === 13 ? '退款失败' : orderDetail.status === 14 ? '已退款' : orderDetail.status === 20 ? '已取消' : orderDetail.status === 21 ? '订单异常' : orderDetail.status === 22 ? '已评论' : ''}}
            </li>
          </ul>
          <ul class="order-header-ul order-header-right">
            <li>
              <el-button
                type="warning"
                size="mini"
                @click="handleCancelOrder"
                v-show="orderDetail.status === 4 || orderDetail.status === 5"
              >取消订单</el-button>
              <!-- <el-popover placement="top" width="160" v-model="canclevisible">
                <p>确定要取消订单吗？</p>
                <div style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="canclevisible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="handleCancelOrder">确定</el-button>
                </div>
                <el-button
                  type="warning"
                  slot="reference"
                  v-show="orderDetail.status === 4 || orderDetail.status === 5"
                >取消订单</el-button>
              </el-popover>-->
              <el-button
                type="warning"
                @click="handleCheckRefund"
                v-show="orderDetail.status === 10"
              >退款审核</el-button>
            </li>
          </ul>
        </div>
      </div>
      <div class="order-content">
        <el-collapse v-model="activeNames">
          <el-collapse-item name="1">
            <template slot="title">
              <div class="order-content-title">
                房间信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>酒店名称：</span>
                  {{orderDetail.hotelName}}
                </div>
                <div class="order-content-li-item">
                  <span>酒店房型：</span>
                  {{orderDetail.roomName}}
                </div>
                <div class="order-content-li-item">
                  <span>房间数：</span>
                  {{orderDetail.roomcount}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>房价码：</span>
                  {{orderDetail.ratename+'('+orderDetail.roomrate+')'}}
                </div>
                <div class="order-content-li-item">
                  <span>入离时间：</span>
                  {{orderDetail.inOutDate}} {{orderDetail.days}}晚
                </div>
                <div class="order-content-li-item">
                  <!-- <span>预定类型：</span>
                  {{orderDetail.bookingtype === 1 ? '预付' : '现付'}} -->
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="2">
            <template slot="title">
              <div class="order-content-title">
                入住人信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>入住人：</span>
                  {{orderDetail.customerList ? orderDetail.customerList.join('、') : ''}}
                </div>
                <div class="order-content-li-item">
                  <span>联系人：</span>
                  {{orderDetail.contactname}}
                </div>
                <div class="order-content-li-item">
                  <span>联系电话：</span>
                  {{orderDetail.phone}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>备注：</span>
                  {{orderDetail.note}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="3">
            <template slot="title">
              <div class="order-content-title">
                房价信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <div class="order-content-ul room-price-ul">
              <div
                class="room-price-item"
                v-for="(item, index) in orderDetail.ordRoompriceVoList"
                :key="index"
              >
                <div class="title">{{item.roomdate}}</div>
                <div class="price">￥{{item.price}}</div>
              </div>
            </div>
          </el-collapse-item>
          <el-collapse-item name="4">
            <template slot="title">
              <div class="order-content-title">
                支付信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul order-ul-border">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>交易流水号：</span>
                  {{orderDetail.payNo}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>支付方式：</span>
                  {{orderDetail.paymode === 1 ? '微信' : orderDetail.paymode === 2 ? '积分支付' : orderDetail.paymode === 3 ? '余额支付' : orderDetail.paymode === 4 ? '储值卡支付' : ''}}
                </div>
                <div class="order-content-li-item">
                  <span>支付时间：</span>
                  {{orderDetail.payDate}}
                </div>
                <div class="order-content-li-item">
                  <span>订单金额：</span>
                  ￥{{orderDetail.orderAmount}}
                </div>
              </li>
            </ul>
            <ul
              class="order-content-ul"
              v-for="(item, index) in orderDetail.ordCouponVoList"
              :key="index"
            >
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>优惠券名称：</span>
                  {{item.couponname}}
                </div>
                <div class="order-content-li-item">
                  <span>优惠金额：</span>
                  ￥{{item.price}}
                </div>
                <div class="order-content-li-item"></div>
              </li>
            </ul>
            <ul class="order-content-ul order-ul-border">
              <li class="order-content-li">
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item">
                  <span>优惠总金额：</span>
                  ￥{{orderDetail.sumDiscount}}
                </div>
              </li>
            </ul>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">总计</div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item">
                  <span>支付订单金额：</span>
                  ￥{{orderDetail.amount}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="5">
            <template slot="title">
              <div class="order-content-title">
                预定人信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>预定人：</span>
                  {{orderDetail.bookname}}
                </div>
                <div class="order-content-li-item">
                  <span>手机号：</span>
                  {{orderDetail.bookphone}}
                </div>
                <div class="order-content-li-item">
                  <span>会员等级：</span>
                  {{orderDetail.membertype === 1 ? '银卡' : orderDetail.membertype === 2 ? '金卡' : orderDetail.membertype === 3 ? '白金' :orderDetail.membertype === 4 ? '黑金' : ''}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>会员编号：</span>
                  {{orderDetail.bookusercode}}
                </div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="8">
            <template slot="title">
              <div class="order-content-title">
                评论信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>评论时间：</span>
                  {{orderDetail.ordCommentVo.commentTime}}
                </div>
                <div class="order-content-li-item">
                  <span>综合评分：</span>
                  {{orderDetail.ordCommentVo.score ? orderDetail.ordCommentVo.score + '分' : ''}}
                </div>
                <div class="order-content-li-item">
                  <span>显示状态：</span>
                  {{orderDetail.ordCommentVo.staus === 1 ? '屏蔽' : orderDetail.ordCommentVo.staus === 2 ? '展示' : orderDetail.ordCommentVo.staus === 3 ? '删除' : '' }}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>用户评论：</span>
                  {{orderDetail.ordCommentVo.comment}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>酒店回复：</span>
                  {{orderDetail.ordCommentVo.reply}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="6" v-show="false">
            <template slot="title">
              <div class="order-content-title">
                退订信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>

            <ul class="order-content-ul order-ul-border">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>申请人：</span>
                </div>
                <div class="order-content-li-item">
                  <span>申请时间：</span>
                </div>
                <div class="order-content-li-item">
                  <span>退款金额：</span>
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>退款处理结果：</span>
                  {{orderDetail.status === 10 ? '退款审核' : orderDetail.status === 11 ? '退款审核拒绝' : orderDetail.status === 12 ? '退款中' : orderDetail.status === 13 ? '退款失败' : orderDetail.status === 14 ? '退款成功' : ''}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>退款理由：</span>
                </div>
              </li>
            </ul>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>审核人：</span>
                </div>
                <div class="order-content-li-item">
                  <span>退款时间：</span>
                </div>
                <div class="order-content-li-item">
                  <span>退款金额：</span>
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>退款方式：</span>
                </div>
                <div class="order-content-li-item">
                  <span>交易流水号：</span>
                </div>
                <div class="order-content-li-item"></div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>备注：</span>
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="7" v-show="false">
            <template slot="title">
              <div class="order-content-title">
                附加信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>邮箱：</span>
                  {{orderDetail.email}}
                </div>
                <div class="order-content-li-item">
                  <span>儿童数量：</span>
                  {{orderDetail.child}}
                </div>
                <div class="order-content-li-item">
                  <span>加床数：</span>
                  {{orderDetail.addbed}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>预定须知：</span>
                  {{orderDetail.notes}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
        </el-collapse>
      </div>
    </el-dialog>

    <el-dialog
      title="退款审核"
      :visible.sync="refundvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialogRefundmark"
    >
      <el-form :inline="true" label-width="150px" class="operate-form-box">
        <el-form-item label="备注" required>
          <el-input
            v-model="refundmark"
            type="textarea"
            clearable
            placeholder="请输入"
            style="width: 300px"
            :rows="3"
            resize="none"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="this.refundvisible = false">取消</el-button>
          <el-button type="primary" size="mini" @click="handlePassRefund(2)">审核通过</el-button>
        </div>
      </span>
    </el-dialog>

    <el-dialog
      title="取消订单"
      :visible.sync="canclevisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialogRemark"
    >
      <el-form :inline="true" label-width="150px" class="operate-form-box">
        <el-form-item label="备注" required>
          <el-input
            v-model="remark"
            type="textarea"
            clearable
            placeholder="请输入"
            style="width: 300px"
            :rows="3"
            resize="none"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="canclevisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="cancelOrder">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        orderno: "",
        outorder: "",
        hotelid: "",
        channel: "",
        checkindate: "",
        checkoutdate: "",
        contactname: "",
        phone: "",
        placeBeginDate: "",
        placeEndDate: "",
        status: "",
        roomid: "",
        newpaystatus: ""
      },
      searchresult: {
        orderno: "",
        outorder: "",
        hotelid: "",
        channel: "",
        checkindate: "",
        checkoutdate: "",
        contactname: "",
        phone: "",
        placeBeginDate: "",
        placeEndDate: "",
        status: "",
        roomid: "",
        newpaystatus: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      isspread: false,
      roomstyleList: [],
      hotelList: [],
      roomstyleByIdList: [],
      channelList: [],
      statusLista: [
        {
          id: 1,
          name: "已预订"
        },
        {
          id: 2,
          name: "已入住"
        },
        {
          id: 3,
          name: "已离店"
        },
        {
          id: 4,
          name: "退款审核"
        },
        {
          id: 5,
          name: "已退款"
        },
        {
          id: 6,
          name: "已取消"
        }
      ],
      orderDetail: {
        ordRoompriceVoList: [],
        ordCouponVoList: [],
        ordCommentVo: {}
      },
      activeNames: ["1", "2", "3", "4", "5", "8"],
      refundvisible: false,
      refundmark: "",
      canclevisible: false,
      rowid: 0,
      remark: "",
      payList: [
        {
          id: 1,
          name: '未支付'
        },
        {
          id: 4,
          name: '已支付'
        },
      ]
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    // this.gotData();
    this.gotHotelList();
    this.gotChannelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      const checkindate = this.searchform.checkindate ? this.searchform.checkindate + ' 00:00:00' : '';
      const checkoutdate = this.searchform.checkoutdate ? this.searchform.checkoutdate + ' 00:00:00' : '';
      this.searchresult = {
        ...this.searchform,
        checkindate: checkindate,
        checkoutdate: checkoutdate
      }
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.roomstyleByIdList = [];
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        newpaystatus: this.searchresult.newpaystatus,
        id: this.searchresult.orderno,
        outorder: this.searchresult.outorder,
        hotelid: this.searchresult.hotelid,
        channel: this.searchresult.channel,
        checkindate: this.searchresult.checkindate,
        checkoutdate: this.searchresult.checkoutdate,
        contactname: this.searchresult.contactname,
        phone: this.searchresult.phone,
        placeBeginDate: this.searchresult.placeBeginDate,
        placeEndDate: this.searchresult.placeEndDate,
        logicalStatus: this.searchresult.status,
        roomid: this.searchresult.roomid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("order/list", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //根据酒店ID查询房型下拉
    gotRoomstyleByIdList() {
      this.searchform.roomid = "";
      this.roomstyleByIdList = [];
      if (this.searchform.hotelid) {
        const params = {
          id: this.searchform.hotelid
        };
        this.$store
          .dispatch("hotel/roomstyleSelectById", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roomstyleByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    clickSpread(value) {
      this.isspread = value;
    },
    handleCat(index, row) {
      this.visible = true;
      this.rowid = row.id;
      this.gotOrderDetail();
    },
    gotOrderDetail() {
      const params = {
        id: this.rowid
      };
      this.$store
        .dispatch("order/detail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            const ordCommentVo = data.ordCommentVo ? data.ordCommentVo : {};
            const customerList =  Array.isArray(data.customerList) ? data.customerList : [];
            this.orderDetail = {
              ...result.data,
              ordCommentVo: ordCommentVo,
              customerList: customerList
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 取消订单
    handleCancelOrder() {
      this.canclevisible = true;
    },
    cancelOrder() {
      if (!this.remark) {
        this.$message.warning("请输入备注");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const isRefund = this.orderDetail.status == 4 ? true : false;
      const params = {
        id: this.orderDetail.id,
        msg: this.remark,
        isRefund: isRefund
      };
      this.$store
        .dispatch("order/cancle", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("订单取消成功");
            this.gotOrderDetail();
            this.canclevisible = false;
          } else if (result.code === 401) {
            this.$message.error(result.msg);
            this.canclevisible = false;
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    handleCheckRefund() {
      this.refundvisible = true;
    },
    handlePassRefund(type) {
      if (type === 1) {
        // 拒绝
        this.noPassRefund();
      } else {
        //通过
        this.passRefund();
      }
    },
    passRefund() {
      if (!this.refundmark) {
        this.$message.warning("请输入备注");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        id: this.orderDetail.id,
        msg: this.refundmark
      };
      this.$store
        .dispatch("order/check", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.visible = false;
            this.refundvisible = false;
            this.$message.success("审核通过");
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.refundvisible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    noPassRefund() {
      if (!this.refundmark) {
        this.$message.warning("请输入备注");
        return;
      }
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        id: this.orderDetail.id,
        msg: this.refundmark
      };
      this.$store
        .dispatch("order/reject", {
          data: params
        })
        .then(result => {
          loading.close();
          this.visible = false;
          this.refundvisible = true;
          if (result.code === 0) {
            this.$message.success(result.msg);
            this.gotData();
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    closeDialogRemark() {
      this.remark = "";
    },
    closeDialogRefundmark() {
      this.refundmark = "";
    },
    cellclick(row, column, cell, event) {
      return;
      if (column.property === "id") {
        this.$copyText(row.id).then(
          e => {
            this.$message.success("复制成功");
          },
          e => {
            this.$message.error("不支持复制");
          }
        );
      }
    }
  }
};
</script>

