<style lang="scss">
.sidebar {
  width: 200px !important;
  margin-top: 70px;
  &.sidebar-collapse {
    width: 64px !important;
  }
  .sidebar-el-menu:not(.el-menu--collapse) {
    width: 200px;
  }
  .el-menu {
    width: 100% !important;
    height: 100%;
    border: none;
  }
  .el-submenu {
    .el-menu-item {
      height: 40px !important;
      line-height: 40px !important;
      background-color: #1f2d3d !important;
      &:hover {
        background-color: #263445 !important;
      }
    }
  }
  .title-icon {
    margin-right: 14px;
  }
}
</style>
<template>
  <div class="sidebar" :class="{'sidebar-collapse': collapse}">
    <!--  -->
    <el-menu
      class="sidebar-el-menu"
      :default-active="$route.fullPath"
      background-color="#324157"
      text-color="#bfcbd9"
      active-text-color="#20a0ff"
      :collapse="collapse"
      router
      @select="selectActive"
      :unique-opened="false"
    >
      <template v-for="item in menuList">
        <template v-if="item.children && item.children.length">
          <el-submenu :index="item.id+''" :key="item.id">
            <template slot="title">
              <i class="iconfont title-icon" :class="item.icon"></i>
              <span slot="title">{{ item.name }}</span>
            </template>
            <template v-for="subItem in item.children">
              <el-submenu
                v-if="subItem.children && subItem.children.length"
                :index="subItem.link"
                :key="subItem.id"
              >
                <template slot="title">{{ subItem.name }}</template>
                <el-menu-item
                  v-for=" threeItem in subItem.children"
                  :index="threeItem.link"
                  :key="threeItem.id"
                >{{ threeItem.name }}</el-menu-item>
              </el-submenu>
              <el-menu-item v-else :index="subItem.link" :key="subItem.id">
                <!-- <i class="iconfont" :class="subItem.icon"></i> -->
                <span slot="title">{{ subItem.name }}</span>
              </el-menu-item>
            </template>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="item.link" :key="item.id">
            <i class="iconfont title-icon" :class="item.icon"></i>
            <span slot="title">{{ item.name }}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script>
import type from "@/constant/type.js";
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({
      collapse: (state) => state.settings.collapse,
      menuList: (state) => state.user.menuList,
    }),
  },
  created() {
    // console.log(this.menuList)
    //console.log(nav)
  },
  watch: {
    $route(newValue, oldValue) {
      // console.log(newValue)
      if (newValue.fullPath === "/storepushgoods") {
        const gethttpparam = JSON.parse(localStorage.getItem("codezhongtai"));
        if (
          gethttpparam.appcode === "shopping" &&
          gethttpparam.modcode === "storegoodslist"
        ) {
          let httpparam = {
            appcode: "shopping",
            modcode: "storepushgoods",
            actcode: "",
          };
          // 存储请求体信息
          this.$store.commit("user/gotcodeValue", httpparam);
          localStorage.setItem("codezhongtai", JSON.stringify(httpparam));

          // 当前路由的id
          const payload = {
            value: 59,
          };
          this.$store.commit("user/gotmodelId", payload);

          // 暂存路由到本地
          if (sessionStorage.getItem("yzzhongtainav")) {
            const value = JSON.parse(sessionStorage.getItem("yzzhongtainav"));
            let navvalue = {
              link: "/storepushgoods",
              menuList: value.menuList,
              appid: value.appid,
            };
            sessionStorage.setItem("yzzhongtainav", JSON.stringify(navvalue));
          }
        }
      } else if (newValue.fullPath === "/storegoodslist") {
        const gethttpparam = JSON.parse(localStorage.getItem("codezhongtai"));
        if (
          gethttpparam.appcode === "shopping" &&
          gethttpparam.modcode === "storepushgoods"
        ) {
          let httpparam = {
            appcode: "shopping",
            modcode: "storegoodslist",
            actcode: "",
          };
          // 存储请求体信息
          this.$store.commit("user/gotcodeValue", httpparam);
          localStorage.setItem("codezhongtai", JSON.stringify(httpparam));

          // 当前路由的id
          const payload = {
            value: 60,
          };
          this.$store.commit("user/gotmodelId", payload);

          // 暂存路由到本地
          if (sessionStorage.getItem("yzzhongtainav")) {
            const value = JSON.parse(sessionStorage.getItem("yzzhongtainav"));
            let navvalue = {
              link: "/storegoodslist",
              menuList: value.menuList,
              appid: value.appid,
            };
            sessionStorage.setItem("yzzhongtainav", JSON.stringify(navvalue));
          }
        }
      }
    },
  },
  methods: {
    selectActive(index, indexPath) {
      const appid = parseInt(indexPath[0]);
      const curpath = indexPath[1];
      let modelid = "";
      const gethttpparam = JSON.parse(localStorage.getItem("codezhongtai"));
      let httpparam = {
        appcode: gethttpparam.appcode,
        modcode: "",
        actcode: "",
      };
      const targetapp = this.menuList.filter((item) => {
        return item.id === appid;
      });
      if (targetapp[0].children && targetapp[0].children.length > 0) {
        const targetmodel = targetapp[0].children.filter((item) => {
          return item.link === curpath;
        });
        modelid = targetmodel[0].id;
        httpparam.modcode = targetmodel[0].code;
      } else {
        modelid = targetapp[0].id;
        httpparam.modcode = targetapp[0].code;
      }
      // 存储请求体信息
      this.$store.commit("user/gotcodeValue", httpparam);
      localStorage.setItem("codezhongtai", JSON.stringify(httpparam));

      // 暂存路由到本地
      if (sessionStorage.getItem("yzzhongtainav")) {
        const value = JSON.parse(sessionStorage.getItem("yzzhongtainav"));
        let navvalue = {
          link: curpath,
          menuList: value.menuList,
          appid: value.appid,
        };
        sessionStorage.setItem("yzzhongtainav", JSON.stringify(navvalue));
      }

      //当前路由的id
      const payload = {
        value: modelid
      };
      this.$store.commit("user/gotmodelId", payload);
      sessionStorage.setItem("yzzhongtaimodelid", JSON.stringify(payload));

    },
  },
};
</script>


