<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-01 13:57:46
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.comment-li-title {
  color: #409eff;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}
.comment-li-content {
  padding: 10px 0;
}
.comment-li-content-div {
  width: 150px;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="客房服务管理" title2="服务评价管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
          >
            <!-- 默认 -->
            <el-row>
              <el-col :span="24">
                <el-form-item label="回复状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="联系电话" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="订单号" prop="id">
                  <el-input
                    v-model="searchform.id"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="服务名称" prop="phone">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch"
                    >查询</el-button
                  >
                  <el-button type="info" @click="resetSearch('searchform')"
                    >重置</el-button
                  >
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="80"
              align="center"
              fixed="left"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                  >查看</el-button
                >
              </template>
            </el-table-column>
            <el-table-column prop="orderid" label="订单号"></el-table-column>
            <el-table-column prop="a" label="服务名称"></el-table-column>
            <el-table-column
              prop="hotelname"
              label="酒店名称"
            ></el-table-column>
             <el-table-column
              prop="a"
              label="工作人员"
            ></el-table-column>
            <el-table-column prop="replyStatus" label="回复状态">
              <template slot-scope="scope">
                <span v-if="scope.row.replyStatus === 1" style="color: #e6a23c"
                  >待回复</span
                >
                <span v-else>已回复</span>
              </template>
            </el-table-column>
            <el-table-column prop="commentstatus" label="显示状态">
              <template slot-scope="scope">
                <span
                  v-if="scope.row.commentstatus === 1"
                  style="color: #f56c6c"
                  >评论已屏蔽</span
                >
                <span
                  v-else-if="scope.row.commentstatus === 2"
                  style="color: #67c23a"
                  >评论已展示</span
                >
                <span v-else-if="scope.row.commentstatus === 3"
                  >评论已删除</span
                >
              </template>
            </el-table-column>
            <el-table-column prop="phone" label="联系电话"></el-table-column>
            <el-table-column
              prop="userName"
              label="下单人"
              label-width="100px"
            ></el-table-column>
            <el-table-column
              prop="createDate"
              label="创建时间"
            ></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      width="900px"
      title="评论详情"
      :visible.sync="visible"
      :close-on-click-modal="false"
      @close="closeDialog"
    >
      <el-form :inline="true" label-width="110px">
        <el-row>
          <el-col>
            <div class="comment-li-title">用户评论信息</div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="订单号:">
                <div class="comment-li-content-div">
                  {{ rowData.createDate }}
                </div>
              </el-form-item>
              <el-form-item label="服务名称:">
                <div class="comment-li-content-div">
                  {{ rowData.hotelname }}
                </div>
              </el-form-item>
              <el-form-item label="酒店名称:">
                <div class="comment-li-content-div">
                  {{ rowData.hotelname }}
                </div>
              </el-form-item>
            </div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="联系电话:"
                ><div class="comment-li-content-div">
                  {{ rowData.phone }}
                </div></el-form-item
              >
              <el-form-item label="下单人:"
                ><div class="comment-li-content-div">
                  {{ rowData.userid }}
                </div></el-form-item
              >
              <el-form-item label="下单时间:"
                ><div class="comment-li-content-div">
                  {{ rowData.createDate }}
                </div></el-form-item
              >
            </div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="评论内容:">
                <el-input
                  style="width: 590px"
                  type="textarea"
                  :autosize="{ minRows: 6, maxRows: 10 }"
                  disabled
                  v-model="rowData.content"
                ></el-input>
              </el-form-item>
            </div>
          </el-col>
          <el-col>
            <div class="comment-li-title">酒店回复信息</div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="回复状态:">{{
                rowData.replyStatus === 1 ? "待回复" : "已回复"
              }}</el-form-item>
              <el-form-item label="显示状态:">
                <span style="color: #e6a23c">{{
                  rowData.commentstatus === 1
                    ? "评论已屏蔽"
                    : rowData.commentstatus === 2
                    ? "评论已展示"
                    : "评论已删除"
                }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col v-show="rowData.replyStatus === 1">
            <div class="comment-li-content">
              <el-form-item label="回复模板:">
                <el-select
                  v-model="templatecontent"
                  clearable
                  placeholder="请选择"
                  @change="changeTemplatename"
                  style="width: 590px"
                >
                  <el-option
                    v-for="item in templateList"
                    :key="item.id"
                    :label="item.id + '-' + item.templatename"
                    :value="item.content"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="酒店回复:">
                <el-input
                  style="width: 590px"
                  type="textarea"
                  :autosize="{ minRows: 4, maxRows: 8 }"
                  clear
                  :disabled="rowData.replyStatus === 2"
                  v-model="replycontent"
                ></el-input>
              </el-form-item>
            </div>
          </el-col>
          <el-col v-show="rowData.replyStatus === 2">
            <div class="comment-li-content">
              <el-form-item label="备注:">
                <el-input
                  style="width: 590px"
                  type="textarea"
                  resize="none"
                  rows="6"
                  clear
                  :disabled="rowData.commentstatus !== 2"
                  v-model="replyremark"
                ></el-input>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button
            type="default"
            size="mini"
            v-show="rowData.replyStatus === 1"
            @click="visible = false"
            >取消</el-button
          >
          <el-button
            type="primary"
            size="mini"
            v-show="rowData.replyStatus === 1"
            @click="handleSrue"
            >确认回复</el-button
          >
          <el-button
            type="primary"
            size="mini"
            v-show="rowData.replyStatus === 2 && rowData.commentstatus === 1"
            @click="handleShow"
            >展示评论</el-button
          >
          <el-button
            type="primary"
            size="mini"
            v-show="rowData.replyStatus === 2 && rowData.commentstatus === 2"
            @click="handleHide"
            >屏蔽评论</el-button
          >

          <el-button
            type="danger"
            size="mini"
            slot="reference"
            v-show="rowData.replyStatus === 2 && rowData.commentstatus !== 3"
            @click="handleDelete"
            >删除评论</el-button
          >
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        id: "",
        outorder: "",
        hotelid: "",
        channel: "",
        checkindate: "",
        checkoutdate: "",
        contactname: "",
        phone: "",
        placeBeginDate: "",
        placeEndDate: "",
        status: "",
        roomid: "",
      },
      searchresult: {
        id: "",
        outorder: "",
        hotelid: "",
        channel: "",
        checkindate: "",
        checkoutdate: "",
        contactname: "",
        phone: "",
        placeBeginDate: "",
        placeEndDate: "",
        status: "",
        roomid: "",
      },
      sortType: "asc",
      sortField: "createDate",
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      tableData: [],
      templateList: [],
      hotelList: [],
      statusList: [
        {
          id: 1,
          name: "待回复",
        },
        {
          id: 2,
          name: "已回复",
        },
      ],
      visible: false,
      rowData: {},
      replycontent: "",
      replyremark: "",
      templatecontent: "",
      delvisible: false,
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    return
    this.gotData();
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    // 查询
    handleSearch() {
      return
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    // 重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.sortField = "";
      this.sortType = "";
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    // 改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    // 列表数据
    gotData() {
      const params = {
        hotelid: this.searchresult.hotelid,
        phone: this.searchresult.phone,
        replyStatus: this.searchresult.status,
        roomcode: this.searchresult.roomid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId,
      };
      this.loading = true;
      this.$store
        .dispatch("comment/commentList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 查看
    handleCat(index, row) {
      this.visible = true;
      this.rowData = row;
      this.gotCommentDetail();
      this.gotTemplateSelect();
    },
    // 评论详情
    gotCommentDetail() {
      const params = {
        id: this.rowData.id,
      };
      this.$store
        .dispatch("comment/commentDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.rowData = result.data;
            this.replycontent = result.data.reply;
            this.replyremark = result.data.checkReply;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 根据酒店评论模板列表
    gotTemplateSelect() {
      const params = {
        id: this.rowData.hotelid,
      };
      this.$store
        .dispatch("comment/commentTemplateByHotel", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.templateList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    changeTemplatename() {
      this.replycontent = this.templatecontent;
    },
    //酒店回复
    handleSrue() {
      if (!this.replycontent) {
        this.$message.warning("请输入回复内容");
        return;
      }
      const params = {
        commentid: this.rowData.id,
        content: this.replycontent,
        userid: this.rowData.userid,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("comment/commentReply", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("回复成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 评论展示
    handleShow() {
      const params = {
        commentid: this.rowData.id,
        checkStatus: 2,
        userid: this.rowData.userid,
        remark: "",
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("comment/commentShow", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("评论展示成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 评论屏蔽
    handleHide() {
      if (!this.replyremark) {
        this.$message.warning("请输入备注");
        return;
      }
      const params = {
        commentid: this.rowData.id,
        checkStatus: 1,
        userid: this.rowData.userid,
        replyremark: this.replyremark,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("comment/commentHide", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("评论屏蔽成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 评论删除
    handleDelete() {
      if (!this.replyremark) {
        this.$message.warning("请输入备注");
        return;
      }
      const params = {
        commentid: this.rowData.id,
        checkStatus: 3,
        userid: this.rowData.userid,
        replyremark: this.replyremark,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)",
      });
      this.$store
        .dispatch("comment/commentDelete", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("评论删除成功");
            this.gotData();
            this.visible = false;
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //关闭弹窗
    closeDialog() {
      this.replyremark = "";
      this.templatecontent = "";
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

