<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-07-10 16:01:03
 * @LastEditors: Please set LastEditors
 * @Description: 房态管理
 * @FilePath: \mini-admin\src\views\crsroom\index.vue
 -->
<style lang="scss" scoped>
.crsroom-page {
  .date-box {
    text-align: left;
    padding: 15px 15px 33px;
    .checkbox-item {
      margin-bottom: 10px;
    }
  }
  .form-container-flex {
    width: 975px;
    margin: 40px auto 15px;
    display: flex;
    justify-content: space-between;
  }
  .week-table {
    width: 975px;
    margin: 0 auto;
    .week-table-header {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #f1f1f1;
      padding: 0;
      margin: 0;
      .week-table-title {
        width: 105px;
        height: 50px;
        box-sizing: border-box;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;
        text-align: center;
        font-size: 14px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(1),
        &:nth-child(2) {
          width: 120px;
        }
        .week-div {
          font-size: 12px;
          margin-bottom: 3px;
          color: #263140;
        }
        &.week-table-title-active {
          .week-div {
            color: #409eff;
          }
        }
      }
    }
    .week-table-ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #f1f1f1;
      padding: 0;
      margin: 0;
      .week-table-li {
        width: 105px;
        height: 100px;
        box-sizing: border-box;
        border-right: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        box-sizing: border-box;
        padding: 0 8px;
        &:nth-child(1),
        &:nth-child(2) {
          width: 120px;
        }
        .li-dev {
          font-size: 10px;
        }
        .title-color {
          color: #263140;
        }
        .default-color {
          color: #575f6b;
        }
        .colours-color {
          color: #409eff;
        }
        .disabled-color {
          color: #aaafb5;
        }
        .disabled-size {
          font-size: 12px;
        }
        .li-dev {
          margin-bottom: 3px;
        }
        &.active {
          background: #f1f1f1;
        }
        .week-table-li-empty {
          width: 100%;
          height: 100%;
          background: #f1f1f1;
          color: #263140;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container crsroom-page">
    <v-breadcrumb title="渠道管理" title2="房态管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 180px"
                    @change="gotRoomstyleByIdList"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id +'-'+item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房型" prop="roomid">
                  <el-select
                    v-model="searchform.roomid"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 180px"
                    @change="gotRoompriceByIdList"
                  >
                    <el-option
                      v-for="item in roomstyleByIdList"
                      :key="item.id"
                      :label="item.id +'-'+ item.roomname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房价码" prop="roomrate">
                  <el-select
                    v-model="searchform.roomrate"
                    clearable
                    filterable
                    placeholder="请选择"
                    style="width: 180px"
                    @change="gotData"
                  >
                    <el-option
                      v-for="item in roompriceByIdList"
                      :key="item.id"
                      :label="item.roomrate +'-'+item.ratename"
                      :value="item.roomrate"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0" v-show="false">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>房态日历
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container form-container-flex">
          <div class="form-container-item">
            <el-tag type="info" style="cursor: pointer;" @click="handleNextDay(1)">
              <i class="el-icon-arrow-left"></i>
            </el-tag>
            <el-date-picker
              v-model="mydate"
              value-format="yyyy-MM-dd"
              type="date"
              placeholder="选择日期"
              style="width: 140px;margin: 0 6px"
              :clearable="false"
              @change="changeMonth"
            ></el-date-picker>
            <el-tag type="info" style="cursor: pointer;" @click="handleNextDay(2)">
              <i class="el-icon-arrow-right"></i>
            </el-tag>
          </div>
          <div class="form-container-item">
            <el-button type="primary" @click="handleEdit">批量修改</el-button>
          </div>
        </div>
        <div
          class="container-table"
          v-loading="loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <div class="week-table">
            <ul class="week-table-header">
              <li class="week-table-title" :key="1">房型名称</li>
              <li class="week-table-title" :key="2">房价名称</li>
              <li
                :class="['week-table-title', item.today ? 'week-table-title-active' : '']"
                v-for="item in dateData"
                :key="item.value"
              >
                <div class="week-div">周{{item.week}}</div>
                <div class="week-div">{{item.name}}</div>
              </li>
            </ul>
            <ul class="week-table-ul" v-for="(item, index) in tableData" :key="index">
              <li class="week-table-li">
                <div class="li-dev title-color">{{item.roomname}}</div>
                <div class="li-dev default-color">总房量：{{item.roomcount}}</div>
              </li>
              <li class="week-table-li">
                <div class="li-dev title-color">{{item.ratename}}</div>
                <div class="li-dev disabled-color">{{item.description}}</div>
                <div class="li-dev colours-color">库存：{{item.rpcount}}</div>
                <div class="li-dev default-color">可超售：{{item.overbooking}}</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week1Status === 0 }]">
                <div v-show="item.week1Status === 1">
                  <div class="li-dev default-color">{{item.week1Desc ? item.week1Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week1Price ? `￥${item.week1Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week1Status === 0">关房</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week2Status === 0 }]">
                <div v-show="item.week2Status === 1">
                  <div class="li-dev default-color">{{item.week2Desc ? item.week2Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week2Price ? `￥${item.week2Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week2Status === 0">关房</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week3Status === 0 }]">
                <div v-show="item.week3Status === 1">
                  <div class="li-dev default-color">{{item.week3Desc ? item.week3Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week3Price ? `￥${item.week3Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week3Status === 0">关房</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week4Status === 0 }]">
                <div v-show="item.week4Status === 1">
                  <div class="li-dev default-color">{{item.week4Desc ? item.week4Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week4Price ? `￥${item.week4Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week4Status === 0">关房</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week5Status === 0 }]">
                <div v-show="item.week5Status === 1">
                  <div class="li-dev default-color">{{item.week5Desc ? item.week5Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week5Price ? `￥${item.week5Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week5Status === 0">关房</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week6Status === 0 }]">
                <div v-show="item.week6Status === 1">
                  <div class="li-dev default-color">{{item.week6Desc ? item.week6Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week6Price ? `￥${item.week6Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week6Status === 0">关房</div>
              </li>
              <li :class="['week-table-li', { 'active': item.week7Status === 0 }]">
                <div v-show="item.week7Status === 1">
                  <div class="li-dev default-color">{{item.week7Desc ? item.week7Desc : ''}}</div>
                  <div
                    class="li-dev disabled-color disabled-size"
                  >{{item.week7Price ? `￥${item.week7Price}` : ''}}</div>
                </div>
                <div class="week-table-li-empty" v-show="item.week7Status === 0">关房</div>
              </li>
            </ul>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 批量修改 -->
    <el-dialog
      title="批量修改房态"
      :visible.sync="visible"
      width="900px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="80px"
        :inline="true"
        class="operate-form-box"
        :rules="rules"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="开始时间" prop="beginDate">
              <el-date-picker
                v-model="form.beginDate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择开始时间"
                clearable
                @change="handlecheckDate(1)"
                :picker-options="pickerOptionsStart"
                class="form-ipt-width"
                style="width: 220px"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="endDate">
              <el-date-picker
                v-model="form.endDate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择结束时间"
                clearable
                :picker-options="pickerOptionsEnd"
                class="form-ipt-width"
                @change="handlecheckDate(2)"
                style="width: 220px"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label-width="0px" prop="basicDateType">
              <el-select
                v-model="form.basicDateType"
                placeholder="请选择"
                class="form-ipt-width"
                @change="changeDateType"
              >
                <el-option
                  v-for="item in dateTypeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <div
              style="text-align:center;padding: 15px 0 33px;"
              v-show="form.basicDateType === 71234"
            >
              <el-checkbox-group v-model="weekValueList">
                <el-checkbox
                  v-for="item in weekDataList"
                  :key="item.id"
                  :label="item.id"
                >{{item.name}}</el-checkbox>
              </el-checkbox-group>
            </div>
            <div v-show="form.basicDateType === 1234">
              <div class="date-box" v-show="dayDataList.length > 0">
                <el-checkbox-group v-model="dayValueList"  @change="handleCheckedChange">
                  <el-checkbox
                    v-for="(day, index) in dayDataList"
                    :key="index"
                    :label="day.value"
                    class="checkbox-item"
                  >{{day.name}}</el-checkbox>
                </el-checkbox-group>
                <div style="margin-top: 15px">
                  <el-checkbox
                    :indeterminate="isIndeterminate"
                    v-model="checkAll"
                    @change="handleCheckAllChange"
                  >{{checkAll ? '取消全选' : '全选'}}</el-checkbox>
                </div>
              </div>
            </div>
          </el-col>
          <el-col :span="24">
            <el-form-item label="酒店名称" prop="hotelid">
              <el-select
                v-model="form.hotelid"
                clearable
                filterable
                placeholder="请选择酒店"
                style="width:530px"
                @change="gotRoompriceTreenode"
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房型/房价" required label-width="85px">
              <div style="width:530px">
                <el-tree
                  :data="treeData"
                  show-checkbox
                  node-key="id"
                  ref="tree"
                  empty-text="暂无数据，请选择酒店"
                  :props="defaultProps"
                  :default-expand-all="true"
                ></el-tree>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="设置房态" prop="updateType">
              <el-radio-group v-model="form.updateType">
                <el-radio :label="1">开房</el-radio>
                <el-radio :label="2">关房</el-radio>
                <el-radio :label="3">不变</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24" v-show="form.updateType === 3">
            <el-form-item label="库存设置" prop="count">
              <el-input v-model="form.count" clearable placeholder="请输入" style="width:530px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { positive_num } from "@/utils/reg.js";
import calendar from "@/utils/calendar.js";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (value) {
        if (!positive_num.test(value)) {
          callback(new Error("请输入正整字"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    return {
      searchform: {
        hotelid: "",
        roomid: "",
        roomrate: ""
      },
      searchresult: {
        hotelid: "",
        roomid: "",
        roomrate: ""
      },
      mydate: "",
      tableData: [],
      loading: false,
      dateData: [],
      hotelList: [],
      roompriceList: [],
      roomstyleList: [],
      roomstyleByIdList: [],
      roompriceByIdList: [],
      treeData: [],
      defaultProps: {
        children: "children",
        label: "label"
      },
      form: {
        hotelid: "",
        weekArr: [],
        sourceList: [],
        treeArr: [],
        updateType: 1,
        count: "",
        hotelid: "",
        beginDate: "",
        endDate: "",
        basicDateType: 1234
      },
      rules: {
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        updateType: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        count: [{ required: true, validator: checkNum, trigger: "blur" }],
        beginDate: [{ required: true, message: "不能为空", trigger: "change" }],
        endDate: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      visible: false,
      pickerOptionsStart: {
        disabledDate: date => {
          let enddate = this.form.endDate;
          if (enddate) {
            const stdvalue = enddate.replace(/-/g, "/");
            return date.getTime() > new Date(stdvalue).getTime();
          }
        }
      },
      pickerOptionsEnd: {
        disabledDate: date => {
          let startdate = this.form.beginDate;
          if (startdate) {
            const stdvalue = startdate.replace(/-/g, "/");
            return date.getTime() < new Date(stdvalue).getTime();
          }
        }
      },
      dateTypeList: [
        {
          name: "每日",
          id: 1234
        },
        {
          name: "每周",
          id: 71234
        }
      ],
      weekDataList: [
        {
          name: "星期日",
          id: "星期日"
        },
        {
          name: "星期一",
          id: "星期一"
        },
        {
          name: "星期二",
          id: "星期二"
        },
        {
          name: "星期三",
          id: "星期三"
        },
        {
          name: "星期四",
          id: "星期四"
        },
        {
          name: "星期五",
          id: "星期五"
        },
        {
          name: "星期六",
          id: "星期六"
        }
      ],
      weekValueList: [],
      dayDataList: [],
      dayValueList: [],
      festival: {
        lunar: {
          "1-1": "春节",
          "1-15": "元宵节",
          "2-2": "龙头节",
          "5-5": "端午节",
          "7-7": "七夕节",
          "7-15": "中元节",
          "8-15": "中秋节",
          "9-9": "重阳节",
          "10-1": "寒衣节",
          "10-15": "下元节",
          "12-8": "腊八节",
          "12-23": "祭灶节"
        },
        gregorian: {
          "1-1": "元旦",
          "2-14": "情人节",
          "3-8": "妇女节",
          "3-12": "植树节",
          "4-5": "清明节",
          "5-1": "劳动节",
          "5-4": "青年节",
          "6-1": "儿童节",
          "7-1": "建党节",
          "8-1": "建军节",
          "9-10": "教师节",
          "10-1": "国庆节",
          "12-24": "平安夜",
          "12-25": "圣诞节"
        }
      },
      checkAll: false,
      isIndeterminate: false
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.init();
    this.gotHotelList();
    // this.gotRoompriceList();
    // this.gotRoomstyleList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.gotData();
    },
    //列表数据
    gotData() {
      this.loading = true;
      const params = {
        hotelid: this.searchform.hotelid,
        roomid: this.searchform.roomid,
        roomrate: this.searchform.roomrate,
        begindate: this.mydate
      };
      this.$store
        .dispatch("crspirce/roomstatusList", {
          data: params
        })
        .then(result => {
          // console.log(result);
          if (result.code === 0) {
            let tableData = result.data ? result.data : [];
            tableData.map(item => {
              item.week1Status =
                item.week1Status === null ? 3 : parseInt(item.week1Status);
              item.week2Status =
                item.week2Status === null ? 3 : parseInt(item.week2Status);
              item.week3Status =
                item.week3Status === null ? 3 : parseInt(item.week3Status);
              item.week4Status =
                item.week4Status === null ? 3 : parseInt(item.week4Status);
              item.week5Status =
                item.week5Status === null ? 3 : parseInt(item.week5Status);
              item.week6Status =
                item.week6Status === null ? 3 : parseInt(item.week6Status);
              item.week7Status =
                item.week7Status === null ? 3 : parseInt(item.week7Status);
            });
            this.tableData = tableData;
            //渲染数据
            //this.dateData = this.calendarFactory();
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房型全部下拉
    gotRoomstyleList() {
      const params = {};
      this.$store
        .dispatch("hotel/roomstyleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roomstyleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房价码全部下拉
    gotRoompriceList() {
      const params = {};
      this.$store
        .dispatch("hotel/roompriceSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roompriceList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //根据酒店ID查询房型下拉
    gotRoomstyleByIdList() {
      this.roomstyleByIdList = [];
      this.roompriceByIdList = [];
      this.searchform.roomid = "";
      this.searchform.roomrate = "";
      this.gotData();
      if (this.searchform.hotelid) {
        const params = {
          id: this.searchform.hotelid
        };
        this.$store
          .dispatch("hotel/roomstyleSelectById", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roomstyleByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    //根据酒店ID房型ID查询房价码下拉
    gotRoompriceByIdList() {
      this.searchform.roomrate = "";
      this.roompriceByIdList = [];
      this.gotData();
      if (this.searchform.hotelid && this.searchform.roomid) {
        const params = {
          hotelid: this.searchform.hotelid,
          roomid: this.searchform.roomid
        };
        this.$store
          .dispatch("hotel/roompriceSelect", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roompriceByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    //酒店关联房价树节点
    gotRoompriceTreenode() {
      if (this.form.hotelid) {
        const params = {
          id: this.form.hotelid
        };
        this.$store
          .dispatch("crspirce/roompriceTreenode", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              const data = result.data;
              this.treeData = this.hanldeTreeData(data);
            } else {
              this.$message.error(result.msg);
            }
          });
      } else {
        this.treeData = [];
      }
    },
    hanldeTreeData(treedata) {
      treedata.map(item => {
        if (item.isDeleted === 1) {
          item.disabled = true;
        }
        item.label = item.id + "-" + item.label;
        Array.isArray(item.children) && this.hanldeTreeData(item.children);
      });
      return treedata;
    },
    //批量修改
    handleEdit(row) {
      this.visible = true;
    },
    handleEditSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/roomstatusBatchupdate", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("修改成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (
            this.form.basicDateType === 1234 &&
            this.dayValueList.length <= 0
          ) {
            this.$message.warning("请选择修改房态的日期");
            return;
          }
          if (
            this.form.basicDateType === 71234 &&
            this.weekValueList.length <= 0
          ) {
            this.$message.warning("请选择修改房态的星期");
            return;
          }
          const treeArrKeys = this.$refs.tree.getCheckedKeys();
          const reg = /^[1-9][0-9]*\-[1-9][0-9]*\-[1-9][0-9]*$/;
          let treeArr = [];
          treeArrKeys.map(item => {
            reg.test(item) && treeArr.push(item);
          });
          if (treeArr.length <= 0) {
            this.$message.warning("请选择房价码");
            return;
          }
          if (this.form.updateType === 3 && !this.form.count) {
            this.$message.warning("请选择输入库存");
            return;
          }
          const count = this.form.count === "" ? 0 : this.form.count;
          const params = {
            hotelid: this.form.hotelid,
            weekArr: this.weekValueList,
            sourceList: this.dayValueList,
            treeArr: treeArr,
            updateType: this.form.updateType,
            count: count,
            begindate: this.form.beginDate,
            endDate: this.form.endDate,
            basicDateType: this.form.basicDateType + ""
          };
          this.handleEditSave(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        hotelid: "",
        weekArr: [],
        sourceList: [],
        treeArr: [],
        updateType: 1,
        count: "",
        hotelid: "",
        beginDate: "",
        endDate: "",
        basicDateType: 1234
      };
      this.dayValueList = [];
      this.weekValueList = [];
      this.treeData = [];
      this.dayDataList = [];
      this.isIndeterminate = false;
      this.checkAll = false;
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    // 切换日期类型
    changeDateType() {
      if (this.form.basicDateType === 1234) {
        this.form.endDate = "";
        this.dayDataList = [];
        this.weekValueList = [];
      } else {
        this.dayDataList = [];
        this.dayValueList = [];
      }
    },
    // 选择的天数跨度不能超过31天
    handlecheckDate(type) {
      if (
        this.form.beginDate &&
        this.form.endDate &&
        this.form.basicDateType === 1234
      ) {
        const begintime = this.form.beginDate.replace(/-/g, "/");
        const endtime = this.form.endDate.replace(/-/g, "/");
        let dotaltime =
          new Date(endtime).getTime() - new Date(begintime).getTime();
        let day = dotaltime / 1000 / 60 / 60 / 24 + 1;
        if (day > 31) {
          this.$message.warning("选择的天数跨度不能超过31天");
          if (type === 1) {
            this.form.beginDate = "";
          } else {
            this.form.endDate = "";
          }
          this.dayDataList = [];
        } else {
          this.gotDaysList();
        }
      } else {
        this.dayDataList = [];
      }
    },
    // 生产天数
    gotDaysList() {
      if (this.form.endDate && this.form.beginDate) {
        const beginDateArr = this.form.beginDate.split("-");
        let beginyear = beginDateArr[0];
        let beginmonth = beginDateArr[1];
        let beginday = beginDateArr[2];
        const endDateArr = this.form.endDate.split("-");
        let endyear = endDateArr[0];
        let endmonth = endDateArr[1];
        let endday = endDateArr[2];

        const begintime = this.form.beginDate.replace(/-/g, "/");
        const endtime = this.form.endDate.replace(/-/g, "/");
        const dotalbegintime = new Date(begintime).getTime();
        const dotalendtime = new Date(endtime).getTime();
        let dotaltime = dotalendtime - dotalbegintime;
        let day = dotaltime / 1000 / 60 / 60 / 24 + 1;
        let days = Array.from(new Array(day), (val, index) => {
          return this.formatDate(dotalbegintime + index * 24 * 60 * 60 * 1000);
        });
        this.dayDataList = days;
      }
    },
    //日期全选
    handleCheckAllChange(val) {
      let dayValueList = [];
      this.dayDataList.map((item) => {
        dayValueList.push(item.value)
      })
      this.dayValueList = val ? dayValueList : [];
      this.isIndeterminate = false;
    },
    // 监听日期选择
    handleCheckedChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.dayDataList.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.dayDataList.length;
    },
    // 时间戳转时间格式
    formatDate(timestamp) {
      let date = new Date(timestamp);
      const year = date.getFullYear();
      const month = parseInt(date.getMonth()) + 1;
      const day = parseInt(date.getDate());
      const week = date.getDay();
      const weekList = ["日", "一", "二", "三", "四", "五", "六"];
      // console.log(year);
      return {
        name: `${this.fillZero(month)}月${this.fillZero(day)}日`,
        value: `${year}-${this.fillZero(month)}-${this.fillZero(day)}`,
        week: weekList[week]
      };
    },
    // 双位数
    fillZero(num) {
      return parseInt(num) < 10 ? "0" + num : num;
    },
    //初始化当前日期
    init() {
      let date = new Date();
      const year = parseInt(date.getFullYear(), 10);
      const month = parseInt(date.getMonth(), 10) + 1; //月份+1
      const day = parseInt(date.getDate(), 10);
      this.mydate = `${year}-${month}-${day}`;
      this.dateData = this.calendarFactory();
    },
    // 切换日期
    changeMonth() {
      this.dateData = this.calendarFactory();
      this.gotData();
    },
    //前一天/后一天
    handleNextDay(type) {
      const datearr = this.mydate.replace(/-/g, "/");
      const curtime = new Date(datearr).getTime();
      let detltatime = 0;
      if (type === 1) {
        //上一天
        detltatime = curtime - 24 * 60 * 60 * 1000;
      } else {
        //下一天
        detltatime = curtime + 24 * 60 * 60 * 1000;
      }
      const date = new Date(detltatime);
      const year = date.getFullYear();
      const month = parseInt(date.getMonth()) + 1;
      const day = parseInt(date.getDate());
      this.mydate = `${year}-${month}-${day}`;
      this.changeMonth();
    },
    // 获取当前月信息
    calendarFactory() {
      const datestr = this.mydate.replace(/-/g, "/");
      const dotaldatetime = new Date(datestr).getTime();
      let day = 7;
      let days = Array.from(new Array(day), (val, index) => {
        return this.formatDate(dotaldatetime + index * 24 * 60 * 60 * 1000);
      });
      const date = new Date();
      const tomonth = parseInt(date.getMonth()) + 1;
      const today = parseInt(date.getDate());
      const toname = `${this.fillZero(tomonth)}月${this.fillZero(today)}日`;
      days.map((item, index) => {
        if (item.name === toname) {
          item.name = `${item.name}(今天)`;
          item.today = true;
        }
      });
      return days;
    }
  }
};
</script>

