<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-20 15:45:49
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="会员模板配置"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="name" label="会员卡模板名称"></el-table-column>
            <el-table-column prop="category	" label="会员卡类别" width="100">
              <template slot-scope="scope">{{scope.row.category === 1 ? '悦廷会' : '' }}</template>
            </el-table-column>
            <el-table-column prop="isDeleted" label="状态" width="100">
              <template slot-scope="scope">{{scope.row.isDeleted === 0 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="descrip" label="描述"></el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="会员卡类别" prop="category">
              <el-select
                v-model="form.category"
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in typelist"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="会员卡模板名称" prop="name" label-width="130px">
              <el-input v-model="form.name" class="form-ipt-width" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="描述" prop="descrip">
              <el-input
                v-model="form.descrip"
                style="width:500px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="图片地址" prop="url">
              <el-input
                v-model="form.url"
                class="form-ipt-width"
                placeholder="请输入"
                style="width:500px"
                clearable
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="isDeleted">
              <el-radio-group v-model="form.isDeleted">
                <el-radio :label="0">启用</el-radio>
                <el-radio :label="1">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        labelname: "",
        type: ""
      },
      searchresult: {
        labelname: "",
        type: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typelist: [
        {
          id: 1,
          name: "悦廷会"
        }
      ],
      form: {
        descrip: "",
        name: "",
        isDeleted: 1,
        category: 1,
        url: ""
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        url: [{ required: true, message: "不能为空", trigger: "blur" }],
        isDeleted: [{ required: true, message: "不能为空", trigger: "change" }],
        category: [{ required: true, message: "不能为空", trigger: "change" }],
        descrip: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      actionType: 0,
      actionTypeName: ""
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("member/styleList", {
          data: params
        })
        .then(result => {
          // console.log(result);
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const params = {
            descrip: this.form.descrip,
            name: this.form.name,
            isDeleted: this.form.isDeleted,
            category: this.form.category,
            url: this.form.url
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("member/styleSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      this.rowid = row.id
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("member/styleDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              descrip: data.descrip,
              name: data.name,
              isDeleted: data.isDeleted,
              category: data.category,
              url: data.url
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("member/styleUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        descrip: "",
        name: "",
        isDeleted: 1,
        category: 1,
        url: ""
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    }
  }
};
</script>

