<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-31 15:41:43
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.hotel-li {
  padding-top: 20px;
  .title {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
  }
}
.floor-wrapper {
  display: flex;
  font-size: 12px;
  padding: 40px 50px;
  .floor-ul {
    width: 60px;
    .floor-li {
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid #ccc;
      }
      &.active {
        color: #fff;
        background: #e6a23c;
        border: none;
      }
    }
  }
  .room-wrapper {
    border: 1px solid #ccc;
    padding: 20px 30px;
    .room-title {
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  .room-table-wrapper {
    display: flex;
    .room-table {
      width: 600px;
      display: flex;
      flex-wrap: wrap;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      min-height: 30px;
      .room-li {
        width: 60px;
        font-size: 12px;
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
        cursor: pointer;
        &.active {
          width: 60px;
          color: #fff;
          background: #e6a23c;
          border: none;
        }
      }
    }
    .room-btns {
      margin-left: 30px;
    }
  }
}
.floor-wrapper-nodata {
  padding: 40px 50px;
  text-align: center;
}
</style>

<template>
  <div class="page-container order-page">
    <v-breadcrumb
      title="客房服务管理"
      title2="酒店信息设置"
    ></v-breadcrumb>
    <div
      class="content-container"
      style="background: #fff; min-height: 440px"
    >
      <div class="hotel-ul">
        <el-row>
          <el-col :span="24">
            <div class="hotel-li">
              <span class="title">酒店名称:</span>
              <el-select
                v-model="hotelid"
                filterable
                placeholder="请选择"
                style="width: 200px"
                @change="changeHotel"
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </div>
            <div class="hotel-li">
              <span class="title">楼宇:</span>
              <el-button
                v-bind="{ type : buildid === item.buildno ? 'primary' : 'info'}"
                v-for="(item, index) in HotelBuildNo"
                :key="index"
                @click="changeBuild(item.buildno)"
              >{{item.buildno}}</el-button>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="floor-wrapper" v-if="HotelFloor.length">
        <div class="floor-ul">
          <div
            :class="['floor-li', item.floor === floorid ? 'active' : '']"
            v-for="(item, index) in HotelFloor"
            :key="index"
            @click="changeFloor(item.floor)"
          >
            {{item.floor}}层
          </div>
        </div>
        <div class="room-wrapper">
          <div class="room-title">{{buildid}}楼-{{floorid}}层</div>
          <div class="room-table-wrapper">
            <div class="room-table">
              <div
                :class="['room-li', item.roomno === roomid ? 'active' : '']"
                v-for="(item, index) in HotelRoom"
                :key="index"
                @click="changeRoom(item)"
              >
                {{item.roomno}}
              </div>
            </div>
            <div class="room-btns" v-if="roomrow.roomno">
              <el-button
                type="primary"
                @click="handlePrint"
              >打印房间二维码</el-button>
            </div>
          </div>
        </div>
      </div>
      <div class="floor-wrapper-nodata" v-if="!HotelFloor.length" >暂无数据,请联系管理员</div>
    </div>
    <!-- 打印房间二维码 -->
    <el-dialog
      :close-on-click-modal="false"
      title="打印房间二维码"
      :visible.sync="visible"
      width="400px"
      height="400px"
      @close="closeDialog"
    >

      <img
        :src="url"
        style="width: 100px;height: 100px;display:block;margin: 0 auto"
      />
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px;">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave"
          >下 载</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      hotelid: "",
      hotelList: [],
      buildid: "",
      HotelBuildNo: [],
      floorid: "",
      HotelFloor: [],
      roomid: "",
      HotelRoom: [],
      roomrow: {},
      visible: false,
      url: ""
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    // 酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.hotelList = data;
            if (data.length > 0) {
              this.hotelid = data[0].id;
              this.gotHotelBuildNo();
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 切换酒店
    changeHotel() {
      this.buildid = ''
      this.floorid = ''
      this.HotelFloor = []
      this.roomid = ''
      this.HotelRoom = []
      this.roomrow = {}
      this.gotHotelBuildNo();
    },
    // 根据酒店ID查询楼号
    gotHotelBuildNo() {
      const params = {
        id: this.hotelid,
      };
      this.$store
        .dispatch("service/hotelbuildno", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.HotelBuildNo = data;
            if (data.length > 0) {
              this.buildid = data[0].buildno;
              this.gotHotelFloor();
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 切换楼号
    changeBuild(value) {
      this.buildid = value;
      this.floorid = ''
      this.roomid = ''
      this.HotelRoom = []
      this.roomrow = {}
      this.gotHotelFloor();
    },
    // 根据酒店ID 楼号 查询楼层
    gotHotelFloor() {
      const params = {
        hotelid: this.hotelid,
        buildno: this.buildid,
      };
      this.$store
        .dispatch("service/hotelfloor", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            if (data.length > 0) {
              this.floorid = data[0].floor;
              this.gotHotelRoom();
            }
            let HotelFloor = [];
            data.forEach((element) => {
              HotelFloor.unshift(element);
            });
            this.HotelFloor = HotelFloor;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 切换楼层
    changeFloor(value) {
      this.floorid = value;
      this.roomid = ''
      this.roomrow = {}
      this.gotHotelRoom();
    },
    // 根据酒店ID 楼号 楼层 查询房间号
    gotHotelRoom() {
      const params = {
        hotelid: this.hotelid,
        buildno: this.buildid,
        floor: this.floorid,
      };
      this.$store
        .dispatch("service/hotelroomno", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.HotelRoom = data;
            if (data.length > 0) {
              this.roomid = data[0].roomno;
              this.roomrow = data[0];
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 切换房间
    changeRoom(item) {
      this.roomid = item.roomno;
      this.roomrow = item;
    },
    handlePrint() {
      if (!this.roomrow.roomno) {
        return
      }
      const params = {
        hotelcode: this.roomrow.hotelcode,
        // buildno: this.roomrow.buildno,
        // floor: this.roomrow.floor,
        roomno: this.roomrow.roomno,
        page: 'pages/service/index'
      };
       const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/hotelqrcode", {
          data: params
        })
        .then((result) => {
          loading.close();
          const blob = new Blob([result]);
          const fileName = `${this.roomrow.hotelcode}-${this.roomrow.roomno}.png`;
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        
        }).catch((error) => {
          console.log(error)
        });
    },
    handleSave() {
      let alink = document.createElement("a");
      alink.download = this.url;
      alink.href = this.url;
      alink.click();
    },
    closeDialog () {
      this.url = ''
    }
  },
};
</script>

