<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-09 14:04:26
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="消费券" title2="消费券列表"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="活动名称" prop="activeid">
                  <el-select
                    v-model="searchform.activeid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in ticketList"
                      :key="item.id"
                      :label="item.id +'-'+ item.activename"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id +'-'+ item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="券号" prop="codeno" label-width="68px">
                  <el-input
                    v-model="searchform.codeno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="danger" @click="handleAdd">批量删除</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @selection-change="handleSelectionChange"
          >
            <el-table-column type="selection" width="55" :selectable="checkboxT"></el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="activename" label="活动名称"></el-table-column>
            <el-table-column prop="codeno" label="券号"></el-table-column>
            <el-table-column prop="hotelName" label="渠道名称">
              <template
                slot-scope="scope"
              >
                <span>{{scope.row.hotelid === 0 ? scope.row.salename : scope.row.hotelName}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="状态">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '待领用' : scope.row.status === 2 ? '已领用' : ''}}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
            <el-table-column label="操作" width="100" align="center" fixed="right">
              <template slot-scope="scope">
                <el-button
                  style="color: red"
                  type="text"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.$index, scope.row)"
                  v-if="scope.row.status === 1"
                >删除</el-button>
                <span v-if="scope.row.status === 2">已领用</span>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        codeno: "",
        status: "",
        activeid: "",
        hotelid: "",
      },
      searchresult: {
        codeno: "",
        status: "",
        activeid: "",
        hotelid: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      rowData: {},
      statusList: [
        {
          id: 1,
          name: "待领用",
        },
        {
          id: 2,
          name: "已领用",
        },
      ],
      hotelList: [],
      ticketList: [],
      multipleSelection: [],
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {},
  created() {
    // this.gotData();
    this.gotHotelList();
    this.gotTicketActivity();
  },
  mounted() {},
  methods: {
    spaceToNewline(str) {
      let tmp = str;
      try {
        tmp = tmp.replace(/\r\n/g, "<br />");
        tmp = tmp.replace(/\n/g, "<br />");
      } catch (e) {
        return str;
      }
      return tmp;
    },
    // 查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },

    // 重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },

    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        codeno: this.searchresult.codeno,
        status: this.searchresult.status,
        activeid: this.searchresult.activeid,
        hotelid: this.searchresult.hotelid,
      };
      this.loading = true;
      this.$store
        .dispatch("ticket/TicketList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    checkboxT (row, rowIndex) {
      if (row.status === 2) {
        return false
      }
      return true
    },
    // 批量选择
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 批量删除
    handleAdd() {
      if (this.multipleSelection.length <= 0) {
        this.$message.warning("请选择消费券");
        return;
      }
      let listId = [];
      this.multipleSelection.map((item) => {
        listId.push(item.id);
      });
      this.$confirm("确定要批量删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit2(listId);
        })
        .catch(() => {});
    },
    deleteSubmit2(listId) {
      const dataparams = {
        id: listId,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketListDeleteAll", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    handleDelete(index, row) {
      this.rowData = row;
      this.$confirm("确定要删除吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.deleteSubmit();
        })
        .catch(() => {});
    },
    deleteSubmit() {
      const dataparams = {
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("ticket/TicketListDelete", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("删除成功");
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //活动下拉
    gotTicketActivity() {
      const params = {};
      this.$store
        .dispatch("ticket/ticketActivitySelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.ticketList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

