<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:43:30
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<template>
  <div class="page-container">
    <v-breadcrumb title="酒店基础管理" title2="房价码管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="房价码" prop="roomrate">
                  <el-select
                    v-model="searchform.roomrate"
                    filterable
                    placeholder="请选择"
                    style="width: 200px"
                  >
                    <el-option
                      v-for="item in retenameList"
                      :key="item.id"
                      :label="item.roomrate + '-' + item.ratename"
                      :value="item.roomrate"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="pmsRoomrate" label="PMS房价码"></el-table-column>
            <el-table-column prop="roomrate" label="房价码"></el-table-column>
            <el-table-column prop="ratename" label="房价码名称"></el-table-column>
            <el-table-column prop="bookingtype" label="预定类型">
              <template slot-scope="scope">{{scope.row.bookingtype === 1 ? '预付' : '现付' }}</template>
            </el-table-column>
            <el-table-column prop="description" label="房价码描述"></el-table-column>
            <el-table-column prop="sort" label="优先级"></el-table-column>
            <el-table-column prop="effectiveTime" label="有效期" ></el-table-column>
            <el-table-column prop="status" label="是否启用">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="房价码名称" prop="ratename">
              <el-input v-model="form.ratename" clearable placeholder="请输入" style="width:780px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房价码" prop="roomrate">
              <el-input v-model="form.roomrate" :disabled="actionType === 2" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
            <el-form-item label="PMS房价码" prop="pmsRoomrate">
              <el-input
                v-model="form.pmsRoomrate"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房价码类别" prop="type">
              <el-select v-model="form.type" placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="优先级" prop="sort">
              <el-input v-model="form.sort" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="有效期" prop="valid">
              <el-radio-group v-model="form.valid" @change="handleChangeValid">
                <el-radio :label="1">永久有效</el-radio>
                <el-radio :label="0">固定时间</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="时间范围" style="margin-bottom: 0" required v-show="form.valid === 0">
              <el-form-item label-width="0px" prop="begindate">
                <el-date-picker
                  style="width: 150px"
                  v-model="form.begindate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px 0 5px;">至</span>
              <el-form-item label-width="0px" prop="enddate">
                <el-date-picker
                  style="width: 150px"
                  v-model="form.enddate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  clearable
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>

          
          <el-col :span="24">
            <el-form-item label="预定类型" prop="bookingtype">
              <el-radio-group v-model="form.bookingtype">
                <el-radio :label="1">预付</el-radio>
                <el-radio :label="2">现付</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="早餐数量" prop="breakfastcount">
              <el-input
                v-model="form.breakfastcount"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
              <span style="padding-left: 10px; font-size: 12px;">例如：数量为0,表示无早餐;数量为2, 表示双早餐</span>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="0">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="房价码说明" prop="description">
              <el-input
                v-model="form.description"
                style="width:780px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { positive_num, positive_num_zero, decimals_num } from "@/utils/reg.js";
export default {
  data() {
    const checkNum = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!positive_num.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    const checkFastNum = (rule, value, callback) => {
      if (!positive_num_zero.test(value)) {
        callback(new Error("请输入非负整数"));
      } else {
        callback();
      }
    };
    const checkDate = (rule, value, callback) => {
      if (this.form.valid === 0) {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        callback();
      } else {
        callback();
      }
    };
    return {
      searchform: {
        roomrate: ""
      },
      searchresult: {
        roomrate: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        begindate: "",
        enddate: "",
        bookingtype: 2,
        breakfastcount: "",
        description: "",
        ratename: "",
        roomrate: "",
        sort: "",
        status: 1,
        type: 1,
        valid: 1,
        pmsRoomrate: ""
      },
      rules: {
        pmsRoomrate: [{ required: true, message: "不能为空", trigger: "blur" }],
        roomrate: [{ required: true, message: "不能为空", trigger: "blur" }],
        ratename: [{ required: true, message: "不能为空", trigger: "blur" }],
        sort: [{ required: true, validator: checkNum, trigger: "blur" }],
        valid: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
        bookingtype: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }],
        breakfastcount: [
          { required: true, validator: checkFastNum, trigger: "blur" }
        ],
        begindate: [
          { required: true, validator: checkDate, trigger: "change" }
        ],
        enddate: [{ required: true, validator: checkDate, trigger: "change" }]
      },
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      retenameList: [],
      typeList: [
        {
          id: 1,
          name: "集团"
        },
        {
          id: 2,
          name: "门店"
        }
      ]
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
    this.getroompriceselect();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        ratename: "",
        roomrate: this.searchresult.roomrate,
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/roompriceList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      //详情
      this.$store
        .dispatch("hotel/hotelPriceDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const begindate =
              data.begindate && data.valid === 0
                ? data.begindate.split(" ")[0]
                : "";
            const enddate =
              data.enddate && data.valid === 0
                ? data.enddate.split(" ")[0]
                : "";

            this.form = {
              begindate: begindate,
              enddate: enddate,
              bookingtype: data.bookingtype,
              breakfastcount: data.breakfastcount,
              description: data.description,
              ratename: data.ratename,
              roomrate: data.roomrate,
              sort: data.sort,
              status: data.status,
              type: data.type,
              valid: data.valid,
              pmsRoomrate: data.pmsRoomrate
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const begindate = this.form.begindate
            ? this.form.begindate + " 00:00:00"
            : "";
          const enddate = this.form.enddate
            ? this.form.enddate + " 00:00:00"
            : "";

          const params = {
            begindate: begindate,
            enddate: enddate,
            bookingtype: this.form.bookingtype,
            breakfastcount: this.form.breakfastcount,
            description: this.form.description,
            ratename: this.form.ratename,
            roomrate: this.form.roomrate,
            sort: this.form.sort,
            status: this.form.status,
            type: this.form.type,
            valid: this.form.valid,
            pmsRoomrate: this.form.pmsRoomrate
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/hotelPriceSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/hotelPriceSave", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        begindate: "",
        enddate: "",
        bookingtype: 2,
        breakfastcount: "",
        description: "",
        ratename: "",
        roomrate: "",
        sort: "",
        status: 1,
        type: 1,
        valid: 1,
        pmsRoomrate: ""
      };
    },
    // 切换有效期
    handleChangeValid() {
      this.form.begindate = "";
      this.form.enddate = "";
    },
    //获取房价码下拉框
    getroompriceselect() {
      this.$store.dispatch("hotel/roompriceSelect").then(result => {
        if (result.code === 0) {
          this.retenameList = result.data;
        } else {
          this.$message.error(result.msg);
        }
      });
    }
  }
};
</script>

