<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:37:15
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 220px;
  }
}
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="优惠券管理" title2="优惠券应用"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="优惠券名称" prop="couponname">
                  <el-input
                    v-model="searchform.couponname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="优惠券来源">
                  <el-select
                    v-model="searchform.sourceName"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in sourceList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.name"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="使用方式" prop="useType">
                  <el-select
                    v-model="searchform.useType"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.id +'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="66" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="couponname" label="优惠券名称">
              <template slot-scope="scope">
                <div>
                  <el-popover trigger="hover" placement="top">
                    <ul class="table-hover-ul">
                      <li class="table-hover-li">
                        <span class="hover-li-name">券名称:</span>
                        <div class="hover-li-content">{{ scope.row.couponname }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">面值:</span>
                        <div class="hover-li-content">{{ scope.row.couponvalue }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">库存数量:</span>
                        <div class="hover-li-content">{{ scope.row.quantity }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">已领数量:</span>
                        <div class="hover-li-content">{{ scope.row.receivequantity }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">券来源:</span>
                        <div class="hover-li-content">{{ scope.row.sourceName }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">有效期:</span>
                        <div class="hover-li-content">{{ scope.row.vaildtype }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">使用有效天数:</span>
                        <div class="hover-li-content">{{ scope.row.vaildLength }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">最低消费:</span>
                        <div class="hover-li-content">{{ scope.row.conditionprice }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">使用方式:</span>
                        <div
                          class="hover-li-content"
                        >{{ scope.row.useType === 1 ? '通用' : scope.row.useType === 2 ? '会员商城' : scope.row.useType === 3 ? '餐饮商城' : scope.row.useType === 4 ? '客房预订' : '' }}</div>
                      </li>
                      <li class="table-hover-li">
                        <span class="hover-li-name">优惠券类型:</span>
                        <div
                          class="hover-li-content"
                        >{{ scope.row.coupontype === 1 ? '满减券' : scope.row.coupontype === 4 ? '功能券'  : '' }}</div>
                      </li>
                    </ul>
                    <span slot="reference" style="cursor: pointer; padding: 0 10px">
                      <div style="color:#409EFF">{{ scope.row.couponname }}</div>
                    </span>
                  </el-popover>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="coupontype" label="优惠券类型">
              <template slot-scope="scope">
                <span v-if="scope.row.coupontype===1">满减券</span>
                <span v-else-if="scope.row.coupontype===4">功能券</span>
              </template>
            </el-table-column>
            <el-table-column prop="sourceName" label="券来源"></el-table-column>
            <el-table-column prop="status" label="状态">
              <template slot-scope="scope">
                <span>{{scope.row.status === 0 ? '启用' : '未启用'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="useType" label="使用方式">
              <template slot-scope="scope">
                <span v-if="scope.row.useType===1">通用</span>
                <span v-else-if="scope.row.useType===2">会员商城</span>
                <span v-else-if="scope.row.useType===3">餐饮商城</span>
                <span v-else-if="scope.row.useType===4">客房预订</span>
              </template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 & 编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      :close-on-click-modal="false"
      width="800px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        class="operate-form-box"
        label-width="120px"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="优惠券名称" prop="couponname">
              <el-input v-model="form.couponname" clearable placeholder="请输入" style="width: 570px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="优惠券类型" prop="coupontype">
              <el-select
                v-model="form.coupontype"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in typeListQuans"
                  :key="item.id"
                  :label="item.id+'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="使用方式" prop="useType">
              <el-select
                v-model="form.useType"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.id+'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="优惠券来源" prop="sourceType">
              <el-select
                v-model="form.sourceType"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in sourceList"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="优惠券面值" prop="couponvalue">
              <el-input
                v-model="form.couponvalue"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="最低消费金额" prop="conditionprice">
              <el-input
                v-model="form.conditionprice"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item label="库存数量" prop="quantity">
              <el-input v-model="form.quantity" clearable placeholder="请输入" class="form-ipt-width"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="发券有效期" style="margin-bottom: 0" required>
              <el-form-item label-width="0px" prop="validStartdate">
                <el-date-picker
                  style="width: 150px"
                  v-model="form.validStartdate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择开始时间"
                  clearable
                  :disabled="form.vaildtype"
                ></el-date-picker>
              </el-form-item>
              <span style="margin: 0 13px 0 5px;">至</span>
              <el-form-item label-width="0px" prop="validEnddate">
                <el-date-picker
                  style="width: 150px"
                  v-model="form.validEnddate"
                  value-format="yyyy-MM-dd"
                  type="date"
                  placeholder="选择截至时间"
                  :disabled="form.vaildtype"
                  clearable
                ></el-date-picker>
              </el-form-item>
              <el-checkbox
                @change="handleCheckVaildtype"
                v-model="form.vaildtype"
                style="margin-left: 20px"
              >长期有效</el-checkbox>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="使用有效天数" prop="vaildLength">
              <el-input
                v-model="form.vaildLength"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item label="每次发放张量" prop="peoplelimit">
              <el-input
                v-model="form.peoplelimit"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="使用渠道" prop="useChannel">
              <el-select
                v-model="form.useChannel"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in cannelList"
                  :key="item.id"
                  :label="item.id + '-' + item.channelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="功能类型" prop="functype">
              <el-select
                v-model="form.functype"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in typeListQuan"
                  :key="item.id"
                  :label="item.id+'-'+item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="0">启用</el-radio>
                <el-radio :label="1">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="使用须知" prop="usedesc">
              <el-input
                type="textarea"
                placeholder="请输入内容"
                v-model="form.usedesc"
                :rows="10"
                resize="none"
                style="width: 570px"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import {
  positive_num,
  positive_num_zero,
  decimals_num,
  includezero
} from "@/utils/reg.js";
export default {
  data() {
    var checkNum = (rule, value, callback) => {
      if (!positive_num.test(value)) {
        callback(new Error("请输入正整数"));
      } else {
        callback();
      }
    };
    var checkNumZero = (rule, value, callback) => {
      if (!includezero.test(value)) {
        callback(new Error("请输入非负数"));
      } else {
        callback();
      }
    };

    return {
      searchform: {
        couponname: "",
        useType: "",
        status: "",
        sourceName: ""
      },
      searchresult: {
        couponname: "",
        useType: "",
        status: "",
        sourceName: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      // 券来源名称
      sourceList: [],
      // 使用方式
      typeList: [
        { id: 1, name: "通用" },
        { id: 2, name: "会员商城" },
        { id: 3, name: "餐饮商城" },
        { id: 4, name: "客房预订" }
      ],
      // 渠道下拉
      cannelList: [],

      statusList: [
        { id: 0, name: "启用" },
        { id: 1, name: "未启用" }
      ],
      //功能类型
      typeListQuan: [
        { id: 1, name: "优惠券" },
        { id: 2, name: "打折券" },
        { id: 3, name: "红包" }
      ],
      // 优惠卷类型
      typeListQuans: [
        { id: 1, name: "满减券" },
        // { id: 2, name: "折扣券" },
        // { id: 3, name: "免房券" },
        { id: 4, name: "功能券" },
        // { id: 5, name: "餐饮券" }
      ],
      visible: false,
      form: {
        couponname: "",
        functype: "",
        sourceType: "",
        couponvalue: "",
        conditionprice: "",
        quantity: "",
        vaildLength: "",
        validStartdate: "",
        validEnddate: "",
        vaildtype: false,
        useChannel: "",
        useType: "",
        peoplelimit: "",
        usedesc: "",
        status: 0,
        coupontype: ''
      },
      rules: {
        couponname: [{ required: true, message: "不能为空", trigger: "blur" }],
        functype: [{ required: true, message: "不能为空", trigger: "blur" }],
        sourceType: [{ required: true, message: "不能为空", trigger: "blur" }],
        couponvalue: [
          { required: true, validator: checkNumZero, trigger: "blur" }
        ],
        conditionprice: [
          { required: true, validator: checkNumZero, trigger: "blur" }
        ],
        vaildLength: [{ required: true, validator: checkNum, trigger: "blur" }],
        peoplelimit: [{ required: true, validator: checkNum, trigger: "blur" }],
        vaildtype: [{ required: true, message: "不能为空", trigger: "blur" }],
        useChannel: [{ required: true, message: "不能为空", trigger: "blur" }],
        useType: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        usedesc: [{ required: true, message: "不能为空", trigger: "blur" }],
        quantity: [{ required: true, validator: checkNumZero, trigger: "blur" }],
        coupontype: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {}
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
    this.getchannelselect();
    this.getcouponSource();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        couponname: this.searchresult.couponname,
        useType: this.searchresult.useType,
        status: this.searchresult.status,
        sourceName: this.searchresult.sourceName
      };
      this.loading = true;
      //获取数据
      this.$store
        .dispatch("coupon/couponList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    // 编辑
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("coupon/couponDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const vaildtype = data.vaildtype === 1 ? true : false;
            const validStartdate =
              data.validStartdate && data.vaildtype === 0
                ? data.validStartdate.split(" ")[0]
                : "";
            const validEnddate =
              data.validEnddate && data.vaildtype === 0
                ? data.validEnddate.split(" ")[0]
                : "";

            this.form = {
              couponname: data.couponname,
              functype: data.functype,
              sourceType: data.sourceType,
              couponvalue: data.couponvalue,
              conditionprice: data.conditionprice,
              quantity: data.quantity,
              vaildLength: data.vaildLength,
              validStartdate: validStartdate,
              validEnddate: validEnddate,
              vaildtype: vaildtype,
              useChannel: data.useChannel,
              useType: data.useType,
              peoplelimit: data.peoplelimit,
              usedesc: data.usedesc,
              status: data.status,
              coupontype: data.coupontype
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const vaildtype = this.form.vaildtype ? 1 : 0;
          const validStartdate = this.form.validStartdate
            ? this.form.validStartdate + " 00:00:00"
            : "";
          const validEnddate = this.form.validEnddate
            ? this.form.validEnddate + " 00:00:00"
            : "";
          if (!this.form.vaildtype) {
            if (!this.form.validStartdate || !this.form.validEnddate) {
              this.$message.error("请选择发券有效期");
              return;
            }
          }
          let params = {
            couponname: this.form.couponname,
            functype: this.form.functype,
            sourceType: this.form.sourceType,
            couponvalue: this.form.couponvalue,
            conditionprice: this.form.conditionprice,
            quantity: this.form.quantity,
            vaildLength: this.form.vaildLength,
            validStartdate: validStartdate,
            validEnddate: validEnddate,
            vaildtype: vaildtype,
            useChannel: this.form.useChannel,
            useType: this.form.useType,
            peoplelimit: this.form.peoplelimit,
            usedesc: this.form.usedesc,
            status: this.form.status,
            coupontype: this.form.coupontype
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/couponAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/couponUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        couponname: "",
        functype: "",
        sourceType: "",
        couponvalue: "",
        conditionprice: "",
        quantity: "",
        vaildLength: "",
        validStartdate: "",
        validEnddate: "",
        vaildtype: false,
        useChannel: "",
        useType: "",
        peoplelimit: "",
        usedesc: "",
        status: 0,
        coupontype: ""
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleCheckVaildtype() {
      this.form.validStartdate = "";
      this.form.validEnddate = "";
    },
    hanldeDateTime(row) {
      if (row.vaildtype === 1) {
        return "长期有效";
      } else if (row.validStartdate && row.validEnddate) {
        return (
          row.validStartdate.split(" ")[0] +
          "~" +
          row.validEnddate.split(" ")[0]
        );
      } else {
        return "";
      }
    },
    //获取渠道下拉框
    getchannelselect() {
      this.$store.dispatch("crspirce/channelListSelect").then(result => {
        if (result.code === 0) {
          this.cannelList = result.data;
        } else {
          this.$message.error(result.msg);
        }
      });
    },
    //获取券来源
    getcouponSource() {
      this.$store.dispatch("coupon/sourceSelect").then(result => {
        if (result.code === 0) {
          this.sourceList = result.data;
        } else {
          this.$message.error(result.msg);
        }
      });
    }
  }
};
</script>

