<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-19 17:47:15
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
</style>

<template>
  <div class="page-container">
    <v-breadcrumb
      title="客房服务管理"
      title2="回复模板"
    ></v-breadcrumb>
    <div class="content-container">
      <el-card
        class="search-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item
                  label="模板类型"
                  prop="type"
                >
                  <el-select
                    v-model="searchform.type"
                    filterable
                    placeholder="请选择"
                    style="width: 200px"
                    clearable
                  >
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item
                  label="酒店筛选"
                  prop="hotelid"
                >
                  <el-select
                    v-model="searchform.hotelid"
                    filterable
                    placeholder="请选择"
                    style="width: 200px"
                    clearable
                  >
                    <el-option
                      v-for="item in hotellist"
                      :key="item.id"
                      :label="item.id +'-'+ item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button
                    type="primary"
                    @click="handleSearch"
                  >查询</el-button>
                  <el-button
                    type="info"
                    @click="resetSearch('searchform')"
                  >重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button
            type="primary"
            @click="handleAdd"
          >新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="100"
              align="center"
              fixed="left"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="ID"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="code"
              label="编码"
              width="80"
            ></el-table-column>
            <el-table-column
              prop="name"
              label="模块名称"
              width="200"
            ></el-table-column>
            <el-table-column
              prop="hotelname"
              label="酒店名称"
              width="200"
            ></el-table-column>
            <el-table-column
              prop="content"
              label="模板内容"
            ></el-table-column>
            <el-table-column
              prop="status"
              label="类型"
              width="80"
            >
              <template slot-scope="scope">{{scope.row.type === 1 ? '回复评论' : scope.row.type === 2 ? '提交服务' :  scope.row.type === 3 ? '回复建议' : ''}}</template>
            </el-table-column>
            <el-table-column
              prop="status"
              label="状态"
              width="80"
            >
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="620px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="80px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="模板名称"
              prop="name"
            >
              <el-input
                v-model="form.name"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
            <el-form-item
              label="模板编码"
              prop="code"
            >
              <el-input
                v-model="form.code"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="选择酒店"
              prop="hotelid"
            >
              <el-select
                v-model="form.hotelid"
                filterable
                placeholder="请选择"
                style="width: 180px"
                clearable
              >
                <el-option
                  v-for="item in hotellist"
                  :key="item.id"
                  :label="item.id +'-'+ item.hotelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item
              label="模板类型"
              prop="type"
            >
              <el-select
                v-model="form.type"
                filterable
                placeholder="请选择"
                style="width: 180px"
                clearable
              >
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="模板内容"
              prop="content"
            >
              <el-input
                v-model="form.content"
                style="width:450px"
                placeholder="请输入"
                clearable
                :rows="5"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="状态"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <div style="text-align: center; margin-top: 10px">
          <el-button
            size="mini"
            @click="visible = false"
          >取 消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSave('form')"
          >确 定</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        type: "",
      },
      searchresult: {
        type: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        code: "",
        content: "",
        hotelid: "",
        status: 1,
        name: "",
        type: "",
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        code: [{ required: true, message: "不能为空", trigger: "blur" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        content: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        type: [{ required: true, message: "不能为空", trigger: "change" }],
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      hotellist: [],
      typeList: [
        {
          id: 1,
          name: "回复评论模板",
        },
        {
          id: 2,
          name: "提交服务模板",
        },
        {
          id: 3,
          name: "回复建议模板",
        },
      ],
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
    }),
  },
  created() {
    this.gotData();
    this.gotHotelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      let hotelIdList = [];
      if (this.searchresult.hotelid) {
        hotelIdList.push(this.searchresult.hotelid)
      } else {
        hotelIdList = this.userinfo.roleHotelId
      }
      const params = {
        type: this.searchresult.type,
        hotelid: this.searchresult.hotelid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: hotelIdList
      };
      this.loading = true;
      this.$store
        .dispatch("service/replyList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },

    // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id,
      };
      //详情
      this.$store
        .dispatch("service/replyDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            if (data) {
              this.form = {
                name: data.name,
                hotelid: data.hotelid,
                content: data.content,
                status: parseInt(data.status),
                code: data.code,
                type: data.type
              };
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let params = {
            name: this.form.name,
            hotelid: this.form.hotelid,
            content: this.form.content,
            status: this.form.status,
            code: this.form.code,
            type: this.form.type
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/replySave", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/replyUpdate", {
          data: dataparams,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        name: "",
        hotelid: "",
        content: "",
        status: 1,
        code: "",
        type: ""
      };
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId,
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotellist = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>


