<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-12-10 15:37:25
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.order-page {
  .order-content {
    padding: 30px 10px;
    .order-content-title {
      color: #409eff;
      font-size: 14px;
    }
    .order-content-ul {
      padding: 0 10px;
      margin-bottom: 8px;
      &.order-ul-border {
        border-bottom: 1px solid #f4f4f4;
      }
      .order-content-li {
        display: flex;
        padding: 0;
        margin: 0;
        .order-content-li-item {
          flex: 1;
          font-size: 13px;
          margin-bottom: 8px;
          color: #303133;
          span {
            color: #909399;
            font-size: 12px;
          }
        }
      }
    }
    .room-price-ul {
      display: flex;
      flex-wrap: wrap;
      width: 720px;
      .room-price-item {
        width: 120px;
        border: 1px solid #f4f4f4;
        box-sizing: border-box;
        .title {
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-bottom: 1px solid #f4f4f4;
          font-size: 12px;
          box-sizing: border-box;
        }
        .price {
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 12px;
          box-sizing: border-box;
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container order-page">
    <v-breadcrumb title="订单管理" title2="票券核销"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <!-- 默认 -->
            <el-row v-show="!isspread">
              <el-col :span="24">
                <el-form-item label="订单号" prop="orderid" label-width="68px">
                  <el-input
                    v-model="searchform.orderid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="券码" prop="ticketno">
                  <el-input
                    v-model="searchform.ticketno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                
                <el-form-item label="手机号" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(true)">
                    展开
                    <i class="el-icon-arrow-down"></i>
                  </span>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- 展开 -->
            <el-row v-show="isspread">
              <el-col :span="24">
                <el-form-item label="订单号" prop="orderid" label-width="68px">
                  <el-input
                    v-model="searchform.orderid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="券码" prop="ticketno">
                  <el-input
                    v-model="searchform.ticketno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="手机号码" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="票券状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id+'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="下单时间" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="createDateBegin">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.createDateBegin"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择开始时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 19px 0 6px">至</span>
                  <el-form-item label-width="0px" prop="createDateEnd">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.createDateEnd"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择截至时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item label="票券名称" prop="name">
                  <el-input
                    v-model="searchform.name"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="核销时间" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="usedateBegin">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.usedateBegin"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择开始时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 19px 0 6px">至</span>
                  <el-form-item label-width="0px" prop="usedateEnd">
                    <el-date-picker
                      class="search-input"
                      v-model="searchform.usedateEnd"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      type="datetime"
                      placeholder="选择截至时间"
                      clearable
                      style="width: 160px"
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <div style="text-align:right">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(false)">
                    收起
                    <i class="el-icon-arrow-up"></i>
                  </span>
                </div>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleCheck(1)">消费核销</el-button>
          <el-button type="warning" @click="handleCheck(2)" v-if="load===2" v-show="showButton('cancelcheck')" >退款核销</el-button>
          <el-button type="danger" @click="handleCheck(3)" v-if="load===2" v-show="showButton('expirecheck')">过期票券核销</el-button>
          <el-button type="primary" @click="handleExport">导出</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @selection-change="handleSelectionChange"
          >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="id" label="票券ID" width="70"></el-table-column>
            <el-table-column prop="enddate" label="票券信息" width="160">
              <template slot-scope="scope">
                <div>消费码: {{scope.row.ticketno}}</div>
                <div>开始:{{scope.row.startdate ? scope.row.startdate.split(' ')[0] : scope.row.startdate}}</div>
                <div>结束:{{scope.row.enddate ? scope.row.enddate.split(' ')[0] : scope.row.enddate}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="订单信息">
              <template slot-scope="scope">
                <div>订单号: {{scope.row.orderid}}</div>
                <div>商品ID:{{scope.row.goodsid}}</div>
                <div>规格ID:{{scope.row.specid}}</div>
                <div>票券:{{scope.row.goodsname}}</div>
              </template>
            </el-table-column>

            <el-table-column prop="status" label="票券状态" width="70">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '未使用' : scope.row.status === 2 ? '已使用' : scope.row.status === 3 ? '已作废' : scope.row.status === 4 ? '已过期	' : ''}}</template>
            </el-table-column>
            <el-table-column prop="id" label="支付信息">
              <template slot-scope="scope">
                <div>现价:{{scope.row.price}}</div>
                <div>总价:{{scope.row.orderamount}}</div>
                <div>优惠抵扣:{{scope.row.discountAmount}}</div>
                <div>实际支付:{{scope.row.amount}}</div>
                <div>支付方式:{{parseInt(scope.row.paymode) === 1 ? '微信支付' : parseInt(scope.row.paymode) === 3 ? '余额支付' : parseInt(scope.row.paymode) === 4 ? '储值卡支付' : ''}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="phone" label="下单人" width="148">
              <template slot-scope="scope">
                <div>下单人:{{scope.row.orderName}}</div>
                <div>手机号:{{scope.row.phone}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="createDate" label="下单时间" width="91"></el-table-column>
            <el-table-column prop="usename" label="核销人" width="70"></el-table-column>
            <el-table-column prop="usedate" label="核销时间" width="91"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>
    <!-- 添加备注 -->
    <el-dialog
      title="添加备注"
      :visible.sync="addremarkvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialogAddremark"
    >
      <el-form :inline="true">
        <el-form-item label="添加备注" required>
          <el-input
            v-model="addremark"
            type="textarea"
            clearable
            placeholder="请输入"
            style="width: 400px"
            :rows="5"
            resize="none"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="addremarkvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="saveRemark">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        orderid: "",
        name: "",
        phone: "",
        status: "",
        ticketno: "",
        usedateBegin: "",
        usedateEnd: "",
        createDateBegin: "",
        createDateEnd: "",
      },
      searchresult: {
        orderid: "",
        name: "",
        phone: "",
        status: "",
        ticketno: "",
        usedateBegin: "",
        usedateEnd: "",
        createDateBegin: "",
        createDateEnd: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      isspread: false,
      statusList: [
        {
          id: 1,
          name: "未使用",
        },
        {
          id: 2,
          name: "已使用",
        },
        {
          id: 3,
          name: "已作废",
        },
        {
          id: 4,
          name: "已过期"
        },
      ],
      rowid: 0,
      multipleSelection: [],
      addremark: "",
      clickid: 1,
      addremarkvisible: false,
      goodsIdList: [],
      limitAction: [],
      load: 1
    };
  },
  components: {
    vBreadcrumb,
  },
  watch: {

  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
      modelid: (state) => state.user.modelid,
    })
  },
  created() {
    this.gotData();
    this.gotlimitAction();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = {
        ...this.searchform,
      };
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        orderid: this.searchresult.orderid,
        ticketno: this.searchresult.ticketno,
        usedateBegin: this.searchresult.usedateBegin,
        usedateEnd: this.searchresult.usedateEnd,
        status: this.searchresult.status,
        phone: this.searchresult.phone,
        ticketno: this.searchresult.ticketno,
        goodsname: this.searchresult.name,
        createDateBegin: this.searchresult.createDateBegin,
        createDateEnd: this.searchresult.createDateEnd,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId,
      };
      this.loading = true;
      this.$store
        .dispatch("store/shopOrderTicket", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    clickSpread(value) {
      this.isspread = value;
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**
     * 1消费核销
     * 2退款核销
     * 3 过期票券核销
     * 4 导出
     */
    handleCheck(value) {
      if (this.multipleSelection.length <= 0) {
        this.$message.warning("请选择商品");
        return;
      }
      let goodsIdList = [];
      this.multipleSelection.map((item) => {
        goodsIdList.push(item.id);
      });

      this.goodsIdList = goodsIdList;

      switch (value) {
        case 1:
          this.$confirm("确定要消费核销吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(() => {
            const dataparams = {
              idList: goodsIdList,
              useuserid: this.userinfo.userid,
              usename: this.userinfo.name,
            };
            const loading = this.$loading({
              lock: true,
              text: "数据提交中...",
              spinner: "el-icon-loading",
              background: "rgba(0, 0, 0, 0.7)",
            });
            this.$store
              .dispatch("store/shopOrderTicketAgree", {
                data: dataparams,
              })
              .then((result) => {
                loading.close();
                if (result.code === 0) {
                  this.$message.success("消费核销成功");
                  this.gotData();
                } else if (result.code === 401) {
                  this.$message.error(result.msg);
                } else {
                  this.$message.error(result.msg);
                }
              });
          });
          break;
        case 2:
          this.addremarkvisible = true;
          this.clickid = 2;
          break;
        case 3:
          this.addremarkvisible = true;
          this.clickid = 3;
          break;
      }
    },
    // 添加备注
    saveRemark() {
      if (!this.addremark) {
        this.$message.warning("请输入备注");
        return;
      }
      let params = {
        idList: this.goodsIdList,
        useuserid: this.userinfo.userid,
        usename: this.userinfo.name,
        useremark: this.addremark,
      };

      const url =
        this.clickid === 2
          ? "store/shopOrderTicketAgree2"
          : "store/shopOrderTicketAgree3";

      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch(url, {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.addremarkvisible = false;
            this.$message.success("操作成功");
            this.gotData();
          } else if (result.code === 401) {
            this.addremarkvisible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 关闭备注
    closeDialogAddremark() {
      this.addremark = "";
      this.clickid = 1;
    },
    // 导出数据
    handleExport() {
      const params = {
        orderid: this.searchresult.orderid,
        ticketno: this.searchresult.ticketno,
        usedateBegin: this.searchresult.usedateBegin,
        usedateEnd: this.searchresult.usedateEnd,
        status: this.searchresult.status,
        phone: this.searchresult.phone,
        ticketno: this.searchresult.ticketno,
        goodsname: this.searchresult.name,
        createDateBegin: this.searchresult.createDateBegin,
        createDateEnd: this.searchresult.createDateEnd
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/shopOrderTicketExcel", {
          data: params,
        })
        .then((result) => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result], {type: "application/vnd.ms-excel"});
          const fileName = "票券核销数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
    },
    // 按钮权限
    gotlimitAction() {
      const params = {
        userid: this.userinfo.userid,
        modelid: this.modelid,
      };
      this.$store
        .dispatch("user/modelAction", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.limitAction = data;
            this.load = 2;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    showButton (value) {
      const index = this.limitAction.findIndex((item) => item.code === value);
      if (index === -1) {
        return true
      }
      return false
    }
  },
};
</script>

