<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-02 11:57:41
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss">
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="酒店基础管理" title2="房型管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="房型编码" prop="roomcode">
                  <el-select
                    v-model="searchform.roomcode"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in roomList"
                      :key="item.id"
                      :label="item.roomcode+'-'+item.roomname"
                      :value="item.roomcode"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <!-- <el-form-item label="房型名称" prop="roomname">
                  <el-select
                    v-model="searchform.roomname"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in roomList"
                      :key="item.id"
                      :label="item.roomcode+'-'+item.roomname"
                      :value="item.roomname"
                    ></el-option>
                  </el-select>
                </el-form-item> -->
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id +'-'+ item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="80"></el-table-column>
            <el-table-column prop="roomcode" label="房型码"></el-table-column>
            <el-table-column prop="roomname" label="房型名称"></el-table-column>
            <el-table-column prop="hotelname" label="酒店名称"></el-table-column>
            <el-table-column prop="retailprice" label="门市价(元)"></el-table-column>
            <el-table-column prop="minprice" label="最低价(元)"></el-table-column>
            <el-table-column prop="sort" label="房型排序"></el-table-column>
            <el-table-column prop="enable" label="是否启用">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="960px"
      @close="closeDialog('form')"
    >
      <el-tabs v-model="tabName" @tab-click="handleActiveClick">
        <el-tab-pane label="基本信息" name="1">
          <el-form
            ref="form"
            :model="form"
            :inline="true"
            :rules="rules"
            label-width="90px"
            class="operate-form-box"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select v-model="form.hotelid" placeholder="请选择" class="form-ipt-width">
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房型码" prop="roomcode">
                  <el-input
                    v-model="form.roomcode"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                    :disabled="actionType === 2"
                  ></el-input>
                </el-form-item>
                <el-form-item label="房型名称" prop="roomname">
                  <el-input
                    v-model="form.roomname"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="门市价" prop="retailprice">
                  <el-input
                    v-model="form.retailprice"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="最低价" prop="minprice">
                  <el-input
                    v-model="form.minprice"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="PMS房量" prop="roomcount">
                  <el-input
                    v-model="form.roomcount"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="超售数量" prop="overbooking">
                  <el-input
                    v-model="form.overbooking"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="床型数量" prop="bedcount">
                  <el-input
                    v-model="form.bedcount"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>

                <el-form-item label="可住人数" prop="peoplecount">
                  <el-input
                    v-model="form.peoplecount"
                    clearable
                    placeholder="请输入"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="床型尺寸" prop="bed">
                  <el-input
                    v-model="form.bed"
                    clearable
                    placeholder="输入例如1.2mx1.2m"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="房间面积" prop="area">
                  <el-input
                    v-model="form.area"
                    clearable
                    placeholder="输入例如:20~30m²"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
                <el-form-item label="房间楼层" prop="floor">
                  <el-input
                    v-model="form.floor"
                    clearable
                    placeholder="输入例如：6/12F"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
              </el-col>
              <!-- <el-col :span="24">
                <el-form-item label="房间特征" prop="feature">
                  <el-checkbox-group v-model="form.feature">
                    <el-checkbox v-for="item in featureList" :label="item" :key="item">{{item}}</el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
              </el-col>-->
              <el-col :span="24">
                <el-form-item label="房型排序" prop="sort">
                  <el-input
                    v-model="form.sort"
                    clearable
                    placeholder="请输入数值越大排在越前"
                    class="form-ipt-width"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="房间特征" prop="feature">
                  <el-radio-group v-model="form.feature">
                    <el-radio label="有窗">有窗</el-radio>
                    <el-radio label="无窗">无窗</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="房间取电" prop="takepower">
                  <el-radio-group v-model="form.takepower">
                    <el-radio label="插卡取电">插卡取电</el-radio>
                    <el-radio label="智能取电">智能取电</el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="门锁" prop="doorlock">
                  <el-radio-group v-model="form.doorlock">
                    <el-radio label="电子门锁">电子门锁</el-radio>
                    <el-radio label="网络门锁">网络门锁</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="房间描述" prop="description">
                  <el-input
                    v-model="form.description"
                    style="width:740px"
                    placeholder="请输入"
                    clearable
                    :rows="3"
                    resize="none"
                    type="textarea"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="状态" prop="status">
                  <el-radio-group v-model="form.status">
                    <el-radio :label="1">启用</el-radio>
                    <el-radio :label="0">不启用</el-radio>
                  </el-radio-group>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <div style="text-align: center; margin-top: 10px">
            <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
          </div>
        </el-tab-pane>
        <el-tab-pane label="图片信息" name="2" :disabled="actionType === 1">
          <ImagesList v-if="parseInt(tabName) === 2" :detailId="rowid"></ImagesList>
        </el-tab-pane>
        <el-tab-pane label="房型设施" name="3" :disabled="actionType === 1">
          <Facilities v-if="parseInt(tabName) === 3" :detailId="rowid"></Facilities>
        </el-tab-pane>
        <el-tab-pane label="标签信息" name="4" :disabled="actionType === 1">
          <Label v-if="parseInt(tabName) === 4" :detailId="rowid"></Label>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import ImagesList from "./component/imageslist.vue";
import Facilities from "./component/facilities.vue";
import Label from "./component/label.vue";
import {
  positive_num,
  positive_num_zero,
  decimals_num,
  than_zero,
  includezero
} from "@/utils/reg.js";
export default {
  data() {
    const checkNum = (rule, value, callback) => {
      if (!includezero.test(value)) {
        callback(new Error("数值不合法"));
      } else {
        callback();
      }
    };
    const checkFastNum = (rule, value, callback) => {
      if (!positive_num_zero.test(value)) {
        callback(new Error("请输入非负整数"));
      } else {
        callback();
      }
    };
    return {
      searchform: {
        roomcode: "",
        roomname: "",
        hotelid: ""
      },
      searchresult: {
        roomcode: "",
        roomname: "",
        hotelid: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        hotelid: "", //酒店id
        hotelname: "", //酒店名称
        roomcode: "", //房型码
        roomname: "", //房型名称
        retailprice: "", //门市价
        minprice: "", //最低价
        roomcount: "", //PMS房量
        overbooking: "", //超售数量
        area: "", //房间面积
        peoplecount: "", //可住人数
        bed: "", //床型尺寸
        bedcount: "", //床型数量
        floor: "", //房间楼层
        description: "", //描述
        doorlock: "电子门锁", //门锁
        takepower: "插卡取电", //取电
        feature: "有窗", //特征
        status: 1, //是否启用
        sort: ''
      },
      rules: {
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        roomcode: [{ required: true, message: "不能为空", trigger: "blur" }],
        roomname: [{ required: true, message: "不能为空", trigger: "blur" }],
        retailprice: [
          { required: true, validator: checkNum, trigger: "blur" }
        ],
        minprice: [
          { required: true, validator: checkNum, trigger: "blur" }
        ],
        roomcount: [
          { required: true, validator: checkFastNum, trigger: "blur" }
        ],
        peoplecount: [
          { required: true, validator: checkFastNum, trigger: "blur" }
        ],
        bedcount: [
          { required: true, validator: checkFastNum, trigger: "blur" }
        ],
        sort: [
          { required: true, validator: checkFastNum, trigger: "blur" }
        ],
        overbooking: [
          { required: true, validator: checkFastNum, trigger: "blur" }
        ],
        // area: [{ required: true, message: "不能为空", trigger: "blur" }],
        feature: [{ required: true, message: "不能为空", trigger: "change" }],
        // bed: [{ required: true, message: "不能为空", trigger: "blur" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }],
        // floor: [{ required: true, message: "不能为空", trigger: "blur" }],
        roomrate: [{ required: true, message: "不能为空", trigger: "blur" }],
        ratename: [{ required: true, message: "不能为空", trigger: "blur" }],
        takepower: [{ required: true, message: "不能为空", trigger: "change" }],
        doorlock: [{ required: true, message: "不能为空", trigger: "change" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      tabName: "1",
      visible: false,
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      hotelList: [],
      roomList: [],
      featureList: ["有窗", "无窗", "靠近马路", "无烟房", "安静", "靠近电梯"],
      facilityList: [],
      rowid: ''
    };
  },
  components: {
    vBreadcrumb,
    ImagesList,
    Facilities,
    Label
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotData();
    this.gotHotelList();
    this.getroomStyleSelect();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        roomcode: this.searchresult.roomcode,
        roomname: this.searchresult.roomname,
        hotelid: this.searchresult.hotelid,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("hotel/roomstyleList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleActiveClick() {},
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.rowid = row.id
      //详情
      this.$store
        .dispatch("hotel/hotelRoomDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            /*
            let feature = [];
            const featurestr = data.feature;
            if (featurestr.search(/、/g) !== -1) {
              feature = featurestr.split("、");
            } else {
              feature.push(featurestr);
            }
            */
            this.form = {
              hotelid: data.hotelid, //酒店id
              hotelname: data.hotelname, //酒店名称
              roomcode: data.roomcode, //房型码
              roomname: data.roomname, //房型名称
              retailprice: data.retailprice, //门市价
              minprice: data.minprice, //最低价
              roomcount: data.roomcount, //PMS房量
              overbooking: data.overbooking, //超售数量
              area: data.area, //房间面积
              peoplecount: data.peoplecount, //可住人数
              bed: data.bed, //床型尺寸
              bedcount: data.bedcount, //床型数量
              floor: data.floor, //房间楼层
              description: data.description, //描述
              doorlock: data.doorlock, //门锁
              takepower: data.takepower, //取电
              feature: data.feature, //特征
              status: data.status, //是否启用
              sort: data.sort
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //打开新增窗口
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          /*
          let feature = "";
          let featurearr = this.form.feature;
          if (featurearr.length > 1) {
            feature = featurearr.join("、")
          } else {
            feature = featurearr[0];
          }
          */
          const filterHotel = this.hotelList.filter(
            item => item.id === this.form.hotelid
          );
          let hotelname = "";
          if (filterHotel.length > 0) {
            hotelname = filterHotel[0].hotelname;
          }
          const params = {
            hotelid: this.form.hotelid, //酒店id
            hotelname: hotelname, //酒店名称
            roomcode: this.form.roomcode, //房型码
            roomname: this.form.roomname, //房型名称
            retailprice: this.form.retailprice, //门市价
            minprice: this.form.minprice, //最低价
            roomcount: this.form.roomcount, //PMS房量
            overbooking: this.form.overbooking, //超售数量
            area: this.form.area, //房间面积
            peoplecount: this.form.peoplecount, //可住人数
            bed: this.form.bed, //床型尺寸
            bedcount: this.form.bedcount, //床型数量
            floor: this.form.floor, //房间楼层
            description: this.form.description, //描述
            doorlock: this.form.doorlock, //门锁
            takepower: this.form.takepower, //取电
            feature: this.form.feature, //特征
            status: this.form.status, //是否启用
            sort: this.form.sort
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/hotelRoomSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.rowid = result.data.id;
            this.actionType = 2;
            this.tabName = "2";
            const row = {
              id: result.data.id
            }
            this.handleEdit(0, row)
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/hotelRoomEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        hotelid: "", //酒店id
        hotelname: "", //酒店名称
        roomcode: "", //房型码
        roomname: "", //房型名称
        retailprice: "", //门市价
        minprice: "", //最低价
        roomcount: "", //PMS房量
        overbooking: "", //超售数量
        area: "", //房间面积
        peoplecount: "", //可住人数
        bed: "", //床型尺寸
        bedcount: "", //床型数量
        floor: "", //房间楼层
        description: "", //描述
        doorlock: "电子门锁", //门锁
        takepower: "插卡取电", //取电
        feature: "有窗", //特征
        status: 1, //是否启用
        sort: ''
      };
      this.tabName = "1";
    },
    //获取所有房型下拉
    getroomStyleSelect() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/roomstyleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roomList = result.data;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

