<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-04-28 11:54:00
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.role-box {
  margin-top: 15px;
  padding-left: 100px;
  .role-app-ul {
    display: flex;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    .role-app {
      width: 130px;
      display: flex;
      justify-content: flex-start;
      padding: 0 10px;
      align-items: center;
      border-right: 1px solid #f2f2f2;
      box-sizing: border-box;
    }
    .role-app-item {
      flex: 1;
      .role-model-ul {
        display: flex;
        border-bottom: 1px solid #f2f2f2;
        box-sizing: border-box;
        &:last-child {
          border-bottom: none;
        }
        .role-model {
          width: 130px;
          min-height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0 15px;
          border-right: 1px solid #f2f2f2;
        }
        .role-model-item {
          flex: 1;
          .role-action-ul {
            display: flex;
            border-bottom: 1px solid #f2f2f2;
            box-sizing: border-box;
            &:last-child {
              border-bottom: none;
            }
            .role-action {
              width: 130px;
              min-height: 50px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 15px;
              border-right: 1px solid #f2f2f2;
            }
            .role-action-item {
               .role-btn-ul {
                width: 150px;
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                padding-top: 10px;
                box-sizing: border-box;
                .role-btn {
                  margin-right: 15px;
                  margin-bottom: 10px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="权限管理" title2="角色管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="name" label="角色名称" width="200"></el-table-column>
            <el-table-column prop="status" label="状态" width="100">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建时间" width="200"></el-table-column>
            <el-table-column prop="description" label="备注"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="1000px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="角色名称" prop="name">
              <el-input v-model="form.name" placeholder="请输入" clearable style="width: 850px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="备注" prop="description">
              <el-input
                v-model="form.description"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
                style="width: 850px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <div class="role-box">
              <div class="role-app-ul" v-for="appitem in treedata" :key="appitem.code">
                <div class="role-app">
                  <el-checkbox
                    v-model="appitem.checked"
                    @change="(value) => {changeCheckedApp(appitem,value)}"
                  >{{appitem.name}}</el-checkbox>
                </div>
                <div class="role-app-item" v-if="appitem.children && appitem.children.length > 0">
                  <div
                    class="role-model-ul"
                    v-for="modelitem in appitem.children"
                    :key="modelitem.code"
                  >
                    <div class="role-model">
                      <el-checkbox
                        v-model="modelitem.checked"
                        @change="(value) => {changeCheckedModel(appitem, modelitem, value)}"
                      >{{modelitem.name}}</el-checkbox>
                    </div>
                    <div
                      class="role-model-item"
                      v-if="modelitem.children && modelitem.children.length > 0"
                    >
                      <div class="role-action-ul" v-for="submodelitem in modelitem.children"
                          :key="submodelitem.code">
                        <div class="role-action"
                        >
                          <el-checkbox
                            v-model="submodelitem.checked"
                            @change="(value) => {changeCheckedSubModel(appitem, modelitem, submodelitem, value)}"
                          >{{submodelitem.name}}</el-checkbox>
                        </div>
                        <div class="role-action-item" v-if="submodelitem.children && submodelitem.children.length > 0">
                          <div class="role-btn-ul" v-for="actionitem in submodelitem.children" :key="actionitem.code">
                            <div class="role-btn">
                              <el-checkbox
                                v-model="actionitem.checked"
                                @change="(value) => {changeCheckedAction(appitem, modelitem, submodelitem, actionitem, value)}"
                              >{{actionitem.name}}</el-checkbox>
                            </div>
                          </div>
                        </div>
                        <div class="role-btn-ul" v-else></div>
                      </div>
                    </div>
                    <div class="role-action-ul" v-else></div>
                  </div>
                </div>

                <div class="role-app-item" v-else>
                  <div class="role-model-ul">
                    <div class="role-model"></div>
                    <div class="role-action-ul"></div>
                  </div>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { filter } from 'minimatch';
export default {
  data() {
    return {
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        description: "",
        status: 1,
        name: ""
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      actionType: 0,
      actionTypeName: "",
      treedata: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      applisttest: [
        {
          appid: 1,
          modelid: null,
          actionid: null,
          name: "HM",
          code: "hm",
          checked: false,
          children: [
            {
              appid: 1,
              modelid: 2,
              actionid: null,
              name: "房态管理",
              code: "fangtaiguanli6",
              checked: false,
              children: [
                {
                  appid: 1,
                  modelid: 2,
                  actionid: 3,
                  name: "新增按钮",
                  code: "fangtaiguanli5",
                  checked: false,
                  children: []
                }
              ]
            },
            {
              appid: 1,
              modelid: 5,
              actionid: null,
              name: "房价管理",
              code: "fangtaiguanli3",
              checked: false,
              children: []
            }
          ]
        },
        {
          appid: 2,
          modelid: null,
          actionid: null,
          name: "CRS",
          code: "CRS",
          checked: false,
          children: [
            {
              appid: 2,
              modelid: 2,
              actionid: null,
              name: "房态管理CRS",
              code: "fangtaiguanli66",
              checked: false,
              children: [
                {
                  appid: 1,
                  modelid: 2,
                  actionid: 4,
                  name: "编辑按钮",
                  code: "fangtaiguanli44",
                  children: [],
                  checked: false
                }
              ]
            },
            {
              appid: 2,
              modelid: 5,
              actionid: null,
              name: "房价管理CRS",
              code: "fangtaiguanli33",
              checked: false,
              children: [
                {
                  appid: 1,
                  modelid: 5,
                  actionid: 6,
                  name: "新增按钮",
                  code: "fangjiaxinzeng22",
                  checked: false
                }
              ]
            }
          ]
        },
        {
          appid: 3,
          modelid: null,
          actionid: null,
          name: "DW",
          code: "DW",
          checked: false,
          children: []
        }
      ],
      applist: []
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
    this.gotTree();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        name: "",
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("user/roleList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data;
            this.total = result.count;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let applist = this.filterTree(this.treedata)
          const params = {
            description: this.form.description,
            status: this.form.status,
            name: this.form.name,
            apptreelist: applist
          };
          console.log(applist)
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "角色新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("user/roleAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "角色编辑";
      // 详情
      this.$store
        .dispatch("user/roleDetail", {
          data: row.id
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              description: data.description,
              name: data.name,
              status: data.status
            };
            const applist = data.appTreeList;
            //codeArr
            let treecode = this.filterTreeCode(applist)
            //赋值
            this.treedata = this.filterTreeEdit(this.treedata, treecode)
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("user/roleEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        description: "",
        status: 1,
        name: ""
      };
      this.treedata = this.filterTreeValue(this.treedata, false);
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    gotTree() {
      const params = {};
      this.$store
        .dispatch("user/roleTree", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {

            let data = result.data;
            const treedata = this.filterTreeValue(data, false);
            this.treedata = treedata;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //点击appid
    changeCheckedApp(appitem, value) {
      this.treedata.map(item => {
        if (item.code === appitem.code) {
          item.checked = value;
          if (item.children) {
            item.children.map(childitem => {
              childitem.checked = value;
              if (childitem.children) {
                childitem.children.map(threeitem => {
                  threeitem.checked = value;
                  if (threeitem.children) {
                    threeitem.children.map((forthitem) => {
                      forthitem.checked = value;
                    })
                  }
                });
              }
            });
          }
        }
      });
    },
    //点击modelid
    changeCheckedModel(appitem, modelitem, value) {
      this.treedata.map(item => {
        if (item.code === appitem.code) {
          value && (item.checked = value);
          item.children.map(childitem => {
            if (childitem.code === modelitem.code) {
              childitem.checked = value;
              if (childitem.children) {
                childitem.children.map(threeitem => {
                  threeitem.checked = value;
                  if (threeitem.children) {
                    threeitem.children.map((forthitem) => {
                      forthitem.checked = value;
                    })
                  }
                });
              }
            }
          });
        }
      });
    },
    //点击submodelid
    changeCheckedSubModel(appitem, modelitem, submodelitem, value) {
      this.treedata.map(item => {
        if (item.code === appitem.code) {
          value && (item.checked = value);
          item.children.map(childitem => {
            if (childitem.code === modelitem.code) {
              value && (childitem.checked = value);
              if (childitem.children) {
                childitem.children.map(threeitem => {
                  if (threeitem.code === submodelitem.code) {
                    threeitem.checked = value;
                    if (threeitem.children) {
                      threeitem.children.map((forthitem) => {
                        forthitem.checked = value;
                      })
                    }
                  }
                });
              }
            }
          });
        }
      });
    },
     //点击actionid
    changeCheckedAction(appitem, modelitem, submodelitem, actionitem, value) {
      this.treedata.map(item => {
        if (item.code === appitem.code) {
          value && (item.checked = value);

          item.children.map(childitem => {
            if (childitem.code === modelitem.code) {
              value && (childitem.checked = value);
              childitem.children.map(threeitem => {
                if (threeitem.code === submodelitem.code) {
                    value && (threeitem.checked = value);
                    if (threeitem.children) {
                      threeitem.children.map((forthitem) => {
                        if (forthitem.code === actionitem.code) {
                          forthitem.checked = value;
                        }
                      })
                    }
                  }
              });
            }
          });
        }
      });
    },
    //筛选item.checked === true
    filterTree(menuList) {
      return menuList.filter(item => {
        return item.checked === true
      }).map((item) => {
        item = Object.assign({}, item)
        if (item.children) {
          item.children = this.filterTree(item.children)
        }
        return item
      })
    },
    //给item.checked赋值
    filterTreeValue (menuList, value) {
      menuList.map((item) => {
        item.checked = value
        if (item.children && item.children.length) {
          this.filterTreeValue(item.children)
        }
      })
      return menuList
    },
    filterTreeCode (menuList) {
      let arr = []
      menuList.map((item) => {
        arr.push(item.code)
        if (item.children && item.children.length > 0) {
          item.children.map((childitem) => {
            arr.push(childitem.code)
            if (childitem.children && childitem.children.length > 0) {
              childitem.children.map((threeitem) => {
                arr.push(threeitem.code)
                if (threeitem.children && threeitem.children.length > 0) {
                  threeitem.children.map((fouritem) => {
                    arr.push(fouritem.code)
                  })
                }
              })
            }
          })
        }
      })
      return arr
    },
    filterTreeEdit(menuList, idList) {
      for (let i = 0; i < menuList.length; i++) {
        for (let j = 0; j < idList.length; j++) {
          if (menuList[i].code === idList[j]) {
            menuList[i].checked = true;
            if (menuList[i].children) {
              this.filterTreeEdit(menuList[i].children, idList)
            }
          }
        }
      }
      return menuList
    },
  },
  
};
</script>

