<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime : 2019-12-31 11:55:16
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.role-box {
  .role-app-ul {
    display: flex;
    .role-app {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .role-app-item {
      flex: 1;
      .role-model-ul {
        display: flex;
        .role-model {
          width: 100px;
          height: 60px;
        }
        .role-action-ul {
          display: flex;
          .role-action {
          }
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="权限管理" title2="角色管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="type" label="角色名称" width="200"></el-table-column>
            <el-table-column prop="enable" label="状态" width="100">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="description" label="备注"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="900px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="100px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="角色名称" prop="name">
              <el-input v-model="form.name" style="width:470px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <!-- <el-form-item label="菜单权限" required>
              <el-tree
                node-key="code"
                :data="treedata"
                show-checkbox
                ref="tree"
                :props="defaultProps"
              ></el-tree>
            </el-form-item>-->
            <el-form-item label="菜单权限" required>
              <div class="role-box">
                <div class="role-app-ul">
                  <div class="role-app"><el-checkbox @change="test" >HM</el-checkbox></div>
                  <div class="role-app-item">
                    <div class="role-model-ul">
                      <div class="role-model">房态管理</div>
                      <div class="role-action-ul">
                        <div class="role-action">新增按钮</div>
                        <div class="role-action">新增按钮1</div>
                      </div>
                    </div>
                    <div class="role-model-ul">
                      <div class="role-model">房态管理2</div>
                      <div class="role-action-ul">
                        <div class="role-action">新增按钮</div>
                        <div class="role-action">新增按钮2</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="备注" prop="description">
              <el-input
                v-model="form.description"
                style="width:470px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">不启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        labelname: "",
        type: ""
      },
      searchresult: {
        labelname: "",
        type: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      typelist: [
        {
          id: 1,
          name: "悦廷会"
        }
      ],
      form: {
        description: "",
        status: 1,
        name: ""
      },
      visible: false,
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "change" }],
        description: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      actionType: 0,
      actionTypeName: "",
      treedata: [
        {
          appid: 1,
          modelid: null,
          actionid: null,
          name: "HM",
          code: "hm",
          checked: true,
          children: [
            {
              appid: 1,
              modelid: 2,
              actionid: null,
              name: "房态管理",
              code: "fangtaiguanli6",
              checked: true,
              children: [
                {
                  appid: 1,
                  modelid: 2,
                  actionid: 3,
                  name: "新增按钮",
                  code: "fangtaiguanli5",
                  checked: false,
                  children: []
                },
                {
                  appid: 1,
                  modelid: 2,
                  actionid: 4,
                  name: "编辑按钮",
                  code: "fangtaiguanli4",
                  checked: false,
                  children: []
                }
              ]
            },
            {
              appid: 1,
              modelid: 5,
              actionid: null,
              name: "房价管理",
              code: "fangtaiguanli3",
              checked: true,
              children: [
                {
                  appid: 1,
                  modelid: 5,
                  actionid: 6,
                  name: "新增按钮",
                  code: "fangjiaxinzeng2",
                  checked: false,
                },
                {
                  appid: 1,
                  modelid: 5,
                  actionid: 7,
                  name: "编辑按钮",
                  code: "fangtaiguanli1",
                  checked: false,
                }
              ]
            }
          ]
        },
        {
          appid: 2,
          modelid: null,
          actionid: null,
          name: "CRS",
          code: "CRS",
          children: [
            {
              appid: 2,
              modelid: 2,
              actionid: null,
              name: "房态管理",
              code: "fangtaiguanli66",
              children: [
                {
                  appid: 1,
                  modelid: 2,
                  actionid: 3,
                  name: "新增按钮",
                  code: "fangtaiguanli55",
                  children: []
                },
                {
                  appid: 1,
                  modelid: 2,
                  actionid: 4,
                  name: "编辑按钮",
                  code: "fangtaiguanli44",
                  children: []
                }
              ]
            },
            {
              appid: 2,
              modelid: 5,
              actionid: null,
              name: "房价管理",
              code: "fangtaiguanli33",
              children: [
                {
                  appid: 1,
                  modelid: 5,
                  actionid: 6,
                  name: "新增按钮",
                  code: "fangjiaxinzeng22"
                },
                {
                  appid: 1,
                  modelid: 5,
                  actionid: 7,
                  name: "编辑按钮",
                  code: "fangtaiguanli11"
                }
              ]
            }
          ]
        }
      ],
      defaultProps: {
        children: "children",
        label: "name"
      }
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    // this.gotData();
    // this.gotTree();
  },
  mounted() {},
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        name: "",
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("user/roleList", {
          data: params
        })
        .then(result => {
          console.log(result);
          if (result.code === 0) {
            this.tableData = result.data;
            this.total = result.count;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const treelist = this.$refs.tree.getCheckedNodes();
          const applist = treelist.filter(item => item.actionid !== null);
          const params = {
            description: this.form.description,
            status: this.form.status,
            name: this.form.name,
            applist: applist
          };
          console.log(params);
          return;
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "角色新增";
      this.visible = true;

      /*
      const applist = [{
          appid: 1,
          modelid: 2,
          actionid: 3,
          name: "新增按钮",
          code: "fangtaiguanli5",
          children: []
        }, {
          appid: 1,
          modelid: 2,
          actionid: 4,
          name: "编辑按钮",
          code: "fangtaiguanli44",
          children: []
        }]

      this.$nextTick(() => {
        this.$refs.tree.setCheckedNodes(applist);
      })
      */
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("hotel/labelAction", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success(result.msg);
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "角色编辑";
      const params = {
        id: row.id
      };
      // 详情
      this.$store
        .dispatch("user/roleDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              description: data.description,
              name: data.name,
              status: data.status
            };
            this.$nextTick(() => {
              this.$refs.tree.setCheckedNodes(data.applist);
            });
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("user/roleEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success(result.msg);
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        description: "",
        status: 1,
        name: ""
      };
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    gotTree() {
      const params = {};
      this.$store
        .dispatch("user/roleTree", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.treedata = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    test (value) {
      console.log(value)
    }
  }
};
</script>

