<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-05-27 10:44:28
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->

<style lang="scss" scoped>
</style>
<template>
  <div class="page-container">
    <v-breadcrumb title="营销工具" title2="会员价"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never" v-if="false">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="活动状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="活动名称" prop="name">
                  <el-input
                    v-model="searchform.name"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">创建活动</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="120" align="center">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
                <el-button
                  type="text"
                  style="color: red"
                  icon="el-icon-delete"
                  @click="handleDelete(scope.$index, scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="70"></el-table-column>
            <el-table-column prop="name" label="活动名称"></el-table-column>
            <el-table-column prop="startdate" label="活动日期">
              <template slot-scope="scope">{{scope.row.startdate+ " 至 " +scope.row.enddate}}</template>
            </el-table-column>
            <el-table-column prop="category" label="会员卡类别" width="100">
              <template slot-scope="scope">{{scope.row.category === 1 ? "悦廷会" : ""}}</template>
            </el-table-column>
            <el-table-column prop="discountWay" label="优惠方式" width="80">
              <template slot-scope="scope">{{scope.row.discountWay === 1 ? "折扣" : ""}}</template>
            </el-table-column>
            <el-table-column prop="status" width="80" label="是否启用">
              <template slot-scope="scope">{{scope.row.status === 1 ? "启用" : "未启用"}}</template>
            </el-table-column>
            <el-table-column width="80" prop="enddate" label="活动状态" :formatter="activityStatus"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增&编辑 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="800px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="100px"
        :rules="rules"
        :inline="true"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="活动名称" prop="name">
              <el-input
                v-model="form.name"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                style="width: 550px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="开始时间" prop="startdate">
              <el-date-picker
                v-model="form.startdate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="enddate">
              <el-date-picker
                v-model="form.enddate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="优惠方式" prop="discountWay">
              <el-radio-group v-model="form.discountWay">
                <el-radio :label="1">折扣</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="会员卡类别" prop="category">
              <el-radio-group v-model="form.category">
                <el-radio :label="1">悦廷会</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="会员卡等级" required>
              <div style="font-size: 12px;">(例如1折输入0.1)</div>
              <div style="width: 600px">
                <div v-for="item in cardList" :key="item.id">
                  <el-checkbox
                    style="width: 200px"
                    :value="item.checked"
                    @change="changeChecked(item)"
                  >{{item.id}}-{{item.name}}</el-checkbox>
                  <el-input
                    v-model="item.discount"
                    clearable
                    placeholder="请输入"
                    style="width: 120px"
                    @blur="(e) => iptChecked(item, e)"
                  ></el-input>

                  <span
                    v-show="item.iserror === 1"
                    style="margin: 0 10px;color: red;font-size: 12px"
                  >不合法</span>
                </div>
              </div>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="是否启用" prop="status">
              <el-radio-group v-model="form.status">
                <el-radio :label="1">启用</el-radio>
                <el-radio :label="2">未启用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        name: "",
        status: ""
      },
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      form: {
        name: "", //活动名称
        category: 1, //会员卡类别1 悦廷会
        discountWay: 1, //优惠方式 1折扣
        enddate: "", //活动结束时间
        startdate: "", //活动开始时间
        status: 1 // 1启用 2不启用
      },
      rules: {
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        startdate: [{ required: true, message: "不能为空", trigger: "blur" }],
        enddate: [{ required: true, message: "不能为空", trigger: "blur" }],
        category: [{ required: true, message: "不能为空", trigger: "blur" }],
        discountWay: [{ required: true, message: "不能为空", trigger: "blur" }],
        status: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      visible: false,
      actionTypeName: "",
      actionType: 0, //编辑的id
      rowData: {},
      checkedCards: [], //选中的会员卡
      cardList: [],
      statusList: [
        //搜索状态
        { id: 1, name: "未开始" },
        { id: 2, name: "进行中" },
        { id: 3, name: "已结束" }
      ],
      rowid: ""
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    // this.gotData();
    // this.memberCard();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        name: this.searchform.name,
        status: this.searchform.status
      };
      this.loading = true;
      this.$store
        .dispatch("market/activityMemberList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 选中会员卡
    changeChecked(item) {
      for (let i = 0; i < this.cardList.length; i++) {
        if (this.cardList[i].id === item.id) {
          if (item.checked === true) {
            this.cardList[i].discount = "";
            this.cardList[i].iserror = 0;
          }
          this.cardList[i].checked = !item.checked;
        }
      }
      // console.log(this.cardList)
    },
    // 折扣输入框失焦
    iptChecked(item, e) {
      // console.log(e.target.value)
      const percentnum = /^(0)$|^(0(\.{1}\d+))$|^(1)$/;
      let iserror = 0;
      if (item.checked && !percentnum.test(e.target.value)) {
        iserror = 1;
      }
      for (let i = 0; i < this.cardList.length; i++) {
        if (this.cardList[i].id === item.id) {
          this.cardList[i].iserror = iserror;
        }
      }
    },
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "新增";
      this.visible = true;
    },
    //打开编辑窗口
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "编辑";
      const params = {
        id: row.id
      };
      this.rowid = row.id;
      //详情
      this.$store
        .dispatch("market/activityMemberDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const category = data.category ? data.category : 1;
            const cardsDtoList = data.cardsDtoList ? data.cardsDtoList : [];
            for (let i = 0; i < this.cardList.length; i++) {
              for (let j = 0; j < cardsDtoList.length; j++) {
                if (this.cardList[i].id === cardsDtoList[j].id) {
                  this.cardList[i].checked = true;
                  this.cardList[i].discount = cardsDtoList[j].discount;
                }
              }
            }
            //console.log(this.cardList)
            this.form = {
              name: data.name, //活动名称
              category: category, //会员卡类别 1 悦廷会
              discountWay: data.discountWay, //优惠方式 1折扣
              enddate: data.enddate, //活动结束时间
              startdate: data.startdate, //活动开始时间
              status: data.status // 1启用 2不启用
            };
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let discountList = this.cardList.filter(
            item => item.checked === true
          );
          if (discountList.length <= 0) {
            this.$message.warning("请选择会员等级");
            return;
          }
          const isipt = discountList.some(item => item.iserror === 1);
          if (isipt) {
            this.$message.warning("折扣数值不合法");
            return;
          }
          // 处理会员类别
          discountList.map(item => {
            item.category = item.category ? item.category : 1;
          });
          let params = {
            name: this.form.name, //活动名称
            category: this.form.category, //会员卡类别 1 悦廷会
            discountWay: this.form.discountWay, //优惠方式 1折扣
            enddate: this.form.enddate, //活动结束时间
            startdate: this.form.startdate, //活动开始时间
            status: this.form.status, // 1启用 2不启用
            cardsDtoList: discountList
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 新增保存
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("market/activityMemberSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 保存编辑
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("market/activityMemberUpdate", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        name: "", //活动名称
        category: 1, //会员卡类别1 悦廷会
        discountWay: 1, //优惠方式 1折扣
        enddate: "", //活动结束时间
        startdate: "", //活动开始时间
        status: 1 // 1启用 2不启用
      };
      this.cardList.map(item => {
        item.checked = false;
        item.discount = "";
        item.iserror = 0;
      });
    },
    //删除活动
    handleDelete(index, row) {
      this.$confirm("确定要删除活动吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)"
          });
          const params = {
            id: row.id
          };
          this.$store
            .dispatch("market/activityMemberDelete", {
              data: params
            })
            .then(result => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("删除成功");
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                this.$message.error(result.msg);
              }
            });
        })
        .catch(() => {});
    },
    // 活动状态
    activityStatus(row, column, cellValue, index) {
      const nowtime = new Date().getTime();
      if (nowtime < new Date(row.startdate).getTime()) {
        return "未开始";
      } else if (nowtime > new Date(row.enddate).getTime()) {
        return "已结束";
      } else {
        return "活动中";
      }
    },
    //查询所有会员卡
    memberCard() {
      const params = {};
      this.$store
        .dispatch("market/cardAll", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            data.map(item => {
              item.discount = "";
              item.checked = false;
              item.iserror = 0;
            });
            this.cardList = data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>



