<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-03 14:33:39
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 300px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="优惠券管理" title2="优惠券发放"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="优惠券ID" prop="couponid">
                  <el-input
                    v-model="searchform.couponid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="手机号码" prop="mobile">
                  <el-input
                    v-model="searchform.mobile"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                  <el-select
                    v-model="searchform.status"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in statusList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item style="margin-left: 20px" label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">申请发放</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="70">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  v-if="scope.row.status === 1"
                  icon="el-icon-edit"
                  style="color:#E6A23C"
                  @click="handleEdit(scope.$index, scope.row)"
                >审核</el-button>
                <el-button
                  type="text"
                  v-else
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                >查看</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="couponid" label="优惠券ID" width="60"></el-table-column>
            <el-table-column prop="couponName" label="优惠券名称"></el-table-column>
            <el-table-column prop="status" label="状态" width="70">
              <template slot-scope="scope">
                <span style="color:#E6A23C" v-if="scope.row.status===1">申请中</span>
                <span style="color:#67C23A" v-else-if="scope.row.status===2">已通过</span>
                <span v-else-if="scope.row.status===3">已驳回</span>
              </template>
            </el-table-column>
            <el-table-column prop="sendtype" label="赠送类型" width="80">
              <template slot-scope="scope">
                <span v-if="scope.row.sendtype===1">全员赠送</span>
                <span v-else-if="scope.row.sendtype===2">单个赠送</span>
              </template>
            </el-table-column>
            <el-table-column prop="mobile" label="手机号码" width="100"></el-table-column>
            <el-table-column prop="guestName" label="客户姓名" width="90"></el-table-column>
            <el-table-column prop="proposername" label="申请人" width="90"></el-table-column>
            <el-table-column prop="createDate" label="申请时间"></el-table-column>
            <el-table-column prop="applyname" label="审批人" width="90"></el-table-column>
            <el-table-column prop="updateDate" label="审批时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 申请优惠券 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="150px"
        class="operate-form-box"
      >
        <el-row>
          <el-col>
            <el-form-item label="优惠券名称" prop="couponid">
              <el-select
                v-model="form.couponid"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                 :disabled="actionType === 2"
              >
                <el-option
                  v-for="item in couponSelect"
                  :key="item.id"
                  :label="item.id + '-' + item.couponname"
                  :value="item.id"
                 
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="赠送方式" prop="sendtype">
              <el-select
                v-model="form.sendtype"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                @change="handleSendType"
                :disabled="actionType === 2"
              >
                <el-option
                  v-for="item in sendWay"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                  
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col v-show="form.sendtype === 2">
            <el-form-item label="手机号码" prop="mobile">
              <el-input
                v-model="form.mobile"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="actionType === 2">
            <el-form-item label="状态" prop="status">
              <el-select
                v-model="form.status"
                clearable
                filterable
                placeholder="请选择"
                class="form-ipt-width"
                :disabled="actionType === 2"
              >
                <el-option
                  v-for="item in statusList"
                  :key="item.id"
                  :label="item.id +'-'+ item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item label="备注" prop="note">
              <el-input
                v-model="form.note"
                type="textarea"
                clearable
                placeholder="请输入"
                class="form-ipt-width"
                :rows="3"
                resize="none"
                :disabled="actionType === 2"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer" v-show="actionType === 1">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
      <span slot="footer" class="dialog-footer" v-show="actionTypeName === '审核'">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="handleEditSave(2)">驳 回</el-button>
          <el-button type="primary" size="mini" @click="handleEditSave(1)">审核通过</el-button>
        </div>
      </span>
    </el-dialog>
    
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    //验证来源编码是否重复
    var checkSave = (rule, value, callback) => {
      if (this.form.sendtype === 2) {
        if (!value) {
          return callback(new Error("不能为空"));
        }
        if (!/^1[23456789]\d{9}$/.test(value)) {
          return callback(new Error("手机号不合法"));
        }
        this.$store
        .dispatch("coupon/couponSendVerify", {
          data: value
        })
        .then(result => {
          if (result.code === 0) {
            if (result.data) {
              const data = result.data.message;
              this.form.userid = data.id;
              this.form.guestName = data.username;
              callback()
            } else {
              return callback(new Error("手机号不存在"));
            }
          } else {
            const msg = result.data ?  result.data.message : result.msg
            return callback(msg);
          }
        });
      } else {
        callback()
      }
    };
    return {
      searchform: {
        couponid: "",
        guestName: "",
        mobile: "",
        status: ""
      },
      searchresult: {
        couponid: "",
        guestName: "",
        mobile: "",
        status: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      couponSelect: [], //优惠券名称下拉
      statusList: [
        { id: 1, name: "申请中" },
        { id: 2, name: "已通过" },
        { id: 3, name: "已驳回" }
      ],
      sendWay: [
        { id: 1, name: "全员赠送" },
        { id: 2, name: "单个赠送" }
      ],
      form: {
        couponid: "",
        userid: "",
        guestName: "",
        mobile: "",
        note: "",
        sendtype: ""
      },
      visible: false,
      rules: {
        note: [{ required: true, message: "不能为空", trigger: "blur" }],
        mobile: [{ required: true, validator: checkSave, trigger: "blur" }],
        couponid: [{ required: true, message: "不能为空", trigger: "change" }],
        sendtype: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      actionType: 0,
      actionTypeName: "",
      rowData: {},
      couponcode: "" //优惠券码
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotData();
    this.getCouponSelect();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        couponid: this.searchresult.couponid,
        guestName: this.searchresult.guestName,
        mobile: this.searchresult.mobile,
        status: this.searchresult.status
      };

      this.loading = true;
      //获取数据
      this.$store
        .dispatch("coupon/couponSendList", {
          data: params
        })
        .then(result => {
          this.loading = false;
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
     // 新增
    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "申请发放";
      this.visible = true;
    },
    //保存编辑或者新增内容
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        console.log(valid)
        if (valid) {
          let params = {
            couponid: this.form.couponid,
            userid: this.form.userid,
            guestName: this.form.guestName,
            mobile: this.form.mobile,
            note: this.form.note,
            sendtype: this.form.sendtype,
            proposerId: this.userinfo.userid
          };
         if (this.actionType === 1) {
            this.handleAddSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("coupon/couponApply", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('申请提交成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //审核
    handleEdit(index, row) {
      this.actionType = 2;
      this.actionTypeName = "审核";
      this.visible = true;
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("coupon/couponSendDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const filterData = this.couponSelect.filter((item) => (
              item.id === data.couponid
            ))
            this.couponcode = filterData[0].id;
            this.form = {
              couponid: data.couponid,
              userid: data.userid,
              guestName: data.guestName,
              mobile: data.mobile,
              note: data.note,
              sendtype: data.sendtype,
              proposerId: data.proposerId,
              status: data.status
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave (value) {
      let title = '确定要作废此优惠券吗?'
      if (value === 1 ) {
         title = '确定要审核通过吗?'
      } else {
         title = '确定要驳回吗?'
      }
      this.$confirm(title, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          if (value === 1) {
            this.sendAgree();
          } else {
            this.applyReject();
          }
        })
        .catch(() => {});
    },

    //驳回申请
    applyReject() {
      const dataparams = {
        id: this.rowData.id,
        approverId: this.userinfo.userid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("coupon/couponReject", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success('驳回成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //同意申请
    sendAgree() {
      // approverId: this.userinfo.userid
      const dataparams = {
        id: this.rowData.id,
        approverId: this.userinfo.userid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中",
        spinner: "el-icon-loading",
        background: "rgba(0,0,0,0.7)"
      });
      this.$store
        .dispatch("coupon/couponSendAgree", {
          data: dataparams
        })
        .then(result => {
           loading.close();
          if (result.code === 0) {
            this.$message.success('审核通过成功');
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg
            this.$message.error(msg);
          }
        });
    },
    // 查看
    handleCat (index, row) {
      this.actionType = 2;
      this.actionTypeName = "查看";
      this.visible = true;
      const params = {
        id: row.id
      };
      this.$store
        .dispatch("coupon/couponSendDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            const filterData = this.couponSelect.filter((item) => (
              item.id === data.couponid
            ))
            this.couponcode = filterData[0].id;        
            this.form = {
              couponid: data.couponid,
              userid: data.userid,
              guestName: data.guestName,
              mobile: data.mobile,
              note: data.note,
              sendtype: data.sendtype,
              proposerId: data.proposerId,
              status: data.status
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields (formName) {
      this.$refs[formName].resetFields();
      this.form = {
        couponid: "",
        userid: "",
        guestName: "",
        mobile: "",
        note: "",
        sendtype: ""
      };
      this.couponcode = ''
      this.rowData = {}
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    handleSendType () {
      this.form.mobile = ''
    },
    //获取优惠券名称下拉
    getCouponSelect() {
      this.$store
        .dispatch("coupon/couponSelect")
        .then(result => {
          if (result.code === 0) {
            this.couponSelect = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

