<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-09-28 17:28:01
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.member-page {
  .member-content {
    padding: 0 15px;
    .member-content-title {
      color: #409eff;
      font-size: 14px;
      height: 28px;
      line-height: 28px;
      padding: 10px;
      background: #e8e8e8;
    }
    .member-content-ul {
      padding: 10px;
      margin-top: 15px;
      &.member-ul-border {
        border-bottom: 1px solid #f4f4f4;
      }
      .member-content-li {
        display: flex;
        padding: 0;
        margin: 0;
        .member-content-li-item {
          flex: 1;
          font-size: 12px;
          margin-bottom: 8px;
          height: 26px;
          line-height: 26px;
          color: #263140;
          span {
            color: #575f6b;
          }
        }
      }
    }
  }
  .member-search-box {
    .member-search-form {
      .member-search-input {
        width: 124px;
      }
    }
  }
  .member-container-table {
  }
  .member-pagination-container {
    margin-top: 15px;
  }
  .total-box {
    padding: 10px;
    display: flex;
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
    .total-li {
      height: 30px;
      line-height: 30px;
      color: #263140;
      font-size: 13px;
      padding: 0 15px;
      border-right: 1px solid #f2f2f2;
      &:last-child {
        border-right: none;
      }
      span {
        color: #575f6b;
      }
    }
  }
  .total-table-box {
    margin: 0 0 15px;
  }
  .qy-item-ul {
    border: 1px solid #f2f2f2;
    .qy-item-li {
      display: flex;
      border-bottom: 1px solid #f2f2f2;
      &:last-child {
        border-bottom: none;
      }
      .qy-item-title {
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-right: 1px solid #f2f2f2;
      }
      .qy-item-content {
        flex: 1;
        height: 40px;
        line-height: 40px;
        text-align: center;
        span {
          margin-right: 10px;
        }
      }
    }
  }
}
</style>

<template>
  <div class="page-container member-page">
    <v-breadcrumb title="会员管理" title2="会员查询"></v-breadcrumb>

    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <!-- 默认 -->
            <el-row v-if="!isspread">
              <el-col :span="24">
                <el-form-item label="手机号码" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="会员等级" prop="cardid">
                  <el-select
                    v-model="searchform.cardid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in levelList"
                      :key="item.id"
                      :label="item.id+'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="会员类别" prop="membertype">
                  <el-select
                    v-model="searchform.membertype"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.id +'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(true)">
                    展开
                    <i class="el-icon-arrow-down"></i>
                  </span>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- 展开 -->
            <el-row v-else>
              <el-col :span="24">
                <el-form-item label="手机号码" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="会员等级" prop="cardid">
                  <el-select
                    v-model="searchform.cardid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in levelList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="会员类别" prop="membertype">
                  <el-select
                    v-model="searchform.membertype"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in typeList"
                      :key="item.id"
                      :label="item.id +'-'+item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="会员姓名" prop="truename">
                  <el-input
                    v-model="searchform.truename"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="微信昵称" prop="nickname">
                  <el-input
                    v-model="searchform.nickname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="订单来源" prop="channelname">
                  <el-select
                    v-model="searchform.channelname"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in channelList"
                      :key="item.id"
                      :label="item.id +'-'+ item.channelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="注册时间" style="margin-bottom: 0">
                  <el-form-item label-width="0px" prop="registerBeginTime">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.registerBeginTime"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择开始时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                  <span style="margin: 0 10px 0 0px">至</span>
                  <el-form-item label-width="0px" prop="registerEndTime">
                    <el-date-picker
                      style="width: 160px"
                      v-model="searchform.registerEndTime"
                      value-format="yyyy-MM-dd"
                      type="date"
                      placeholder="选择截至时间"
                      clearable
                    ></el-date-picker>
                  </el-form-item>
                </el-form-item>
                <el-form-item label-width="0px">
                  <div style="text-align:right">
                    <el-button type="primary" @click="handleSearch">查询</el-button>
                    <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                    <span class="spread-btn" @click="clickSpread(false)">
                      收起
                      <i class="el-icon-arrow-up"></i>
                    </span>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <!-- <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div> -->
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                >查看</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="70"></el-table-column>
            <el-table-column prop="phone" label="会员手机号" width="100"></el-table-column>
            <el-table-column prop="status" label="会员状态" width="100">
              <template
                slot-scope="scope"
              >
              {{scope.row.status === 1 ? '正常' : '冻结'}}
              </template>
            </el-table-column>
            <el-table-column prop="truename" label="会员姓名" width="100"></el-table-column>
            <el-table-column prop="nickname" label="微信昵称"></el-table-column>
            <el-table-column prop="membertype" label="会员类别" width="100">
              <template
                slot-scope="scope"
              >{{scope.row.membertype === 1 ? '注册会员' : scope.row.membertype === 2 ? '特权' : scope.row.membertype === 3 ? '业主' : '员工'}}</template>
            </el-table-column>
            <el-table-column prop="membertype" label="会员等级" width="100">
              <template
                slot-scope="scope"
              >{{scope.row.membertype === 1 ? '银卡' : scope.row.membertype === 2 ? '金卡 ' : scope.row.membertype === 3 ? '白金卡' : scope.row.membertype === 4 ? '黑卡' : ''}}</template>
            </el-table-column>
            <!-- <el-table-column prop="channelname" label="来源渠道" width="80"></el-table-column> -->
            <el-table-column prop="createDate" label="注册时间"></el-table-column>
            <el-table-column prop="lastOrdDate" label="最后预定时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 会员新增 -->
    <el-dialog
      :title="actionTypeName"
      :visible.sync="visible"
      width="900px"
      @close="closeDialog('form')"
      :close-on-click-modal="false"
    >
      <el-form
        ref="form"
        :model="form"
        :inline="true"
        :rules="rules"
        label-width="80px"
        class="operate-form-box"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="会员类别" prop="membertype">
              <el-select
                v-model="form.membertype"
                filterable
                placeholder="请选择"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in typeList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="会员等级" prop="cardid">
              <el-select v-model="form.cardid" filterable placeholder="请选择" class="form-ipt-width">
                <el-option
                  v-for="item in levelList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="会员姓名" prop="truename">
              <el-input v-model="form.truename" class="form-ipt-width" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="form.phone" class="form-ipt-width" placeholder="请输入" clearable></el-input>
            </el-form-item>
            <el-form-item label="会员卡号" prop="cardno">
              <el-input v-model="form.cardno" class="form-ipt-width" placeholder="请输入" clearable></el-input>
              <!-- <el-select v-model="form.cardno" filterable placeholder="请选择" class="form-ipt-width" :disabled="form.iscardno">
                <el-option
                  v-for="item in cardNumList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name"
                ></el-option>
              </el-select>-->
            </el-form-item>
            <!-- <el-form-item label-width="0">
              <i class="el-icon-refresh-left" style="cursor: pointer;" @click="refreshCardNo"></i>
            </el-form-item>
            <el-form-item label-width="0">
              <el-checkbox v-model="form.iscardno">系统随机分配号码</el-checkbox>
            </el-form-item>-->
          </el-col>
          <el-col :span="24">
            <el-form-item label="有效期" prop="vaildtype">
              <el-radio-group v-model="form.vaildtype">
                <el-radio :label="1">长期有效</el-radio>
                <el-radio :label="2">一年</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="所属渠道" prop="channelid" style="margin-left: 18px">
              <el-select v-model="form.channelid" filterable placeholder="请选择" style="width: 100px">
                <el-option
                  v-for="item in channelList"
                  :key="item.id"
                  :label="item.id +'-'+item.channelname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="证件类型" label-width="70px">
              <el-form-item label-width="0px" style="margin-bottom: 0">
                <el-select v-model="form.idtype" filterable placeholder="请选择" style="width: 90px">
                  <el-option
                    v-for="item in cardList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label-width="0px" style="margin-bottom: 0">
                <el-input
                  v-model="form.idno"
                  class="form-ipt-width"
                  placeholder="请输入"
                  clearable
                  style="width: 170px"
                ></el-input>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="所在省份" prop="provinceid">
              <el-select
                v-model="form.provinceid"
                filterable
                placeholder="请选择"
                style="width: 120px"
                clearable
                @change="getAddCity"
              >
                <el-option
                  v-for="item in provinceList"
                  :key="item.id"
                  :label="item.provincename"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="所在城市" prop="cityid">
              <el-select v-model="form.cityid" filterable placeholder="请选择" style="width: 120px" clearable>
                <el-option
                  v-for="item in cityList"
                  :key="item.id"
                  :label="item.cityname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="籍贯" prop="nativeplace" label-width="60px">
              <el-input
                v-model="form.nativeplace"
                class="form-ipt-width"
                placeholder="请输入"
                clearable
                style="width: 125px"
              ></el-input>
            </el-form-item>
            <el-form-item label="民族" prop="famous" label-width="60px">
              <el-input
                v-model="form.famous"
                class="form-ipt-width"
                placeholder="请输入"
                clearable
                style="width: 125px"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            
            <el-form-item label="生日" prop="birthday" >
              <el-date-picker
                style="width: 120px"
                v-model="form.birthday"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="请选择"
                clearable
                :picker-options="pickerOptions"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="职务" prop="job">
              <el-input v-model="form.job" style="width: 120px" placeholder="请输入" clearable></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="sex" label-width="60px">
              <el-radio-group v-model="form.sex">
                <el-radio :label="1">男</el-radio>
                <el-radio :label="2">女</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item label="所在单位" prop="company">
              <el-input v-model="form.company" style="width:730px" placeholder="请输入" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="个人喜好" prop="hobby">
              <el-input
                v-model="form.hobby"
                style="width:730px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 会员详情 -->
    <el-dialog title="会员详情" :visible.sync="catvisible" width="1000px" @close="closeDetailDialog">

      <div>
        <div class="member-content">
            <div class="member-content-title">
              会员基本信息
              <i class="header-icon el-icon-info"></i>
              <el-popover
                placement="top"
                width="160"
                v-model="delvisible">
                <p>确定{{memberstatus === 1 ? '冻结' : '解冻'}}会员吗？</p>
                <div style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="delvisible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="handleFrozen">确定</el-button>
                </div>
                <el-button type="danger" style="margin-left: 15px" slot="reference">{{memberstatus === 1 ? '冻结操作' : '解冻操作'}}</el-button>
              </el-popover>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会员姓名：</span>
                  {{baseDetail.truename}}
                </div>
                <div class="member-content-li-item">
                  <span>会员卡号：</span>
                  {{baseDetail.usercode}}
                </div>
                <div class="member-content-li-item">
                  <span>性别：</span>
                  {{baseDetail.sex === 1 ? '男' : baseDetail.sex === 2 ? '女' : ''}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>出生日期：</span>
                  {{baseDetail.birthday | formatdate}}
                </div>
                <div class="member-content-li-item">
                  <span>手机号：</span>
                  {{baseDetail.phone}}
                  <el-button type="danger" style="margin-left: 15px" @click="handleEditPhone">修改</el-button>
                </div>
                <div class="member-content-li-item">
                  <span>会员来源：</span>
                  {{baseDetail.channelname}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会员状态：</span>
                  {{memberstatus === 1 ? '正常' : '冻结'}}
                </div>
                <div class="member-content-li-item">
                  <span>注册时间：</span>
                  {{baseDetail.createDate}}
                </div>
                <div class="member-content-li-item">
                  <span>推荐人：</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- 会籍信息 -->
          <div class="member-content">
            <div class="member-content-title">
              会籍信息
              <i class="header-icon el-icon-info"></i>
              <!-- <el-button type="success" style="margin-left: 15px">升级</el-button>
              <el-button type="warning" style="margin-left: 15px">降级</el-button>
              <el-button type="primary" style="margin-left: 15px">保级</el-button> -->
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会员等级：</span>
                  {{baseDetail.level === 1 ? '银卡' : baseDetail.level === 2 ? '金卡' : baseDetail.level === 3 ? '白金' : baseDetail.level === 4 ? '黑卡' : ''}}
                </div>
                <div class="member-content-li-item">
                  <span>会籍有效期：</span>
                  {{baseDetail.vaildtype === 1 ? '永久有效' : '一年'}}
                </div>
                <div class="member-content-li-item">
                  <span>会员积分：</span>
                  {{baseDetail.score}}
                </div>
              </li>
            </ul>
          </div>
          <!-- 消费信息 -->
          <!-- <div class="member-content">
            <div class="member-content-title">
              消费信息
              <i class="header-icon el-icon-info"></i>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>累计消费金额：</span>
                  ￥{{baseDetail.totalAmount ? baseDetail.totalAmount: 0}}
                </div>
                <div class="member-content-li-item">
                  <span>累计消费次数：</span>
                  {{baseDetail.times ? baseDetail.times : 0}}
                </div>
                <div class="member-content-li-item">
                  <span></span>
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>今年消费金额：</span>
                  ￥{{baseDetail.yearAmount ? baseDetail.yearAmount : 0}}
                </div>
                <div class="member-content-li-item">
                  <span>今年消费次数：</span>
                  {{baseDetail.yearTimes ? baseDetail.yearTimes : 0}}
                </div>
                <div class="member-content-li-item">
                  <span></span>
                </div>
              </li>
            </ul>
          </div> -->
          <!-- 个人信息 -->
          <div class="member-content">
            <div class="member-content-title">
              个人信息
              <i class="header-icon el-icon-info"></i>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>姓名：</span>
                  {{baseDetail.truename}}
                </div>
                <div class="member-content-li-item">
                  <span>证件号码：</span>
                  {{baseDetail.idno}}{{baseDetail.idtype === 1 ? '(身份证)' : baseDetail.idtype === 2 ? '(护照)' : baseDetail.idtype === 3 ? '(驾驶证)' : ''}}
                </div>
                <div class="member-content-li-item">
                  <span>籍贯：</span>
                  {{baseDetail.nativeplace}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>民族：</span>
                  {{baseDetail.famous}}
                </div>
                <div class="member-content-li-item">
                  <span>所在城市：</span>
                  {{baseDetail.city}}
                </div>
                <div class="member-content-li-item">
                  <span>职务：</span>
                  {{baseDetail.job}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>个人喜好：</span>
                  {{baseDetail.hobby}}
                </div>
              </li>
            </ul>
          </div>
          <!-- 其他信息 -->
          <div class="member-content">
            <div class="member-content-title">
              其他信息
              <i class="header-icon el-icon-info"></i>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>所属公司：</span>
                  {{baseDetail.company}}
                </div>
                <div class="member-content-li-item">
                  <span>协议公司等级：</span>
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>有效期：</span>
                  {{baseDetail.startdate ? baseDetail.startdate +'~' + baseDetail.enddate : ''}}
                </div>
              </li>
            </ul>
          </div>
      </div>

      <el-tabs
        tab-position="right"
        style="min-height: 400px;"
        v-model="tabvalue"
        @tab-click="handleTabClick"
        v-show="false"
      >
        <!-- 会员基本信息 -->
        <el-tab-pane label="基本信息" name="1">
          <div class="member-content">
            <div class="member-content-title">
              会员基本信息
              <i class="header-icon el-icon-info"></i>
              <!-- <el-popover
                placement="top"
                width="160"
                v-model="delvisible">
                <p>确定{{memberstatus === 1 ? '冻结' : '解冻'}}会员吗？</p>
                <div style="text-align: right; margin: 0">
                  <el-button size="mini" type="text" @click="delvisible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="handleFrozen">确定</el-button>
                </div>
                <el-button type="danger" style="margin-left: 15px" slot="reference">{{memberstatus === 1 ? '冻结操作' : '解冻操作'}}</el-button>
              </el-popover> -->
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会员姓名：</span>
                  {{baseDetail.truename}}
                </div>
                <div class="member-content-li-item">
                  <span>会员卡号：</span>
                  {{baseDetail.idno}}
                </div>
                <div class="member-content-li-item">
                  <span>性别：</span>
                  {{baseDetail.sex === 1 ? '男' : '女'}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>出生日期：</span>
                  {{baseDetail.birthday | formatdate}}
                </div>
                <div class="member-content-li-item">
                  <span>手机号：</span>
                  {{baseDetail.phone}}
                </div>
                <div class="member-content-li-item">
                  <span>会员来源：</span>
                  {{baseDetail.channelname}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会员状态：</span>
                  {{memberstatus === 1 ? '正常' : '冻结'}}
                </div>
                <div class="member-content-li-item">
                  <span>注册时间：</span>
                  {{baseDetail.createDate}}
                </div>
                <div class="member-content-li-item">
                  <span>推荐人：</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- 会籍信息 -->
          <div class="member-content">
            <div class="member-content-title">
              会籍信息
              <i class="header-icon el-icon-info"></i>
              <!-- <el-button type="success" style="margin-left: 15px">升级</el-button>
              <el-button type="warning" style="margin-left: 15px">降级</el-button>
              <el-button type="primary" style="margin-left: 15px">保级</el-button> -->
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会员等级：</span>
                  {{baseDetail.cardname}}
                </div>
                <div class="member-content-li-item">
                  <span>会员等级：</span>
                  {{baseDetail.level}}
                </div>
                <div class="member-content-li-item">
                  <span></span>
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>会籍有效期：</span>
                  {{baseDetail.vaildtype === 1 ? '永久有效' : '一年'}}
                </div>
                <div class="member-content-li-item">
                  <span>会员积分：</span>
                  {{baseDetail.score}}
                </div>
                <div class="member-content-li-item">
                  <span></span>
                </div>
              </li>
            </ul>
          </div>
          <!-- 消费信息 -->
          <div class="member-content">
            <div class="member-content-title">
              消费信息
              <i class="header-icon el-icon-info"></i>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>累计消费金额：</span>
                  ￥{{baseDetail.totalAmount ? baseDetail.totalAmount: 0}}
                </div>
                <div class="member-content-li-item">
                  <span>累计消费次数：</span>
                  {{baseDetail.times ? baseDetail.times : 0}}
                </div>
                <div class="member-content-li-item">
                  <span></span>
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>今年消费金额：</span>
                  ￥{{baseDetail.yearAmount ? baseDetail.yearAmount : 0}}
                </div>
                <div class="member-content-li-item">
                  <span>今年消费次数：</span>
                  {{baseDetail.yearTimes ? baseDetail.yearTimes : 0}}
                </div>
                <div class="member-content-li-item">
                  <span></span>
                </div>
              </li>
            </ul>
          </div>
          <!-- 个人信息 -->
          <div class="member-content">
            <div class="member-content-title">
              个人信息
              <i class="header-icon el-icon-info"></i>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>姓名：</span>
                  {{baseDetail.truename}}
                </div>
                <div class="member-content-li-item">
                  <span>证件号码：</span>
                  {{baseDetail.idno}}{{baseDetail.idtype === 1 ? '(身份证)' : baseDetail.idtype === 2 ? '(护照)' : baseDetail.idtype === 3 ? '(驾驶证)' : ''}}
                </div>
                <div class="member-content-li-item">
                  <span>籍贯：</span>
                  {{baseDetail.nativeplace}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>民族：</span>
                  {{baseDetail.famous}}
                </div>
                <div class="member-content-li-item">
                  <span>所在城市：</span>
                  {{baseDetail.city}}
                </div>
                <div class="member-content-li-item">
                  <span>职务：</span>
                  {{baseDetail.job}}
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>个人喜好：</span>
                  {{baseDetail.hobby}}
                </div>
              </li>
            </ul>
          </div>
          <!-- 其他信息 -->
          <div class="member-content">
            <div class="member-content-title">
              其他信息
              <i class="header-icon el-icon-info"></i>
            </div>
            <ul class="member-content-ul">
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>所属公司：</span>
                  {{baseDetail.company}}
                </div>
                <div class="member-content-li-item">
                  <span>协议公司等级：</span>
                </div>
              </li>
              <li class="member-content-li">
                <div class="member-content-li-item">
                  <span>有效期：</span>
                  {{baseDetail.startdate ? baseDetail.startdate +'~' + baseDetail.enddate : ''}}
                </div>
              </li>
            </ul>
          </div>
        </el-tab-pane>

        <!-- 消费信息 -->
        <!-- <el-tab-pane label="消费信息" name="2">
          <div class="total-table-box">
            <el-table :data="totaltableDataXF" border>
              <el-table-column prop="orderAmountTotal" label="消费金额合计">
                <template
                  slot-scope="scope"
                >{{scope.row.orderAmountTotal ? scope.row.orderAmountTotal : 0}}</template>
              </el-table-column>
              <el-table-column prop="discountAmountTotal" label="优惠金额合计">
                <template
                  slot-scope="scope"
                >{{scope.row.discountAmountTotal ? scope.row.discountAmountTotal : 0}}</template>
              </el-table-column>
              <el-table-column prop="amountTotal" label="支付金额合计">
                <template slot-scope="scope">{{scope.row.amountTotal ? scope.row.amountTotal : 0}}</template>
              </el-table-column>
              <el-table-column prop="refundAmountTotal" label="退款金额合计">
                <template
                  slot-scope="scope"
                >{{scope.row.refundAmountTotal ? scope.row.refundAmountTotal : 0}}</template>
              </el-table-column>
            </el-table>
          </div>
          <div class="member-search-box">
            <el-form
              :model="xfsearchform"
              ref="xfsearchform"
              class="member-search-form"
              :inline="true"
              label-width="70px"
            >
              <el-row>
                <el-col :span="24">
                  <el-form-item label="订单号" prop="orderno">
                    <el-input
                      v-model="xfsearchform.orderno"
                      clearable
                      placeholder="请输入"
                      class="member-search-input"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="订单来源" prop="channel">
                    <el-select
                      v-model="xfsearchform.channel"
                      clearable
                      filterable
                      placeholder="请选择"
                      class="member-search-input"
                    >
                      <el-option
                        v-for="item in channelList"
                        :key="item.id"
                        :label="item.id + '-' +item.channelname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="订单状态" prop="status">
                    <el-select
                      v-model="xfsearchform.status"
                      clearable
                      filterable
                      placeholder="请选择"
                      class="member-search-input"
                    >
                      <el-option
                        v-for="item in orderStatusList"
                        :key="item.id"
                        :label="item.id+'-'+item.name"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="下单时间" style="margin-bottom: 0">
                    <el-form-item label-width="0px" prop="placeBeginDate">
                      <el-date-picker
                        class="member-search-input"
                        v-model="xfsearchform.placeBeginDate"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        type="date"
                        placeholder="开始时间"
                        clearable
                      ></el-date-picker>
                    </el-form-item>
                    <span style="margin: 0 8px 0 0;">至</span>
                    <el-form-item label-width="0px" prop="placeEndDate">
                      <el-date-picker
                        class="member-search-input"
                        v-model="xfsearchform.placeEndDate"
                        value-format="yyyy-MM-dd"
                        type="date"
                        placeholder="截至时间"
                        clearable
                      ></el-date-picker>
                    </el-form-item>
                  </el-form-item>
                  <el-form-item label-width="0px">
                    <el-button type="primary" @click="handleSearchXF">查询</el-button>
                    <el-button type="info" @click="resetSearchXF('xfsearchform')">重置</el-button>
                  </el-form-item>
                </el-col>
                <el-col :span="24"></el-col>
              </el-row>
            </el-form>
          </div>

          <div class="member-container-table">
            <el-table
              :data="xftableData"
              border
              v-loading="xfloading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
            >
              <el-table-column prop="channel" label="订单来源" width="70"></el-table-column>
              <el-table-column prop="orderno" label="订单号" width="90"></el-table-column>
              <el-table-column prop="createDate" label="下单时间" width="90"></el-table-column>
              <el-table-column prop="status" label="订单状态" width="70">
                <template
                  slot-scope="scope"
                >{{scope.row.status === 1 ? '待支付' : scope.row.status === 2 ? '支付中' : scope.row.status === 3 ? '支付失败' : scope.row.status === 4 ? '支付完成' : scope.row.status === 5 ? '预定完成' : scope.row.status === 6 ? '已入住' : scope.row.status === 10 ? '退款审核' : scope.row.status === 11 ? '退款审核拒绝' : scope.row.status === 12 ? '退款中' : scope.row.status === 13 ? '退款失败' : scope.row.status === 14 ? '退款成功' : scope.row.status === 20 ? '订单关闭' : scope.row.status === 21 ? '订单异常' : ''}}</template>
              </el-table-column>
              <el-table-column prop="hotelName" label="预定酒店" width="90"></el-table-column>
              <el-table-column prop="roomName" label="房型"></el-table-column>
              <el-table-column prop="orderAmount" label="消费金额" width="80"></el-table-column>
              <el-table-column prop="amount" label="支付金额" width="80"></el-table-column>
              <el-table-column prop="sumDiscount" label="优惠金额" width="80"></el-table-column>
              <el-table-column prop="refundAmount" label="退款金额" width="80"></el-table-column>
            </el-table>
            <div class="member-pagination-container">
              <el-pagination
                background
                @size-change="changeLimitXF"
                @current-change="handleCurrentChangeXF"
                :current-page.sync="xfpage"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="xflimit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="xftotal"
              ></el-pagination>
            </div>
          </div>
        </el-tab-pane> -->

        <!-- 积分信息 -->
        <!-- <el-tab-pane label="积分信息" name="3">
          <div class="total-table-box">
            <el-table :data="totaltableDataJF" border>
              <el-table-column prop="allGetScore" label="历年积分" width="100">
                <template
                  slot-scope="scope"
                >{{scope.row.allGetScore ? scope.row.allGetScore : 0}}</template>
              </el-table-column>
              <el-table-column prop="yearGetScore" label="今年累计积分">
                <template
                  slot-scope="scope"
                >{{scope.row.yearGetScore ? scope.row.yearGetScore : 0}}</template>
              </el-table-column>
              <el-table-column prop="yearUsedScore" label="今年消费积分">
                <template
                  slot-scope="scope"
                >{{scope.row.yearUsedScore ? scope.row.yearUsedScore : 0}}</template>
              </el-table-column>
              <el-table-column prop="leftScore" label="账户剩余积分">
                <template
                  slot-scope="scope"
                >{{scope.row.leftScore ? scope.row.leftScore : 0}}</template>
              </el-table-column>
              <el-table-column prop="allUsedScore" label="历年总消费积分">
                <template
                  slot-scope="scope"
                >{{scope.row.allUsedScore ? scope.row.allUsedScore : 0}}</template>
              </el-table-column>
              <el-table-column prop="overdueScore" label="即将过期积分">
                <template
                  slot-scope="scope"
                >{{scope.row.overdueScore ? scope.row.overdueScore : 0}}</template>
              </el-table-column>
            </el-table>
          </div>
          <div class="member-search-box">
            <el-form
              :model="jfsearchform"
              ref="jfsearchform"
              class="member-search-form"
              :inline="true"
              label-width="70px"
            >
              <el-row>
                <el-col :span="24">
                  <el-form-item label="创建时间" style="margin-bottom: 0">
                    <el-form-item label-width="0px" prop="createDateBegin">
                      <el-date-picker
                        style="width: 140px"
                        v-model="jfsearchform.createDateBegin"
                        value-format="yyyy-MM-dd"
                        type="date"
                        placeholder="选择开始时间"
                        clearable
                      ></el-date-picker>
                    </el-form-item>
                    <span style="margin: 0 8px 0 0;">至</span>
                    <el-form-item label-width="0px" prop="createDateEnd">
                      <el-date-picker
                        style="width: 140px"
                        v-model="jfsearchform.createDateEnd"
                        value-format="yyyy-MM-dd"
                        type="date"
                        placeholder="截至时间"
                        clearable
                      ></el-date-picker>
                    </el-form-item>
                  </el-form-item>
                  <el-form-item label="积分类别" prop="category">
                    <el-select
                      v-model="jfsearchform.category"
                      clearable
                      filterable
                      placeholder="请选择"
                      class="member-search-input"
                    >
                      <el-option
                        v-for="item in jfStatusList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label-width="0px">
                    <el-button type="primary" @click="handleSearchJF">查询</el-button>
                    <el-button type="info" @click="resetSearchJF('jfsearchform')">重置</el-button>
                  </el-form-item>
                </el-col>
                <el-col :span="24">
                  <el-form-item label-width="0px">
                    <el-button type="primary">赠送积分</el-button>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
          <div class="member-container-table">
            <el-table
              :data="jftableData"
              border
              v-loading="xfloading"
              element-loading-text="拼命加载中"
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
            >
              <el-table-column prop="category" label="类别" width="100">
                <template slot-scope="scope">{{scope.row.category === 1 ? '新增积分' : '消费积分'}}</template>
              </el-table-column>
              <el-table-column prop="getScore" label="积分数量" width="250">
                <template
                  slot-scope="scope"
                >{{scope.row.category === 1 ? '+'+scope.row.getScore : '-'+scope.row.usedScore}}</template>
              </el-table-column>
              <el-table-column prop="items" label="项目"></el-table-column>
              <el-table-column prop="createDate" label="创建时间" width="250"></el-table-column>
            </el-table>
            <div class="member-pagination-container">
              <el-pagination
                background
                @size-change="changeLimitJF"
                @current-change="handleCurrentChangeJF"
                :current-page.sync="jfpage"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="jflimit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="jftotal"
              ></el-pagination>
            </div>
          </div>
        </el-tab-pane> -->
        <!-- <el-tab-pane label="权益信息" name="4">
          <div class="total-table-box qy-item-ul">
            <div class="qy-item-li">
              <div class="qy-item-title">会员等级</div>
              <div class="qy-item-content" v-show="benefitData.name">
                <span>{{benefitData.name}}</span>
                <el-button type="success" size="mini">升级</el-button>
              </div>
            </div>
            <div class="qy-item-li">
              <div class="qy-item-title">已入住夜数</div>
              <div class="qy-item-content">{{benefitData.times}}</div>
            </div>
            <div class="qy-item-li">
              <div class="qy-item-title">现等级有效期</div>
              <div class="qy-item-content" v-show="benefitData.startdate">
                <span>{{benefitData.startdate}}~{{benefitData.enddate}}</span>
                <el-button type="primary" size="mini">延迟有效期</el-button>
              </div>
            </div>
          </div>
          <div class="total-table-box">
            <el-table :data="benefitTableData" border>
              <el-table-column prop="type" label="类别" width="100">
                <template slot-scope="scope">{{scope.row.type === 0 ? '升级' : '降级'}}</template>
              </el-table-column>
              <el-table-column prop="name" label="会员等级"></el-table-column>
              <el-table-column prop="item" label="项目"></el-table-column>
              <el-table-column prop="createDate" label="操作日期"></el-table-column>
            </el-table>
          </div>
        </el-tab-pane> -->

      </el-tabs>
    </el-dialog>

    <el-dialog
      title="修改手机号"
      :visible.sync="canclevisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialogPhone"
    >
      <el-form
        :inline="true"
        label-width="150px"
        class="operate-form-box"
      >
      <el-form-item label="原手机号" required>
        <el-input
          v-model="originalPhone"
          type="text"
          clearable
          placeholder="请输入"
          style="width: 300px"
          disabled
        ></el-input>
      </el-form-item>
      <el-form-item label="新手机号" required>
        <el-input
          v-model="newPhone"
          type="text"
          clearable
          placeholder="请输入"
          style="width: 300px"
        ></el-input>
      </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="canclevisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleEditPhoneSave">确 定</el-button>
        </div>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { regphone } from "@/utils/reg.js";
export default {
  data() {
    // 正数不含0
    let checkPhone = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("不能为空"));
      }
      if (!regphone.test(value)) {
        callback(new Error("手机号不合法"));
      } else {
        callback();
      }
    };
    return {
      searchform: {
        cardid: "",
        channelname: "",
        membertype: "",
        nickname: "",
        phone: "",
        registerBeginTime: "",
        registerEndTime: "",
        truename: ""
      },
      searchresult: {
        cardid: "",
        channelname: "",
        membertype: "",
        nickname: "",
        phone: "",
        registerBeginTime: "",
        registerEndTime: "",
        truename: ""
      },
      isspread: false,
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      catvisible: false,
      visible: false,
      actionTypeName: "",
      form: {
        birthday: "",
        cardid: "",
        cardno: "",
        channelid: "",
        company: "",
        famous: "",
        hobby: "",
        idno: "",
        idtype: "",
        job: "",
        membertype: "",
        nativeplace: "",
        phone: "",
        sex: 1,
        truename: "",
        vaildtype: 1,
        provinceid: "",
        cityid: ""
      },
      rules: {
        truename: [{ required: true, message: "不能为空", trigger: "blur" }],
        membertype: [
          { required: true, message: "不能为空", trigger: "change" }
        ],
        cardid: [{ required: true, message: "不能为空", trigger: "change" }],
        cardno: [{ required: true, message: "不能为空", trigger: "change" }],
        vaildtype: [{ required: true, message: "不能为空", trigger: "change" }],
        phone: [{ required: true, validator: checkPhone, trigger: "blur" }],
        channelid: [{ required: true, message: "不能为空", trigger: "change" }]
      },
      channelList: [],
      levelList: [
        {
          id: 1,
          name: "银卡会员"
        },
        {
          id: 2,
          name: "金卡会员"
        },
        {
          id: 3,
          name: "白金会员"
        },
        {
          id: 4,
          name: "黑卡会员"
        }
      ],
      cardList: [
        {
          id: 1,
          name: "身份证"
        },
        {
          id: 2,
          name: "护照"
        },
        {
          id: 3,
          name: "驾驶证"
        }
      ],
      typeList: [
        {
          id: 1,
          name: "注册会员"
        },
        {
          id: 2,
          name: "特权"
        },
        {
          id: 3,
          name: "业主"
        },
        {
          id: 4,
          name: "员工"
        }
      ],
      cardNumList: [
        {
          id: 1,
          name: "88888"
        },
        {
          id: 2,
          name: "99999"
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        }
      },
      delvisible: false,
      tabvalue: "1",
      xfsearchform: {
        channel: "",
        orderno: "",
        placeBeginDate: "",
        placeEndDate: "",
        status: ""
      },
      xfsearchresult: {
        channel: "",
        orderno: "",
        placeBeginDate: "",
        placeEndDate: "",
        status: ""
      },
      xftableData: [],
      xftotal: 0,
      xfpage: 1,
      xflimit: 10,
      xfloading: false,
      orderStatusList: [
        {
          id: 1,
          name: "待支付"
        },
        {
          id: 2,
          name: "支付中"
        },
        {
          id: 3,
          name: "支付失败"
        },
        {
          id: 4,
          name: "支付完成"
        },
        {
          id: 6,
          name: "离店"
        },
        {
          id: 10,
          name: "退款审核"
        },
        {
          id: 11,
          name: "退款审核拒绝"
        },
        {
          id: 12,
          name: "退款中"
        },
        {
          id: 13,
          name: "退款失败"
        },
        {
          id: 14,
          name: "退款成功"
        },
        {
          id: 20,
          name: "订单关闭"
        },
        {
          id: 21,
          name: "订单异常"
        }
      ],
      totaltableDataXF: [
        {
          amountTotal: "",
          discountAmountTotal: "",
          orderAmountTotal: "",
          refundAmountTotal: ""
        }
      ],
      jfsearchform: {
        category: "",
        createDateBegin: "",
        createDateEnd: ""
      },
      jfsearchresult: {
        category: "",
        createDateBegin: "",
        createDateEnd: ""
      },
      jftableData: [],
      jftotal: 0,
      jfpage: 1,
      jflimit: 10,
      jfloading: false,
      jfStatusList: [
        {
          id: 1,
          name: "增加"
        },
        {
          id: 2,
          name: "消费"
        }
      ],
      totaltableDataJF: [
        {
          allGetScore: "",
          allUsedScore: "",
          leftScore: "",
          overdueScore: "",
          yearGetScore: "",
          yearUsedScore: ""
        }
      ],
      benefitData: {},
      benefitTableData: [],
      qyloading: false,
      provinceList: [],
      cityList: [],
      memberid: 0,
      memberstatus: '',
      baseDetail: {},
      canclevisible: false,
      newPhone: "",
      originalPhone: ""
    };
  },
  components: {
    vBreadcrumb
  },
  filters: {
    formatdate(value) {
      if (!value) return "";
      return value.split(" ")[0];
    }
  },
  computed: {},
  created() {
    // this.gotData();
    // this.gotLevelList();
    this.getAddProvince();
    this.gotChannelList();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      const registerBeginTime = this.searchform.registerBeginTime
        ? this.searchform.registerBeginTime + " 00:00:00"
        : "";
      const registerEndTime = this.searchform.registerEndTime
        ? this.searchform.registerEndTime + " 00:00:00"
        : "";
      this.searchresult = {
        ...this.searchform,
        registerBeginTime: registerBeginTime,
        registerEndTime: registerEndTime
      };
      this.gotData();
    },
    //查询展开
    clickSpread(value) {
      this.isspread = value;
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        cardid: this.searchresult.cardid,
        channelname: this.searchresult.channelname,
        membertype: this.searchresult.membertype,
        nickname: this.searchresult.nickname,
        phone: this.searchresult.phone,
        registerBeginTime: this.searchresult.registerBeginTime,
        registerEndTime: this.searchresult.registerEndTime,
        truename: this.searchresult.truename,
        sortField: "create_date",
        sortType: "desc"
      };
      this.loading = true;
      this.$store
        .dispatch("member/memberList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //新增会员
    handleAdd() {
      this.visible = true;
      this.actionTypeName = "新增会员";
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const birthday = this.form.birthday ? this.form.birthday + ' 00:00:00' : '';
          const params = {
            birthday: birthday,
            cardid: this.form.cardid,
            cardno: this.form.cardno,
            channelid: this.form.channelid,
            company: this.form.company,
            famous: this.form.famous,
            hobby: this.form.hobby,
            idno: this.form.idno,
            idtype: this.form.idtype,
            job: this.form.job,
            membertype: this.form.membertype,
            nativeplace: this.form.nativeplace,
            phone: this.form.phone,
            sex: this.form.sex,
            truename: this.form.truename,
            vaildtype: this.form.vaildtype,
            provinceid: this.form.provinceid,
            cityid: this.form.cityid
          };
          this.handleAddSave(params);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    //新增
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("member/memberSave", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        birthday: "",
        cardid: "",
        cardno: "",
        channelid: "",
        company: "",
        famous: "",
        hobby: "",
        idno: "",
        idtype: "",
        job: "",
        membertype: "",
        nativeplace: "",
        phone: "",
        sex: 1,
        truename: "",
        vaildtype: 1,
        provinceid: "",
        cityid: ""
      };
      this.cityList = [];
    },
    //刷新会员卡号
    refreshCardNo() {},
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    //会员卡号下拉列表
    gotCardList() {
      const params = {};
      this.$store
        .dispatch("member/", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.cardList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //会员等级下拉列表
    gotLevelList() {
      const params = {};
      this.$store
        .dispatch("member/memberCardLevel", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.levelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //获取省级行政单位列表
    getAddProvince() {
      this.$store.dispatch("hotel/hotelAddressProvince").then(result => {
        if (result.code == 0) {
          this.provinceList = result.data;
        }
      });
    },
    //根据省级行政单位获取城市
    getAddCity() {
      const params = { id: this.form.provinceid };
      this.form.cityid = "";
      this.$store
        .dispatch("hotel/hotelAddressCity", {
          data: params
        })
        .then(result => {
          if (result.code == 0) {
            this.cityList = result.data;
          }
        });
    },

    // 查看详情
    handleCat(index, row) {
      this.catvisible = true;
      this.memberid = row.id;
      this.memberstatus = row.status;
      this.gotOrderDetail();
    },
    // 关闭详情弹框
    closeDetailDialog() {
      this.tabvalue = "1";
    },
    //详情切换Tab
    handleTabClick(tab, event) {
      this.tabvalue = tab.name;
      const index = parseInt(tab.name);
      switch (index) {
        case 1:
          // 基本信息
          this.gotOrderDetail();
          break;
        case 2:
          // 消费信息
          this.resetSearchXF("xfsearchform");
          this.gotDataXFTotal();
          break;
        case 3:
          //积分信息
          this.resetSearchJF("jfsearchform");
          this.gotDataJFTotal();
          break;
        case 4:
          //权益信息
          this.gotDataQY();
          break;
        default:
      }
    },
    //基本信息
    gotOrderDetail() {
      const params = {
        id: this.memberid
      };
      this.$store
        .dispatch("member/memberBasicinfo", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.baseDetail = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 会员解冻/冻结
    handleFrozen () {
      const status = this.memberstatus === 1 ? 2 : 1
      const params = {
        id: this.memberid,
        status: status
      };
      this.$store
        .dispatch("member/memberFrozen", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.delvisible = false;
            this.$message.success('操作成功');
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //消费明细查询
    handleSearchXF() {
      this.xfpage = 1;
      const placeBeginDate = this.xfsearchform.placeBeginDate ?  this.xfsearchform.placeBeginDate + ' 00:00:00' : '';
      const placeEndDate = this.xfsearchform.placeEndDate ?  this.xfsearchform.placeEndDate + ' 00:00:00' : ''
      this.xfsearchresult = {
        ...this.xfsearchform,
        placeBeginDate: placeBeginDate,
        placeEndDate: placeEndDate
      }
      this.gotDataXF();
    },
    //消费明细重置查询
    resetSearchXF(formName) {
      this.$refs[formName].resetFields();
      this.xfsearchresult = this.xfsearchform;
      this.xfpage = 1;
      this.gotDataXF();
    },
    // 消费明细分页导航
    handleCurrentChangeXF(val) {
      this.xfpage = val;
      this.gotDataXF();
    },
    //消费明细改变页数
    changeLimitXF(val) {
      this.xfpage = 1;
      this.xflimit = val;
      this.gotDataXF();
    },
    //消费明细列表数据
    gotDataXF() {
      const params = {
        pageNum: this.xfpage,
        pageSize: this.xflimit,
        channel: this.xfsearchresult.channel,
        orderno: this.xfsearchresult.orderno,
        placeBeginDate: this.xfsearchresult.placeBeginDate,
        placeEndDate: this.xfsearchresult.placeEndDate,
        status: this.xfsearchresult.status,
        userid: this.memberid
      };
      this.xfloading = true;
      this.$store
        .dispatch("member/memberConsume", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data.list;
            this.xftableData = data;
            this.xftotal = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.xfloading = false;
        });
    },
    gotDataXFTotal() {
      const params = {
        id: this.memberid
      };
      this.$store
        .dispatch("member/memberAmount", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data;
            if (data) {
              this.totaltableDataXF[0].amountTotal = data.amountTotal;
              this.totaltableDataXF[0].discountAmountTotal =
                data.discountAmountTotal;
              this.totaltableDataXF[0].orderAmountTotal = data.orderAmountTotal;
              this.totaltableDataXF[0].refundAmountTotal =
                data.refundAmountTotal;
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //积分明细查询
    handleSearchJF() {
      this.jfpage = 1;
      const createDateBegin = this.jfsearchform.createDateBegin ? this.jfsearchform.createDateBegin + ' 00:00:00' : '';
      const createDateEnd = this.jfsearchform.createDateEnd ? this.jfsearchform.createDateEnd + ' 00:00:00' : '';
      this.jfsearchresult = {
        ...this.jfsearchform,
        createDateBegin: createDateBegin,
        createDateEnd: createDateEnd
      }
      this.gotDataJF();
    },
    //积分明细重置查询
    resetSearchJF(formName) {
      this.$refs[formName].resetFields();
      this.jfsearchresult = this.jfsearchform;
      this.jfpage = 1;
      this.gotDataJF();
    },
    //积分明细分页导航
    handleCurrentChangeJF(val) {
      this.jfpage = val;
      this.gotDataJF();
    },
    //积分明细改变页数
    changeLimitJF(val) {
      this.jfpage = 1;
      this.jflimit = val;
      this.gotDataJF();
    },
    //积分明细列表数据
    gotDataJF() {
      const params = {
        pageNum: this.jfpage,
        pageSize: this.jflimit,
        category: this.jfsearchresult.category,
        createDateBegin: this.jfsearchresult.createDateBegin,
        createDateEnd: this.jfsearchresult.createDateEnd,
        userid: this.memberid
      };
      this.jfloading = true;
      this.$store
        .dispatch("member/memberScore", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data.list;
            this.jftableData = data;
            this.jftotal = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.jfloading = false;
        });
    },
    gotDataJFTotal() {
      const params = {
        id: this.memberid
      };
      this.$store
        .dispatch("member/memberUsedscore", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data;
            if (data) {
              this.totaltableDataJF[0].allGetScore = data.allGetScore;
              this.totaltableDataJF[0].allUsedScore = data.allUsedScore;
              this.totaltableDataJF[0].leftScore = data.leftScore;
              this.totaltableDataJF[0].overdueScore = data.overdueScore;
              this.totaltableDataJF[0].yearGetScore = data.yearGetScore;
              this.totaltableDataJF[0].yearUsedScore = data.yearUsedScore;
            }
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //权益信息
    gotDataQY() {
      const params = {
        id: this.memberid
      };
      this.qyloading = true;
      this.$store
        .dispatch("member/memberBenefits", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            let data = result.data;
            this.benefitData = data;
            this.benefitTableData = data.userCardList;
          } else {
            this.$message.error(result.msg);
          }
          this.qyloading = false;
        });
    },
    // 修改手机号
    handleEditPhone () {
      this.canclevisible = true;
      const params = {
        id: this.memberid
      };
      this.$store
      .dispatch("member/userPhone", {
        data: params
      })
      .then(result => {
        if (result.code === 0) {
          this.originalPhone = result.msg;
        } else {
          this.$message.error(result.msg);
        }
      });

    },
    closeDialogPhone () {
      this.originalPhone = "";
      this.newPhone = ""
    },
    // 确认修改
    handleEditPhoneSave () {
      if (!/^1\d{10}$/.test(this.originalPhone)) {
         this.$message.warning('原手机号不合法')
         return
       }
       if (!/^1\d{10}$/.test(this.newPhone)) {
         this.$message.warning('新手机号不合法')
         return
       }
       const params = {
        id: this.memberid,
        newPhone: this.newPhone,
        originalPhone: this.originalPhone
      };
      this.$store
      .dispatch("member/updatePhone", {
        data: params
      })
      .then(result => {
        if (result.code === 0) {
          this.gotOrderDetail();
          this.canclevisible = false;
          this.$message.success("修改成功");
        } else {
          const msg = result.data ? result.data.message : result.msg
          this.$message.error(msg);
        }
      });
    }
    
  }
};
</script>

