<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2021-01-05 09:47:36
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.comment-li-title {
  color: #409eff;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}
.comment-li-content {
  padding: 10px 0;
}
.comment-li-content-div {
  width: 150px;
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb
      title="客房服务管理"
      title2="投诉或建议管理"
    ></v-breadcrumb>
    <div class="content-container">
      <el-card
        class="search-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form
            :model="searchform"
            ref="searchform"
            class="search-form"
            :inline="true"
          >
            <!-- 默认 -->
            <el-row>
              <el-col :span="24">
                <el-form-item
                  label="是否需要反馈"
                  prop="feedback"
                >
                  <el-select
                    v-model="searchform.feedback"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option :value="1">是</el-option>
                    <el-option :value="0">否</el-option>
                  </el-select>
                </el-form-item>
                <el-form-item
                  label="联系电话"
                  prop="phone"
                >
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item
                  label="酒店名称"
                  prop="hotelid"
                >
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' + item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button
                    type="primary"
                    @click="handleSearch"
                  >查询</el-button>
                  <el-button
                    type="info"
                    @click="resetSearch('searchform')"
                  >重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card
        class="table-card"
        shadow="never"
      >
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column
              label="操作"
              width="80"
              align="center"
              fixed="left"
            >
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-search"
                  @click="handleCat(scope.$index, scope.row)"
                >查看</el-button>
              </template>
            </el-table-column>
            <el-table-column
              prop="hotelname"
              label="酒店名称"
            ></el-table-column>
            <el-table-column
              prop="replyStatus"
              label="反馈状态"
            >
              <template slot-scope="scope">
                <span
                  v-if="scope.row.replyStatus === 0"
                  style="color: #e6a23c"
                >待回复</span>
                <span v-else>已回复</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="feedback"
              label="是否需要反馈"
            >
              <template slot-scope="scope">
                <span
                  v-if="scope.row.feedback === 1"
                  style="color: #e6a23c"
                >是</span>
                <span v-else>否</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="phone"
              label="联系电话"
            ></el-table-column>
            <el-table-column
              prop="usermame"
              label="顾客姓名"
              label-width="100px"
            ></el-table-column>
            <el-table-column
              prop="createDate"
              label="创建时间"
            ></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <el-dialog
      width="900px"
      title="建议反馈"
      :visible.sync="visible"
      :close-on-click-modal="false"
      @close="closeDialog"
    >
      <el-form
        :inline="true"
        label-width="110px"
      >
        <el-row>
          <el-col>
            <div class="comment-li-title">建议反馈信息</div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="酒店名称:">
                <div class="comment-li-content-div">
                  {{ rowData.hotelname }}
                </div>
              </el-form-item>
              <el-form-item label="房间号:">
                <div class="comment-li-content-div">
                  {{ rowData.roomno }}
                </div>
              </el-form-item>
              <el-form-item label="创建时间:">
                <div class="comment-li-content-div">
                  {{ rowData.createDate }}
                </div>
              </el-form-item>
            </div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="顾客姓名:">
                <div class="comment-li-content-div">
                  {{ rowData.username }}
                </div>
              </el-form-item>
              <el-form-item label="联系电话:">
                <div class="comment-li-content-div">
                  {{ rowData.phone }}
                </div>
              </el-form-item>
              <el-form-item label="是否需要反馈:">
                <div class="comment-li-content-div">
                  {{ rowData.feedback === 1 ? '是' : '否' }}
                </div>
              </el-form-item>
            </div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item
                label="投诉与建议:"
                label-width="110px"
              >
                <el-input
                  style="width: 590px"
                  type="textarea"
                  :autosize="{ minRows: 6, maxRows: 10 }"
                  disabled
                  v-model="rowData.content"
                ></el-input>
              </el-form-item>
            </div>
          </el-col>

          <el-col>
            <div class="comment-li-title">酒店反馈信息</div>
          </el-col>
          <el-col>
            <div class="comment-li-content">
              <el-form-item label="反馈状态:">{{
                rowData.reply_status === 0 ? "待回复" : "已回复"
              }}</el-form-item>
            </div>
          </el-col>
          <el-col v-if="rowData.reply_status === 1">
            <div class="comment-li-content">
              <el-form-item label="回复内容:">
                <el-input
                  style="width: 590px"
                  type="textarea"
                  resize="none"
                  rows="6"
                  v-model="rowData.replycontent"
                ></el-input>
              </el-form-item>
            </div>
          </el-col>
          <el-col v-if="rowData.reply_status === 0">
            <div class="comment-li-content">
              <el-form-item
                label="模板选择:"
              >
                <el-select
                  placeholder="请选择"
                  style="width:600px"
                  v-model="templateid"
                  @change="changeTemplateName"
                >
                  <el-option
                    v-for="item in templateList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="comment-li-content">
              <el-form-item label="回复内容:" required>
                <el-input
                  style="width: 590px"
                  type="textarea"
                  resize="none"
                  rows="6"
                  clear
                  v-model="replycontent"
                ></el-input>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <span
        slot="footer"
        class="dialog-footer"
      >
        <div style="text-align: center; margin-top: 10px">
          <el-button
            type="default"
            size="mini"
            @click="visible = false"
          >取消</el-button>
          <el-button
            type="primary"
            size="mini"
            @click="handleSrue"
          >确认反馈</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        feedback: "",
        phone: "",
        hotelid: "",
      },
      searchresult: {
        feedback: "",
        phone: "",
        hotelid: "",
      },
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      tableData: [],
      templateList: [],
      hotelList: [],
      statusList: [
        {
          id: 0,
          name: "待回复",
        },
        {
          id: 1,
          name: "已回复",
        },
      ],
      visible: false,
      rowData: {},
      replycontent: "",
      templateid: ''
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo
    }),
  },
  created() {
    this.gotData();
    this.gotHotelList();
    this.gotTemplateList()
  },
  mounted() {},
  methods: {
    // 查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    // 重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    // 改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    // 列表数据
    gotData() {
      const params = {
        hotelcode: this.searchresult.hotelid,
        phone: this.searchresult.phone,
        feedback: this.searchresult.feedback,
        pageNum: this.page,
        pageSize: this.limit
      };
      this.loading = true;
      this.$store
        .dispatch("service/suggestList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data.list;
            this.tableData = data;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 查看
    handleCat(index, row) {
      this.visible = true;
      this.rowData = row;
      this.gotCommentDetail();
    },
    // 评论详情
    gotCommentDetail() {
      const params = {
        id: this.rowData.id
      };
      this.$store
        .dispatch("service/suggestDetail", {
          data: params
        })
        .then((result) => {
          if (result.code === 0) {
            this.rowData = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    changeTemplateName(value) {
      const arr = this.templateList.filter((item) => item.id === value);
      if (arr.length > 0) {
        this.replycontent = arr[0].content;
      } else {
        this.replycontent = ''
      }
    },
    //酒店回复
    handleSrue() {
      if (!this.replycontent) {
        this.$message.warning("请输入回复内容");
        return;
      }
      const params = {
        suggestid: this.rowData.id,
        content: this.replycontent
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("service/suggestReply", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("回复成功");
            this.visible = false;
            this.gotData();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //关闭弹窗
    closeDialog() {
      this.replycontent = "";
      this.templateid = ""
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //回复模板下拉
    gotTemplateList() {
      const params = {
        hotelIdList: this.userinfo.roleHotelId,
        type: 3
      };
      this.$store
        .dispatch("service/replypull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.templateList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

