<style lang="scss" scoped>
.page-image {
  width: 100%;
  .image-ul {
    padding-bottom: 84px;
    .image-li-item {
      height: 84px;
      margin-top: 45px;
      .image-li-title {
        float: left;
        line-height: 84px;
        min-width: 100px;
        .title-require {
          color: #e02020;
          float: left;
        }
        .title {
          color: #263140;
          min-width: 70px;
          font-size: 14px;
          display: block;
          float: left;
        }
      }
      .image-li-content {
        float: left;
      }
      .image-li-subtitle {
        float: right;
        padding-top: 22px;
        .subtitle-big {
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          padding: 0;
        }
        .subtitle-small {
          font-size: 12px;
          line-height: 20px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
</style>
<template>
  <div class="page-image">
    <div class="image-ul">
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">酒店首图</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="bannerImages"
            :config="bannerConfig"
            @upImages="upImages"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传5张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">大厅</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="hallImages"
            :config="hallConfig"
            @upImages="upImages"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传5张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">外观</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="exteriorImages"
            :config="exteriorConfig"
            @upImages="upImages"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传5张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">房间</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="roomImages"
            :config="roomConfig"
            @upImages="upImages"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传5张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">餐厅</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="restaurantImages"
            :config="restaurantConfig"
            @upImages="upImages"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传5张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
      <div class="image-li-item">
        <div class="image-li-title">
          <span class="title-require">*</span>
          <span class="title">其他</span>
        </div>
        <div class="image-li-content">
          <UpListImage
            class="upload-images"
            :fileList="otherImages"
            :config="otherConfig"
            @upImages="upImages"
          ></UpListImage>
        </div>
        <div class="image-li-subtitle subtitle">
          <p class="subtitle-big">最多上传5张图片，单张不超过2M</p>
          <p class="subtitle-small">尺寸：750x500/1500x1000</p>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>
</template>

<script>
import UpListImage from "@/components/Upload/upListImage.vue";
export default {
  data() {
    return {
      // 首图
      bannerConfig: {
        catalog: 3,
        refId: this.detailId,
        type: 1
      },
      bannerImages: [],
      // 大厅
      hallConfig: {
        catalog: 4,
        refId: this.detailId,
        type: 1
      },
      hallImages: [],
      // 外观
      exteriorConfig: {
        catalog: 5,
        refId: this.detailId,
        type: 1
      },
      exteriorImages: [],
      // 餐厅
      restaurantConfig: {
        catalog: 6,
        refId: this.detailId,
        type: 1
      },
      restaurantImages: [],
      // 其他
      otherConfig: {
        catalog: 7,
        refId: this.detailId,
        type: 1
      },
      otherImages: [],
      // 房间
      roomConfig: {
        catalog: 8,
        refId: this.detailId,
        type: 1
      },
      roomImages: []
    };
  },
  props: {
    detailId: {
      required: true,
      default: 0
    }
  },
  components: {
    UpListImage
  },
  created() {
    this.getImages();
  },
  methods: {
    upImages() {
      this.getImages();
    },
    getImages() {
      if (this.detailId === 0) {
        alert("传值错误");
        return;
      }
      const params = { id: this.detailId };
      this.$store
        .dispatch("hotel/hotelImages", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            if (result.data) {
              let bannerImages = [];
              if (data.bannerImages) {
                data.bannerImages.map((item, index) => {
                  let listitem = {};
                  listitem.url = item.url;
                  listitem.id = item.id;
                  bannerImages.push(listitem);
                });
              }
              this.bannerImages = bannerImages;

              let hallImages = [];
              if (data.hallImages) {
                data.hallImages.map((item, index) => {
                  let listitem = {};
                  listitem.url = item.url;
                  listitem.id = item.id;
                  hallImages.push(listitem);
                });
              }
              this.hallImages = hallImages;

              let exteriorImages = [];
              if (data.exteriorImages) {
                data.exteriorImages.map((item, index) => {
                  let listitem = {};
                  listitem.url = item.url;
                  listitem.id = item.id;
                  exteriorImages.push(listitem);
                });
              }
              this.exteriorImages = exteriorImages;

              let restaurantImages = [];
              if (data.restaurantImages) {
                data.restaurantImages.map((item, index) => {
                  let listitem = {};
                  listitem.url = item.url;
                  listitem.id = item.id;
                  restaurantImages.push(listitem);
                });
              }
              this.restaurantImages = restaurantImages;

              let otherImages = [];
              if (data.otherImages) {
                data.otherImages.map((item, index) => {
                  let listitem = {};
                  listitem.url = item.url;
                  listitem.id = item.id;
                  otherImages.push(listitem);
                });
              }
              this.otherImages = otherImages;

              let roomImages = [];
              if (data.roomImages) {
                data.roomImages.map((item, index) => {
                  let listitem = {};
                  listitem.url = item.url;
                  listitem.id = item.id;
                  roomImages.push(listitem);
                });
              }
              this.roomImages = roomImages;
            } else {
              
              this.bannerImages = [];
              this.hallImages = [];
              this.exteriorImages = [];
              this.restaurantImages = [];
              this.otherImages = [];
              this.roomImages = [];

            }
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>


