<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-08-31 15:33:57
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.status-ul {
  display: flex;
  border: 1px solid #dcdfe6;
  width: 502px;
  .status-li {
    width: 100px;
    height: 50px;
    border-right: 1px solid #dcdfe6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    color: #606266;
    &:last-child {
      border-right: none;
    }
    .status-li-name {
      text-align: center;
      font-size: 14px;
    }
    .status-li-num {
      text-align: center;
      font-size: 12px;
    }
    &.active {
      color: #409eff;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background: #409eff;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
.goods-box {
  display: flex;
  .goods-image {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .goods-content {
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="商品管理" title2="商品管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="商品编码" prop="goodsno">
                  <el-input
                    v-model="searchform.goodsno"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="商品名称" prop="goodsname">
                  <el-input
                    v-model="searchform.goodsname"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="上架状态" prop="savestatus">
                  <el-select
                    v-model="searchform.savestatus"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in saveStatus"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <!-- <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.merchantname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item> -->
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品分组" prop="groupid">
                  <el-select
                    v-model="searchform.groupid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in groupList"
                      :key="item.id"
                      :label="item.id +'-'+ item.groupname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="商品类目" style="margin-bottom: 0">
                  <el-form-item prop="categoryidparent">
                    <el-select
                      v-model="searchform.categoryidparent"
                      clearable
                      placeholder="请选择一级类目"
                      class="search-input"
                      @change="gotCategory2List"
                    >
                      <el-option
                        v-for="item in category1List"
                        :key="item.id"
                        :label="item.id +'-'+ item.categoryname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="categoryid">
                    <el-select
                      v-model="searchform.categoryid"
                      clearable
                      placeholder="请选择二级类目"
                      class="search-input"
                    >
                      <el-option
                        v-for="item in category2List"
                        :key="item.id"
                        :label="item.id +'-'+item.categoryname"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品ID" prop="goodsid" label-width="68px">
                  <el-input
                    v-model="searchform.goodsid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="商品类型" prop="goodsType">
                  <el-select
                    v-model="searchform.goodsType"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in goodsTypeList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
             
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <div class="status-ul">
            <div
              v-for="(item, index) in statusList"
              :key="String(index)"
              :class="['status-li', item.status === statusid ? 'active' : '']"
              @click="changeStatus(item)"
            >
              <div class="status-li-name">{{item.name}}</div>
              <div class="status-li-num">({{item.count}})</div>
            </div>
          </div>
        </div>
        <div class="form-container">
          <el-button type="danger" @click="hanldeAllEdit(1)">下架</el-button>
          <el-button type="warning" @click="hanldeAllEdit(2)">上架</el-button>
          <el-button type="danger" @click="hanldeAllEdit(3)">删除</el-button>
          <el-button type="info" @click="hanldeAllEdit(4)">修改分组</el-button>
          <el-button type="info" @click="hanldeAllEdit(5)">设置运费</el-button>
          <el-button type="info" @click="hanldeAllEdit(6)">修改价格</el-button>
          <el-button type="info" @click="hanldeAllEdit(7)">修改库存</el-button>
          <el-button type="info" @click="hanldeAllEdit(8)">修改分类</el-button>
          <el-button type="info" @click="hanldeAllEdit(10)">商品置顶</el-button>
          <el-button type="primary" @click="handleExport">导出</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
            @selection-change="handleSelectionChange"
          >
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="goodsid" label="商品ID" width="70"></el-table-column>
            <el-table-column prop="goodsname" label="商品名称">
              <template slot-scope="scope">
                <div class="goods-box">
                  <span class="goods-image" v-if="!scope.row.url"></span>
                  <img :src="scope.row.url" class="goods-image" v-if="scope.row.url" />
                  <div class="goods-content">
                    <div class="goods-li">名称：{{scope.row.goodsname}}</div>
                    <div class="goods-li">规格ID：{{scope.row.id}}</div>
                    <div class="goods-li">规格：{{scope.row.specName}}</div>
                    <div class="goods-li">分类：{{scope.row.categoryI}}>{{scope.row.categoryII}}</div>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="goodsno" label="价格" width="100">
              <template slot-scope="scope">
                <div class="goods-box">
                  <div class="goods-content">
                    <div class="goods-li">现价：{{scope.row.price}}</div>
                    <div class="goods-li">原价：{{scope.row.originalprice}}</div>
                    <!-- <div class="goods-li">积分：{{scope.row.point}}</div> -->
                    <div class="goods-li">库存：{{scope.row.stock}}</div>
                    <div class="goods-li">总销量：{{scope.row.salecount ? scope.row.salecount : 0}}</div>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="savestatus" label="上架状态" width="70">
              <template
                slot-scope="scope"
              >{{scope.row.savestatus === 0 ? '暂存' : scope.row.savestatus === 1 ? '上架' : scope.row.savestatus === 2 ? '下架' : ''}}</template>
            </el-table-column>
            <el-table-column prop="status" label="上架时间" width="70">
              <template
                slot-scope="scope"
              >{{scope.row.status === 1 ? '立即' : scope.row.status === 2 ? '定时' : ''}}</template>
            </el-table-column>

            <el-table-column prop="goodsname" label="商品类型" width="70">
              <template
                slot-scope="scope"
              >{{scope.row.goodsType === 1 ? '实体商品' : scope.row.goodsType === 2 ? '票券' : ''}}</template>
            </el-table-column>
            <el-table-column prop="sort" label="排序" width="60"></el-table-column>
            <el-table-column prop="createDate" label="创建时间" width="90"></el-table-column>
            <el-table-column prop="updateDate" label="更新时间" width="90"></el-table-column>
            <el-table-column label="操作" width="70" align="center" fixed="right">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleCat(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>
    <!-- 修改分组 -->
    <el-dialog
      title="修改商品分组"
      :visible.sync="groupvisible"
      width="800px"
      @close="closeDialog('groupform')"
      :close-on-click-modal="false"
    >
      <el-form ref="groupform" :model="groupform" :inline="true" class="operate-form-box">
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="商品分组"
              prop="groupid"
              :rules="[
                { required: true, message: '不能为空', trigger: 'change'}
              ]"
            >
              <el-checkbox
                :indeterminate="isIndeterminateGroup"
                v-model="checkAllGroup"
                @change="handleCheckAllChangeGroup"
              >全选</el-checkbox>
              <div style="margin: 15px 0;"></div>
              <div style="width: 600px">
                <el-checkbox-group v-model="groupform.groupid" @change="handleCheckedChangeGroup">
                  <el-checkbox
                    v-for="(item, index) in groupList"
                    :label="item.id"
                    :key="String(index)"
                    style="width: 170px"
                  >{{item.groupname}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="groupvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleGroupSave('groupform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 修改分类 -->
    <el-dialog
      title="修改商品类目"
      :visible.sync="categoryvisible"
      width="400px"
      @close="closeDialog('categoryform')"
      :close-on-click-modal="false"
    >
      <el-form ref="categoryform" :model="categoryform" :inline="true" class="operate-form-box">
        <el-row>
          <el-col :span="24">
            <el-form-item label="商品类目" required>
              <div style="margin-top: 15px;margin-left: 30px">
                <el-form-item
                  prop="categoryidparent"
                  :rules="[
                    { required: true, message: '不能为空', trigger: 'change'}
                  ]"
                >
                  <el-select
                    v-model="categoryform.categoryidparent"
                    clearable
                    placeholder="请输入一级类目"
                    style="width: 300px"
                    @change="gotCategory2ListEdit"
                  >
                    <el-option
                      v-for="item in category1List"
                      :key="item.id"
                      :label="item.id +'-'+ item.categoryname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div style="margin-left: 30px">
                <el-form-item
                  prop="categoryid"
                  :rules="[
                  { required: true, message: '不能为空', trigger: 'change'}
                ]"
                >
                  <el-select
                    v-model="categoryform.categoryid"
                    clearable
                    placeholder="请输入二级类目"
                    style="width: 300px"
                  >
                    <el-option
                      v-for="item in category2ListEdit"
                      :key="item.id"
                      :label="item.id +'-'+item.categoryname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="categoryvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleCategorySave('categoryform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 修改库存 -->
    <el-dialog
      title="修改商品库存"
      :visible.sync="stockvisible"
      width="600px"
      @close="closeDialog('stockform')"
      :close-on-click-modal="false"
    >
      <el-form ref="stockform" :model="stockform" :inline="true" class="operate-form-box">
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="修改库存"
              prop="stocksstatus"
              :rules="[
                  { required: true, message: '不能为空', trigger: 'change'}
                ]"
            >
              <el-radio-group v-model="stockform.stocksstatus">
                <div style="margin-bottom: 20px">
                  <el-radio :label="0" style="margin-top: 6px">浮动设置库存</el-radio>
                  <el-form-item style="margin-bottom: 0">
                    <el-select v-model="stockform.type" placeholder="请选择" style="width: 100px">
                      <el-option :value="1" label="+">+</el-option>
                      <el-option :value="2" label="-">-</el-option>
                      <el-option :value="3" label="*">*</el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item style="margin-bottom: 0">
                    <el-input
                      v-model="stockform.stock1"
                      clearable
                      placeholder="请输入库存数量"
                      style="width: 150px"
                    ></el-input>
                  </el-form-item>
                </div>
                <div>
                  <el-radio :label="4" style="margin-top: 6px;margin-right: 58px">固定库存</el-radio>
                  <el-form-item style="margin-bottom: 0">
                    <el-input
                      v-model="stockform.stock2"
                      clearable
                      placeholder="请输入库存数量"
                      style="width: 260px"
                    ></el-input>
                  </el-form-item>
                </div>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="stockvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleStockSave('stockform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 修改价格 -->
    <el-dialog
      title="修改商品价格"
      :visible.sync="pricevisible"
      width="600px"
      @close="closeDialog('priceform')"
      :close-on-click-modal="false"
    >
      <el-form ref="priceform" :model="priceform" :inline="true" class="operate-form-box">
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="修改价格"
              prop="pricestatus"
              :rules="[
                  { required: true, message: '不能为空', trigger: 'blur'}
                ]"
            >
              <el-radio-group v-model="priceform.pricestatus">
                <div style="margin-bottom: 20px">
                  <el-radio :label="0" style="margin-top: 6px">浮动设置价格</el-radio>
                  <el-form-item style="margin-bottom: 0">
                    <el-select v-model="priceform.type" placeholder="请选择" style="width: 100px">
                      <el-option :value="1" label="+">+</el-option>
                      <el-option :value="2" label="-">-</el-option>
                      <el-option :value="3" label="*">*</el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item style="margin-bottom: 0">
                    <el-input
                      v-model="priceform.price1"
                      clearable
                      placeholder="请输入价格"
                      style="width: 150px"
                    ></el-input>
                  </el-form-item>
                </div>
                <div>
                  <el-radio :label="4" style="margin-top: 6px;margin-right: 58px">固定价格</el-radio>
                  <el-form-item style="margin-bottom: 0">
                    <el-input
                      v-model="priceform.price2"
                      clearable
                      placeholder="请输入价格"
                      style="width: 260px"
                    ></el-input>
                  </el-form-item>
                </div>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="价格类型"
              prop="status"
              :rules="[
                  { required: true, message: '不能为空', trigger: 'change'}
                ]"
            >
              <el-radio-group v-model="priceform.status">
                <el-radio :label="1">原价</el-radio>
                <el-radio :label="2">现价</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="pricevisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handlePriceSave('priceform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 设置运费 -->
    <el-dialog
      title="设置运费"
      :visible.sync="logisticsvisible"
      width="600px"
      @close="closeDialog('logisticsform')"
      :close-on-click-modal="false"
    >
      <el-form ref="logisticsform" :model="logisticsform" :inline="true" class="operate-form-box">
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="快递方式"
              label-width="124px"
              prop="postageType"
              :rules="[
                  { required: true, message: '不能为空', trigger: 'change'}
                ]"
            >
              <el-radio-group v-model="logisticsform.postageType">
                <div style="margin-bottom: 10px">
                  <el-radio :label="1">包邮</el-radio>
                </div>
                <div style="margin-bottom: 10px">
                  <el-radio :label="2">统一邮费(元)</el-radio>
                  <el-input
                    v-model="logisticsform.postagePrice"
                    clearable
                    placeholder="请输入"
                    style="width: 200px"
                  ></el-input>
                </div>
                <div>
                  <el-radio :label="3">运费模板</el-radio>
                  <el-select
                    v-model="logisticsform.logisticsid"
                    clearable
                    placeholder="请选择运费模板"
                    style="width: 200px;margin-left: 22px"
                  >
                    <el-option
                      v-for="item in logisticsList"
                      :key="item.id"
                      :label="item.id +'-'+ item.logisticsname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </div>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="logisticsvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleLogisticsSave('logisticsform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { includezero } from "@/utils/reg";
export default {
  data() {
    return {
      searchform: {
        goodsno: "",
        goodsname: "",
        hotelid: "",
        groupid: "",
        categoryidparent: "",
        categoryid: "",
        goodsid: "",
        goodsType: "",
        savestatus: "",
      },
      searchresult: {
        goodsno: "",
        goodsname: "",
        hotelid: "",
        groupid: "",
        categoryidparent: "",
        categoryid: "",
        goodsid: "",
        goodsType: "",
        savestatus: "",
      },

      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      hotelList: [],
      goodsTypeList: [
        {
          id: 1,
          name: "实体商品",
        },
        {
          id: 2,
          name: "票券",
        },
        {
          id: 3,
          name: "红包",
        },
      ],
      statusList: [
        {
          name: "全部",
          count: 0,
          status: 4,
        },
        {
          name: "出售中",
          count: 0,
          status: 1,
        },
        {
          name: "仓库中",
          count: 0,
          status: 0,
        },
        {
          name: "已售罄",
          count: 0,
          status: 2,
        },
        {
          name: "警戒",
          count: 0,
          status: 3,
        },
        {
          name: "暂存",
          count: 0,
          status: 5,
        },
      ],
      saveStatus: [
        {
          id: 0,
          name: "暂存",
        },
        {
          id: 1,
          name: "上架",
        },
        {
          id: 2,
          name: "下架",
        },
      ],
      statusid: 4,
      form: {},
      visible: false,
      rowData: {},
      multipleSelection: [],
      goodsIdList: [],
      groupList: [],
      groupvisible: false,
      groupform: {
        groupid: [],
      },
      isIndeterminateGroup: false,
      checkAllGroup: false,
      category1List: [],
      category2List: [],
      category2ListEdit: [],
      categoryform: {
        categoryidparent: "",
        categoryid: "",
      },
      categoryvisible: false,
      stockform: {
        stocksstatus: "",
        type: 1,
        stock1: "",
        stock2: "",
      },
      stockvisible: false,
      priceform: {
        type: 1,
        price1: "",
        price2: "",
        pricestatus: "",
        status: 1,
      },
      pricevisible: false,
      logisticsList: [],
      logisticsform: {
        postageType: 1,
        postagePrice: "",
        logisticsid: "",
      },
      logisticsvisible: false,
      baseurl: "",
      backpagecount: 0,
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {},
  created() {
    this.gotGoodsCount();
    this.gotData();
    this.gotGroupList();
    this.gotCategory1List();
    this.gotLogisticsList();
    this.gotHotelList();
    // this.baseurl = process.env.VUE_APP_BASEURL;
  },
  mounted() {},
  methods: {
    // 查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },

    // 重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },

    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },

    // 改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },

    // 点击状态
    changeStatus(item) {
      this.statusid = item.status;
      this.page = 1;
      this.gotData();
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 列表数据
    gotData() {
      if (this.backpagecount >= 1) {
        sessionStorage.removeItem("yzgoodsinfopage");
      } else {
        let backpage = sessionStorage.getItem("yzgoodsinfopage");
        if (backpage) {
          this.page = parseInt(backpage);
          this.backpagecount++;
        }
      }
      const params = {
        goodsno: this.searchresult.goodsno,
        goodsname: this.searchresult.goodsname,
        merchantid: this.searchresult.hotelid,
        groupid: this.searchresult.groupid,
        categoryidII: this.searchresult.categoryid,
        categoryidI: this.searchresult.categoryidparent,
        goodsid: this.searchresult.goodsid,
        goodsType: this.searchresult.goodsType,
        savestatus: this.searchresult.savestatus,
        pageNum: this.page,
        pageSize: this.limit,
        status: this.statusid,
      };
      this.loading = true;
      this.$store
        .dispatch("store/goodsList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },

    /**
     * 1 下架
     * 2 上架
     * 3 删除
     * 4 修改分组
     * 5 修改运费
     * 6 修改价格
     * 7 修改库存
     * 8 修改分类
     * 9 导出
     * 10置顶
     */
    // 修改全部
    hanldeAllEdit(type) {
      if (this.multipleSelection.length <= 0) {
        this.$message.warning("请选择商品");
        return;
      }
      let goodsIdList = [];
      this.multipleSelection.map((item) => {
        goodsIdList.push(item.goodsid);
      });
      this.goodsIdList = goodsIdList;
      const findIndex = this.multipleSelection.findIndex((item) => item.goodsType === 2)
      if (type === 5 && findIndex !== -1) {
        this.$message.warning("只能选择实体商品设置运费");
        return;
      }

      switch (type) {
        case 1:

          const findindex = this.multipleSelection.findIndex(
            (item) => item.savestatus === 0
          );

          if (findindex !== -1) {
            this.$message.warning("暂存商品不能在列表页下架");
            return;
          }

          this.$confirm("确定要下架商品吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(() => {
            const dataparams = {
              id: goodsIdList
            };
            const loading = this.$loading({
              lock: true,
              text: "数据提交中...",
              spinner: "el-icon-loading",
              background: "rgba(0, 0, 0, 0.7)",
            });
            this.$store
              .dispatch("store/editgoodsDown", {
                data: dataparams
              })
              .then((result) => {
                loading.close();
                if (result.code === 0) {
                  this.$message.success("下架商品成功");
                  this.gotData();
                } else if (result.code === 401) {
                  this.$message.error(result.msg);
                } else {
                  this.$message.error(result.msg);
                }
              });
          });
          break;
        case 2:
          const findindex2 = this.multipleSelection.findIndex(
            (item) => item.savestatus === 0
          );
          if (findindex2 !== -1) {
            this.$message.warning("暂存商品不能在列表页上架");
            return;
          }
          this.$confirm("确定要上架商品吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(() => {
            const dataparams = {
              id: goodsIdList,
            };
            const loading = this.$loading({
              lock: true,
              text: "数据提交中...",
              spinner: "el-icon-loading",
              background: "rgba(0, 0, 0, 0.7)",
            });
            this.$store
              .dispatch("store/editgoodsUp", {
                data: dataparams,
              })
              .then((result) => {
                loading.close();
                if (result.code === 0) {
                  this.$message.success("上架商品成功");
                  this.gotData();
                } else if (result.code === 401) {
                  this.$message.error(result.msg);
                } else {
                  this.$message.error(result.msg);
                }
              });
          });
          break;
        case 3:
          this.$confirm("确定要删除商品吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(() => {
            const dataparams = {
              id: goodsIdList,
            };
            const loading = this.$loading({
              lock: true,
              text: "数据提交中...",
              spinner: "el-icon-loading",
              background: "rgba(0, 0, 0, 0.7)",
            });
            this.$store
              .dispatch("store/editgoodsDelete", {
                data: dataparams,
              })
              .then((result) => {
                loading.close();
                if (result.code === 0) {
                  this.$message.success("商品删除成功");
                  this.gotData();
                } else if (result.code === 401) {
                  this.$message.error(result.msg);
                } else {
                  this.$message.error(result.msg);
                }
              });
          });
          break;
        case 4:
          this.groupvisible = true;
          break;
        case 5:
          this.logisticsvisible = true;
          break;
        case 6:
          this.pricevisible = true;
          break;
        case 7:
          this.stockvisible = true;
          break;
        case 8:
          this.categoryvisible = true;
          break;
        case 9:
          break;
        case 10:
          this.$confirm("确定要置顶商品吗?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(() => {
            const dataparams = {
              id: goodsIdList,
            };
            const loading = this.$loading({
              lock: true,
              text: "数据提交中...",
              spinner: "el-icon-loading",
              background: "rgba(0, 0, 0, 0.7)",
            });
            this.$store
              .dispatch("store/editgoodsTop", {
                data: dataparams,
              })
              .then((result) => {
                loading.close();
                if (result.code === 0) {
                  this.$message.success("商品置顶成功");
                  this.gotData();
                } else if (result.code === 401) {
                  this.$message.error(result.msg);
                } else {
                  this.$message.error(result.msg);
                }
              });
          });
          break;
      }
    },

    // 商品分组全选
    handleCheckAllChangeGroup(val) {
      const groupList = val ? this.groupList : [];
      let groupid = [];
      groupList.map((item) => {
        groupid.push(item.id);
      });
      this.groupform.groupid = groupid;
      this.isIndeterminateGroup = false;
    },
    // 商品分组
    handleCheckedChangeGroup(value) {
      let checkedCount = value.length;
      this.checkAllGroup = checkedCount === this.groupList.length;
      this.isIndeterminateGroup =
        checkedCount > 0 && checkedCount < this.groupList.length;
    },
    // 商品分组修改
    handleGroupSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          const params = {
            groupIdList: this.groupform.groupid,
            goodsIdList: this.goodsIdList
          };
          this.$store
            .dispatch("store/editgoodsGroup", {
              data: params
            })
            .then((result) => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("分组修改成功");
                this.groupvisible = false;
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                const msg = result.data ? result.data.message : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    //分类修改
    handleCategorySave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          const params = {
            categoryId: this.categoryform.categoryid,
            goodsIdList: this.goodsIdList,
          };
          this.$store
            .dispatch("store/editgoodsCategory", {
              data: params,
            })
            .then((result) => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("分类修改成功");
                this.categoryvisible = false;
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                const msg = result.data ? result.data.message : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 库存修改
    handleStockSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const { stocksstatus, type, stock1, stock2 } = this.stockform;
          if (stocksstatus === 0) {
            if (!type || !/^0$|^[1-9]\d*$/.test(stock1)) {
              this.$message.warning("请输入浮动库存");
              return;
            }
          } else if (stocksstatus === 4 && !/^0$|^[1-9]\d*$/.test(stock2)) {
            this.$message.warning("请输入固定库存");
            return;
          }
          let stock = 0;
          let typevalue = 0;
          if (stocksstatus === 0) {
            stock = stock1;
            typevalue = type;
          } else {
            stock = stock2;
            typevalue = stocksstatus;
          }
          const params = {
            goodsIdList: this.goodsIdList,
            stock: stock,
            type: typevalue,
          };
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          this.$store
            .dispatch("store/editgoodsStock", {
              data: params,
            })
            .then((result) => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("库存修改成功");
                this.stockvisible = false;
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                const msg = result.data ? result.data.message : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 价格修改
    handlePriceSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const { pricestatus, type, price1, price2 } = this.priceform;
          if (pricestatus === 0) {
            if (!type || !includezero.test(price1)) {
              this.$message.warning("请输入浮动价格");
              return;
            }
          } else if (pricestatus === 4 && !includezero.test(price2)) {
            this.$message.warning("请输入固定价格");
            return;
          }
          let price = 0;
          let typevalue = 0;
          if (pricestatus === 0) {
            price = price1;
            typevalue = type;
          } else {
            price = price2;
            typevalue = pricestatus;
          }
          const params = {
            goodsIdList: this.goodsIdList,
            price: price,
            type: typevalue,
            priceType: this.priceform.status,
          };
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          this.$store
            .dispatch("store/editgoodsPrice", {
              data: params,
            })
            .then((result) => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("价格修改成功");
                this.pricevisible = false;
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                const msg = result.data ? result.data.message : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 设置运费
    handleLogisticsSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let postagePrice = "";
          let logisticsid = "";
          if (this.logisticsform.postageType === 2) {
            if (!includezero.test(this.logisticsform.postagePrice)) {
              this.$message.warning("请设置统一邮费或输入不合法");
              return;
            }
            postagePrice = this.logisticsform.postagePrice;
          } else if (this.logisticsform.postageType === 3) {
            if (!this.logisticsform.logisticsid) {
              this.$message.warning("请选择运费模板");
              return;
            }
            logisticsid = this.logisticsform.logisticsid;
          }

          const params = {
            goodsIdList: this.goodsIdList,
            logisticsid: logisticsid,
            postagePrice: postagePrice,
            postageType: this.logisticsform.postageType,
          };

          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          this.$store
            .dispatch("store/editgoodsLogistics", {
              data: params,
            })
            .then((result) => {
              loading.close();
              if (result.code === 0) {
                this.$message.success("运费设置成功");
                this.logisticsvisible = false;
                this.gotData();
              } else if (result.code === 401) {
                this.$message.error(result.msg);
              } else {
                const msg = result.data ? result.data.message : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },

    // 导出数据
    handleExport() {
      
      const params = {
        goodsno: this.searchresult.goodsno,
        goodsname: this.searchresult.goodsname,
        merchantid: this.searchresult.hotelid,
        groupid: this.searchresult.groupid,
        categoryidII: this.searchresult.categoryid,
        categoryidI: this.searchresult.categoryidparent,
        goodsid: this.searchresult.goodsid,
        goodsType: this.searchresult.goodsType,
        savestatus: this.searchresult.savestatus,
        status: this.statusid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      // sale/goldDataTotalExcel
      // store/goodsListExcel
      this.$store
        .dispatch("store/goodsListExcel", {
          data: params,
        })
        .then((result) => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "商品列表数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
    },

    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.checkAllGroup = false;
      this.isIndeterminateGroup = false;
      this.groupform = {
        groupid: [],
      };
      this.categoryform = {
        categoryidparent: "",
        categoryid: "",
      };
      this.stockform = {
        stocksstatus: "",
        type: 1,
        stock1: "",
        stock2: "",
      };
      this.priceform = {
        type: 1,
        price1: "",
        price2: "",
        pricestatus: "",
        status: 1,
      };
      this.logisticsform = {
        postageType: 1,
        postagePrice: "",
        logisticsid: "",
      };
    },

    handleCat(index, row) {
      this.$store.dispatch("edit/gotId", row);
      sessionStorage.setItem("yzgoodsinfo", JSON.stringify(row));
      sessionStorage.setItem("yzgoodsinfopage", this.page);
    },

    handleAdd() {
      this.visible = true;
    },
    //数量统计
    gotGoodsCount() {
      const params = {};
      this.$store
        .dispatch("store/goodsCount", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            let statusList = this.statusList;

            for (let i = 0; i < data.length; i++) {
              for (let j = 0; j < statusList.length; j++) {
                if (data[i].status === statusList[j].status) {
                  statusList[j].count = data[i].count;
                }
              }
            }
            this.statusList = statusList;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {};
      this.$store
        .dispatch("store/goodsMerchant", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //分商品类目1下拉
    gotCategory1List() {
      const params = {};
      this.$store
        .dispatch("store/categoryPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.category1List = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 分商品类目2下拉
    gotCategory2List() {
      this.searchform.categoryid = "";
      const params = {
        id: this.searchform.categoryidparent,
      };
      this.$store
        .dispatch("store/categoryChild", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.category2List = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 编辑分商品类目2下拉
    gotCategory2ListEdit() {
      this.categoryform.categoryid = "";
      const params = {
        id: this.categoryform.categoryidparent,
      };
      this.$store
        .dispatch("store/categoryChild", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.category2ListEdit = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //分组下拉
    gotGroupList() {
      const params = {};
      this.$store
        .dispatch("store/groupsPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.groupList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //运费模板下拉
    gotLogisticsList() {
      const params = {};
      this.$store
        .dispatch("store/logisticsPull", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.logisticsList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
  },
};
</script>

