<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-11 17:37:11
 * @LastEditors: Please set LastEditors
 * @Description: 房价基价管理
 * @FilePath: \mini-admin\src\views\crsbaseprice\index.vue
 -->
<style lang="scss" scoped>
.search-form-width {
  .search-input {
    width: 200px;
  }
}
.operate-form-box {
  .form-ipt-width {
    width: 220px;
  }
}
.room-parent {
  padding: 18px 10px 0 0;
  background: #fff;
  margin-bottom: 15px;
  &.room-parent-bottom {
    padding-top: 0px;
    margin-bottom: 0;
  }
  .form-active-icon {
    font-size: 22px;
    cursor: pointer;
    &.form-add-icon {
      margin: 0 10px 0 40px;
    }
  }
  .room-child {
    .form-active-icon {
      font-size: 18px;
      &.form-add-icon {
        margin: 0 10px 0 10px;
      }
    }
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="渠道管理" title2="房价基价管理"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form search-form-width" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="规则名称" prop="roomrule">
                  <el-input
                    v-model="searchform.roomrule"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="酒店名称" prop="hotelid">
                  <el-select
                    v-model="searchform.hotelid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in hotelList"
                      :key="item.id"
                      :label="item.id + '-' +item.hotelname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="房型" prop="roomid">
                  <el-select
                    v-model="searchform.roomid"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in roomstyleList"
                      :key="item.id"
                      :label="item.roomcode+'-'+item.roomname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label-width="0">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleAdd">新增</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="80" align="center" fixed="left">
              <template slot-scope="scope">
                <el-button
                  type="text"
                  icon="el-icon-edit"
                  @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="roomrule" label="房价规则名"></el-table-column>
            <el-table-column prop="hotelname" label="酒店名称"></el-table-column>
            <el-table-column prop="roomname" label="房型">
              <template slot-scope="scope">{{scope.row.roomcode + '-' + scope.row.roomname }}</template>
            </el-table-column>
            <el-table-column prop="beginDate" label="起止时间">
              <template slot-scope="scope">{{scope.row.beginDate ? scope.row.beginDate.split(' ')[0] : '' }} 至 {{scope.row.endDate ? scope.row.endDate.split(' ')[0] : '' }}</template>
            </el-table-column>
            <el-table-column prop="isSynchr" label="是否同步" width="80">
              <template slot-scope="scope">{{scope.row.isSynchr === 1 ? '未同步' : '同步' }}</template>
            </el-table-column>
            <el-table-column prop="status" label="是否启用" width="80">
              <template slot-scope="scope">{{scope.row.status === 1 ? '启用' : '未启用' }}</template>
            </el-table-column>
            <el-table-column prop="createDate" label="创建日期"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 新增/编辑 -->
    <el-dialog
      :close-on-click-modal="false"
      :title="actionTypeName"
      :visible.sync="visible"
      width="900px"
      @close="closeDialog('form')"
    >
      <el-form
        ref="form"
        :model="form"
        label-width="80px"
        :inline="true"
        class="operate-form-box"
        :rules="rules"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="规则名称" prop="roomrule">
              <el-input
                style="width: 700px"
                v-model="form.roomrule"
                placeholder="请输入房价规则名称"
                clearable
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="酒店名称" prop="hotelid">
              <el-select
                v-model="form.hotelid"
                :disabled="actionType === 2"
                clearable
                filterable
                placeholder="请选择酒店名称"
                class="form-ipt-width"
                @change="changeHotel"
              >
                <el-option
                  v-for="item in hotelList"
                  :key="item.id"
                  :label="item.id + '-' + item.hotelname"
                  :value="item.id"
                  
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="预定规则" prop="reserveid">
              <el-select
                v-model="form.reserveid"
                clearable
                filterable
                placeholder="请选择预定规则"
                class="form-ipt-width"
              >
                <el-option
                  v-for="item in ruleList"
                  :key="item.id"
                  :label="item.id + '-' + item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
           <!-- 渠道 -->
          <el-col :span="24">
            <div
              class="room-parent room-parent-bottom"
              v-for="(ruleitem, ruleindex) in channelList"
              :key="ruleindex"
            >
              <el-form-item label="渠道设置" required>
                <el-select
                  v-model="ruleitem.channelid"
                  clearable
                  filterable
                  placeholder="请选择渠道"
                  class="form-ipt-width"
                  @change="(value) => {changeChannelRule(ruleindex, value)}"
                >
                  <el-option
                    v-for="item in channelSelectList"
                    :key="item.id"
                    :label="item.id + '-' + item.channelname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="取消规则" required>
                <el-select
                  v-model="ruleitem.rulesid"
                  clearable
                  filterable
                  placeholder="请选择取消规则"
                  class="form-ipt-width"
                  @change="(value) => {changeCancleRule(ruleindex, value)}"
                >
                  <el-option
                    v-for="item in cancleRuleList"
                    :key="item.id"
                    :label="item.id + '-' + item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- <el-form-item>
                <span class="form-active-icon form-add-icon" @click="handleRule(ruleindex, 1)">
                  <i class="el-icon-circle-plus-outline"></i>
                </span>
                <span class="form-active-icon" @click="handleRule(ruleindex, 2)">
                  <i class="el-icon-remove-outline"></i>
                </span>
              </el-form-item> -->
            </div>
          </el-col>
          <el-col :span="24">
            <el-form-item label="开始时间" prop="beginDate">
              <el-date-picker
                v-model="form.beginDate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择开始时间"
                clearable
                :picker-options="pickerOptionsStart"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="endDate">
              <el-date-picker
                v-model="form.endDate"
                value-format="yyyy-MM-dd"
                type="date"
                placeholder="选择结束时间"
                clearable
                :picker-options="pickerOptionsEnd"
                class="form-ipt-width"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label-width="0px">
              <el-select
                v-model="weekid"
                placeholder="请选择"
                class="form-ipt-width"
                @change="changeWeeks"
                style="width:160px"
              >
                <el-option
                  v-for="item in weekList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <div style="text-align:center;padding: 15px 0 33px;">
              <el-checkbox-group v-model="checkWeekList">
                <el-checkbox
                  v-for="item in weekDate"
                  :key="item.id"
                  :label="item.id"
                  :disabled="weekid !== 5"
                >{{item.name}}</el-checkbox>
              </el-checkbox-group>
            </div>
          </el-col>
          <!-- 房型 -->
          <el-col :span="24">
            <div class="room-parent" v-for="(roomitem, roomindex) in parentList" :key="roomindex">
              <el-form-item label="房型码" required>
                <el-select
                  v-model="roomitem.roomid"
                  clearable
                  filterable
                  placeholder="请选择房型"
                  class="form-ipt-width"
                  :disabled="actionType === 2"
                  @change="(value) => {changeRoomStyle(roomindex, value)}"
                >
                  <el-option
                    v-for="item in roomstyleByIdListForm"
                    :key="item.id"
                    :label="item.roomcode + '-' + item.roomname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="库存" label-width="60px" required>
                <el-input
                  v-model="roomitem.roomcodecount"
                  style="width: 100px;"
                  placeholder="自动获取"
                  disabled
                ></el-input>
              </el-form-item>
              <!-- <el-form-item>
                <span class="form-active-icon form-add-icon" @click="handleRoom(roomindex, 1)">
                  <i class="el-icon-circle-plus-outline"></i>
                </span>
                <span class="form-active-icon" @click="handleRoom(roomindex, 2)">
                  <i class="el-icon-remove-outline"></i>
                </span>
              </el-form-item> -->

              <div
                class="room-child"
                v-for="(roomrateitem, roomrateindex) in roomitem.childList"
                :key="roomrateindex"
              >
                <el-form-item label="房价码" required>
                  <el-select
                    v-model="roomrateitem.roomrateid"
                    clearable
                    filterable
                    placeholder="请选择房价码"
                    class="form-ipt-width"
                    @change="(value) => {changeRoomRate(roomindex, roomrateindex,value)}"
                  >
                    <el-option
                      v-for="item in roompriceList"
                      :key="item.id"
                      :label="item.roomrate + '-' + item.ratename"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="价格" label-width="60px" required>
                  <el-input
                    v-model="roomrateitem.roomratePrice"
                    style="width: 100px;"
                    placeholder="价格"
                    @input="(value) => {changeRoomRatePrice(roomindex, roomrateindex,value)}"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0">
                  <el-checkbox
                    v-model="roomrateitem.isLimit"
                    @change="(value) => {changeRoomRateStock(roomindex, roomrateindex, roomitem.roomcodecount, roomitem.roomid, value)}"
                  >设置限量库存</el-checkbox>
                </el-form-item>
                <el-form-item label-width="0">
                  <el-input
                    v-model="roomrateitem.roomrateCount"
                    style="width: 60px;"
                    placeholder="数量"
                    :disabled="!roomrateitem.isLimit"
                    @input="(value) => {changeRoomRateStockNum(roomindex, roomrateindex, roomitem.roomcodecount, roomitem.roomid, value)}"
                  ></el-input>
                  <span style="margin-left: 3px">间/天</span>
                </el-form-item>
                <el-form-item>
                  <span
                    class="form-active-icon form-add-icon"
                    @click="handleRoomrate(roomindex, roomrateindex, 1)"
                  >
                    <i class="el-icon-circle-plus-outline"></i>
                  </span>
                  <span
                    class="form-active-icon"
                    @click="handleRoomrate(roomindex, roomrateindex, 2)"
                  >
                    <i class="el-icon-remove-outline"></i>
                  </span>
                </el-form-item>
              </div>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="visible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="handleSave('form')">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
import { positive_num_zero, positive_num } from "@/utils/reg.js";
export default {
  data() {
    return {
      searchform: {
        hotelid: "",
        roomid: "",
        roomrateid: "",
        roomrule: ""
      },
      searchresult: {
        hotelid: "",
        roomid: "",
        roomrateid: "",
        roomrule: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      hotelList: [],
      roomstyleList: [],
      roompriceList: [],
      ruleList: [],
      channelSelectList: [],
      cancleRuleList: [],
      roomstyleByIdList: [],
      roomstyleByIdListForm: [],
      roompriceByIdList: [],
      form: {
        basicDateType: "",
        beginDate: "",
        channelList: [],
        endDate: "",
        hotelid: "",
        parentList: [],
        reserveid: '',
        roomrule: ""
      },
      rules: {
        beginDate: [{ required: true, message: "不能为空", trigger: "change" }],
        endDate: [{ required: true, message: "不能为空", trigger: "change" }],
        hotelid: [{ required: true, message: "不能为空", trigger: "change" }],
        reserveid: [{ required: true, message: "不能为空", trigger: "change" }],
        roomrule: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      weekid: 1,
      checkWeekList: [1, 2, 3, 4, 7],
      visible: false,
      pickerOptionsStart: {
        disabledDate: date => {
          let enddate = this.form.endDate;
          if (enddate) {
            const stdvalue = enddate.replace(/-/g, "/");
            return date.getTime() > new Date(stdvalue).getTime();
          }
        }
      },
      pickerOptionsEnd: {
        disabledDate: date => {
          let startdate = this.form.beginDate;
          if (startdate) {
            const stdvalue = startdate.replace(/-/g, "/");
            return date.getTime() < new Date(stdvalue).getTime();
          }
        }
      },
      weekDate: [
        {
          name: "星期一",
          id: 1
        },
        {
          name: "星期二",
          id: 2
        },
        {
          name: "星期三",
          id: 3
        },
        {
          name: "星期四",
          id: 4
        },
        {
          name: "星期五",
          id: 5
        },
        {
          name: "星期六",
          id: 6
        },
        {
          name: "星期日",
          id: 7
        }
      ],
      weekList: [
        {
          name: "平日(1,2,3,4,7)",
          id: 1,
          arr: [1, 2, 3, 4, 7],
          value: "12347"
        },
        {
          name: "平日(1,2,3)",
          id: 2,
          arr: [1, 2, 3],
          value: "123"
        },
        {
          name: "周末(5,6)",
          id: 3,
          arr: [5, 6],
          value: "56"
        },
        {
          name: "周末(5,6,7)",
          id: 4,
          arr: [5, 6, 7],
          value: "567"
        },
        {
          name: "自定义",
          id: 5,
          arr: [],
          value: ""
        }
      ],
      parentList: [
        {
          roomcodecount: 0,
          roomid: "",
          childList: [
            {
              isLimit: false,
              roomrateCount: 0,
              roomratePrice: "",
              roomrateid: ""
            }
          ]
        }
      ],
      channelList: [
        {
          channelid: "",
          rulesid: ""
        }
      ],
      actionType: 0,
      actionTypeName: "",
      rowData: {}
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {
    ...mapState({
      userinfo: state => state.user.userinfo
    })
  },
  created() {
    this.gotData();
    this.gotHotelList(); 
    this.gotRoompriceList();
    this.gotRoomstyleList();
    this.gotChannelList(); //渠道下拉
    this.gotRuleList(); //取消规则下拉
    this.gotOrderRuleList(); //预定规则下拉
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        hotelid: this.searchresult.hotelid,
        roomid: this.searchresult.roomid,
        roomrateid: this.searchresult.roomrateid,
        roomrule: this.searchresult.roomrule,
        pageNum: this.page,
        pageSize: this.limit,
        hotelIdList: this.userinfo.roleHotelId
      };
      this.loading = true;
      this.$store
        .dispatch("crspirce/crsbasepirceList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    //酒店下拉
    gotHotelList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/hotelSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.hotelList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房型全部下拉
    gotRoomstyleList() {
      const params = {
        id: this.userinfo.roleHotelId
      };
      this.$store
        .dispatch("hotel/roomstyleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roomstyleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //房价码全部下拉
    gotRoompriceList() {
      const params = {};
      this.$store
        .dispatch("hotel/roompriceSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.roompriceList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //查询form根据酒店ID查询房型下拉
    gotRoomstyleByIdList() {
      this.roomstyleByIdList = [];
      this.searchform.roomid = "";
      this.roompriceByIdList = [];
      this.searchform.roomrateid = "";
      if (this.searchform.hotelid) {
        const params = {
          id: this.searchform.hotelid
        };
        this.$store
          .dispatch("hotel/roomstyleSelectById", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roomstyleByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    changeHotel () {
      this.parentList = [
        {
          roomcodecount: 0,
          roomid: "",
          childList: [
            {
              isLimit: false,
              roomrateCount: 0,
              roomratePrice: "",
              roomrateid: ""
            }
          ]
        }
      ];
      this.gotRoomstyleByIdListForm();
    },
    //根据酒店ID查询房型下拉
    gotRoomstyleByIdListForm() {
      this.roomstyleByIdListForm = [];
      if (this.form.hotelid) {
        const params = {
          id: this.form.hotelid
        };
        this.$store
          .dispatch("hotel/roomstyleSelectById", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roomstyleByIdListForm = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    //根据酒店ID房型ID查询房价码下拉
    gotRoompriceByIdList() {
      this.roompriceByIdList = [];
      this.searchform.roomrateid = "";
      if (this.searchform.hotelid && this.searchform.roomid) {
        const params = {
          hotelid: this.searchform.hotelid,
          roomid: this.searchform.roomid
        };
        this.$store
          .dispatch("hotel/roompriceSelect", {
            data: params
          })
          .then(result => {
            if (result.code === 0) {
              this.roompriceByIdList = result.data;
            } else {
              this.$message.error(result.msg);
            }
          });
      }
    },
    // 星期选择
    changeWeeks() {
      const filterWeek = this.weekList.filter(
        (item, index) => item.id === this.weekid
      );
      this.checkWeekList = filterWeek[0].arr;
    },
    // 房价码新增（type=1）/减少 type=2）
    handleRoomrate(roomindex, roomrateindex, type) {
      let roomitem = null;
      this.parentList.map((item, index) => {
        if (roomindex === index) {
          roomitem = item;
        }
      });
      // console.log(roomitem);
      if (type === 1) {
        const value = {
          isLimit: false,
          roomrateCount: 0,
          roomratePrice: "",
          roomrateid: ""
        };
        roomitem.childList.push(value);
        this.parentList.splice(roomindex, 1, roomitem);
      } else {
        if (roomitem.childList.length > 1) {
          roomitem.childList.splice(roomrateindex, 1);
          this.parentList.splice(roomindex, 1, roomitem);
        }
      }
    },
    // 房型新增（type=1）/减少 type=2）
    handleRoom(roomindex, type) {
      if (type === 1) {
        //新增
        const value = {
          roomcodecount: "",
          roomid: "",
          childList: [
            {
              isLimit: true,
              roomrateCount: 0,
              roomratePrice: "",
              roomrateid: ""
            }
          ]
        };
        this.parentList.push(value);
      } else {
        if (this.parentList.length > 1) {
          this.parentList.splice(roomindex, 1);
        }
      }
    },
    // 房型改变
    changeRoomStyle(roomindex, value) {
      // console.log(index)
      // console.log(value)
      this.gotStockByroomId(roomindex, value);
    },
    //根据房型获取库存
    gotStockByroomId(roomindex, value) {
      let roomitem = null;
      this.parentList.map((item, index) => {
        if (roomindex === index) {
          roomitem = item;
        }
      });
      roomitem.roomid = value;
      roomitem.childList.map((item, index) => {
        item.isLimit = false;
        item.roomrateCount = 0;
      });
      if (roomitem && value) {
        const params = {
          id: value
        };
        this.$store
          .dispatch("crspirce/crsbasepirceByroomId", {
            data: params
          })
          .then(result => {
            // console.log(result);
            if (result.code === 0) {
              roomitem.roomcodecount = result.data;
              this.parentList.splice(roomindex, 1, roomitem);
            } else {
              roomitem.roomcodecount = "";
              this.parentList.splice(roomindex, 1, roomitem);
              this.$message.error(result.msg);
            }
          });
      } else {
        roomitem.roomcodecount = 0;
        this.parentList.splice(roomindex, 1, roomitem);
      }
    },
    // 房价码改变
    changeRoomRate(roomindex, roomrateindex, value) {
      // console.log(value);
      let roomitem = null;
      this.parentList.map((item, index) => {
        if (roomindex === index) {
          roomitem = item;
        }
      });
      let roomrateitem = null;
      roomitem.childList.map((item, index) => {
        if (roomrateindex === index) {
          roomrateitem = item;
        }
      });
      roomrateitem.roomrateid = value;
      roomitem.childList.splice(roomrateindex, 1, roomrateitem);
      this.parentList.splice(roomindex, 1, roomitem);
      // console.log(this.parentList)
    },
    //房价码价格输入
    changeRoomRatePrice(roomindex, roomrateindex, value) {
      // console.log(value);
      let roomitem = null;
      this.parentList.map((item, index) => {
        if (roomindex === index) {
          roomitem = item;
        }
      });
      let roomrateitem = null;
      roomitem.childList.map((item, index) => {
        if (roomrateindex === index) {
          roomrateitem = item;
        }
      });
      if (positive_num.test(value)) {
        roomrateitem.roomratePrice = value;
      } else {
        roomrateitem.roomratePrice = "";
      }
      roomitem.childList.splice(roomrateindex, 1, roomrateitem);
      this.parentList.splice(roomindex, 1, roomitem);

      //console.log(this.parentList)
    },
    //设置库存
    changeRoomRateStock(roomindex, roomrateindex, allcount, roomid, value) {
      // console.log(value);
      let roomitem = null;
      this.parentList.map((item, index) => {
        if (roomindex === index) {
          roomitem = item;
        }
      });
      let roomrateitem = null;
      roomitem.childList.map((item, index) => {
        if (roomrateindex === index) {
          roomrateitem = item;
        }
      });
      if (value) {
        roomrateitem.roomrateCount = "";
      } else {
        roomrateitem.roomrateCount = 0;
      }
      roomrateitem.isLimit = value;
      roomitem.childList.splice(roomrateindex, 1, roomrateitem);
      this.parentList.splice(roomindex, 1, roomitem);
    },
    //设置库存数量
    changeRoomRateStockNum(roomindex, roomrateindex, allcount, roomid, value) {
      // console.log(value);
      let roomitem = null;
      this.parentList.map((item, index) => {
        if (roomindex === index) {
          roomitem = item;
        }
      });
      let roomrateitem = null;
      let computedcount = 0;
      roomitem.childList.map((item, index) => {
        if (roomrateindex === index) {
          roomrateitem = item;
        }
        // console.log(item.roomrateCount)
        computedcount += Number(item.roomrateCount);
      });
      // console.log(computedcount);
      if (positive_num.test(value)) {
        if (computedcount > parseInt(allcount)) {
          roomrateitem.roomrateCount = "";
          this.$message.warning("库存累计已经大于总库存");
        } else {
          roomrateitem.roomrateCount = value;
        }
      } else {
        roomrateitem.roomrateCount = "";
      }
      roomitem.childList.splice(roomrateindex, 1, roomrateitem);
      this.parentList.splice(roomindex, 1, roomitem);
    },
    // 渠道规则（type=1）/减少 type=2）
    handleRule(ruleindex, type) {
      if (type === 1) {
        //新增
        const value = {
          channelid: "",
          rulesid: ""
        };
        this.channelList.push(value);
      } else {
        if (this.channelList.length > 1) {
          this.channelList.splice(ruleindex, 1);
        }
      }
    },
    changeChannelRule(ruleindex, value) {},
    changeCancleRule(ruleindex, value) {},

    handleAdd() {
      this.actionType = 1;
      this.actionTypeName = "房价基价新增";
      this.visible = true;
    },
    handleAddSave(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/crsbasepirceAdd", {
          data: params
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("新增成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEdit(index, row) {
      this.visible = true;
      this.actionType = 2;
      this.actionTypeName = "房价基价修改";
      const params = {
        id: row.id
      };
      // 基价详情
      this.$store
        .dispatch("crspirce/crsbasepirceDetail", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            const data = result.data;
            this.rowData = data;
            this.form = {
              basicDateType: data.basicDateType,
              beginDate: data.beginDate,
              channelList: data.channelList,
              endDate: data.endDate,
              hotelid: data.hotelid,
              parentList: data.parentList,
              reserveid: data.reserveid,
              roomrule: data.roomrule
            };
            this.channelList = data.channelList;
            this.parentList = data.parentList;
            const basicDateType = data.basicDateType.split("");
            this.checkWeekList = basicDateType.map((item, index) =>
              parseInt(item)
            );
            let weekid = 0;
            for (let i = 0; i < this.weekList.length - 1; i++) {
              if (data.basicDateType === this.weekList[i].value) {
                weekid = this.weekList[i].id;
              }
            }
            weekid === 0 ? (this.weekid = 5) : (this.weekid = weekid);
            this.gotRoomstyleByIdListForm();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleEditSave(params) {
      const dataparams = {
        ...params,
        id: this.rowData.id
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("crspirce/crsbasepirceEdit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("编辑成功");
            this.visible = false;
            this.gotData();
          } else if (result.code === 401) {
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    handleSave(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const channelList = this.channelList;
          const parentList = this.parentList;
          const basicDateType = this.checkWeekList.join("");
          // console.log(basicDateType);
          const isparent = parentList.some((item, index) => {
            return item.roomid === "" || item.roomcodecount === 0;
          });
          if (isparent) {
            this.$message.warning("请选择房型码");
            return;
          }
          let childList = [];
          parentList.map((item, index) => {
            item.childList.map((childitem, childindex) => {
              childList.push(childitem);
            });
          });
          const ischild = childList.some((item, index) => {
            return (
              item.roomratePrice === "" ||
              item.roomrateid === "" ||
              (item.isLimit && item.roomrateCount === "")
            );
          });
          const ischild2 = childList.some((item, index) => {
            return item.isLimit && item.roomrateCount === "";
          });
          if (ischild) {
            this.$message.warning("请选择房价码或者填写房价码价格");
            return;
          }
          if (ischild2) {
            this.$message.warning("勾选限量库存后，限量库存数量必须大于零");
            return;
          }
          const ischannel = channelList.some((item, index) => {
            return item.channelid === "" || item.rulesid === "";
          });
          if (ischannel) {
            this.$message.warning("请选择渠道设置或者取消规则");
            return;
          }
          const params = {
            basicDateType: basicDateType,
            beginDate: this.form.beginDate,
            channelList: channelList,
            endDate: this.form.endDate,
            hotelid: this.form.hotelid,
            parentList: parentList,
            reserveid: this.form.reserveid,
            roomrule: this.form.roomrule
          };
          if (this.actionType === 1) {
            this.handleAddSave(params);
          } else {
            this.handleEditSave(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 重置操作
    handleResetFields(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        basicDateType: "",
        beginDate: "",
        channelList: [],
        endDate: "",
        hotelid: '',
        parentList: [],
        reserveid: '',
        roomrule: ""
      };
      this.weekid = 1;
      this.checkWeekList = [1, 2, 3, 4, 7];
      this.parentList = [
        {
          roomcodecount: 0,
          roomid: "",
          childList: [
            {
              isLimit: false,
              roomrateCount: 0,
              roomratePrice: "",
              roomrateid: ""
            }
          ]
        }
      ];
      this.channelList = [
        {
          channelid: "",
          rulesid: ""
        }
      ];
    },
    closeDialog(formName) {
      this.handleResetFields(formName);
    },
    //渠道下拉列表
    gotChannelList() {
      const params = {};
      this.$store
        .dispatch("crspirce/channelListSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.channelSelectList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //取消规则列表
    gotRuleList() {
      const params = {};
      this.$store
        .dispatch("crspirce/cancelruleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.cancleRuleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //预定规则列表
    gotOrderRuleList() {
      const params = {};
      this.$store
        .dispatch("crspirce/bookingruleSelect", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.ruleList = result.data;
          } else {
            this.$message.error(result.msg);
          }
        });
    }
  }
};
</script>

