<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-11-12 17:25:56
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.order-page {
  .order-header-box {
    padding: 10px;
    .order-header {
      border: 1px solid #f4f4f4;
      padding: 10px;
      .order-header-ul {
        padding: 0;
        display: flex;
        li {
          font-size: 14px;
          height: 28px;
          line-height: 28px;
          margin-bottom: 10px;
          color: #303133;
          flex: 1;
          span {
            color: #909399;
            font-size: 13px;
          }
        }
      }
    }
  }
  .order-content {
    padding: 30px 10px;
    .order-content-title {
      color: #409eff;
      font-size: 14px;
    }
    .order-content-ul {
      padding: 0 10px;
      margin-bottom: 8px;
      &.order-ul-border {
        border-bottom: 1px solid #f4f4f4;
      }
      .order-content-li {
        display: flex;
        padding: 0;
        margin: 0;
        .order-content-li-item {
          flex: 1;
          font-size: 13px;
          margin-bottom: 8px;
          color: #303133;
          span {
            color: #909399;
            font-size: 12px;
          }
        }
      }
    }
    .room-price-ul {
      display: flex;
      flex-wrap: wrap;
      width: 720px;
      .room-price-item {
        width: 120px;
        border: 1px solid #f4f4f4;
        box-sizing: border-box;
        .title {
          height: 30px;
          line-height: 30px;
          text-align: center;
          border-bottom: 1px solid #f4f4f4;
          font-size: 12px;
          box-sizing: border-box;
        }
        .price {
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 12px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.status-ul {
  display: flex;
  border-top: 1px solid #dcdfe6;
  border-bottom: 1px solid #dcdfe6;
  border-left: 1px solid #dcdfe6;
  .status-li {
    padding: 0 20px;
    height: 50px;
    border-right: 1px solid #dcdfe6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    color: #606266;
    &:last-child {
      border-right: none;
    }
    .status-li-name {
      text-align: center;
      font-size: 14px;
    }
    .status-li-num {
      text-align: center;
      font-size: 12px;
    }
    &.active {
      color: #409eff;
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background: #409eff;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
}
</style>

<template>
  <div class="page-container order-page">
    <v-breadcrumb title="订单管理" title2="订单列表"></v-breadcrumb>

    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true" label-width="96px">
            <!-- 默认 -->
            <el-row v-show="!isspread">
              <el-col :span="24">
                <el-form-item label="订单号" prop="id">
                  <el-input
                    v-model="searchform.id"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="收货人手机号" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="快递单号" prop="expressNo">
                  <el-input
                    v-model="searchform.expressNo"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(true)">
                    展开
                    <i class="el-icon-arrow-down"></i>
                  </span>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- 展开 -->
            <el-row v-show="isspread">
              <el-col :span="24">
                 <el-form-item label="订单号" prop="id">
                  <el-input
                    v-model="searchform.id"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="收货人手机号" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="快递单号" prop="expressNo">
                  <el-input
                    v-model="searchform.expressNo"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="收货人姓名" prop="truename">
                  <el-input
                    v-model="searchform.truename"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="配送方式" prop="expressType">
                  <el-select
                    v-model="searchform.expressType"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in deliveryList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="支付方式" prop="paymode">
                  <el-select
                    v-model="searchform.paymode"
                    clearable
                    filterable
                    placeholder="请选择"
                    class="search-input"
                  >
                    <el-option
                      v-for="item in payList"
                      :key="item.id"
                      :label="item.id +'-'+ item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="商品ID" prop="goodsid">
                  <el-input
                    v-model="searchform.goodsid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="下单人ID" prop="userid">
                  <el-input
                    v-model="searchform.userid"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <div style="text-align:right">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                  <span class="spread-btn" @click="clickSpread(false)">
                    收起
                    <i class="el-icon-arrow-up"></i>
                  </span>
                </div>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <div class="status-ul">
            <div
              v-for="(item, index) in statusList"
              :key="String(index)"
              :class="['status-li', item.status === statusid ? 'active' : '']"
              @click="changeStatus(item)"
            >
              <div class="status-li-name">{{item.name}}</div>
              <div class="status-li-num">({{item.count}})</div>
            </div>
          </div>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleExport">导出</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column label="操作" width="100" align="center" fixed="left">
              <template slot-scope="scope">
                <div style="text-align:center">
                  <el-button type="text" icon="el-icon-search" @click="handleCat(1, scope.row)">查看</el-button>
                </div>
                <div
                  style="text-align:center"
                  v-if="scope.row.goodsType === 1 && scope.row.status === 2"
                >
                  <el-button type="text" icon="el-icon-edit" @click="handleCat(2, scope.row)">发货</el-button>
                </div>
                <div style="text-align:center">
                  <el-button type="text" icon="el-icon-edit" @click="handleCat(3, scope.row)">添加备注</el-button>
                </div>
                <!-- <div style="text-align:center" v-if="scope.row.status === 1">
                  <el-button
                    type="text"
                    style="color:red"
                    icon="el-icon-edit"
                    @click="handleCat(4, scope.row)"
                  >取消订单</el-button>
                </div>-->
                <div style="text-align:center" v-if="scope.row.status === 1 || scope.row.status === 2 || scope.row.status === 3 || scope.row.status === 4">
                  <el-button
                    type="text"
                    style="color:red"
                    icon="el-icon-edit"
                    @click="handleCat(5, scope.row)"
                  >取消订单</el-button>
                </div>
                <div v-if="scope.row.goodsType === 2 && scope.row.status === 2 && scope.row.count > 1">
                  <el-button
                    type="text"
                    style="color:#E6A23C"
                    icon="el-icon-folder-add"
                    @click="handleSplit(scope.row)"
                  >票券补发</el-button>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="订单号" width="70"></el-table-column>
            <el-table-column prop="phone" label="商品信息">
              <template slot-scope="scope">
                <div class="goods-content">
                  <div class="goods-li">名称：{{scope.row.goodsName}}</div>
                  <div class="goods-li">规格：{{scope.row.specsname}}</div>
                  <div
                    class="goods-li"
                  >类型：{{scope.row.goodsType === 1 ? '实物商品' : scope.row.goodsType === 2 ? '票券' : scope.row.goodsType === 3 ? '红包' : ''}}</div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="count" label="数量" width="60"></el-table-column>
            <el-table-column prop="checkindate" label="支付信息" width="130">
              <template slot-scope="scope">
                <div class="v-if=goods-content">
                  <div
                    class="goods-li"
                    v-if="scope.row.paymode"
                  >支付方式：{{parseInt(scope.row.paymode) === 1 ? '微信支付' : parseInt(scope.row.paymode) === 3 ? '余额支付' : parseInt(scope.row.paymode) === 4 ? '储值卡支付' : parseInt(scope.row.paymode) === 2 ? '积分支付' : ''}}</div>
                  <div class="goods-li">订单总价：￥{{scope.row.orderamount}}</div>
                  <div class="goods-li">积分抵扣：￥{{scope.row.pointAmount}}</div>
                  <div class="goods-li">实付金额：￥{{scope.row.amount}}</div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="truename" label="收货人信息" width="150">
              <template slot-scope="scope">
                <div class="goods-content" v-if="scope.row.goodsType === 1 && scope.row.phone">
                  <div class="goods-li">收货人：{{scope.row.truename}}</div>
                  <div class="goods-li">手机号：{{scope.row.phone}}</div>
                </div>
                <div class="goods-content" v-if="scope.row.goodsType === 1 && !scope.row.phone">
                  <div class="goods-li">自提</div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="address" label="收货地址">
              <template slot-scope="scope">
                {{scope.row.address ? scope.row.address : ''}}
              </template>
            </el-table-column>
            <el-table-column prop="goodsType" label="下单人">
              <template slot-scope="scope">
                <div class="goods-content">
                  <div class="goods-li">下单人：{{scope.row.orderName}}</div>
                  <div class="goods-li">手机号：{{scope.row.orderPhone}}</div>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="status" label="订单状态" width="70">
              <template slot-scope="scope">
                <span
                  v-if="scope.row.goodsType === 2"
                >{{scope.row.status === 1 ? '待支付' : scope.row.status === 5 ? '交易关闭' : scope.row.status === 14 ? '已取消' : '支付成功'}}</span>
                <span
                  v-if="scope.row.goodsType === 1 && scope.row.expressType === 1"
                >{{scope.row.status === 1 ? '待支付' : scope.row.status === 2 ? '待发货' : scope.row.status === 3 ? '已发货' : scope.row.status === 4 ? '交易成功' : scope.row.status === 5 ? '交易关闭' : scope.row.status === 14 ? '已取消' : ''}}</span>
                <span
                  v-if="scope.row.goodsType === 1 && scope.row.expressType === 2"
                >{{scope.row.status === 1 ? '待支付' : scope.row.status === 2 ? '待发货' : scope.row.status === 3 ? '自提' : scope.row.status === 4 ? '交易成功' : scope.row.status === 5 ? '交易关闭' : scope.row.status === 14 ? '已取消' : ''}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="createDate" label="下单时间" width="90"></el-table-column>
            <!-- <el-table-column prop="remark" label="备注" width="60"></el-table-column> -->
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>

    <!-- 订单详情 -->
    <el-dialog title="订单详情" :visible.sync="visible" width="1000px" :close-on-click-modal="false">
      <div class="order-header-box">
        <div class="order-header">
          <ul class="order-header-ul">
            <li>
              <span>订单号：</span>
              {{orderDetail.id}}
            </li>
            <li v-if="orderDetail.goodsType === 1 && orderDetail.expressType === 1">
              <span>订单状态：</span>
              {{orderDetail.status === 1 ? '待支付' : orderDetail.status === 2 ? '待发货' : orderDetail.status === 3 ? '已发货' : orderDetail.status === 4 ? '交易成功' : orderDetail.status === 5 ? '交易关闭' : orderDetail.status === 14 ? '已取消' : ''}}
            </li>
            <li v-if="orderDetail.goodsType === 1 && orderDetail.expressType === 2">
              <span>订单状态：</span>
              {{orderDetail.status === 1 ? '待支付' : orderDetail.status === 2 ? '待发货' : orderDetail.status === 3 ? '自提' : orderDetail.status === 4 ? '交易成功' : orderDetail.status === 5 ? '交易关闭' : orderDetail.status === 14 ? '已取消' : ''}}
            </li>
            <li v-if="orderDetail.goodsType === 2">
              <span>订单状态：</span>
              {{orderDetail.status === 1 ? '待支付' : orderDetail.status === 5 ? '交易关闭' : orderDetail.status === 4 ? '交易成功' : orderDetail.status === 14 ? '已取消' : '支付成功'}}
            </li>
            <li>
              <span>下单时间：</span>
              {{orderDetail.createDate}}
            </li>
          </ul>
          <ul class="order-header-ul">
            <li>
              <span>订单备注：{{orderDetail.remark}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="order-content">
        <el-collapse v-model="activeNames">
          <el-collapse-item name="1">
            <template slot="title">
              <div class="order-content-title">
                商品信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>商品名称：</span>
                  {{orderDetail.goodsName}}
                </div>
                <div class="order-content-li-item">
                  <span>商品规格：</span>
                  {{orderDetail.specsname}}
                </div>
                <div class="order-content-li-item">
                  <span>商品类型：</span>
                  {{orderDetail.goodsType === 1 ? '实物商品' : orderDetail.goodsType === 2 ? '票券' : '红包'}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>购买数量：</span>
                  {{orderDetail.count}}
                </div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="2">
            <template slot="title">
              <div class="order-content-title">
                支付信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul order-ul-border">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>交易流水号：</span>
                  {{orderDetail.payno}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>支付方式：</span>
                  {{parseInt(orderDetail.paymode) === 1 ? '微信支付' : parseInt(orderDetail.paymode) === 2 ? '积分支付' : parseInt(orderDetail.paymode) === 3 ? '余额支付' : parseInt(orderDetail.paymode) === 4 ? '储值卡支付' : parseInt(orderDetail.paymode) === 2 ? '积分抵扣' : ''}}
                </div>
                <div class="order-content-li-item">
                  <span>支付时间：</span>
                  {{orderDetail.paytime}}
                </div>
                <div class="order-content-li-item">
                  <span>订单总金额：</span>
                  ￥{{orderDetail.orderamount}}
                </div>
              </li>
            </ul>
            <ul class="order-content-ul order-ul-border">
              <li class="order-content-li">
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item">
                  <span>积分抵扣：</span>
                  {{orderDetail.pointAmount ? '￥' + orderDetail.pointAmount : ''}}
                </div>
              </li>
            </ul>
            <ul class="order-content-ul order-ul-border">
              <li class="order-content-li">
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item">
                  <div class="order-content-li-item">
                    <span>优惠券名称：</span>
                    {{shopOrderCouponVoList.couponname}}
                  </div>
                </div>
                <div class="order-content-li-item">
                  <span>优惠金额：</span>
                  {{shopOrderCouponVoList.price ? '￥' + shopOrderCouponVoList.price : ''}}
                </div>
              </li>
            </ul>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">总计</div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item">
                  <span>实付金额：</span>
                  ￥{{orderDetail.amount}}
                  {{orderDetail.expressAmount ? `(含邮费${orderDetail.expressAmount}元)` : ''}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="3" v-if="orderDetail.goodsType === 1">
            <template slot="title">
              <div class="order-content-title">
                物流信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li" v-if="orderDetail.expressType === 1">
                <div class="order-content-li-item">
                  <span>收货人：</span>
                  {{orderDetail.truename}}
                </div>
                <div class="order-content-li-item">
                  <span>联系电话：</span>
                  {{orderDetail.phone}}
                </div>
                <div class="order-content-li-item">
                  <el-button
                    type="warning"
                    v-if="(orderDetail.expressType === 1 && orderDetail.status === 1) || (orderDetail.expressType === 1 && orderDetail.status === 2) || (orderDetail.expressType === 1 && orderDetail.status === 3)"
                    @click="editInfo(1)"
                  >修改收货地址</el-button>
                </div>
              </li>
              <li class="order-content-li" v-if="orderDetail.expressType === 1">
                <div class="order-content-li-item">
                  <span>收货地址：</span>
                  {{orderDetail.provincename}}{{orderDetail.cityname ? orderDetail.cityname : ''}}{{ orderDetail.districtname ?  orderDetail.districtname : ''}}{{orderDetail.address}}
                </div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>物流方式：</span>
                  {{orderDetail.expressType === 1 ? '快递' : orderDetail.expressType === 2 ? '自提' : ''}}
                </div>
                <div class="order-content-li-item">
                  <el-button
                    type="warning"
                    @click="editInfo(2)"
                    v-if="orderDetail.status === 3 && orderDetail.expressType === 1"
                  >修改快递单号</el-button>
                </div>
                <div class="order-content-li-item"></div>
              </li>
              <li class="order-content-li" v-if="orderDetail.expressType === 1">
                <div class="order-content-li-item">
                  <span>快递单号：</span>
                  {{orderDetail.expressNo}}
                </div>
                <div class="order-content-li-item">
                  <span>物流公司：</span>
                  {{orderDetail.expressCompany}}
                </div>
                <div class="order-content-li-item">
                  <span>邮费：</span>
                  {{orderDetail.expressAmount ? orderDetail.expressAmount + '元' : ''}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="4" v-show="shopOrderTicketVoList.length > 0">
            <template slot="title">
              <div class="order-content-title">
                票券信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul
              class="order-content-ul"
              v-for="(item, index) in shopOrderTicketVoList"
              :key="index"
            >
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>票券码：</span>
                  {{item.ticketno}}
                </div>
                <div class="order-content-li-item">
                  <span>状态：</span>
                  {{item.status === 1 ? '未使用' : item.status === 2 ? '已使用' : ''}}
                </div>
                <div class="order-content-li-item"></div>
              </li>
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>核销时间：</span>
                  {{item.usedate}}
                </div>
                <div class="order-content-li-item"></div>
                <div class="order-content-li-item"></div>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item name="5">
            <template slot="title">
              <div class="order-content-title">
                下单人信息
                <i class="header-icon el-icon-info"></i>
              </div>
            </template>
            <ul class="order-content-ul">
              <li class="order-content-li">
                <div class="order-content-li-item">
                  <span>下单人姓名：</span>
                  {{orderDetail.orderName}}
                </div>
                <div class="order-content-li-item">
                  <span>手机号：</span>
                  {{orderDetail.orderPhone}}
                </div>
                <div class="order-content-li-item">
                  <span>会员等级：</span>
                  {{orderDetail.membertype === 1 ? '银卡' : orderDetail.membertype === 2 ? '金卡' : orderDetail.membertype === 3 ? '白金' :orderDetail.membertype === 4 ? '黑金' : ''}}
                </div>
              </li>
            </ul>
          </el-collapse-item>
        </el-collapse>
      </div>
    </el-dialog>

    <!-- 物流信息 -->
    <el-dialog
      :title="wlactionName"
      :visible.sync="wlvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closelogisticsDialog('wlform')"
    >
      <el-form :inline="true" label-width="150px" :model="wlform" :rules="wlrules" ref="wlform">
        <el-form-item label="物流公司" prop="logistics">
          <el-select
            v-model="wlform.logistics"
            clearable
            filterable
            placeholder="请输入"
            style="width: 300px"
          >
            <el-option
              v-for="item in logisticsList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="物流公司" prop="otherlogistics" v-show="wlform.logistics === 88">
          <el-input
            v-model="wlform.otherlogistics"
            clearable
            placeholder="请输入"
            style="width: 300px"
          ></el-input>
        </el-form-item>
        <el-form-item label="快递单号" prop="expressNo">
          <el-input v-model="wlform.expressNo" clearable placeholder="请输入" style="width: 300px"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="wlvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="saveLogistics('wlform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 修改收货地址 -->
    <el-dialog
      title="修改收货地址"
      :visible.sync="advisible"
      width="900px"
      :close-on-click-modal="false"
      @close="closeAddress('adform')"
    >
      <el-form :inline="true" :model="adform" :rules="adrules" ref="adform" label-width="90px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="收货人" prop="truename">
              <el-input v-model="adform.truename" clearable placeholder="请输入" style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="phone">
              <el-input
                v-model="adform.phone"
                clearable
                placeholder="请输入"
                style="width: 300px"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="收货地址" style="margin-bottom: 0" required>
              <el-form-item prop="provinceid">
                <el-select
                  v-model="adform.provinceid"
                  placeholder="请选择"
                  class="form-ipt-width"
                  @change="changeProvince"
                >
                  <el-option
                    v-for="item in provinceList"
                    :key="item.id"
                    :label="item.provincename"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item prop="cityid">
                <el-select
                  v-model="adform.cityid"
                  placeholder="请选择"
                  class="form-ipt-width"
                  @change="changeCity"
                >
                  <el-option
                    v-for="item in cityList"
                    :key="item.id"
                    :label="item.cityname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item prop="districtid">
                <el-select
                  v-model="adform.districtid"
                  placeholder="请选择"
                  class="form-ipt-width"
                  @change="changeDistrict"
                >
                  <el-option
                    v-for="item in districtList"
                    :key="item.id"
                    :label="item.districtname"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="详细地址" prop="address">
              <el-input
                v-model="adform.address"
                style="width:700px"
                placeholder="请输入"
                clearable
                :rows="3"
                resize="none"
                type="textarea"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="advisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="saveAddress('adform')">确 定</el-button>
        </div>
      </span>
    </el-dialog>

    <!-- 添加备注 -->
    <el-dialog
      title="添加备注"
      :visible.sync="addremarkvisible"
      width="600px"
      :close-on-click-modal="false"
      @close="closeDialogAddremark"
    >
      <el-form :inline="true">
        <el-form-item label="添加备注" required>
          <el-input
            v-model="addremark"
            type="textarea"
            clearable
            placeholder="请输入"
            style="width: 400px"
            :rows="5"
            resize="none"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <div style="text-align: center; margin-top: 10px">
          <el-button size="mini" @click="addremarkvisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="saveRemark">确 定</el-button>
        </div>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    var check = (rule, value, callback) => {
      if (this.wlform.logistics === 88) {
        if (!value) {
          callback(new Error("不能为空"));
        } else {
          callback();
        }
      } else {
        callback();
      }
    };
    return {
      searchform: {
        expressType: "",
        expressNo: "",
        goodsid: "",
        id: "",
        paymode: "",
        phone: "",
        userid: "",
        truename: "",
      },
      searchresult: {
        expressType: "",
        expressNo: "",
        goodsid: "",
        id: "",
        paymode: "",
        phone: "",
        userid: "",
        truename: "",
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false,
      visible: false,
      isspread: false,
      deliveryList: [
        {
          id: 1,
          name: "快递",
        },
        {
          id: 2,
          name: "自提",
        },
      ],
      payList: [
        {
          id: 1,
          name: "微信支付",
        },
        {
          id: 3,
          name: "余额支付",
        },
        {
          id: 4,
          name: "储值卡支付",
        },
      ],
      hotelList: [],
      statusList: [],
      orderDetail: {},
      activeNames: ["1", "2", "3", "4", "5"],
      refundvisible: false,
      refundmark: "",
      canclevisible: false,
      rowid: 0,
      remark: "",
      statusid: 0,
      adrvisible: false,
      shopOrderCouponVoList: {
        price: "",
        couponname: "",
      },
      logisticsList: [
        {
          id: "圆通快递",
          name: "圆通快递",
        },
        {
          id: "申通快递",
          name: "申通快递",
        },
        {
          id: "韵达速递",
          name: "韵达速递",
        },
        {
          id: "中通快递",
          name: "中通快递",
        },
        {
          id: "顺丰速运",
          name: "顺丰速运",
        },
        {
          id: "EMS",
          name: "EMS",
        },
        {
          id: "天天快递",
          name: "天天快递",
        },
        {
          id: "邮政包裹",
          name: "邮政包裹",
        },
        {
          id: 88,
          name: "其他",
        },
      ],
      wlvisible: false,
      wlaction: 0,
      wlactionName: "",
      wlform: {
        logistics: "",
        otherlogistics: "",
        expressNo: "",
      },
      wlrules: {
        logistics: [{ required: true, message: "不能为空", trigger: "blur" }],
        expressNo: [{ required: true, message: "不能为空", trigger: "blur" }],
        otherlogistics: [{ required: true, validator: check, trigger: "blur" }],
      },
      addremark: "",
      addremarkvisible: false,
      shopOrderTicketVoList: [],
      advisible: false,
      adform: {
        phone: "",
        truename: "",
        provincename: "",
        cityname: "",
        districtname: "",
        provinceid: "",
        cityid: "",
        districtid: "",
        address: "",
      },
      adrules: {
        truename: [{ required: true, message: "不能为空", trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }],
        phone: [{ required: true, message: "不能为空", trigger: "blur" }],
      },
      districtList: [],
      cityList: [],
      provinceList: [],
      limitAction: [],
      load: 1
    };
  },
  components: {
    vBreadcrumb,
  },
  computed: {
    ...mapState({
      userinfo: (state) => state.user.userinfo,
      modelid: (state) => state.user.modelid
    })
  },
  created() {
    this.gotlimitAction();
    this.gotOrderCount();
    this.gotData();
    this.getProvince();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = {
        ...this.searchform,
      };
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    changeStatus(item) {
      this.statusid = item.status;
      this.page = 1;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        expressType: this.searchresult.expressType,
        expressNo: this.searchresult.expressNo,
        goodsid: this.searchresult.goodsid,
        id: this.searchresult.id,
        paymode: this.searchresult.paymode,
        phone: this.searchresult.phone,
        userid: this.searchresult.userid,
        truename: this.searchresult.truename,
        pageNum: this.page,
        pageSize: this.limit,
        status: this.statusid,
      };
      this.loading = true;
      this.$store
        .dispatch("store/shopOrderList", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    clickSpread(value) {
      this.isspread = value;
    },
    handleCat(type, row) {
      this.rowid = row.id;
      if (type === 1) {
        // 详情
        this.visible = true;
        this.gotOrderDetail();
      } else if (type === 2) {
        // 发货
        this.wlvisible = true;
        this.wlaction = 1;
        this.wlactionName = "发货";
      } else if (type === 3) {
        // 添加备注
        this.addremarkvisible = true;
        const params = {
          id: this.rowid,
        };
        this.$store
          .dispatch("store/shopOrderDetail", {
            data: params,
          })
          .then((result) => {
            if (result.code === 0) {
              const data = result.data;
              this.addremark = data.remark;
            } else {
              this.$message.error(result.msg);
            }
          });
      } else if (type === 5) {
        // 取消
        this.handleRefund();
      }
    },
    gotOrderDetail() {
      const params = {
        id: this.rowid,
      };
      this.$store
        .dispatch("store/shopOrderDetail", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.orderDetail = {
              ...data,
            };
            this.shopOrderTicketVoList = data.shopOrderTicketVoList
              ? data.shopOrderTicketVoList
              : [];

            this.shopOrderCouponVoList =
              data.shopOrderCouponVoList.length > 0
                ? data.shopOrderCouponVoList[0]
                : this.shopOrderCouponVoList;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 添加备注
    saveRemark() {
      if (!this.addremark) {
        this.$message.warning("请输入备注");
        return;
      }
      let params = {
        id: this.rowid,
        msg: this.addremark,
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/shopOrderRemark", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.addremarkvisible = false;
            this.$message.success("添加备注成功");
            this.gotData();
          } else if (result.code === 401) {
            this.addremarkvisible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 关闭备注
    closeDialogAddremark() {
      this.addremark = "";
    },
    // 取消订单
    handleRefund() {
      this.$confirm("确定要取消订单吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.passRefund();
        })
        .catch(() => {});
    },
    // 取消订单确认
    passRefund() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      const params = {
        id: this.rowid,
      };
      this.$store
        .dispatch("store/shopOrderBack", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("退款成功");
            this.visible = false;
            this.gotData();
            this.gotOrderCount();
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    //数量统计
    gotOrderCount() {
      const params = {};
      this.$store
        .dispatch("store/shopOrderCount", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            let data = result.data;
            data.map((item) => {
              switch (item.status) {
                case 0:
                  item.name = "全部";
                  break;
                case 1:
                  item.name = "待支付";
                  break;
                case 2:
                  item.name = "待发货";
                  break;
                case 3:
                  item.name = "已发货";
                  break;
                case 4:
                  item.name = "交易成功";
                  break;
                case 5:
                  item.name = "交易关闭";
                  break;
                case 6:
                  item.name = "已取消";
                  break;
              }
            });
            this.statusList = data;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    // 修改
    editInfo(type) {
      if (type === 1) {
        //修改收货地址
        const {
          phone,
          truename,
          provincename,
          cityname,
          districtname,
          provinceid,
          cityid,
          districtid,
          address,
        } = this.orderDetail;
        const cityidvalue = cityid === 0 ? '' : cityid;
        const districtidvalue = districtid === 0 ? '' : districtid;
        this.adform = {
          phone: phone,
          truename: truename,
          provincename: provincename,
          cityname: cityname,
          districtname: districtname,
          provinceid: provinceid,
          cityid: cityidvalue,
          districtid: districtidvalue,
          address: address,
        };
        this.getCity(provinceid);
        this.getDistrict(cityid);
        this.advisible = true;
      } else {
        // 修改快递单号
        this.wlvisible = true;
        this.wlaction = 2;
        this.wlactionName = "修改快递单号";
        let itemindex = this.logisticsList.findIndex(
          (item) => item.id === this.orderDetail.expressCompany
        );
        // console.log(itemindex)
        let logistics = "";
        let otherlogistics = "";
        if (itemindex === -1) {
          logistics = 88;
          otherlogistics = this.orderDetail.expressCompany;
        } else {
          logistics = this.orderDetail.expressCompany;
          otherlogistics = "";
        }
        this.wlform = {
          expressNo: this.orderDetail.expressNo,
          otherlogistics: otherlogistics,
          logistics: logistics,
        };
      }
    },
    // 保存发送快递
    saveLogistics(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const logistics =
            this.wlform.logistics === 88
              ? this.wlform.otherlogistics
              : this.wlform.logistics;
          let params = {
            id: this.rowid,
            expressNo: this.wlform.expressNo,
            expressCompany: logistics,
          };
          if (this.wlaction === 1) {
            this.sendLogistics(params);
          } else {
            this.editLogistics(params);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 发货
    sendLogistics(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/shopOrderSend", {
          data: params,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.wlvisible = false;
            this.visible = false;
            this.$message.success("发货成功");
            this.gotData();
            this.gotOrderCount();
          } else if (result.code === 401) {
            this.wlvisible = false;
            this.visible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 编辑快递单号
    editLogistics(params) {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      const paramsdata = {
        ...params,
      };
      this.$store
        .dispatch("store/shopOrderUpdate", {
          data: paramsdata,
        })
        .then((result) => {
          loading.close();
          if (result.code === 0) {
            this.wlvisible = false;
            this.$message.success("快递单号修改成功");
            this.gotOrderDetail();
          } else if (result.code === 401) {
            this.wlvisible = false;
            this.$message.error(result.msg);
          } else {
            const msg = result.data ? result.data.message : result.msg;
            this.$message.error(msg);
          }
        });
    },
    // 关闭发送快递
    closelogisticsDialog(formName) {
      this.$refs[formName].resetFields();
      this.form = {
        logistics: "",
        otherlogistics: "",
        expressNo: "",
      };
    },
    saveAddress(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (!this.adform.provinceid) {
            this.$message.warning("请选择收货地址");
            return;
          }
          const cityid = this.adform.cityid === '' ? 0 : this.adform.cityid;
          const districtid = this.adform.districtid === '' ? 0 : this.adform.districtid;
          const params = {
            id: this.rowid,
            phone: this.adform.phone,
            truename: this.adform.truename,
            provincename: this.adform.provincename,
            cityname: this.adform.cityname,
            districtname: this.adform.districtname,
            provinceid: this.adform.provinceid,
            cityid: cityid,
            districtid: districtid,
            address: this.adform.address,
          };
          const loading = this.$loading({
            lock: true,
            text: "数据提交中...",
            spinner: "el-icon-loading",
            background: "rgba(0, 0, 0, 0.7)",
          });
          this.$store
            .dispatch("store/shopOrderUpdate", {
              data: params,
            })
            .then((result) => {
              loading.close();
              if (result.code === 0) {
                this.advisible = false;
                this.$message.success("修改成功");
                this.gotOrderDetail();
              } else if (result.code === 401) {
                this.advisible = false;
                this.$message.error(result.msg);
              } else {
                const msg = result.data ? result.data.message : result.msg;
                this.$message.error(msg);
              }
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    closeAddress(formName) {
      this.$refs[formName].resetFields();
      this.adform = {
        phone: "",
        truename: "",
        provincename: "",
        cityname: "",
        districtname: "",
        provinceid: "",
        cityid: "",
        districtid: "",
        address: "",
      };
    },
    //获取省级行政单位列表
    getProvince() {
      const params = {};
      this.$store
        .dispatch("store/shopProvince", {
          data: params,
        })
        .then((result) => {
          if (result.code == 0) {
            this.provinceList = result.data;
          }
        });
    },
    changeProvince() {
      const provinceid = this.adform.provinceid;
      const filterItem = this.provinceList.filter(
        (item) => item.id === provinceid
      );
      console.log(filterItem);
      this.adform.provincename = "";
      if (filterItem.length > 0) {
        this.adform.provincename = filterItem[0].provincename;
      }
      this.adform.cityid = "";
      this.adform.cityname = "";
      this.adform.districtname = "";
      this.adform.districtid = "";
      this.districtList = [];
      this.getCity(provinceid);
    },
    //根据省级行政单位获取城市
    getCity(val) {
      const params = { id: val };
      this.$store
        .dispatch("store/shopCity", {
          data: params,
        })
        .then((result) => {
          if (result.code == 0) {
            this.cityList = result.data;
          }
        });
    },
    changeCity() {
      const cityid = this.adform.cityid;
      const filterItem = this.cityList.filter((item) => item.id === cityid);
      this.adform.cityname = "";
      if (filterItem.length > 0) {
        this.adform.cityname = filterItem[0].cityname;
      }
      this.adform.districtname = "";
      this.adform.districtid = "";
      this.getDistrict(cityid);
    },
    //根据省级行政单位获取城市
    getDistrict(val) {
      const params = { id: val };
      this.$store
        .dispatch("store/shopDistrict", {
          data: params,
        })
        .then((result) => {
          if (result.code == 0) {
            this.districtList = result.data;
          }
        });
    },
    changeDistrict() {
      const districtid = this.adform.districtid;
      const filterItem = this.districtList.filter(
        (item) => item.id === districtid
      );
      this.adform.districtname = "";
      if (filterItem.length > 0) {
        this.adform.districtname = filterItem[0].districtname;
      }
    },
    // 导出数据
    handleExport() {
      const params = {
        expressType: this.searchresult.expressType,
        expressNo: this.searchresult.expressNo,
        goodsid: this.searchresult.goodsid,
        id: this.searchresult.id,
        paymode: this.searchresult.paymode,
        phone: this.searchresult.phone,
        userid: this.searchresult.userid,
        truename: this.searchresult.truename,
        status: this.statusid
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)",
      });
      this.$store
        .dispatch("store/shopOrderExcel", {
          data: params,
        })
        .then((result) => {
          // console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "商品订单数据.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
    },
    // 拆分票券
    handleSplit (row) {
      const count = parseInt(row.count);
      this.$confirm(`当前订单数量为${count}单,需要补发票券${count-1}张?`, "票券拆分提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteSubmit(row);
        })
        .catch(() => {});
    },
    deleteSubmit(row) {
      const count = parseInt(row.count)-1;
      const dataparams = {
        orderid: row.id,
        count: count
      };
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.$store
        .dispatch("store/ticketSplit", {
          data: dataparams
        })
        .then(result => {
          loading.close();
          if (result.code === 0) {
            this.$message.success("票券补发成功");
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    // 按钮权限
    gotlimitAction() {
      const params = {
        userid: this.userinfo.userid,
        modelid: this.modelid,
      };
      this.$store
        .dispatch("user/modelAction", {
          data: params,
        })
        .then((result) => {
          if (result.code === 0) {
            const data = result.data;
            this.limitAction = data;
            this.load = 2;
          } else {
            this.$message.error(result.msg);
          }
        });
    },
    showButton (value) {
      const index = this.limitAction.findIndex((item) => item.code === value);
      if (index === -1) {
        return true
      }
      return false
    }
  },
};
</script>

