<!--
 * @Author: your name
 * @Date: 2019-11-27 09:02:20
 * @LastEditTime: 2020-06-12 09:13:22
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \mini-admin\src\views\index\index.vue
 -->
<style lang="scss" scoped>
.operate-form-box {
  .form-ipt-width {
    width: 250px;
  }
}
</style>

<template>
  <div class="page-container">
    <v-breadcrumb title="会员管理" title2="金卡充值记录"></v-breadcrumb>
    <div class="content-container">
      <el-card class="search-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>数据筛选
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="search-box">
          <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="会员姓名" prop="truename">
                  <el-input
                    v-model="searchform.truename"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="phone">
                  <el-input
                    v-model="searchform.phone"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label="分销员姓名" prop="salename">
                  <el-input
                    v-model="searchform.salename"
                    clearable
                    placeholder="请输入"
                    class="search-input"
                  ></el-input>
                </el-form-item>
                <el-form-item label-width="0px">
                  <el-button type="primary" @click="handleSearch">查询</el-button>
                  <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <el-card class="table-card" shadow="never">
        <div class="crumbs-title">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-s-data crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="form-container">
          <el-button type="primary" @click="handleExport">导出报表</el-button>
        </div>
        <div class="container-table">
          <el-table
            :data="tableData"
            border
            v-loading="loading"
            element-loading-text="拼命加载中"
            element-loading-spinner="el-icon-loading"
            element-loading-background="rgba(0, 0, 0, 0.8)"
          >
            <el-table-column prop="id" label="ID" width="60"></el-table-column>
            <el-table-column prop="truename" label="会员名称"></el-table-column>
            <el-table-column prop="phone" label="手机号"></el-table-column>
            <el-table-column prop="membertypeName" label="升级等级">
              <!-- <template slot-scope="scope">
                <span v-if="scope.row.membertype === 1">品悦银卡</span>
                <span v-else-if="scope.row.membertype === 2">品悦银卡</span>
                <span v-else-if="scope.row.membertype === 3">品悦白金卡</span>
                <span v-else-if="scope.row.membertype === 4">品悦黑卡</span>
              </template>-->
            </el-table-column>
            <el-table-column prop="amount" label="金额(元)"></el-table-column>
            <el-table-column prop="paytypeName" label="支付方式"></el-table-column>
            <!-- <el-table-column prop="status" label="升级状态">
              <template slot-scope="scope">
                <span v-if="scope.row.status === 1">待支付</span>
                <span v-else-if="scope.row.status === 4">成功</span>
              </template>
            </el-table-column> -->
            <!-- <el-table-column prop="salename" label="分销人"></el-table-column>
            <el-table-column prop="department" label="所属部门"></el-table-column> -->
            <el-table-column prop="createDate" label="升级时间"></el-table-column>
          </el-table>
          <div class="pagination-container">
            <el-pagination
              background
              @size-change="changeLimit"
              @current-change="handleCurrentChange"
              :current-page.sync="page"
              :page-sizes="[10, 20, 30, 40]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
            ></el-pagination>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import vBreadcrumb from "@/components/Breadcrumb/index.vue";
export default {
  data() {
    return {
      searchform: {
        phone: "",
        salename: "",
        truename: ""
      },
      searchresult: {
        phone: "",
        salename: "",
        truename: ""
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      loading: false
    };
  },
  components: {
    vBreadcrumb
  },
  computed: {},
  created() {
    this.gotData();
  },
  mounted() {},
  methods: {
    //查询
    handleSearch() {
      this.page = 1;
      this.searchresult = this.searchform;
      this.gotData();
    },
    //重置查询
    resetSearch(formName) {
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.gotData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.gotData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.gotData();
    },
    //列表数据
    gotData() {
      const params = {
        pageNum: this.page,
        pageSize: this.limit,
        phone: this.searchresult.phone,
        salename: this.searchresult.salename,
        truename: this.searchresult.truename
      };
      this.loading = true;
      //获取数据
      this.$store
        .dispatch("member/goldcardList", {
          data: params
        })
        .then(result => {
          if (result.code === 0) {
            this.tableData = result.data.list;
            this.total = result.data.total;
          } else {
            this.$message.error(result.msg);
          }
          this.loading = false;
        });
    },
    handleExport() {
      const loading = this.$loading({
        lock: true,
        text: "数据提交中...",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      const params = {
        phone: this.searchresult.phone,
        truename: this.searchresult.truename,
        salename: this.searchresult.salename
      };
      this.$store
        .dispatch("member/goldcardListExcel", {
          data: params
        })
        .then(result => {
          console.log(result);
          loading.close();
          const blob = new Blob([result]);
          const fileName = "金卡充值记录报表.xlsx";
          const elink = document.createElement("a");
          elink.download = fileName;
          elink.style.display = "none";
          elink.href = URL.createObjectURL(blob);
          document.body.appendChild(elink);
          elink.click();
          URL.revokeObjectURL(elink.href); // 释放URL 对象
          document.body.removeChild(elink);
        });
      /*
      const phone = this.searchresult.phone;
      const truename = this.searchresult.truename;
      const salename = this.searchresult.salename;
      window.location.href = `/api/goldcard/goldcardexcel?phone=${phone}&truename=${truename}&salename=${salename}`;
      */
    }
  }
};
</script>
